<template>
    <div class="row">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title text-center">Создать задачу</h5>
            </div>
            <div class="modal-content">
                <div>
                    <!--<div class="breadcrumb-line breadcrumb-line-component content-group-lg">-->
                    <!--<ul class="breadcrumb">-->
                    <!--<li>-->
                    <!--<router-link :to="{path:'/'}"><i class="icon-home2 position-left"></i> Главная</router-link>-->
                    <!--</li>-->
                    <!--<li class="active">-->
                    <!--{{ taskId !== null ? 'Редактирование задачи - ' + task.title : 'Создание новой задачи' }}-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h4>{{ taskId !== null ? 'Редактирование задачи - ' + task.title : 'Создание новой задачи' }}</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="alert alert-danger text-left" v-show="err.length > 0">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <ul>
                                            <li v-for="error in err">{{ error }}</li>
                                        </ul>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-lg-3">Проект</label>
                                                    <div class="col-md-9 col-lg-9">
                                                        <v-select label="name" :on-change="changeProject" :options="projects"
                                                                  v-model="selectedProject"
                                                                  :value="selectedProject">
                                                        </v-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-lg-3">Этапы</label>
                                                    <div class="col-md-9 col-lg-9">
                                                        <v-select label="name" :on-change="changeSubProject" :options="childrenProjects"
                                                                  v-model="selectedChildProject"
                                                                  :value="selectedChildProject">
                                                        </v-select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group" :class="[ errors.priority ? 'has-error' : '' ]">
                                                    <label class="text-semibold control-label col-md-4 col-lg-4">Приоритет задачи</label>
                                                    <div class="col-md-7 col-lg-7">
                                                        <div class="btn-group">
                                                            <a v-if="selectedPriority == 3" class="label label-danger dropdown-toggle" data-toggle="dropdown"> Высокий <span class="caret"></span></a>
                                                            <a v-if="selectedPriority == 2" class="label label-info dropdown-toggle" data-toggle="dropdown"> Средний <span class="caret"></span></a>
                                                            <a v-if="selectedPriority == 1" class="label label-success dropdown-toggle" data-toggle="dropdown"> Низкий <span class="caret"></span></a>
                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                                <li @click.prevent="changePriority(3)"><a><span class="status-mark position-left bg-danger"></span> Высокий </a></li>
                                                                <li @click.prevent="changePriority(2)"><a><span class="status-mark position-left bg-info"></span> Средний </a></li>
                                                                <li @click.prevent="changePriority(1)"><a><span class="status-mark position-left bg-success"></span> Низкий </a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">

                                                <div class="form-group" :class="[ errors.title ? 'has-error' : '' ]">
                                                    <label class="control-label col-lg-2">Название задачи</label>
                                                    <div class="col-md-10 col-lg-10">
                                                        <input type="text" class="form-control" v-model="task.title">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <button class="btn btn-info" id="extended" @click.prevent="showExtended">Расширенные</button>
                                            </div>
                                        </div>

                                        <div class="row" v-show="isExtended">

                                            <!--
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="form-group" :class="[ errors.estimate ? 'has-error' : '' ]">
                                                        <label class="control-label col-lg-4">Требуется времени</label>
                                                        <div class="col-md-7 col-lg-7">
                                                            <div class="btn-group bootstrap-select dropdawn open" id="estimate"
                                                                 style="width: 100%;">
                                                                <select class="bootstrap-select" data-width="100%" tabindex="-98"
                                                                        v-model="selectedEstimate">
                                                                    <option :value="1">1 час</option>
                                                                    <option :value="2">2 часа</option>
                                                                    <option :value="3">3 часа</option>
                                                                    <option :value="4">4 часа</option>
                                                                    <option :value="5">5 часов</option>
                                                                    <option :value="6">6 часов</option>
                                                                    <option :value="7">7 часов</option>
                                                                    <option :value="8">8 часов</option>
                                                                    <option :value="9">9 часов</option>
                                                                    <option :value="10">10 часов</option>
                                                                    <option :value="11">11 часов</option>
                                                                    <option :value="12">12 часов</option>
                                                                    <option :value="0">Ручной ввод</option>
                                                                </select>
                                                            </div>

                                                            <input type="number" class="form-control" v-show="selectedEstimate == 0" v-model="task.estimate">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group" :class="[ errors.min_parts_for_task ? 'has-error' : '' ]">
                                                        <label class="control-label col-lg-4">Мин. порция(в час.)</label>
                                                        <div class="col-md-7 col-lg-7">

                                                            <div class="btn-group bootstrap-select dropdawn open"
                                                                 id="min_parts_for_task"
                                                                 style="width: 100%;">
                                                                <select class="bootstrap-select" data-width="100%" tabindex="-98"
                                                                        v-model="selectedMinParts">
                                                                    <option :value="0">Выбрать</option>
                                                                </select>
                                                            </div>
                                                            <input type="number" class="form-control" v-show="selectedEstimate == 0" v-model="task.min_parts_for_task">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            -->

                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="form-group" :class="[ errors.description ? 'has-error' : '' ]">
                                                        <label class="control-label col-lg-2">Описание задачи</label>
                                                        <div class="col-md-10 col-lg-10">
                                                    <textarea class="form-control" rows="5" id="comment"
                                                              v-model="task.description"></textarea>
                                                            <!-- <input type="textarea" class="form-control" v-model="task.name">-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="form-group" :class="[ errors.date_start ? 'has-error' : '' ]">

                                                        <label class="control-label col-md-4 col-lg-4">Дата начала</label>
                                                        <div class="col-md-7 col-lg-7">
                                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar22"></i>
                                                </span>
                                                                <input type="text" id="dateStartCalTask"
                                                                       class="form-control flatpickr flatpickr-date-start"
                                                                       v-model="currentDateStart" disabled>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label class="control-label col-lg-4">Дедлайн</label>

                                                        <div class="col-lg-7">
                                                            <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="icon-calendar22"></i>
                                        </span>
                                                                <input type="text" id="deadlineCalTask"
                                                                       class="form-control flatpickr flatpickr-deadline"
                                                                       v-model="currentDeadline" disabled>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    <div class="row">
                                                        <button type="button" data-dismiss="modal"
                                                                class="btn btn-default"><i class="icon-circle-left2"></i> Отмена
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <button type="button" class="btn btn-success"
                                                            v-on:click.prevent="taskId !== null ? updateTask() : addTask()"
                                                            id="submitButton">
                                                        <i class="icon-floppy-disk position-left"></i>Сохранить
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import bootstrap_select from '../../../assets/js/plugins/forms/selects/bootstrap_select.min.js'
    import picker from "../../../assets/js/plugins/pickers/datepicker.js"
    // import typeahead from "../../src/assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js"
    // import handlebars from "../../src/assets/js/plugins/forms/inputs/typeahead/handlebars.js"
    import vSelect from "vue-select"
    import sliders from "../../../assets/js/core/libraries/jquery_ui/sliders.min"
    import slider_pips from '../../../assets/js/plugins/sliders/slider_pips.min.js'
    import uniform from '../../../assets/js/plugins/forms/styling/uniform.min.js'

    import Flatpickr from 'flatpickr';
    import { ru } from 'flatpickr/dist/l10n/ru.js';

    export default {
        components: {vSelect},
        props:['taskDate'],

        data () {
            return {
                endpoints: {
                    projects: {
                        get: API_URL + '/projects',
                        getByDirectionID: API_URL + '/directions'
                    },
                    task: {
                        add: API_URL + '/tasks'
                    }
                },

                searchQuery: '',

                projects: [],
                childrenProjects: [],
                tasks: [],
                taskId: null,
                projectId: null,
                task: {
                    direction_id: null,
                    project_id: null,
                    priority: 2,
                    title: '',
                    description: '',
                    estimate: 1,
                    deadline: null,
                    min_parts_for_task: 1,
                    urgent: 0,
                },
                showDeadline: false,
                isExtended: false,


                currentDeadline: null,
                currentDateStart: null,

                selectedPriority: 2,
                selectedDirection: 0,
                selectedProject: 0,
                selectedChildProject: 0,
                selectedEstimate: 0,
                selectedMinParts: 0,
                vSelectLoaded: false,
                flatpickrDateStart: null,
                flatpickrDeadline: null,

                err: []
            }
        },
        watch: {
            taskDate: function () {
                this.currentDeadline = moment(this.taskDate).format('YYYY-MM-DD');
                this.currentDateStart = moment(this.taskDate).format('YYYY-MM-DD');
            }
        },
        methods: {
            updateAfterCreateTaskCal: function(){
                this.$emit('updateAfterCreateTaskCal');
            },

            showExtended: function() {
                (!this.isExtended) ? this.isExtended = true : this.isExtended = false;
            },

            getProjects: function () {
                this.$http.get(this.endpoints.projects.get)
                    .then(function (response) {
                        this.projects = response.body.data;
                        if (this.projects.length > 0) {
                            if (this.projects.children) {
                                this.childrenProjects = this.projects.children;
                            }
                            for (let i in this.projects) {
                                if (this.projects[i]['id'] === this.projectId) {
                                    this.selectedProject = this.projects[i];
                                }
                            }
                        }
                    }, function (error) {
                        console.log(error);
                    });
            },

            changeProject: function (val) {
                this.selectedProject = val;
                this.selectedChildProject = 0;
                this.childrenProjects = val.children ? val.children : [];
                if (this.vSelectLoaded === false) {
                    this.vSelectLoaded = null;
                } else if (this.task.project_id === val.id && this.task.deadline !== null) {
                    //this.currentDeadline = this.task.deadline;
                } else if (this.vSelectLoaded === null && this.task.deadline === null) {
                    this.vSelectLoaded = true;
                    //this.currentDeadline = val.deadline;
                } else if (this.vSelectLoaded === null) {
                    //this.currentDeadline = val.deadline;
                    this.vSelectLoaded = true;
                } else {
                    //this.currentDeadline = val.deadline;
                }

            },

            changeSubProject: function (val) {
                this.selectedChildProject = val;
                if (this.vSelectLoaded === false) {
                    this.vSelectLoaded = null;
                } else if (this.task.project_id === val.id && this.task.deadline !== null) {
                    //this.currentDeadline = this.task.deadline;
                } else if (this.vSelectLoaded === null && this.task.deadline === null) {
                    this.vSelectLoaded = true;
                    //this.currentDeadline = val.deadline;
                } else if (this.vSelectLoaded === null) {
                    //this.currentDeadline = val.deadline;
                    this.vSelectLoaded = true;
                } else {
                    //this.currentDeadline = val.deadline;
                }

            },

            refreshProjects: function () {
                //return console.log('refreshProjects');
                this.$http.get(this.endpoints.projects.getByDirectionID + '/' + this.selectedDirection + '/projects')
                        .then(function (response) {
                            //this.$store.commit('directions', response.body.data);
                            //return console.log(response.body.data);
                            this.projects = response.body.data;
                        }, function (error) {
                            console.log(error);
                        });
            },
            changePriority: function (priority) {
                this.selectedPriority = priority;
            },

            addTask: function () {
                let data = {};
                let that = this;
                data = this.task;

                if(this.currentDayTask == true) {
                    this.task.is_daily = true;
                }

                this.task.is_daily = true;
                this.task.estimate = 2;
                this.task.min_parts_for_task = 2;
//                if (this.currentDateStart) {
//                    this.task.date_start = this.currentDateStart;
//                }
                this.task.date_start = this.currentDateStart;
                this.task.deadline = this.currentDeadline;
                this.task.priority = this.selectedPriority;
                this.task.project_id = this.selectedChildProjectID !== null && this.selectedChildProjectID !== 0 ? this.selectedChildProjectID : this.selectedProjectID;
                this.err = [];

                this.task.urgent =  this.task.urgent ? 1 : 0;

                //return console.log('maxDead', this.maxDeadlineForTask);
                //console.log('Task', this.task);
                this.$http.post(this.endpoints.task.add, this.task)
                        .then(function (response) {

                            new PNotify({
                                title: 'Успешно',
                                text: response.body.message,
                                addclass: 'bg-success'
                            });
                            $('.create-task-cal-modal').modal('hide');
                            this.resetModal();
                            this.updateAfterCreateTaskCal();
                            //this.$router.push('main');
                            //console.log(response.body)
                        }, function (error) {
                            console.log(error);

                            let errData = error.body;
                            if (!errData.hasOwnProperty('data')) {
                                new PNotify({
                                    title: 'Ошибка',
                                    text: errData.message,
                                    addclass: 'bg-danger'
                                });
                            } else {
                                let errors = error.body.data;
                                for (var key in errors) {
                                    this.err.push(errors[key][0]);
                                    console.log(this.err);
                                }
                            }
                        });
            },

            resetModal: function(){
                this.task.title = '';
                this.task.description = '';
                this.isExtended = false;
                this.selectedPriority = 2;
                this.selectedProject = 0;
                this.selectedChildProject = 0;
            },

            initDeadlineCalendar: function () {
                let vm = this;
                //console.log('currentDaytasks', vm.currentDayTask);

                if(vm.taskDate){
//                    if (this.flatpickrDeadline !== null) {
//                    this.flatpickrDeadline.setDate(this.currentDeadline);
//                }
                    this.flatpickrDeadline = new Flatpickr(document.getElementById("deadlineCalTask"), {
                        mode: 'single',
                        locale: ru,
                        minDate: moment(vm.taskDate).format('DD-MM-YYYY'),
                        defaultDate: moment(vm.taskDate).format('DD-MM-YYYY'),
                        allowInput: false
//                        onChange: function (selectedDates, dateStr, instance) {
//                            vm.currentDeadline = dateStr;
//                        },
                    });
                }
                this.flatpickrDeadline.setDate(moment(vm.taskDate).format('DD-MM-YYYY'));
                this.currentDeadline = moment(vm.taskDate).format('DD-MM-YYYY');
//                this.flatpickrDeadline = new Flatpickr(document.getElementById("deadline"), {
//                    mode: 'single',
//                    locale: ru,
//                    minDate: new Date(),
//                    //defaultDate: vm.currentDeadline === null ? new Date() : vm.currentDeadline,
//                    onChange: function (selectedDates, dateStr, instance) {
//                        vm.currentDeadline = dateStr;
//                    },
//                });
            },

            openFlatpickr: function (el) {
                if (el === 'deadline') {
                    this.flatpickrDeadline.open();
                }
                else if (el === 'dateStart') {
                    this.flatpickrDateStart.open();
                }
            },

            initDateStartCalendar: function () {
                let vm = this;
                this.flatpickrDateStart = new Flatpickr(document.getElementById("dateStartCalTask"), {
                    mode: 'single',
                    locale: ru,
                    minDate: new Date(),
                    defaultDate: moment(vm.taskDate).format('DD-MM-YYYY'),
//                    onChange: function (selectedDates, dateStr, instance) {
//                        vm.currentDateStart = dateStr;
//                    },
                });

            }


        },
        computed: {
            selectedProjectID() {
                return this.selectedProject ? this.selectedProject['id'] : null
            },
            selectedChildProjectID() {
                return this.selectedChildProject ? this.selectedChildProject['id'] : null
            },
        },
        mounted () {
            console.log('CreateTAskCalendar mounted', this.taskDate);
            $(".control-primary").uniform({
                radioClass: 'choice',
                wrapperClass: 'border-primary-600 text-primary-800'
            });
            $(".control-danger").uniform({
                radioClass: 'choice',
                wrapperClass: 'border-danger-600 text-danger-800'
            });
            $(".control-success").uniform({
                radioClass: 'choice',
                wrapperClass: 'border-success-600 text-success-800'
            });
            //this.initDeadlineCalendar();
            //this.initDateStartCalendar();
            //console.log('mount_maxDead', this.maxDeadlineForTask);
            $.fn.editable.defaults.ajaxOptions = {
                type: "put",
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('token')
                }
            };
            $(".styled, .multiselect-container input").uniform({
                radioClass: 'choice'
            });
//            this.getDirections();
            this.getProjects();


            let that = this;

            that.currentDeadline = moment(that.taskDate).format('YYYY-MM-DD');
            that.currentDateStart = moment(that.taskDate).format('YYYY-MM-DD');

            $(document).ready(function () {

                $('.bootstrap-select').selectpicker();

                $('.list-group-item').on('click', function (e) {
                    $(e.target).siblings().removeClass('active');
                    if (!$(e.target).hasClass('active')) {
                        $(e.target).addClass('active');
                    }
                });


                $('#project').on('change', function () {
                    var selected = $(this).find("option:selected").attr("value");
                    //var selected =  $(this).val();
                    $('#project').selectpicker(selected);
                    that.selectedProject = selected;
                    that.task.project_id = selected;
                });


                $('#estimate').on('change', function () {
                    var selected = $(this).find("option:selected").attr("value");

                    let parts = [];
                    //return console.log(parts);

                    if (selected !== undefined && selected !== '') {
//                        console.log(selected);
                        let minParts = $("#min_parts_for_task > select");
                        let options = [];
                        let partsLength = null;
                        parts = that.getPartsForTask(selected);

                        $('#estimate').selectpicker(selected);
                        that.selectedEstimate = selected;
                        that.task.estimate = selected;

                        if (parts) {
                            partsLength = parts.length;
                            for (var i = 0; i < partsLength; i++) {
                                options.push('<option :value="' + parts[i] + '">' + parts[i] + '</option>');
                                //minParts.html('<option :value="'+ i +'">'+ i +'</option>');
                            }
                        }

                        minParts.html(options);
                        if (partsLength > 1) {
                            minParts.selectpicker(2).selectpicker('refresh');
                        }
                        minParts.selectpicker('refresh');
                    }
                });

                $('#min_parts_for_task').on('change', function () {
                    var selected = $(this).find("option:selected").attr(":value");
//                    console.log('parts', selected);
                    if (selected != undefined && selected != '') {

                        $('#min_parts_for_task').selectpicker(selected);
                        that.selectedMinParts = selected;
                        that.task.min_parts_for_task = selected;
                    }
                });

                $('#extended').click(function(e){
                    e.preventDefault();
                    if(that.showExtended) that.showExtended = false;
                    else that.showExtended = true;
                });
                $('#modal_task_create').on('hidden.bs.modal', function (e) {
                    that.resetModal();
                });

            });
        },
    }
</script>

<style>

</style>