<template>
    <div class="content-group">
        <div class="panel-body bg-blue border-radius-top text-center" style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png); background-size: contain;">
            <div class="content-group-sm">
                <h5 class="text-semibold no-margin-bottom">{{ user.name }}</h5>
                <!--<span class="display-block">Head of UX</span>-->
            </div>

            <a href="#" class="display-inline-block content-group-sm">
                <img :src="avatar" class="img-circle img-responsive" alt="" style="width: 120px; height: 120px;">
            </a>

            <ul class="list-inline no-margin-bottom">
                <li :class="phone != null ? '' : 'hidden'"><a :href="phone ? 'tel:' + phone : '#'" class="btn bg-blue-700 btn-rounded btn-icon"><i class="icon-phone"></i></a></li>
                <li v-show="user.email != ''"><a :href="user.email ? 'mailto:' + user.email : '#'" class="btn bg-blue-700 btn-rounded btn-icon"><i class="icon-envelop4"></i></a></li>
            </ul>
        </div>

        <div class="panel panel-body no-border-top no-border-radius-top">
            <div class="form-group mt-5">
                <label class="text-semibold"><b>Имя:</b></label>
                <span class="pull-right-sm">{{ user.name }}</span>
            </div>

            <div class="form-group" v-show="phone != null">
                <label class="text-semibold"><b>Телефон:</b></label>
                <span class="pull-right-sm">{{ phone }}</span>
            </div>

            <div class="form-group">
                <label class="text-semibold"><b>Email:</b></label>
                <span class="pull-right-sm"><a :href="'mailto:'+user.email">{{ user.email }}</a></span>
            </div>

        </div>
    </div>
</template>
<script>
    export default {
        name: 'show-user-details',
        props: ['member'],
        data: () => ({
            user: {},
            info: null
        }),
        methods: {
            getUserInfo () {
                this.$http.get(API_URL + '/users?with_count=true&id='+this.member.id).then(response => {
                    this.info = response.body.data;
                }).catch(errors => {
                    console.error(errors);
                });
            }
        },
        computed: {
            avatar: function () {
                return this.user.avatar ? API_BASE_URL + this.user.avatar : API_BASE_URL + '/images/noavatar.png'
            },
            phone: function () {
                return this.user.phone !== null && this.user.phone !== '' ? this.user.phone : null;
            }
        },
        watch: {
            member: function () {
                this.user = this.member;
            }
        },
        created () {
//            this.getUserInfo();
        },
        mounted () {
        }
    }
</script>