<template>
    <a @click.prevent="checkLoginState()" class="btn border-indigo text-indigo btn-flat btn-icon btn-rounded">
        <i class="icon-facebook"></i>
    </a>
</template>

<script>
    export default {
        data() {
            return {
                FB_APP_ID: '1636134939733882',
                FB_APP_SECRET: '9067b8765ffb85a8a8016fa7e8f3bf04',
                FB_JS_SRC: '//connect.facebook.net/en_US/sdk.js',

                endpoints: {
                    fbLogin: API_URL + '/socials/facebook'
                },
                fbResponse: {},
                user: null
            }
        },

        methods: {

            checkLoginState: function () {
                var vm = this;
                FB.getLoginStatus(function (response) {
                    vm.statusChangeCallback(response);
                });
            },

            statusChangeCallback: function (response) {
                let time = new Date();
                let microtime = time.getMilliseconds();
                this.blockElement('body');
                var vm = this;
                console.log('statusChangeCallback');
                // The response object is returned with a status field that lets the
                // app know the current login status of the person.
                // Full docs on the response object can be found in the documentation
                // for FB.getLoginStatus().
                vm.login();
                if (response.status === 'connected') {
                    console.log('response.status-connected: ', response);
                } else {
                    this.errorNotify(response, 'Произошла ошибка.');
                    console.log('response.status-notconnected: ', response);
                }
                vm.unBlockElement('body', microtime);
            },
            login: function () {
                var vm = this;
                FB.login(function (response) {
                    if (response.status === 'connected') {
                        if (response.authResponse) {
                            FB.api('/me', {fields: 'id,name,email,picture'}, function(response) {
                                vm.fbResponse = response;
                                console.log('response', response);
                                vm.sendUserToApi();
                            });
                        }

                    } else {
                        // The person is not logged into this app or we are unable to tell.
                    }
                }, {
                    scope: 'public_profile,email',
                    return_scopes: true,
                });
            },
            logout: function () {
                FB.logout(function (response) {
                    // Person is now logged out
                });
            },
            sendUserToApi: function () {
                let time = new Date();
                let microtime = time.getMilliseconds();
                this.blockElement('body');
                this.$http.post(this.endpoints.fbLogin, this.fbResponse).then(function (response) {
                    this.user = response.body.data.user;

                    let token = response.body.data.access_token;
                    let newUser = response.body.data.new_user;

                    if (token) {
                        localStorage.setItem('token', token);
                    }
                    console.log(response);
                    if (this.user && this.user.info) {
                        if (this.user.info.work_days) {
                            this.user.info.work_days = JSON.parse(this.user.info.work_days);
                        }
                        this.$store.commit('loginUser', {user: this.user})
                    }
                    localStorage.setItem('user', JSON.stringify(this.user));
                    localStorage.setItem('authenticated', true);
                    this.unBlockElement('body', microtime);
                    if (newUser) {
                        new PNotify({
                            title: 'Поздравляем!',
                            text: 'Вы успешно зарегистрированы. Теперь вы можете заполнить свое рабочее время',
                            type: 'success'
                        });
                    }
                    if (this.$store.state.user && this.$store.state.user.events) {
                        if (this.$store.state.user.events.length === 0) {
                            this.$router.push('/user/profile');
                        } else {
                            this.$router.push('/main');
                        }
                    } else {
                        this.$router.push('/user/profile');
                    }
                }, function (error) {
                    this.unBlockElement('body', microtime);
                    console.log(error);
                });
            }
        },
        mounted () {
            var vm = this;
            window.fbAsyncInit = function () {
                FB.init({
                    appId: vm.FB_APP_ID,
                    xfbml: true,
                    version: 'v2.8'
                });
                FB.AppEvents.logPageView();
            };

            (function (d, s, id) {
                let js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = vm.FB_JS_SRC;
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        }
    }
</script>
