<template>
    <div style="margin-top: 15px;">
        <a @click.prevent="signIn()" id="google_button" class="btn border-warning text-warning btn-flat btn-icon btn-rounded"><i class="icon-google"></i></a>
    </div>
</template>
<script>
    export default {
        name: 'google-login',
        data() {
            return {
//                GOOGLE_CLIENT_ID: '981012034811-fm1qgohn83k860e2scdgpfvn7kf0bj5q.apps.googleusercontent.com',
                GOOGLE_API_KEY: 'AIzaSyBrnx1u51UMBilv3jlZAdnJaydqMHroaIU',
                GOOGLE_CLIENT_ID: '580296809882-7tadj7j6rhfb4qbi4crkr2knb3cudujj.apps.googleusercontent.com',
                GOOGLE_SECRET_KEY: 'R8cw5MDNIVt5uSB3QDG2mNCr',

                endpoints: {
                    googleLogin: API_URL + '/socials/google'
                },
                googleResponse: {},
                user: null,
                SCOPE: 'https://www.googleapis.com/auth/drive.metadata.readonly',
                directAccess: true
            }
        },

        methods: {
            load () {
                let vm = this;
                return new Promise(function (resolve, reject) {
                    if (window.gapi === undefined) {
                        vm.installClient().then(function () {
                            return vm.initClient()
                        }).then(function () {
                            resolve()
                        })
                    } else if (window.gapi !== undefined && window.gapi.auth2 === undefined) {
                        vm.initClient().then(function () {
                            resolve()
                        })
                    }
                })
            },

            signIn () {
                let vm = this;
                let time = new Date();
                let microtime = time.getMilliseconds();
                this.blockElement('body'); if (this.directAccess) {
                    window.gapi.auth2.getAuthInstance().signIn().then(function (googleUser) {
                        console.log(googleUser);
                        vm.successCallback(googleUser);
                        vm.unBlockElement('body', microtime);
                    }, function (error) {
                        console.log(error);
                        vm.errorCallback(error);
                        vm.unBlockElement('body', microtime);
                    })
                } else {
                    window.gapi.auth2.getAuthInstance().grantOfflineAccess({'redirect_uri': 'postmessage'}).then(function (response) {
                        console.log(response);
                        vm.successCallback(response.code)
                        vm.unBlockElement('body', microtime);
                    }, function (error) {
                        vm.errorCallback(error)
                        vm.unBlockElement('body', microtime);
                    })
                }
            },
            successCallback (user) {
                let data = {
                    email: null,
                    name: null,
                    id: null,
                    picture: {
                        data: {
                            url: null
                        }
                    }
                };
                data.email = user.w3.U3;
                data.name = user.w3.ig;
                data.id = user.w3.Eea;
                data.picture.data.url = user.w3.Paa;
                let time = new Date();
                let microtime = time.getMilliseconds();
                this.blockElement('body');

                this.$http.post(this.endpoints.googleLogin, data).then((response) => {
                    console.log(response);
                    this.user = response.body.data.user;

                    let token = response.body.data.access_token;
                    let newUser = response.body.data.new_user;

                    if (token) {
                        localStorage.setItem('token', token);
                    }
                    console.log(response);
                    if (this.user && this.user.info) {
                        if (this.user.info.work_days) {
                            this.user.info.work_days = JSON.parse(this.user.info.work_days);
                        }
                        this.$store.commit('loginUser', {user: this.user})
                    }
                    localStorage.setItem('user', JSON.stringify(this.user));
                    localStorage.setItem('authenticated', true);
                    this.unBlockElement('body', microtime);
                    if (newUser) {
                        new PNotify({
                            title: 'Поздравляем!',
                            text: 'Вы успешно зарегистрированы. Теперь вы можете заполнить свое рабочее время',
                            addclass: 'bg-success'
                        });
                    }
                    if (this.$store.state.user && this.$store.state.user.events) {
                        if (this.$store.state.user.events.length === 0) {
                            this.$router.push('/user/profile');
                        } else {
                            this.$router.push('/main');
                        }
                    } else {
                        this.$router.push('/user/profile');
                    }
                }, (error) => {
                    this.unBlockElement('body', microtime);
                    console.log(error);
                });
            },
            errorCallback (error) {

            },

            signOut () {
                let vm = this;
                window.gapi.auth2.getAuthInstance().signOut().then(function () {
                    vm.successCallback()
                }, function (error) {
                    vm.errorCallback(error)
                })
            },
            installClient () {
                return new Promise(function (resolve, reject) {
                    let script = document.createElement('script');
                    script.src = 'https://apis.google.com/js/api:client.js';
                    script.onreadystatechange = script.onload = function () {
                        if (!script.readyState || /loaded|complete/.test(script.readyState)) {
                            setTimeout(function () {
                                resolve()
                            }, 500)
                        }
                    };
                    document.getElementsByTagName('head')[0].appendChild(script)
                })
            },

            initClient () {
                let config = {
                    scope: 'profile email https://www.googleapis.com/auth/plus.login',
                    clientId: this.GOOGLE_CLIENT_ID
                };
                return new Promise(function (resolve, reject) {
                    window.gapi.load('auth2', function () {
                        window.gapi.auth2.init(config)
                        resolve()
                    })
                })
            },

            handleAuthClick: function () {
                this.initClient();
            },

            signinCallback: function (response) {
                console.log(response);
            },
        },
        mounted() {
            this.load();
        }
    }
</script>
<style>
    .abcRioButton {
        border-radius: 40px;
    }

    #customBtn {
        display: block;
        color: #737373;
        border-radius: 3px;
        white-space: nowrap;
        width: 50px;
        margin: 0 auto;
        border-width: 1px;
        border-style: solid;
        border-color: #D7D7D7;
        border-color: rgba(155, 155, 155, 0.3);
    }
    #customBtn:hover {
        background: #F7F7F7;
        cursor: pointer;
        border-style: inset;
    }
    span.icon {
        background: url('https://developers.google.com/+/images/branding/button-gplus.png') transparent 2px 50% no-repeat;
        background-size: 40px;
        display: inline-block;
        vertical-align: middle;
        width: 45px;
        height: 40px;
        border-right: #DADADA 1px solid;
    }
    span.buttonText {
        display: inline-block;
        vertical-align: middle;
        padding-left: 25px;
        padding-right: 30px;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Roboto',arial,sans-serif;
    }
</style>
