<template>
    <div>

        <div class="breadcrumb-line breadcrumb-line-component content-group-lg">
            <ul class="breadcrumb">
                <li>
                    <router-link :to="{path:'/'}"><i class="icon-home2 position-left"></i> Главная</router-link>
                </li>
                <li class="active">
                    {{ taskId !== null ? 'Редактирование задачи - ' + task.title : 'Создание новой задачи' }}
                </li>
            </ul>
        </div>

        <div class="panel panel-flat">
            <div class="panel-heading">
                <h4>{{ taskId !== null ? 'Редактирование задачи - ' + task.title : 'Создание новой задачи' }}</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="alert alert-danger text-left" v-show="localErrors.length > 0">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <ul>
                                <li v-for="error in localErrors">{{ error }}</li>
                            </ul>
                        </div>
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-lg-4">Проект</label>
                                        <div class="col-md-8 col-lg-8">
                                            <v-select label="name" :on-change="changeProject" :options="projects"
                                                      v-model="selectedProject"
                                                      :value="selectedProject">
                                            </v-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5" v-show="showProjStage">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-lg-4">Этапы</label>
                                        <div class="col-md-8 col-lg-8">
                                            <v-select label="name" :on-change="changeSubProject" :options="childrenProjects"
                                                      v-model="selectedChildProject"
                                                      :value="selectedChildProject">
                                            </v-select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group" :class="[ localErrors.priority ? 'has-error' : '' ]">
                                        <label class="text-semibold control-label col-md-4 col-lg-4">Приоритет задачи</label>
                                        <div class="col-md-7 col-lg-7">
                                            <!--<div class="radio">-->
                                                <!--<label>-->
                                                    <!--<input type="radio" name="priority" value="3" class="control-danger" v-model="selectedPriority" :checked="selectedPriority">-->
                                                    <!--Высокий-->
                                                <!--</label>-->
                                            <!--</div>-->
                                            <!--<div class="radio">-->
                                                <!--<label>-->
                                                    <!--<input type="radio" name="priority" value="2" class="control-primary" v-model="selectedPriority" :checked="selectedPriority">-->
                                                    <!--Средний-->
                                                <!--</label>-->
                                            <!--</div>-->

                                            <!--<div class="radio">-->
                                                <!--<label>-->
                                                    <!--<input type="radio" name="priority" value="1" class="control-success" v-model="selectedPriority" :checked="selectedPriority">-->
                                                    <!--Низкий-->
                                                <!--</label>-->
                                            <!--</div>-->
                                            <div class="btn-group" style="margin-top: 5px;">
                                                <a v-if="selectedPriority == 3" class="label label-danger dropdown-toggle" data-toggle="dropdown"> Высокий <span class="caret"></span></a>
                                                <a v-if="selectedPriority == 2" class="label label-info dropdown-toggle" data-toggle="dropdown"> Средний <span class="caret"></span></a>
                                                <a v-if="selectedPriority == 1" class="label label-success dropdown-toggle" data-toggle="dropdown"> Низкий <span class="caret"></span></a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li @click.prevent="changePriority(3)"><a><span class="status-mark position-left bg-danger"></span> Высокий </a></li>
                                                    <li @click.prevent="changePriority(2)"><a><span class="status-mark position-left bg-info"></span> Средний </a></li>
                                                    <li @click.prevent="changePriority(1)"><a><span class="status-mark position-left bg-success"></span> Низкий </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="styled" v-model="showDeadline"
                                                       id="showDeadline">
                                                Выбрать дедлайн
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row" v-show="showDeadline">
                                <div class="col-md-5">
                                    <div class="form-group" :class="[ localErrors.date_start ? 'has-error' : '' ]">

                                        <label class="control-label col-md-4 col-lg-4">Дата начала</label>
                                        <div class="col-md-7 col-lg-7">
                                            <div class="input-group">
                                                    <span class="input-group-addon"
                                                          @click.prevent="openFlatpickr('dateStart')">
                                                        <i class="icon-calendar22"></i>
                                                    </span>
                                                <input type="text" id="dateStart"
                                                       class="form-control flatpickr flatpickr-date-start"
                                                       v-model="currentDateStart">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label col-lg-4">Дедлайн</label>

                                        <div class="col-lg-7">
                                            <div class="input-group">
                                            <span class="input-group-addon" @click.prevent="openFlatpickr('deadline')">
                                                <i class="icon-calendar22"></i>
                                            </span>
                                                <input type="text" id="deadline"
                                                       class="form-control flatpickr flatpickr-deadline"
                                                       v-model="currentDeadline">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" v-show="showDeadline">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="styled" v-model="task.urgent"
                                                       id="urgentTask">
                                                Срочная задача
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-5">

                                    <div class="form-group" :class="[ localErrors.estimate ? 'has-error' : '' ]">
                                        <label class="control-label col-lg-4">Требуется времени</label>
                                        <div class="col-md-7 col-lg-7">

                                            <div class="btn-group bootstrap-select dropdawn open" id="estimate"
                                                 style="width: 100%;">
                                                <select class="bootstrap-select" data-width="100%" tabindex="-98"
                                                        v-model="selectedEstimate">
                                                    <option :value="1">1 час</option>
                                                    <option :value="2">2 часа</option>
                                                    <option :value="3">3 часа</option>
                                                    <option :value="4">4 часа</option>
                                                    <option :value="5">5 часов</option>
                                                    <option :value="6">6 часов</option>
                                                    <option :value="7">7 часов</option>
                                                    <option :value="8">8 часов</option>
                                                    <option :value="9">9 часов</option>
                                                    <option :value="10">10 часов</option>
                                                    <option :value="11">11 часов</option>
                                                    <option :value="12">12 часов</option>
                                                    <option :value="0">Ручной ввод</option>
                                                </select>
                                            </div>

                                            <input type="number" min="1" class="form-control" v-show="selectedEstimate == 0" v-model="task.estimate">

                                            <!--<div id="estimate-slider"
                                                 class="slider ui-slider-labels ui-slider ui-slider-horizontal ui-slider-pips">
                                            </div>-->


                                            <!--<input type="text" class="form-control" v-model="task.estimate">
                                            <div class="help-block" v-show="localErrors.estimate != null"></div>-->

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5" v-show="showMinParts">
                                    <div class="form-group" :class="[ localErrors.min_parts_for_task ? 'has-error' : '' ]">
                                        <label class="control-label col-lg-4">Мин. порция(в час.)</label>
                                        <div class="col-md-7 col-lg-7">

                                            <div class="btn-group bootstrap-select dropdawn open"
                                                 id="min_parts_for_task"
                                                 style="width: 100%;">
                                                <select class="bootstrap-select" data-width="100%" tabindex="-98"
                                                        v-model="selectedMinParts">
                                                    <option :value="0">Выбрать</option>
                                                </select>
                                            </div>
                                            <input type="number" min="1" class="form-control" v-show="selectedEstimate == 0" v-model="task.min_parts_for_task">

                                            <!-- <input type="text" class="form-control" v-model="task.min_parts_for_task">-->
                                            <!--<div class="help-block" v-show="localErrors.estimate != null"></div>-->

                                            <!-- <div id="min-parts-slider"
                                                  class="slider ui-slider-labels ui-slider ui-slider-horizontal ui-slider-pips">
                                             </div>-->
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-10">

                                    <div class="form-group" :class="[ localErrors.title ? 'has-error' : '' ]">
                                        <label class="control-label col-lg-2">Название задачи</label>
                                        <div class="col-md-10 col-lg-10">
                                            <input type="text" class="form-control" v-model="task.title">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="row">-->
                                <!--<div class="col-md-5" style="margin-left: 15px">-->
                                    <!--<div class="form-group">-->
                                        <!--<button class="btn btn-info" id="extended" @click.prevent="showDescription()"><i class="icon-file-text" title="Подробное описание"></i>-->
                                        <!--</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group" :class="[ localErrors.description ? 'has-error' : '' ]">
                                        <!--<label class="control-label col-lg-2">Описание задачи</label>-->
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <button class="btn btn-info" id="extended" @click.prevent="showDescription()"><i class="icon-file-text"> Описание</i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-lg-10" v-if="isDescription">
                                            <textarea class="form-control" rows="5" id="comment"
                                                      v-model="task.description"></textarea>
                                            <!-- <input type="textarea" class="form-control" v-model="task.name">-->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <div class="row">
                                            <button type="button" @click.prevent="$router.back()"
                                                    class="btn btn-default"><i class="icon-circle-left2"></i> Отмена
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <button type="button" class="btn btn-success"
                                                v-on:click.prevent="taskId !== null ? updateTask() : addTask()"
                                                id="submitButton">
                                            <i class="icon-floppy-disk position-left"></i>Сохранить
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </form>

                    </div>

                </div>

                <!-- <div class="row">
                     <div class="col-md-4">
                         <ul class = "list-group panel">
                             <a class="list-group-item list-group-item-success" :data-id="project.id" v-for="project in projects"  @click.self="getProjects($event)">{{project.name}}
                                 <span class="badge badge-info">{{projects.length}} </span>
                             </a>
                         </ul>
                     </div>
                 </div>-->

            </div>
        </div>
    </div>
</template>

<script>
    import moment from "moment"
    import bootstrap_select from '../../assets/js/plugins/forms/selects/bootstrap_select.min.js'
    import picker from "../../assets/js/plugins/pickers/datepicker.js"
    // import typeahead from "../../src/assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js"
    // import handlebars from "../../src/assets/js/plugins/forms/inputs/typeahead/handlebars.js"
    import vSelect from "vue-select"
    import sliders from "../../assets/js/core/libraries/jquery_ui/sliders.min"
    import slider_pips from '../../assets/js/plugins/sliders/slider_pips.min.js'
    import uniform from '../../assets/js/plugins/forms/styling/uniform.min.js'

    import Flatpickr from 'flatpickr';
    import { ru } from 'flatpickr/dist/l10n/ru.js';

    export default {
        name: 'Tasks',
        components: {vSelect},

        data () {
            return {
                endpoints: {
                    directions: {
                        get: API_URL + '/activities',
                    },
                    projects: {
                        get: API_URL + '/projects',
                        getByDirectionID: API_URL + '/directions'
                    },
                    task: {
                        add: API_URL + '/tasks'
                    }
                },


                searchQuery: '',
                activities: [],
                directions: [],
                projects: [],
                childrenProjects: [],
                tasks: [],
                taskId: null,
                projectId: null,
                task: {
                    direction_id: null,
                    project_id: null,
                    priority: 2,
                    title: '',
                    description: '',
                    estimate: 1,
                    deadline: null,
                    min_parts_for_task: 1,
                    urgent: 0,
                },
                showDeadline: false,
                isDescription: false,


                currentDeadline: null,
                currentDateStart: null,

                selectedPriority: 2,
                selectedDirection: 0,
                selectedProject: 0,
                selectedChildProject: 0,
                selectedEstimate: 0,
                selectedMinParts: 0,
                vSelectLoaded: false,
                flatpickrDateStart: null,
                flatpickrDeadline: null,

                localErrors: []
            }
        },
        methods: {
            getActivities: function () {
                this.activities = this.$store.state.activities;
            },

            getDirections: function () {
                this.directions = this.$store.state.directions;
            },

            getProjects: function () {
                this.$http.get(this.endpoints.projects.get)
                    .then(function (response) {

                        this.projects = response.body.data;
                        if (this.projects.length > 0) {
                            if (this.projects.children) {
                                this.childrenProjects = this.projects.children;
                            }

                            for (let i in this.projects) {
                                if (this.projects[i]['id'] === this.projectId) {
                                    this.selectedProject = this.projects[i];
                                }
                            }
                            let deadline;
                            if (this.task.deadline !== null) {
                                deadline = this.task.deadline;
                            } else if (this.selectedProject === 0) {
                                deadline = this.projects[0].deadline;
                                this.selectedProject = this.projects[0];
                            } else {
                                deadline = this.selectedProject.deadline;
                            }
                            this.currentDeadline = this.currentDeadline !== null ? this.currentDeadline : deadline;
                        }
                    }, function (error) {
                        console.log(error);
                    });
//                }
            },

            showDescription: function(){
                (this.isDescription) ? this.isDescription = false : this.isDescription = true;
            },

            changePriority: function (priority) {
                this.selectedPriority = priority;
            },

            changeProject: function (val) {
                console.log('change', val);
                if(val){
                    this.selectedProject = val;
                    this.selectedChildProject = 0;

                    //console.log('changeProject', this.selectedProject);
                    this.childrenProjects = val.children ? val.children : [];
                    if (this.vSelectLoaded === false) {
                        this.vSelectLoaded = null;
                    } else if (this.task.project_id === val.id && this.task.deadline !== null) {
                        this.currentDeadline = this.task.deadline;
                    } else if (this.vSelectLoaded === null && this.task.deadline === null) {
                        this.vSelectLoaded = true;
                        this.currentDeadline = val.deadline;
                    } else if (this.vSelectLoaded === null) {
                        this.currentDeadline = val.deadline;
                        this.vSelectLoaded = true;
                    } else {
                        this.currentDeadline = val.deadline;
                    }
                }


            },

            changeSubProject: function (val) {
                if(val){
                    this.selectedChildProject = val;
                    if (this.vSelectLoaded === false) {
                        this.vSelectLoaded = null;
                    } else if (this.task.project_id === val.id && this.task.deadline !== null) {
                        this.currentDeadline = this.task.deadline;
                    } else if (this.vSelectLoaded === null && this.task.deadline === null) {
                        this.vSelectLoaded = true;
                        this.currentDeadline = val.deadline;
                    } else if (this.vSelectLoaded === null) {
                        this.currentDeadline = val.deadline;
                        this.vSelectLoaded = true;
                    } else {
                        this.currentDeadline = val.deadline;
                    }
                }

            },

            refreshProjects: function () {
                //return console.log('refreshProjects');
                this.$http.get(this.endpoints.projects.getByDirectionID + '/' + this.selectedDirection + '/projects')
                    .then(function (response) {
                        //this.$store.commit('directions', response.body.data);
                        //return console.log(response.body.data);
                        this.projects = response.body.data;
                    }, function (error) {
                        console.log(error);
                    })
            },

            getTask: function () {
                let that = this;
                if (this.taskId !== null) {
                    this.$http.get(this.endpoints.task.add + '/' + this.taskId)
                        .then(function (response) {
                            this.task = response.body.data;
                            this.selectedEstimate = this.task.estimate;

                            this.getPartsForTask(this.selectedEstimate);
                            this.currentDeadline = moment(this.task.deadline).format('YYYY-MM-DD');
                            if (this.task.date_start) {
                                this.task.date_start = moment(this.task.date_start).format('YYYY-MM-DD');
                            }
                            this.selectedMinParts = this.task.min_parts_for_task;
                            this.selectedPriority = this.task.priority;
                            //this.selectedProject = this.task.project;

                            if(this.task.project.parent_id == 0){
                                let projects = this.projects;
                                let searchProj = projects.filter(function(item){
                                    console.log('item.id ' + item.id , that.task.project.parent_id);
                                    return item.id === that.task.project.id;
                                });
                                this.selectedProject = searchProj[0];
                            } else {
                                let projects = this.projects;
                                let childProjects = this.childrenProjects;
                                let searchProj = projects.filter(function(item){
                                    console.log('item.id ' + item.id , that.task.project.parent_id);
                                    return item.id === that.task.project.parent_id;
                                });
                                this.selectedProject = searchProj[0];

                                let searchChildProjects = childProjects.filter(function(item){
                                   return item.id === that.task.project_id;
                                });
                                this.selectedChildProject = searchChildProjects[0];
                            }
                        }, function (error) {
                            console.log(error);
                        });
                }
            },

            addTask: function () {
                let data = {};
                let that = this;
                data = this.task;
                if (this.currentDateStart) {
                    this.task.date_start = this.currentDateStart;
                }
                this.task.deadline = this.currentDeadline;
                this.task.priority = this.selectedPriority;
                this.task.project_id = this.selectedChildProjectID !== null && this.selectedChildProjectID !== 0 ? this.selectedChildProjectID : this.selectedProjectID;
                this.localErrors = [];

                this.task.urgent =  this.task.urgent ? 1 : 0;

                //return console.log('maxDead', this.maxDeadlineForTask);
                //return console.log('Task', this.task);
                this.$http.post(this.endpoints.task.add, this.task)
                    .then(function (response) {

                        new PNotify({
                            title: 'Успешно',
                            text: response.body.message,
                            addclass: 'bg-success'
                        });
                        this.$router.back();
                        //console.log(response.body)
                    }, function (error) {
                        console.log(error);

                        let errData = error.body;
                        if (!errData.hasOwnProperty('data')) {
                            new PNotify({
                                title: 'Ошибка',
                                text: errData.message,
                                addclass: 'bg-danger'
                            });
                        } else {
                            let localErrors = error.body.data;
                            for (var key in localErrors) {
                                this.localErrors.push(localErrors[key][0]);
                                console.log(this.localErrors);
                            }
                        }
                    });
            },

            updateTask: function () {
                this.task.project_id = this.selectedProjectID;
                if(this.selectedChildProject != 0){
                    this.task.project_id = this.selectedChildProjectID;
                }

                if (this.currentDateStart) {
                    this.task.date_start = this.currentDateStart;
                }
                this.task.deadline = this.currentDeadline;
                this.task.priority = this.selectedPriority;
                this.localErrors = [];

                this.task.urgent =  this.task.urgent ? 1 : 0;

                this.$http.put(this.endpoints.task.add + '/' + this.taskId, this.task)
                    .then(function (response) {

                        new PNotify({
                            title: 'Успешно',
                            text: response.body.message,
                            addclass: 'bg-success'
                        });
                        this.$router.back();
                        //console.log(response.body)
                    }, function (error) {
                        console.log(error);

                        let errData = error.body;
                        if (!errData.hasOwnProperty('data')) {
                            new PNotify({
                                title: 'Ошибка',
                                text: errData.message,
                                addclass: 'bg-danger'
                            });
                        } else {
                            let localErrors = error.body.data;
                            for (var key in localErrors) {
                                this.localErrors.push(localErrors[key][0]);
                            }
                        }
                    });
            },

            getPartsForTask(estimate) {
                console.log(estimate);
                let parts = [];
                if (!estimate) {
                    this.task.min_parts_for_task = 1;
                    this.selectedMinParts = 1;
                    return false;
                } else {
                    if(estimate >= 3) {
                        parts = [1, 2, 3];
                    } else if(estimate == 2) {
                        parts = [1, 2];
                    } else {
                        parts = [1];
                    }
//                    for (let i = 1; i <= estimate; i++) {
//                        if (i <= estimate && (estimate % i) === 0) {
//                            parts.push(i);
//                        }
//                    }
                    return parts;
                }
            },

            initDeadlineCalendar: function () {
                let vm = this;
                this.flatpickrDeadline = new Flatpickr(document.getElementById("deadline"), {
                    mode: 'single',
                    locale: ru,
                    minDate: new Date(),
                    //defaultDate: vm.currentDeadline === null ? new Date() : vm.currentDeadline,
                    onChange: function (selectedDates, dateStr, instance) {
                        vm.currentDeadline = dateStr;
                    },
                });
            },

            openFlatpickr: function (el) {
                if (el === 'deadline') {
                    this.flatpickrDeadline.open();
                }
                else if (el === 'dateStart') {
                    this.flatpickrDateStart.open();
                }
            },

            initDateStartCalendar: function () {
                let vm = this;
                this.flatpickrDateStart = new Flatpickr(document.getElementById("dateStart"), {
                    mode: 'single',
                    locale: ru,
                    minDate: new Date(),
                    defaultDate: vm.currentDateStart === null ? new Date() : vm.currentDateStart,
                    onChange: function (selectedDates, dateStr, instance) {
                        vm.currentDateStart = dateStr;
                    },
                });

            },

            getTaskData: async function() {
                await this.getProjects();
                await this.getTask();
                this.minPartsPushOptions();
            },
            minPartsPushOptions: function() {
                let minParts = $("#min_parts_for_task > select");
                let options = [];
                let partsLength = null;
                let selectedMinParts = this.task.min_parts_for_task;

                let parts = this.getPartsForTask(this.task.estimate);
                if (parts) {
                    partsLength = parts.length;
                    for (var i = 0; i < partsLength; i++) {
                        options.push('<option :value="' + parts[i] + '">' + parts[i] + '</option>');
                        //minParts.html('<option :value="'+ i +'">'+ i +'</option>');
                    }
                }

                minParts.html(options);
                if (partsLength > 1) {
                    minParts.selectpicker(this.selectedMinParts).selectpicker('refresh');
                }
                minParts.selectpicker('refresh');
            }
        },
        watch: {
            currentDeadline: function () {
                if (this.flatpickrDeadline !== null) {
                    this.flatpickrDeadline.setDate(this.currentDeadline);
                }
            },
            showDeadline: function() {
                if(!this.showDeadline) {
                    this.currentDateStart = null;
                    this.task.urgent = 0;
                }
            }
        },

        computed: {
            selectedProjectID() {
                return this.selectedProject ? this.selectedProject['id'] : null
            },
            selectedChildProjectID() {
                return this.selectedChildProject ? this.selectedChildProject['id'] : null
            },
            maxDeadlineForTask() {
                if (this.selectedProject) {
                    //console.log('selectedProject',this.selectedProject['deadline']);
                    return this.selectedProject['deadline'];
                } else {
                    return null;
                }
                //return this.selectedProject ? this.selectedProject['deadline'] : null
            },
            showMinParts() {
                if(this.task.estimate > 0) return true;
                else return false;
            },
            showProjStage() {
                if(this.selectedProject){
                    if(this.selectedProject.children && this.selectedProject.children.length > 0) return true;
                    else return false;
                }
            }
        },

        mounted () {
            this.getTaskData();

            $(".control-primary").uniform({
                radioClass: 'choice',
                wrapperClass: 'border-primary-600 text-primary-800'
            });
            $(".control-danger").uniform({
                radioClass: 'choice',
                wrapperClass: 'border-danger-600 text-danger-800'
            });
            $(".control-success").uniform({
                radioClass: 'choice',
                wrapperClass: 'border-success-600 text-success-800'
            });
            this.initDeadlineCalendar();
            this.initDateStartCalendar();
            //console.log('mount_maxDead', this.maxDeadlineForTask);
            $.fn.editable.defaults.ajaxOptions = {
                type: "put",
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('token')
                }
            };
            $(".styled, .multiselect-container input").uniform({
                radioClass: 'choice'
            });
//            this.getDirections();
            this.getProjects();


            let that = this;

            $(document).ready(function () {
                $('#min_parts_for_task').selectpicker(1);
                $('#min_parts_for_task').selectpicker('refresh');

                $('[title]').tooltip();

                $('.bootstrap-select').selectpicker();

                $('.list-group-item').on('click', function (e) {
                    $(e.target).siblings().removeClass('active');
                    if (!$(e.target).hasClass('active')) {
                        $(e.target).addClass('active');
                    }
                });


                $('#project').on('change', function () {
                    var selected = $(this).find("option:selected").attr("value");
                    //var selected =  $(this).val();
                    $('#project').selectpicker(selected);
                    that.selectedProject = selected;
                    that.task.project_id = selected;
                });

                $('#priority').on('change', function () {
                    var selected = $(this).find("option:selected").attr("value");
                    //var selected =  $(this).val();
                    $('#priority').selectpicker(selected);
                    that.selectedPriority = selected;
                    that.task.priority = selected;
                    //that.refreshProjects();
                });

                $('#estimate').on('change', function () {
                    var selected = $(this).find("option:selected").attr("value");

                    let parts = [];
                    //return console.log(parts);

                    if (selected !== undefined && selected !== '') {
//                        console.log(selected);
                        let minParts = $("#min_parts_for_task > select");
                        let options = [];
                        let partsLength = null;
                        parts = that.getPartsForTask(selected);

                        $('#estimate').selectpicker(selected);
                        that.selectedEstimate = selected;
                        that.task.estimate = parseInt(selected);

                        if (parts) {
                            partsLength = parts.length;
                            for (var i = 0; i < partsLength; i++) {
                                options.push('<option :value="' + parts[i] + '">' + parts[i] + '</option>');
                                //minParts.html('<option :value="'+ i +'">'+ i +'</option>');
                            }
                        }

                        minParts.html(options);
                        if (partsLength > 1) {
                            minParts.selectpicker(2).selectpicker('refresh');
                        }
                        minParts.selectpicker('refresh');
                    }
                });

                $('#min_parts_for_task').on('change', function () {
                    var selected = $(this).find("option:selected").attr(":value");
//                    console.log('parts', selected);
                    if (selected != undefined && selected != '') {

                        $('#min_parts_for_task').selectpicker(selected);
                        that.selectedMinParts = selected;
                        that.task.min_parts_for_task = parseInt(selected);
                    }
                });

                $("#estimate-slider").slider({
                    min: 1,
                    max: 10,
                    animate: true,
                    values: [that.task && that.task.estimate ? that.task.estimate : 4],
                    //this gets a live reading of the value and prints it on the page
                    /*slide: function(event, ui) {
                     console.log( $(this).text(ui.value));
                     //$("#estimate-slider").text(ui.value);
                     },*/
                    //this updates the value of your hidden field when user stops dragging
                    change: function (event, ui) {
                        that.task.estimate = parseInt(ui.value);
                        //console.log( ui.value);
                        $('#estimate-slider').attr('value', ui.value);
                    }
                }).slider("pips", {
                    rest: "label",
                });

                $("#estimate-slider").slider({
                    min: 1,
                    max: 10,
                    animate: true,
                    values: [that.task && that.task.estimate ? that.task.estimate : 4],
                    //this gets a live reading of the value and prints it on the page
                    /*slide: function(event, ui) {
                     console.log( $(this).text(ui.value));
                     //$("#estimate-slider").text(ui.value);
                     },*/
                    //this updates the value of your hidden field when user stops dragging
                    change: function (event, ui) {
                        that.task.estimate = ui.value;
                        //console.log( ui.value);
                        $('#estimate-slider').attr('value', ui.value);

                        //refresh min_parts_slider
                        $("#min-parts-slider")
                            .slider({max: ui.value})
                            .slider("pips", {rest: "label"}, "refresh");
                    }
                }).slider("pips", {
                    rest: "label",
                });


                $("#min-parts-slider").slider({
                    min: 1,
                    max: 4,
                    animate: true,
                    values: [that.task && that.task.min_parts_for_task ? that.task.min_parts_for_task : 2],
                    //this gets a live reading of the value and prints it on the page
                    /*slide: function(event, ui) {
                     console.log( $(this).text(ui.value));
                     //$("#estimate-slider").text(ui.value);
                     },*/
                    //this updates the value of your hidden field when user stops dragging
                    change: function (event, ui) {
                        that.task.min_parts_for_task = ui.value;
                        //console.log( ui.value);
                        $('#min-parts-slider').attr('value', ui.value);
                    }
                }).slider("pips", {
                    rest: "label",
                });

            });
        },

        updated () {
            let that = this;
            $.uniform.update();
            $('#min_parts_for_task').selectpicker('refresh');

            $('.bootstrap-select').selectpicker('refresh');
        },
        created() {
            if (! isNaN(this.$route.query.projectId)) {
                this.projectId = this.$route.query.projectId;
            }
            let taskId = parseInt(this.$route.params.id);

            if (!isNaN(taskId)) {
                this.taskId = taskId;
                /*this.getProjects();
                this.getTask();*/
                this.getTaskData();
            }
        },
        destroyed() {
            this.flatpickrDateStart.destroy();
            this.flatpickrDeadline.destroy();
        }
    }


</script>

<style>

</style>