<template>
    <div class="content-wrapper" id="main">
        <breadcrumbs :linksArray="[{'link': '/projects', 'text': 'Проекты'},{'link': '/projects/'+project.id+'/show', 'text': (project.name ? project.name : '')}, {'active': true, 'text': task.title}]"></breadcrumbs>

        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-flat">
                    <div class="row">
                    <div class="panel-heading mt-5">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <ul class="icons-list pull-left">
                                <li><a href="#" @click.prevent="refreshTask()" data-action="reload"></a></li>
                            </ul>
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <h5 class="panel-title">#{{task.id}}: {{task.title}}<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <br>
                            <div class="row">
                                <div class="heading-elements">

                                    <div v-if="!task.assigned_id">
                                        <div v-if="task.status === 'To Do'">
                                            <a @click.prevent="startTask()" href="#" class="btn text-primary-800 border-primary btn-flat">Приступить <b><i class="icon-play4"></i></b></a>
                                        </div>
                                        <div v-else-if="task.status === 'In progress'">
                                            <a class="btn text-warning-800 border-warning btn-flat disabled"> Задача уже выполняется <i class="icon-play3"></i></a>
                                        </div>
                                        <div v-else-if="task.status === 'Done'">
                                            <a class="btn text-warning-800 border-warning btn-flat disabled"> Задача завершена</a>
                                        </div>
                                        <div v-else-if="task.status === 'Closed'">
                                            <a class="btn text-warning-800 border-warning btn-flat disabled"> Задача закрыта <i class="icon-blocked"></i></a>
                                        </div>
                                    </div>
                                    <div v-else-if="task.assigned_id === user.id">
                                        <div v-if="task.status === 'In progress'">
                                            <a @click.prevent="stopTask()" href="#" class="btn text-success-800 border-success btn-flat">Завершить <b><i class="icon-stop2"></i></b></a>
                                        </div>
                                        <div v-else-if="task.status === 'To Do'">
                                            <a @click.prevent="startTask()" href="#" class="btn text-primary-800 border-primary btn-flat">Приступить <b><i class="icon-play4"></i></b></a>
                                        </div>
                                        <div v-else-if="task.status === 'Done' && task.author_id === authenticatedUser.id">
                                            <a @click.prevent="closeTask()" class="btn text-warning-800 border-warning btn-flat"> Закрыть задачу <i class="icon-blocked"></i></a>
                                        </div>
                                        <div v-else-if="task.status === 'Done'">
                                            <a  @click.prevent="startTask()" class="btn text-warning-800 border-warning btn-flat"> Открыть <b><i class="icon-undo2"></i></b></a>
                                        </div>
                                        <div v-else-if="task.status === 'Closed'">
                                            <a class="btn text-warning-800 border-warning btn-flat disabled"> Задача закрыта <i class="icon-blocked"></i></a>
                                        </div>

                                    </div>
                                    <div v-else-if="task.author_id === authenticatedUser.id">
                                        <div v-if="task.status != 'Closed'">
                                            <a @click.prevent="closeTask()" class="btn text-warning-800 border-warning btn-flat"> Закрыть задачу <i class="icon-blocked"></i></a>
                                        </div>
                                        <div v-else>
                                            <a class="btn text-warning-800 border-warning btn-flat disabled"> Задача закрыта <i class="icon-blocked"></i></a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="panel-body">
                        <h6 class="text-semibold text-left"><b>Описание</b></h6>
                        <hr>
                        <!--<p class="content-group">Then sluggishly this camel learned woodchuck far stretched unspeakable notwithstanding the walked owing stung mellifluously glumly rooster more examined one that combed until a less less witless pouted up voluble timorously glared elaborate giraffe steady while grinned and got one beaver to walked. Connected picked rashly ocelot flirted while wherever unwound much more one inside emotionally well much woolly amidst upon far burned ouch sadistically became.</p>-->
                        <p class="content-group text-left">
                            {{ task.description }}
                        </p>
                    </div>
                </div>
                <task-members :taskNumber="taskId" :task_author="task.author_id" v-if="authenticatedUser !== null && task.author_id === authenticatedUser.id"></task-members>
                <comments target="task" :targetId="taskId" :commentsCount="commentsCount"></comments>
                <br>
                <h2 class="text-center"><i class="icon-floppy-disk"></i> Прикрепить файлы</h2>
                <attachments-uploader :targetName="'tasks'" :targetNumber="taskId" :targetAttachments="task.attachments"></attachments-uploader>
            </div>
            <div class="col-md-4">
                <div class="panel panel-flat"  v-show="showDeadline">
                    <div class="panel-heading">
                        <h6 class="panel-title"><i class="icon-watch position-left"></i> Дедлайн задачи через: </h6>
                    </div>

                    <div class="panel-body">
                        <ul class="timer-weekdays mb-10">
                            <li :class="inArray(1) ? 'active' : '' "><a :class="inArray(1) ? 'label-danger' : 'label-default' " class="label">Пн</a></li>
                            <li :class="inArray(2) ? 'active' : '' "><a :class="inArray(2) ? 'label-danger' : 'label-default' " class="label">Вт</a></li>
                            <li :class="inArray(3) ? 'active' : '' "><a :class="inArray(3) ? 'label-danger' : 'label-default' " class="label">Ср</a></li>
                            <li :class="inArray(4) ? 'active' : '' "><a :class="inArray(4) ? 'label-danger' : 'label-default' " class="label">Чт</a></li>
                            <li :class="inArray(5) ? 'active' : '' "><a :class="inArray(5) ? 'label-danger' : 'label-default' " class="label">Пт</a></li>
                            <li :class="inArray(6) ? 'active' : '' "><a :class="inArray(6) ? 'label-danger' : 'label-default' " class="label">Сб</a></li>
                            <li :class="inArray(7) ? 'active' : '' "><a :class="inArray(7) ? 'label-danger' : 'label-default' " class="label">Вс</a></li>
                        </ul>
                        <ul class="timer mb-10" id="timer">
                            <li>
                                <div id="days">2</div>
                                <span>Дни</span>
                            </li>
                            <li class="dots">:</li>
                            <li>
                                <div id="hours">1</div>
                                <span>Часы</span>
                            </li>
                            <li class="dots">:</li>
                            <li>
                                <div id="minutes">4</div>
                                <span>Минуты</span>
                            </li>
                            <li class="dots">:</li>
                            <li>
                                <div id="seconds">23</div>
                                <span>Секунды</span>
                            </li>
                        </ul>
                    </div>

                </div>
                <!--/timer -->
                <!-- Task info-->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title"><i class="icon-files-empty position-left"></i> Детали задачи<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                        <div class="heading-elements">
                        </div>
                    </div>

                    <table class="table table-borderless table-xs content-group-sm">
                        <tbody>
                        <tr v-if="task.activity">
                            <td class="text-left"><i class="icon-sphere position-left"></i> Сфера деятельности:</td>
                            <td class="text-right">{{ task.activity.name }}</td>
                        </tr>
                        <tr v-if="task.direction">
                            <td class="text-left"><i class="icon-arrow-up-right3 position-left"></i> Направление:</td>
                            <td class="text-right">{{ task.direction.name }}</td>
                        </tr>
                        <tr v-if="task.project">
                            <td class="text-left"><i class="icon-briefcase position-left"></i> Проект:</td>
                            <td class="text-right"><span class="pull-right"><router-link :to="{path: '/projects/'+task.project_id+'/show'}"><b>{{ task.project.name }}</b></router-link></span></td>
                        </tr>
                        <tr>
                            <td class="text-left"><i class="icon-alarm-check position-left"></i> Добавлена:</td>
                            <td class="text-right">{{ createdTask }}</td>
                        </tr>
                        <tr>
                            <td class="text-left"><i class="icon-circles2 position-left"></i> Приоритет:</td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <a v-if="task.priority === 3" class="label label-danger dropdown-toggle" data-toggle="dropdown"> Высокий <span class="caret"></span></a>
                                        <a v-if="task.priority === 2" class="label label-info dropdown-toggle" data-toggle="dropdown"> Нормальный <span class="caret"></span></a>
                                        <a v-if="task.priority === 1" class="label label-success dropdown-toggle" data-toggle="dropdown"> Низкий <span class="caret"></span></a>


                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li @click.prevent="changePriority(task, 3)"><a><span class="status-mark position-left bg-danger"></span> Высокий </a></li>
                                            <li @click.prevent="changePriority(task, 2)"><a><span class="status-mark position-left bg-info"></span> Нормальный </a></li>
                                            <li @click.prevent="changePriority(task, 1)"><a><span class="status-mark position-left bg-success"></span> Низкий </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr v-if="task.author">
                            <td class="text-left"><i class="icon-file-plus position-left"></i> Автор:</td>
                            <td class="text-right"><a href="#">{{task.author.name}}</a></td>
                        </tr>
                        <tr>
                            <td class="text-left"><i class="icon-file-check position-left"></i> Статус:</td>
                            <td class="text-right" v-if="task.status === 'To Do'"><div class="label label-primary">Открыт</div></td>
                            <td class="text-right" v-if="task.status === 'In progress'"><div class="label label-warning">Выполняется</div></td>
                            <td class="text-right" v-if="task.status === 'Done'"><div class="label label-success">Выполнен</div></td>
                            <td class="text-right" v-if="task.status === 'Closed'"><div class="label label-info">Закрыт</div></td>
                        </tr>
                        <tr v-if="task.start_at">
                            <td class="text-left"><i class="icon-alarm-add position-left"></i> Начат:</td>
                            <td class="text-right"><b>{{ getDate(task.start_at) }}</b></td>
                        </tr>
                        <tr v-if="task.end_at">
                            <td class="text-left"><i class="icon-alarm-check position-left"></i> Закончен:</td>
                            <td class="text-right"><b>{{ getDate(task.end_at) }}</b></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="panel-footer panel-footer-condensed"><a class="heading-elements-toggle"><i class="icon-more"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline list-inline-condensed heading-text">
                                <li><router-link :to="{name: 'tasks.edit', params: {id: task.id}}" class="text-default"> <i class="icon-pencil7"></i></router-link></li>

                                <li><a @click.prevent="deleteTask()" class="text-default"><i class="icon-bin"></i></a></li>
                            </ul>

                            <ul class="list-inline list-inline-condensed heading-text pull-right">
                                <li><a href="#" class="text-default"><i class="icon-statistics"></i></a></li>
                                <li class="dropdown">
                                    <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-gear"></i><span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
                                        <li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
                                        <li><a href="#"><i class="icon-user-plus"></i> Assign users</a></li>
                                        <li><a href="#"><i class="icon-warning2"></i> Report</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

               <!-- Assigned users-->
                <div class="panel panel-flat" v-if="task.assigned">
                    <div class="panel-heading">
                        <h6 class="panel-title"><i class="icon-users position-left"></i> Выполняет: <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                        <div class="heading-elements">
                        </div>
                    </div>

                    <div class="panel-body">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img :src=" task.assigned.avatar ? endpoints.main + task.assigned.avatar : endpoints.main + '/images/noavatar.png'" class="img-sm img-circle" alt="">
                                        <span class="badge bg-warning-400 media-badge">6</span>
                                    </a>
                                </div>

                                <div class="media-body media-middle text-semibold">
                                    {{ task.assigned.name }}
                                    <div class="media-annotation">Web developer</div>
                                </div>

                                <div class="media-right media-middle">
                                    <ul class="icons-list text-nowrap">
                                        <li>
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-more2"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#"><i class="icon-comment-discussion pull-right"></i> Start chat</a></li>
                                                <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a call</a></li>
                                                <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#"><i class="icon-statistics pull-right"></i> Statistics</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <existing-attachments :targetName="'tasks'" :targetId="task.id" :targetAttachments="task.attachments" :targetAuthorId="task.author_id"></existing-attachments>
            </div>
        </div>

    </div>
</template>

<script>
    import blockui from "../../assets/js/plugins/loaders/blockui.min.js"
    import moment from "moment"
    import Comments from '../Comments.vue';
    import TaskMembers from './TaskMembers.vue';
    import Breadcrumbs from '../partials/Breadcrumbs.vue';
    import AttachmentsUploader from '../partials/AttachmentsUploader.vue';
    import ExistingAttachments from '../partials/ExistingAttachments.vue';

    export default {
        name: 'Tasks',
        data () {
            return {
                endpoints: {
                    main: API_BASE_URL,
                    task: {
                        get: API_URL + '/tasks'
                    },
                    projects: {
                        get: API_URL + '/projects',
                    }
                },
                user: this.$store.state.user,
                userAvatar: null,
                task: {},
                projects: null,
                project: {},
                events: [],

                microtime: null,
                loading: false,
                taskId: null,
                assignedId: null,
                commentsCount: 0
            }
        },
        computed: {
            createdTask: function() {
                return moment(this.task.created_at).format('DD-MM-YYYY');
            },
            showDeadline: function () {
                let that = this;
                if (this.task.deadline !== null) {
                    console.warn(this.task.status);
                    if (this.task.status == 'Done' || this.task.status == 'Closed' || this.task.status === undefined) return false;
                    console.log(moment(this.task.deadline).format('YYYY/MM/DD'));
                    let that = this;
                    let deadline = moment(this.task.deadline);
                    if (moment().isSameOrBefore(deadline)) {
                        $('.timer').countdown(moment(this.task.deadline).format('YYYY/MM/DD'), function(event) {
                            //console.error(event);
                            $('#days').text(event.strftime('%D'));
                            $('#hours').text(event.strftime('%H'));
                            $('#minutes').text(event.strftime('%M'));
                            $('#seconds').text(event.strftime('%S'));
                        });
                        return true;
                    } else {
                        return false;
                    }
                } else {
                    return false;
                }
            },
        },


        methods: {
            fetchData () {
                this.getTask();
               // this.getProjects();
            },
            getDate (date) {
                let response = moment(date).fromNow();
                if (response === 'Invalid date') response = moment().fromNow();

                return response;
            },
            refreshTask () {
                let time = new Date();
                this.microtime = time.getMilliseconds();
                this.blockElement('#main');
                this.getTask();
                this.unBlockElement('#main');
            },
            inArray (needle) {
                let haystack = this.events;
                for(let i in haystack) {
                    if(moment(haystack[i].date).day() === needle) return true;
                }
                return false;
            },
            deleteTask (id) {
                if (confirm('Действительно хотите удалить задачу?')) {
                    this.$http.delete(this.endpoints.task.get + '/' + this.task.id)
                        .then(function (response) {
                                new PNotify({
                                    title: 'Успешно',
                                    text: response.body.message,
                                    addclass: 'bg-success'
                                });
                                this.$router.go(this.task.project_id + '/show');
                            },
                            function (error) {
                                console.log(error);
                                new PNotify({
                                    title: 'Произошла ошибка.',
                                    text:  error.body.message,
                                    addclass: 'bg-danger'
                                });
                            });
                } else {
                    return false;
                }

            },
            getTask () {
                this.$http.get(this.endpoints.task.get + '/' + this.taskId)
                    .then(function(response) {
                        this.task = response.body.data;
                        this.events = response.body.data.events;
                        this.assignedId = response.body.data.assigned_id;
                        if (this.task.project) {
                            this.project = this.task.project;
                        }
                        this.commentsCount = this.task.comments_count;

                    }, function(error) {
                        console.log(error);
                    });
            },
            startTask () {
                this.task.status = 'In progress';
                this.task.assigned = this.authenticatedUser;
                this.task.assigned_id = this.authenticatedUser.id;
                this.task.end_at = null;
                this.task.start_at = moment().format('YYYY-MM-DD HH:mm:SS');
                this.updateTask();
            },
            stopTask () {
                this.task.status = 'Done';
                this.task.end_at = moment().format('YYYY-MM-DD HH:mm:SS');
                this.updateTask();
            },
            closeTask () {
                this.task.status = 'Closed';
//                this.task.end_at = moment().format('YYYY-MM-DD HH:mm:SS');
                this.updateTask();
            },
            changePriority (task, priority) {
                task.priority = priority;
                this.updateTask(task);
            },

            updateTask (task) {
                if (task === undefined) task = this.task;
                this.blockElement('#main');
                let time = new Date();
                let microtime = time.getMilliseconds();

                this.$http.put(this.endpoints.task.get + '/' + task.id, task)
                        .then(function (response) {
                            new PNotify({
                                title: 'Успешно',
                                text: response.body.message,
                                addclass: 'bg-success'
                            });
                            this.refreshTask();
                        }, function (error) {
                            new PNotify({
                                title: 'Произошла ошибка.',
                                text: error.body.data ? error.body.data : error.body.message,
                                addclass: 'bg-danger'
                            });
                            console.log(error);
                        });

                this.unBlockElement('#main', microtime)
            },

           /* getProjects: function() {
                this.$http.get(this.endpoints.projects.get)
                        .then(function(response) {
                            this.projects = response.body.data.data;
                        }, function(error){
                            console.log(error);
                        })
                        .then(function(){
                            this.getProjectName(this.projects, this.task);
                        }, function(error){
                            console.log(error);
                        });
            },*/

           /* getProjectName: function(){
                let that = this;

                if(that.projects){
                    that.projects.filter(function(item){
                        if(item.id == that.task.project_id) {
                            that.projectName = item.name;
                        }
                    });
                }
            },*/
           },

        watch: {
            // в случае изменения маршрута запрашиваем данные вновь
            '$route': 'fetchData'
        },

        created () {
            let taskId = parseInt(this.$route.params.id);

            if (! isNaN(taskId)) {
                this.taskId = taskId;
            }

             this.userAvatar =  API_URL + '/' + this.$store.state.user.avatar;
             this.fetchData();

            let time = new Date();
            this.microtime = time.getMilliseconds();

//             this.getTask();
            /*this.getProjects();*/
             //this.user.avatar =  API_URL + '/' + this.$store.state.user.avatar;
        },

        mounted () {
            this.blockElement('#main');

            this.unBlockElement('#main', this.microtime);
            this.refreshTask();
        },

        components: {
            Comments, Breadcrumbs, AttachmentsUploader, TaskMembers, ExistingAttachments
        }
    }

</script>

<style>
    #main {
        display: block;
    }
</style>