<template>
    <div id="members-wrapper">
        <!-- Detailed task -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Task overview -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <a @click.prevent="addMember()" title="Добавить нового участника" class="btn bg-teal-400 btn-sm text-left"><i class="icon-user-plus"></i></a>
                        <h5 class="panel-title text-semibold"><i class="icon-users position-left"></i> Участники задачи
                            <span v-if="members_count !== 0" class="badge badge-default"> <b>{{ members_count ? members_count : 0 }}</b> </span>
                        </h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a @click="getMembers" data-action="reload"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        <!-- Linked lists -->
                        <div class="row">
                            <div class="col-md-12">

                                <!-- List with text -->
                                <div class="panel panel-flat">
                                    <ul class="media-list media-list-linked">
                                        <li class="media" v-for="member in members">
                                            <a class="media-link">
                                                <div class="media-left"><img :src="member.avatar && member.avatar != '' ? baseApiUrl + member.avatar : baseApiUrl + '/images/noavatar.png' " class="img-circle" alt=""></div>
                                                <div class="media-body">
                                                    <div class="media-heading text-semibold">{{ member.name }}</div>
                                                    <span class="text-muted">{{ member.email }}</span>
                                                </div>
                                                <div class="media-right media-middle text-nowrap">
                                                <span class="text-muted" v-if="members !== null && members.length > 1 && $store.state.user.id !== member.id">
                                        <a title="Удалить участника" @click.prevent="deleteMember(member.id)" class="btn border-danger text-danger btn-flat"><i class="icon-trash"></i></a>
                                                </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /list with text -->

                            </div>
                        </div>
                        <!-- /linked lists -->

                    </div>


                </div>
                <!-- /task overview -->
            </div>
        </div>
        <div class="modal" id="membersModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form @submit.prevent="createMember()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Добавление нового пользователя в этот проект</h4>
                            <em>Примечание: Чтобы добавить пользователя к задаче, его сначала необходимо пригласить в проект.</em>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="new-member" class="col-sm-2 control-label">Выберите пользователя</label>
                                <div class="col-sm-10">
                                    <select v-model="newMember.user_id" id="new-member" class="form-control">
                                        <option value="0"> -- Выберите пользователя из списка -- </option>
                                        <option :value="user.id" v-for="user in users"> {{ user.name }} || {{ user.email }} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- /detailed task -->
    </div>

</template>

<script>
    import moment from 'moment';
    import Comments from '../Comments.vue';
    import TasksView from './TasksView.vue';
    import countdown from '../../assets/js/plugins/extensions/jquery.countdown.min.js';
    moment.locale('ru');
    export default {
        name: 'task-members',
        props: ['taskNumber', 'task_author'],
        data () {
            return {
                endpoints: {
                    members: API_URL + '/tasks',
                    users: API_URL + '/users/available',
                },
                baseApiUrl: API_BASE_URL,
                task: {},
                users: [],
                microtime: 0,
                taskLoaded: false,
                taskAuthor: this.task_author,
                taskId: null,
                members: null,
                members_count: null,
                newMember: {
                    user_id: null,
                    task_id: null
                }
            }
        },


        methods: {
            getUsers () {
                this.$Progress.start();
                this.newMember.user_id = null;
                this.newMember.task_id = null;
                this.$http.get(this.endpoints.users, {params: {
                    for_task_member: true,
                    target: 'task',
                    target_id: this.taskId
                }}).then((response) => {
                    this.users = response.body.data;
                    this.$Progress.finish();
                }, (error) => {
                    this.$Progress.fail();
                    console.log(error);
                })
            },
            addMember () {
                this.getUsers();
                $('#membersModal').modal('show');
            },
            createMember () {
                if (this.taskId !== undefined) {
                    this.$Progress.start();
                    this.newMember.task_id = this.taskId;
                    this.$http.post(this.endpoints.members + '/' + this.taskId + '/members', this.newMember).then((response) => {
                        $('#membersModal').modal('hide');
                        this.$Progress.finish();
                        this.getMembers();
                    }, (error) => {
                        this.$Progress.fail();
                        console.log(error) });
                }
            },

            getMembers() {
                this.blockElement('#members-wrapper');
                this.$Progress.start();
                if (this.taskId !== undefined) {
                    this.$http.get(this.endpoints.members + '/' + this.taskId + '/members').then((response) => {
                        this.members = response.body.data;
                        this.members_count = this.members.length;
                        this.$Progress.finish();
                        console.log(response);
                        this.unBlockElement('#members-wrapper', this.microtime);
                    }, (error) => {
                        console.log(error);
                        this.$Progress.fail();
                        this.unBlockElement('#members-wrapper', this.microtime);
                    });
                }
            },
            deleteMember (id) {
                this.$Progress.start();

                this.$http.delete(this.endpoints.members + '/' + this.taskId + '/members', {params: {
                    user_id: id,
                    task_id: this.taskId
                }}).then((response) => {
                    this.$Progress.finish();
                    this.getMembers();
                }, (error) => {
                    this.$Progress.fail();
                    console.log(error);
                })
            },
        },
        watch: {
            taskNumber: function () {
                this.taskNumber = this.taskId;
            },
            taskAuthor: function() {
                this.taskAuthor = this.task_author;
            }
        },
        created () {
            this.taskId = this.taskNumber;
            console.log(this.taskNumber);
        },
        mounted () {
            console.log(this.$store.state.user.id, this.taskAuthor);
            $('[title]').tooltip();
            this.getMembers();
            this.blockElement('#members-wrapper');
            this.unBlockElement('#members-wrapper', this.microtime);
        },
        updated () {
            $('[title]').tooltip();
        }
    }
</script>

<style>
    #task-wrapper {
        display: block;
    }
</style>