<template>
    <div class="col-md-9 content-wrapper" id="main">
        <!-- Tasks options -->
        <div class="navbar navbar-default navbar-xs navbar-component">
            <ul class="nav navbar-nav no-border visible-xs-block">
                <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
            </ul>

            <div class="navbar-collapse collapse" id="navbar-filter">
                <ul class="nav navbar-nav">
                    <li class="dropdown"  data-toggle="tooltip" data-placement="bottom" title="По дате">
                        <a href="#" v-if="selectedPeriod == null" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-time-asc position-left"></i> По дате <span class="caret"></span></span> <i class="icon-sort-time-asc position-left hidden-lg"></i><span class="caret hidden-lg"></span></a>
                        <a href="#" v-if="selectedPeriod == 'all'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-time-asc position-left"></i> Все <span class="caret"></span></span> <i class="icon-sort-time-asc position-left hidden-lg"></i><span class="caret hidden-lg"></span></a>
                        <a href="#" v-if="selectedPeriod == 'today'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-time-asc position-left"></i> Сегодня  <span class="caret"></span></span><i class="icon-sort-time-asc position-left hidden-lg"></i><span class="caret hidden-lg"></span></a>
                        <a href="#" v-if="selectedPeriod == 'week'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-time-asc position-left"></i> Неделя <span class="caret"></span></span> <i class="icon-sort-time-asc position-left hidden-lg"></i><span class="caret hidden-lg"></span></a>
                        <a href="#" v-if="selectedPeriod == 'two_weeks'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-time-asc position-left"></i> Две недели <span class="caret"></span></span> <i class="icon-sort-time-asc position-left hidden-lg"></i><span class="caret hidden-lg"></span></a>
                        <a href="#" v-if="selectedPeriod == 'month'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-time-asc position-left"></i> Месяц <span class="caret"></span></span> <i class="icon-sort-time-asc position-left hidden-lg"></i><span class="caret hidden-lg"></span></a>
                        <a href="#" v-if="selectedPeriod == 'year'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-time-asc position-left"></i> Год <span class="caret"></span></span> <i class="icon-sort-time-asc position-left hidden-lg"></i><span class="caret hidden-lg"></span></a>

                        <ul class="dropdown-menu">
                            <li :class="selectedPeriod === 'all' ? 'active' : ''" @click.prevent="filterTasksByDate('all')"><a href="#">Показывать все</a></li>
                            <li class="divider"></li>
                            <li :class="selectedPeriod === 'today' ? 'active' : ''" @click.prevent="filterTasksByDate('today')"><a href="#">Сегодня</a></li>
                            <li :class="selectedPeriod === 'week' ? 'active' : ''" @click.prevent="filterTasksByDate('week')"><a href="#">Неделя</a></li>
                            <li :class="selectedPeriod === 'two_weeks' ? 'active' : ''" @click.prevent="filterTasksByDate('two_weeks')"><a href="#">Две недели</a></li>
                            <li :class="selectedPeriod === 'month' ? 'active' : ''" @click.prevent="filterTasksByDate('month')"><a href="#">За месяц</a></li>
                            <li :class="selectedPeriod === 'year' ? 'active' : ''" @click.prevent="filterTasksByDate('year')"><a href="#">За год</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" data-toggle="tooltip" data-placement="bottom" title="По статусу">
                        <a href="#" v-if="selectedStatus == null" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-amount-desc position-left"></i> По статусу <span class="caret"></span></span> <i class="icon-sort-amount-desc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                        <a href="#" v-if="selectedStatus == 'all'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-amount-desc position-left"></i> Все <span class="caret"></span></span> <i class="icon-sort-amount-desc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                        <a href="#" v-if="selectedStatus == 'To Do'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-amount-desc position-left"></i> Открыта <span class="caret"></span></span> <i class="icon-sort-amount-desc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                        <a href="#" v-if="selectedStatus == 'In progress'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-amount-desc position-left"></i> Выполняется <span class="caret"></span></span> <i class="icon-sort-amount-desc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                        <a href="#" v-if="selectedStatus == 'Done'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-amount-desc position-left"></i> Выполнена <span class="caret"></span></span> <i class="icon-sort-amount-desc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                        <a href="#" v-if="selectedStatus == 'Closed'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-amount-desc position-left"></i> Закрыта <span class="caret"></span></span> <i class="icon-sort-amount-desc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>

                        <ul class="dropdown-menu">
                            <li :class="selectedStatus === 'all' ? 'active' : ''" @click.prevent="filterTasksByStatus('all')"><a href="#">Показывать все</a></li>
                            <li class="divider"></li>
                            <li :class="selectedStatus === 'To Do' ? 'active' : ''" @click.prevent="filterTasksByStatus('To Do')"><a href="#">Открыта</a></li>
                            <li :class="selectedStatus === 'In progress' ? 'active' : ''" @click.prevent="filterTasksByStatus('In progress')"><a href="#">Выполняется</a></li>
                            <li :class="selectedStatus === 'Done' ? 'active' : ''" @click.prevent="filterTasksByStatus('Done')"><a href="#">Выполнена</a></li>
                            <li :class="selectedStatus === 'Closed' ? 'active' : ''" @click.prevent="filterTasksByStatus('Closed')"><a href="#">Закрыта</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" data-toggle="tooltip" data-placement="bottom" title="По приоритету">
                        <a href="#" v-if="selectedPriority == null" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-numeric-asc position-left"></i> По приоритету <span class="caret"></span></span> <i class="icon-sort-numeric-asc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                        <a href="#" v-if="selectedPriority == 3" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-numeric-asc position-left"></i> Высокий <span class="caret"></span></span> <i class="icon-sort-numeric-asc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                        <a href="#" v-if="selectedPriority == 2" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-numeric-asc position-left"></i> Нормальный <span class="caret"></span></span> <i class="icon-sort-numeric-asc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                        <a href="#" v-if="selectedPriority == 1" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-numeric-asc position-left"></i> Низкий <span class="caret"></span></span> <i class="icon-sort-numeric-asc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>

                        <ul class="dropdown-menu">
                            <li :class="selectedPriority === 'all' ? 'active' : ''" @click.prevent="filterTasksByPriority('all')"><a href="#">Показывать все</a></li>
                            <li class="divider"></li>
                            <li :class="selectedPriority === 3 ? 'active' : ''" @click.prevent="filterTasksByPriority(3)"><a href="#">Высокий</a></li>
                            <li :class="selectedPriority === 2 ? 'active' : ''" @click.prevent="filterTasksByPriority(2)"><a href="#">Нормальный</a></li>
                            <li :class="selectedPriority === 1 ? 'active' : ''" @click.prevent="filterTasksByPriority(1)"><a href="#">Низкий</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" data-toggle="tooltip" data-placement="bottom" title="Количество">
                        <a href="#" v-if="perPage == 10" class="dropdown-toggle" data-toggle="dropdown"><i class="position-right"></i>Показывать по: {{ perPage }} <span class="caret"></span> </a>
                        <a href="#" v-if="perPage == 20" class="dropdown-toggle" data-toggle="dropdown"><i class="position-right"></i>Показывать по: {{ perPage }} <span class="caret"></span> </a>
                        <a href="#" v-if="perPage == 100" class="dropdown-toggle" data-toggle="dropdown"><i class="position-right"></i>Показывать по: {{ perPage }} <span class="caret"></span> </a>

                        <ul class="dropdown-menu">
                            <li :class="perPage === 10 ? 'active' : '' "><a @click.prevent="setPerPage(10)">10</a></li>
                            <li :class="perPage === 20 ? 'active' : '' "><a @click.prevent="setPerPage(20)">20</a></li>
                            <li :class="perPage === 100 ? 'active' : '' "><a @click.prevent="setPerPage(100)">100</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="heading-elements">
                    <a @click="changeView('list')" :class="viewType == 'list' ? 'active' : ''" class="btn btn-default"><i class="icon-list2"></i> </a>
                    <a @click="changeView('grid')" :class="viewType == 'grid' ? 'active' : ''" class="btn btn-default"><i class="icon-grid6"></i> </a>
                    <router-link :to="{path: '/tasks/create'}" class="btn btn-info"><i class="icon-plus-circle2"></i> Новая задача</router-link>
                </div>

            </div>
        </div>
        <div class="tasks">
            <div class="row" v-if="emptyTasks">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="alert alert-info">
                        <strong>К сожалению задач не найдено.</strong>
                    </div>
                </div>
            </div>
            <div v-if="!emptyTasks" id="grid" :class="viewType !== 'grid' ? 'hidden' : ''">
                <!-- /tasks options -->
                <div class="row" v-for="chunk in getChunk()">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" v-for="task in chunk">
                        <div class="panel border-left-lg text-left" :style="task.status === 'Done' ? 'background-color: #c3fdc6;' : (task.status === 'Closed' ? 'background-color: #ffecc3;' : '')"
                             :class="[task.status !== 'Done' && (task.priority == 3 ? 'border-left-danger' : (task.priority == 2 ? 'border-left-primary' : 'border-left-success'))]">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h6 class="no-margin-top">
                                            <router-link :to="{path: '/tasks/'+task.id}">{{task.key}} - <b>{{ task.title }}</b></router-link>
                                        </h6>
                                        <p class="mb-15">{{ task.description }}</p>

                                        <!--<a href="#"><img src="http://demo.interface.club/limitless/layout_3/LTR/default/assets/images/demo/users/face1.jpg" class="img-circle img-xs" alt=""></a>-->
                                        <!--<a href="#" class="text-default">&nbsp;<i class="icon-plus22"></i></a>-->
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list task-details">
                                            <li v-if="projectId === 0">Проект:
                                            <br>
                                                <b><router-link v-if="task.project" :to="{path: '/projects/' + task.project_id + '/show' }">{{ task.project.name }}</router-link></b>
                                            </li>
                                            <li>Создан: <br>
                                                <b>{{ getDate(task.created_at) }}</b>
                                            </li>
                                            <li class="dropdown">
                                                Приоритет: &nbsp;
                                                <a v-if="task.priority === 3" href="#"  class="label label-danger dropdown-toggle" data-toggle="dropdown"> Высокий приоритет<span class="caret"></span></a>
                                                <a v-if="task.priority === 2" href="#"  class="label label-primary dropdown-toggle" data-toggle="dropdown"> Средний приоритет<span class="caret"></span></a>
                                                <a v-if="task.priority === 1" href="#"  class="label label-success dropdown-toggle" data-toggle="dropdown"> Низкий приоритет<span class="caret"></span></a>
                                                <ul class="dropdown-menu dropdown-menu-right active">
                                                    <li @click.prevent="changePriority(task, 3)" :class="[task.priority === 3 ? 'active' : '']"><a href="#"><span class="status-mark position-left bg-danger"></span> Высокий приоритет</a></li>
                                                    <li @click.prevent="changePriority(task, 2)" :class="[task.priority === 2 ? 'active' : '']"><a href="#"><span class="status-mark position-left bg-info"></span>  Средний приоритет</a></li>
                                                    <li @click.prevent="changePriority(task, 1)" :class="[task.priority === 1 ? 'active' : '']"><a href="#"><span class="status-mark position-left bg-success"></span> Низкий приоритет</a></li>
                                                </ul>
                                            </li>
                                            <!--<li><a href="#"><b>{{task.activity.name}}</b></a></li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div :style="task.status === 'Done' ? 'background-color: #c3fdc6;' : (task.status === 'Closed' ? 'background-color: #ffecc3;' : '')" class="panel-footer panel-footer-condensed"><a class="heading-elements-toggle"><i class="icon-more"></i></a>
                                <div class="heading-elements">
                                    <span class="heading-text">Дедлайн: <span class="text-semibold"><b>{{ getDeadline(task.deadline) }}</b></span></span>

                                    <ul class="list-inline list-inline-condensed heading-text pull-right">
                                        <li class="dropdown">
                                            <a  v-if="task.status === 'To Do'" href="#" class="text-default dropdown-toggle" data-toggle="dropdown">Открыт <span class="caret"></span></a>
                                            <a  v-if="task.status === 'In progress'" href="#" class="text-default dropdown-toggle" data-toggle="dropdown">Выполняется <span class="caret"></span></a>
                                            <a  v-if="task.status === 'Done'" href="#" class="text-default dropdown-toggle" data-toggle="dropdown">Выполнен <span class="caret"></span></a>
                                            <a  v-if="task.status === 'Closed'" href="#" class="text-default dropdown-toggle" data-toggle="dropdown">Закрыт <span class="caret"></span></a>

                                            <ul class="dropdown-menu dropdown-menu-right active">
                                                <li @click.prevent="changeStatus(task, 'To Do')" :class="[task.status === 'To Do' ? 'active' : '']" ><a href="#">Открыт</a></li>
                                                <li @click.prevent="changeStatus(task, 'In progress')" :class="[task.status === 'In progress' ? 'active' : '']"><a href="#">Выполняется</a></li>
                                                <li @click.prevent="changeStatus(task, 'Done')" :class="[task.status === 'Done' ? 'active' : '']"><a href="#">Выполнен</a></li>
                                                <li @click.prevent="changeStatus(task, 'Closed')" :class="[task.status === 'Closed' ? 'active' : '']"><a href="#">Закрыт</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a href="#"  class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><router-link :to="{path: '/tasks/' + task.id + '/edit'}"> <i class="icon-pencil7"></i>Редактировать</router-link></li>
                                                <li><a @click.prevent="deleteTask(task.id, task)"><i class="icon-cross2"></i> Удалить</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="!emptyTasks" id="list" :class="viewType !== 'list' ? 'hidden' : ''">
                <!-- /tasks options -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel">
                    <div>
                    <div class="row" style="height:60px">
                        <ul class="media-list content-group">
                            <li class="media text-center">
                                <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                                    <b>Автор</b>
                                    <!--<a @click="setSort('order')"><b># п/п-->
                                        <!--<i :class="params.params.sort.order !== null ? 'icon-arrow-'+-->
                                            <!--((params.params.sort.order == 'asc') ? 'up' : 'down')-->
                                            <!--+'12' : 'hidden'"></i>-->
                                    <!--</b></a>-->
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                                    <a @click="setSort('priority')"><b>Приоритет
                                        <i :class="params.params.sort.priority !== null ? 'icon-arrow-'+
                                            ((params.params.sort.priority == 'asc') ? 'up' : 'down')
                                            +'12' : 'hidden'"></i>
                                    </b></a>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2 text-center">
                                    <a @click="setSort('title')"><b>Название
                                        <i :class="params.params.sort.title !== null ? 'icon-arrow-'+
                                            ((params.params.sort.title == 'asc') ? 'up' : 'down')
                                            +'12' : 'hidden'"></i>
                                    </b></a>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2 text-center">
                                    <a @click="setSort('project_id')"><b>Проект
                                        <i :class="params.params.sort.project_id !== null ? 'icon-arrow-'+
                                            ((params.params.sort.project_id == 'asc') ? 'up' : 'down')
                                            +'12' : 'hidden'"></i>
                                    </b></a>
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-2 text-center">
                                    <a @click="setSort('status')"><b>Статус
                                        <i :class="params.params.sort.status !== null ? 'icon-arrow-'+
                                            ((params.params.sort.status == 'asc') ? 'up' : 'down')
                                            +'12' : 'hidden'"></i>
                                    </b></a>
                                </div>

                                <div class="col-sm-2 col-md-2 col-lg-1 text-center">
                                    <a @click="setSort('date_start')"><b>Старт
                                        <i :class="params.params.sort.date_start !== null ? 'icon-arrow-'+
                                            ((params.params.sort.date_start == 'asc') ? 'up' : 'down')
                                            +'12' : 'hidden'"></i>
                                    </b></a>
                                </div>

                                <div class="col-sm-2 col-md-2 col-lg-1 text-center">
                                    <a @click="setSort('deadline')"><b>Дедлайн
                                        <i :class="params.params.sort.deadline !== null ? 'icon-arrow-'+
                                            ((params.params.sort.deadline == 'asc') ? 'up' : 'down')
                                            +'12' : 'hidden'"></i>
                                    </b></a>
                                </div>

                                <div class="col-sm-2 col-md-2 col-lg-2 text-center">
                                    <b>Опции</b>
                                    <!--<a @click="getTasks()"><i class="icon-spinner11"></i></a>-->
                                </div>
                            </li>
                        </ul>
                    </div>

                        <div class="row">
                            <ul class="media-list content-group text-center" id="panel-target">
                                <li class="media li-table" v-for="task in tasks" :class="[task.status !== 'Done' && (task.priority == 3 ? 'danger1' : (task.priority == 2 ? 'warning1' : 'success1'))]" :data-id="task.id" :data-rank="task.rank" :data-order="task.order">
                                    <div class="row">
                                        <!--<div class="col-sm-1 col-md-1 col-lg-1 col-padd text-center">{{ task.order }}</div>-->
                                        <div class="col-sm-1 col-md-1 col-lg-1 col-padd text-center">
                                            <div class="project_lead">
                                                <img :src="endpoints.base + (task.author ? task.author.avatar : '/images/noavatar.png')" class="user_avatar" :data-title="task.author ? task.author.name : '-'">
                                            </div>
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1 col-padd text-center">
                                            <li class="dropdown lsn">
                                                <a v-if="task.priority === 3" href="#"  class="label dropdown-toggle" data-toggle="dropdown">
                                                    <span class="label label-lg label-rounded label-icon bg-danger" v-if="task.priority == 3" ><i class="icon-arrow-up12" style="font-weight:900"></i></span>
                                                </a>
                                                <a v-if="task.priority === 2" href="#"  class="label     dropdown-toggle" data-toggle="dropdown">
<!--
                                                    <i class="icon-arrow-right13"></i>
-->
                                                    <span class="label label-lg label-rounded label-icon bg-orange" v-if="task.priority == 2" ><i class="icon-arrow-right13" style="font-weight:900"></i></span>
                                                </a>
                                                <a v-if="task.priority === 1" href="#"  class="label dropdown-toggle" data-toggle="dropdown">
                                                    <span class="label label-lg label-rounded label-icon bg-success" v-if="task.priority == 1" style="font-weight:900"><i class="icon-arrow-down12"></i></span>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-right active">
                                                    <li @click.prevent="changePriority(task, 3)" :class="[task.priority === 3 ? 'active' : '']"><a href="#"><span class="status-mark position-left bg-danger"></span> Высокий</a></li>
                                                    <li @click.prevent="changePriority(task, 2)" :class="[task.priority === 2 ? 'active' : '']"><a href="#"><span class="status-mark position-left bg-orange"></span>  Средний</a></li>
                                                    <li @click.prevent="changePriority(task, 1)" :class="[task.priority === 1 ? 'active' : '']"><a href="#"><span class="status-mark position-left bg-success"></span> Низкий</a></li>
                                                </ul>
                                            </li>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2 col-padd text-center"><router-link :to="{path: '/tasks/'+task.id}"><b>{{ getTitle(task.title) }}</b></router-link> <!--({{task.estimate}}ч)-->
                                        <!--<p style="font-size: 11px; margin-top: 5px"> {{task.direction ? task.direction.name : ''}}</p>-->
                                       </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2 col-padd text-center"><b><router-link :to="'/projects/'+(task.project ? task.project.id : undefined )+'/show'">{{ task.project ? getTitle(task.project ? task.project.name : undefined) : '' }}</router-link></b>
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-2 col-padd text-center">
                                            <li class="dropdown lsn">
                                                <a  v-if="task.status === 'To Do'" href="#" class="text-default dropdown-toggle" data-toggle="dropdown">
                                                    <span class="label label-default"><span class="visible-lg">Открыт <span class="caret"></span></span> <span class="caret hidden-lg"></span></span>
                                                </a>
                                                <a  v-if="task.status === 'In progress'" href="#" class="text-default dropdown-toggle" data-toggle="dropdown">
                                                    <span class="label label-info"><span class="visible-lg">Выполняется <span class="caret"></span></span> <span class="caret hidden-lg"></span></span>
                                                </a>
                                                <a  v-if="task.status === 'Done'" href="#" class="text-default dropdown-toggle" data-toggle="dropdown">
                                                    <span class="label label-success"><span class="visible-lg">Выполнен <span class="caret"></span></span> <span class="caret hidden-lg"></span></span>
                                                </a>
                                                <a  v-if="task.status === 'Closed'" href="#" class="text-default dropdown-toggle" data-toggle="dropdown">
                                                    <span class="label label-warning"><span class="visible-lg">Закрыт <span class="caret"></span></span> <span class="caret hidden-lg"></span></span>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right active">
                                                    <li @click.prevent="changeStatus(task, 'To Do')" :class="[task.status === 'To Do' ? 'active' : '']" ><a href="#">Открыт</a></li>
                                                    <li @click.prevent="changeStatus(task, 'In progress')" :class="[task.status === 'In progress' ? 'active' : '']"><a href="#">Выполняется</a></li>
                                                    <li @click.prevent="changeStatus(task, 'Done')" :class="[task.status === 'Done' ? 'active' : '']"><a href="#">Выполнен</a></li>
                                                    <li @click.prevent="changeStatus(task, 'Closed')" :class="[task.status === 'Closed' ? 'active' : '']"><a href="#">Закрыт</a></li>
                                                </ul>
                                            </li>
                                        </div>

                                        <div class="col-sm-2 col-md-2 col-lg-1 col-padd text-center">
                                            <div class="input-group input-group-transparent">
                                                <!--<div class="input-group-addon visible-lg"><i class="icon-calendar2 position-left"></i></div>-->
                                                <input type="text" class="form-control datepicker-start" :id="'datepicker-' + task.id " :data-id="task.id" :value="task.date_start ? getDeadline(task.date_start) : 'Не указан'">
                                            </div>
                                        </div>

                                        <div class="col-sm-2 col-md-2 col-lg-1 col-padd text-center">
                                            <div class="form-group">
                                               <!-- <label class="control-label col-lg-4">Дедлайн</label>-->

                                                <div class="col-lg-7">
                                                    <div class="input-group input-group-transparent">
                                                        <!--<div class="input-group-addon visible-lg"><i class="icon-calendar2 position-left"></i></div>-->
                                                        <input type="text" class="form-control datepicker-deadline" :id="'datepicker-' + task.id " :data-id="task.id" :value="getDeadline(task.deadline) ">
                                                    </div>
                                                </div>
                                            </div>
                                           <!-- <b>{{ getDeadline(task.deadline) }}</b>-->
                                        </div>

                                        <div class="col-sm-1 col-md-1 col-lg-2 col-padd text-center" :class="task.author_id && (!authenticatedUser || authenticatedUser.id != task.author_id) ? 'hidden' : '' ">
                                            <li class="dropdown lsn">
                                                <a class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><router-link :to="{path: '/tasks/' + task.id + '/edit'}"> <i class="icon-pencil7"></i>Редактировать</router-link></li>
                                                    <li><a @click.prevent="deleteTask(task.id, task)"><i class="icon-cross2"></i> Удалить</a></li>
                                                </ul>
                                            </li>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Pagination -->
        <div class="text-center content-group-sm pt-20" v-show="pagination.total > tasks.length">
            <ul class="pagination">
                <li :class="pagination.current_page > 1 ? '' : 'disabled'">
                    <a v-if="pagination.current_page > 1" href="#" aria-label="Previous" @click.prevent="changePage(pagination.current_page - 1)">
                        <span aria-hidden="true"><i class="icon-arrow-small-left"></i></span>
                    </a>
                    <a v-else aria-label="Previous">
                        <span aria-hidden="true"><i class="icon-arrow-small-left"></i></span>
                    </a>
                </li>
                <li v-for="page in pagination.last_page"
                    :class="[ page === pagination.current_page ? 'active' : '']">
                    <a href="#" @click.prevent="changePage(page)">{{ page }}</a>
                </li>
                <li :class="pagination.current_page < pagination.last_page ? '' : 'disabled'">
                    <a v-if="pagination.current_page < pagination.last_page" href="#" aria-label="Next" @click.prevent="changePage(pagination.current_page + 1)">
                        <span aria-hidden="true"><i class="icon-arrow-small-right"></i></span>
                    </a>
                    <a v-else aria-label="Next">
                        <span aria-hidden="true"><i class="icon-arrow-small-right"></i></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /pagination -->


    </div>

</template>

<script>

    import moment from 'moment'
    import dragula from 'dragula'
    import Flatpickr from 'flatpickr';
    import datepicker from "../../assets/js/plugins/pickers/datepicker.js"

    export default {
        name: 'TasksView',
        props: ['projectModel'],
        data () {
            return {
                endpoints: {
                    base: API_BASE_URL,
                    tasks: API_URL + '/tasks',
                    tasks_update_refresh: API_URL + '/tasks/update-ranks',
                    projects: API_URL + '/projects',
                },

                tasks: [],
                pagination: {},
                params: {
                    params: {
                        filter:{},
                        sort: {
                            id: null,
                            title: null,
                            activity_id: null,
                            direction_id: null,
                            project_id: null,
                            status: null,
                            priority: null,
                            date_start: null,
                            deadline: null,
                            created_at: null,
                            order: null,
                        }
                    }
                },
                microtime: 0,
                projectId: 0,
                project: this.projectModel,
                page: 1,
                selectedPeriod: null,
                selectedStatus: null,
                selectedPriority: null,
                perPage: 10,
                url: '',
                viewType: 'list',
                emptyTasks: false,
                emptySubProjects: false,

                flatpickrDateStart: null,
                flatpickrDeadline: null,
                datePickerLoaded: false,
                datePicker: null,
                subProjects: [],
            }
        },

        methods: {
            setSort (key) {
                if (this.params.params.sort[key]=== 'asc') {
                    this.params.params.sort[key] = 'desc'
                } else if (this.params.params.sort[key] === 'desc') {
                    this.params.params.sort[key] = null;
                } else {
                    this.params.params.sort[key] = 'asc';
                }
                this.getTasks();

            },
            changeView (grid) {
                this.viewType = grid;
            },
            setPerPage (perPage) {
                this.perPage = perPage;
                this.params.params.page = '';
                this.params.params.perPage = perPage;
                this.getTasks();
            },
            changePage (page) {
                this.params.params.page = page;
                this.getTasks();
            },
            getTasks () {
                let time = new Date();
                this.microtime = time.getMilliseconds();
                this.blockElement('.tasks');
                let url;
                if (this.projectId === 0) {
                    url = this.endpoints.tasks;
                    this.getAllTasks(url);
                } else {
                    url = this.endpoints.projects + '/' + this.projectId /*+ '/tasks'*/;
                    this.getProjectTasks(url)
                }
                this.url = url;

                this.unBlockElement('.tasks', this.microtime);

            },

            /*getSubProjects: function () {
                if (this.projectId !== null) {
                    //this.$forceUpdate();
                    this.blockElement('#projects');
                    let time = new Date();
                    let microtime = time.getMilliseconds();
                    //this.params.params.perPage = this.perPage;
                    this.$http.get(this.endpoints.projects + '/' + this.projectId + '/sub-projects'/!*, this.params*!/)
                            .then(function (response) {
                                this.subProjects = response.body.data.data;
                                //this.pagination = response.body.data;
                                //this.emptyProjects = this.projects.length <= 0;
                                //delete this.pagination.data;
                                this.unBlockElement('#projects', microtime)
                            }, function (error) {
                                console.log(error);
                                this.unBlockElement('#projects', microtime)
                            });
                }
            },*/

            changeStageStatus: function(stage, event) {

            },

            changeStagePriority: function(stage, priority) {

            },

            refreshTasks () {
                this.getTasks();
            },
            getAllTasks (url) {
                this.tasks = [];
                this.$http.get(url, this.params)
                    .then(function(response){
                        if(response.body.data) {
                            this.tasks = response.body.data.data;
                            this.pagination = response.body.data;
                            //delete this.pagination.data;
                            this.emptyTasks = this.tasks.length <= 0;
                        }

                    }, function(error) {
                        console.log(error);
                    })
            },
            getProjectTasks (url) {
                this.tasks = [];
                this.$http.get(url, this.params)
                    .then(function (response) {
                        console.log('ProjectTasks', response);
                        if (response.body.data) {
                            this.tasks = response.body.data[0].tasks;
                            this.pagination = response.body.data;
                            this.subProjects = response.body.data[0].children;
                            //delete this.pagination.data;
                            this.emptyTasks = this.tasks.length <= 0;
                        }
                    }, function (error) {
                        console.log(error);
                    })
            },
            getChunk () {
                let chunk = [];
                let events = this.tasks;
                let i;
                let chunkSize = 2;
                if(this.tasks){
                    let length = this.tasks.length;
                    for (i = 0; i < length; i += chunkSize) {
                        chunk.push(this.tasks.slice(i, i + chunkSize));
                    }

                    return chunk;
                }
            },
            getDate (date) {
                //return moment(date).format('Do MMMM YYYY, hh:mm');
                return moment(date).format('DD.MM.YY');
            },
            getDeadline (date) {
                //return moment(date, 'YYYY-MM-DD').fromNow();
                return moment(date).format('YYYY-MM-DD');
            },
            getTitle (title){
                let newTitle = title.slice(0, 20);
                if(title.length >= 20) {
                    newTitle += '...';
                }
                return newTitle;
            },
            changePriority (task, priority) {
                task.priority = priority;
                this.updateTask(task);
            },
            changeStatus (task, status) {
                task.status = status;
                this.updateTask(task, 'changeStatus');
            },
            filterTasksByDate (param) {
                if (this.params.params.page) delete this.params.params.page;
                let today =new Date();
                let period = '';
                switch(param) {
                    case 'all':
                        period = 'all';
                        break;
                    case 'today':
                        period = 'today';
                        break;
                    case 'week':
                        period = 'week';
                        break;
                    case 'two_weeks':
                        period = 'two_weeks';
                        break;
                    case 'month':
                        period = 'month';
                        break;
                    case 'year':
                        period = 'year';
                        break;
                }
                this.selectedPeriod = period;
                this.params.params.filter.period = period;

                this.getTasks();
            },
            filterTasksByStatus (params) {
                if (this.params.params.page) delete this.params.params.page;
                let status = '';
                switch(params){
                    case 'all':
                        status = 'all';
                        break;
                    case 'To Do':
                        status = 'To Do';
                        break;
                    case 'In progress':
                        status = 'In progress';
                        break;
                    case 'Done':
                        status = 'Done';
                        break;
                    case 'Closed':
                        status = 'Closed';
                        break;
                }

                this.selectedStatus = status;
                this.params.params.filter.status = status;

                this.getTasks();
            },
            filterTasksByPriority (params) {
                if (this.params.params.page) delete this.params.params.page;
                let priority = '';
                switch(params){
                    case 'all':
                        priority = null;
                        break;
                    case 3:
                        priority = 3;
                        break;
                    case 2:
                        priority = 2;
                        break;
                    case 1:
                        priority = 1;
                        break;
                }
                this.selectedPriority = priority;
                this.params.params.filter.priority = priority;

                this.getTasks();
            },
            deleteTask (id, task) {
                if (!this.authenticatedUser || this.authenticatedUser.id !== task.author_id) {
                    return this.errorNotify('Вы не являетесь автором данной задачи, ее нельзя удалять');
                }
                if (confirm('Действительно хотите удалить задачу?')) {
                    this.$http.delete(this.endpoints.tasks + '/' + id)
                        .then(function (response) {
                            this.successNotify(response.body.data, 'Успешно');
                                this.refreshTasks();
                            },
                            function (error) {
                                console.log(error);
                                this.errorNotify(error.body.message, 'Произошла ошибка.');
                            });
                } else {
                    return false;
                }

            },
            updateTask (task, type) {
                if (type === undefined && (!this.authenticatedUser || this.authenticatedUser.id !== task.author_id)) {
                    this.refreshTasks();
                    return this.errorNotify('Вы не являетесь автором данной задачи, вам ее нельзя удалять или обновлять');
                }
                this.$http.put(this.endpoints.tasks + '/' + task.id, task)
                    .then(function (response) {
//                        this.project = response.body.data[0];
                        this.successNotify(response.body.message, 'Успешно');
                    }, function (errors) {
                        let errorText = '<ul>';
                        console.log(errors);
                        for (let err in errors.body.data) {
                            for (let i = 0; i <= errors.body.data[err].length; i++) {
                                if (errors.body.data[err][i] !== undefined) {
                                    errorText += '<li>' + errors.body.data[err][i] + '</li>';
                                }
                            }
                        }
                        errorText += '<ul>';
                        this.errorNotify(errorText, 'Произошла ошибка.');

                    })
            },
            changeDeadline (id, deadline) {
                let task = this.tasks.filter(function (item) {
                    if(item.id === id) {
                        return item;
                    }
                });
                task[0].deadline = deadline;
                this.updateTask(task[0]);
            },
            changeDateStart (id, date_start) {
                let task = this.tasks.filter(function (item) {
                    if(item.id === id) {
                        return item;
                    }
                });
                task[0].date_start = date_start;
                this.updateTask(task[0]);
            },
            updateRanks (current, target) {
                if(current && target){
                    let data = {};
                    data.current = current;
                    data.target = target;
                    this.$http.post(this.endpoints.tasks_update_refresh, data).then((response) => {
                        console.log(response);
                        this.getTasks();
                    }, (error)  => {
                        console.log(error);
                    })
                }
            },
        },

        mounted () {
            let vm = this;

            $(document).ready(function(){

                // Draggable panels
                dragula([document.getElementById('panel-target')])
                    .on('drop', function(el, target, source, sibling){
                        /*let currentRank = $(el).data('rank');
                         let targetRank = $(sibling).data('rank');
                         */
                        let currentElement = {};
                        let targetElement = {};

                        currentElement.id = $(el).data('id');
                        currentElement.rank = $(el).data('rank');
                        currentElement.order = $(el).data('order');

                        targetElement.id = $(sibling).data('id');
                        targetElement.rank = $(sibling).data('rank');
                        targetElement.order = $(sibling).data('order');

                        vm.updateRanks(currentElement, targetElement);

                        console.log('currentID', $(el).data('id'));
                        console.log('currentRank', $(el).data('rank'));

                        console.log('targetID', $(sibling).data('id'));
                        console.log('targetRank', $(sibling).data('rank'));
                    });

                /*$('body').on('click', 'a.stage', function(e){
                    console.log('collapse');
                    e.preventDefault();
                    var col = $('.collapse ');
                    //col.slideToggle(5000, 'linear');
                    col.slideToggle(200, 'linear');
                });*/
            });
        },

        created () {
            let projectId = parseInt(this.$route.params.id);

            if (! isNaN(projectId)) {
                this.projectId = projectId;
            }

            this.getTasks();
            //this.getSubProjects();

        },
        updated () {
            $('[data-title]').tooltip();
            let that = this;
            if (!that.datePickerLoaded) {
                $('.datepicker-deadline').datepicker({
                    weekStart: 1,
                    showOtherMonths: true,
                    todayHighlight: true,
                    startDate: moment(new Date()).format('YYYY-MM-DD'),
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    language: 'ru'
                }).on('changeDate', function (e) {
                    that.changeDeadline($(e.target).data('id'), moment(e.dates[0]).format('YYYY-MM-DD'));
                });
                $('.datepicker-start').datepicker({
                    weekStart: 1,
                    showOtherMonths: true,
                    todayHighlight: true,
                    startDate: moment(new Date()).format('YYYY-MM-DD'),
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    language: 'ru'
                }).on('changeDate', function (e) {
                    that.changeDateStart($(e.target).data('id'), moment(e.dates[0]).format('YYYY-MM-DD'));
                });
            }
            that.datePickerLoaded = true;

            dragula([document.getElementById('panel-target')])
                    .on('drop', function(el, target, source, sibling){
                        /*let currentRank = $(el).data('rank');
                         let targetRank = $(sibling).data('rank');
                         */
                        let currentElement = {};
                        let targetElement = {};

                        currentElement.id = $(el).data('id');
                        currentElement.rank = $(el).data('rank');
                        currentElement.order = $(el).data('order');

                        targetElement.id = $(sibling).data('id');
                        targetElement.rank = $(sibling).data('rank');
                        targetElement.order = $(sibling).data('order');

                        vm.updateRanks(currentElement, targetElement);

                        console.log('currentID', $(el).data('id'));
                        console.log('currentRank', $(el).data('rank'));

                        console.log('targetID', $(sibling).data('id'));
                        console.log('targetRank', $(sibling).data('rank'));
                    });
        },
        destroyed () {
            $('.datepicker').datepicker('destroy');
        }

    }
</script>

<style>
    .media.text-center {
        padding-top: 20px;
    }
    .heading-elements .active {
        background-color: #dcdcdc;
        border-color: #ddd;
    }
    .heading-elements .active:hover {
        background-color: #dcdcdc;
        border-color: #ddd;
    }
    .lsn {
        list-style: none;
    }

    .li-table {
        margin-top:0px;
        /*border-bottom:1px solid lightgrey;*/
        padding:15px;
        text-align: left;
        list-style-type: none;
        cursor: grab;
    }

    .col-padd {
        padding-left: 15px;
       /* padding-right: 10px;*/
    }

    .info1 {
        background-color: #E0F7FA;
    }

    li.info1:hover {
        background-color: #caf1f6;
    }

    .success1 {
        background-color: #E8F5E9;
    }

    li.success1:hover {
        background-color: #d6edd8;
    }

    .warning1 {
        background-color: rgba(255, 193, 7, 0.29);
    }

    li.warning1:hover {
        background-color: rgba(255, 193, 7, 0.39);
    }



    .danger1 {
        background-color: #FBE9E7;
    }

    li.danger1:hover {
        background-color: #f7d5d1;
    }

    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }

    .gu-mirror {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }

    .handle {
        cursor: move;
    }
    #panel-target .media {
        padding: 5px;
        border: 1px solid #eaeaea;
    }
    /*
    .container > div {
        cursor: move;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }
*/
    /* .gu-mirror{
         display: table-row;
         vertical-align: inherit;
         border-color: inherit;
         position: fixed !important;
         margin: 0 !important;
         z-index: 9999 !important;
     }*/
    .user_avatar {
        max-width: 40px;
        max-height: 40px;
        margin-top: -2.5px;
        border-radius: 50%;
    }
</style>