<template>
    <div class="col-md-12">
        <div class="breadcrumb-line breadcrumb-line-component content-group-lg">
            <ul class="breadcrumb">
                <li><router-link :to="{path:'/'}"><i class="icon-home2 position-left"></i> Главная</router-link></li>
                <li class="active">Сферы деятельности</li>
            </ul>
        </div>

        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">Все сферы деятельности<a class="heading-elements-toggle"><i class="icon-more"></i></a></h4>
            </div>

            <div class="panel-body" id="activities">
                <div class="row">
                    <form class="form-horizontal" @submit.prevent>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="col-sm-4">
                                    <div class="form-group" :class="activityErrors !== null && activityErrors.name ? 'has-error' : ''">
                                        <!--<div class="col-sm-12">-->
                                        <label class="control-label">Название</label>
                                        <input type="text" class="form-control" v-model="activity">
                                        <div class="help-block" v-show="activityErrors !== null && activityErrors.name">{{ nameError }}</div>
                                        <!--</div>-->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" :class="activityErrors !== null && activityErrors.calendar_id ? 'has-error' : ''">
                                        <div class="col-sm-12">
                                            <label class="control-label">Календарь</label>
                                            <!--<div class="col-md-12 col-lg-12">-->
                                            <select class="bootstrap-select" data-width="100%" tabindex="-98"
                                                    id="calendar" v-model="selectedCalendar">
                                                <option :value="0">Выбрать календарь</option>
                                                <option v-for="calendar in calendars" :value="calendar.id">
                                                    {{ calendar.name }}
                                                </option>

                                            </select>
                                            <div class="help-block" v-show="activityErrors !== null && activityErrors.calendar_id">{{ calendarError }}</div>

                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label  class="control-label">Приоритет</label>
                                            <!--<div class="col-md-12 col-lg-12">-->
                                            <select class="bootstrap-select" data-width="100%" tabindex="-98"
                                                    id="priority" v-model="selectedPriority">
                                                <option :value="3">Высокий</option>
                                                <option :value="2">Средний</option>
                                                <option :value="1">Низкий</option>
                                            </select>
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-md-offset-4">
                                <button type="button" class="btn btn-success" v-on:click.prevent="addActivity"><i class="icon-plus2 position-left"></i>Добавить сферу деятельности</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--<div class="panel panel-flat">-->

                            <div class="table-responsive" style="padding-bottom: 115px">
                                <table class="table table" id="activity-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Сфера</th>
                                            <th>Календарь</th>
                                            <th>Задачи</th>
                                            <th>Приоритет</th>
                                            <th>Действия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="activity in activities">
                                            <td>
                                                {{activity.id}}
                                            </td>

                                            <td id="activity">
                                                <a :data-pk="activity.id" class="act" data-clear="false" @click.stop="editActivity($event)">{{ activity.name }}</a>
                                            </td>

                                            <td>
                                                <select id="calendarId" v-model="activity.calendar_id" @change.prevent="changeCalendar(activity)"
                                                        class="form-control" name="calendar_id">
                                                    <option value="0"> - Выберите календарь - </option>
                                                    <option :value="calendar.id" v-for="calendar in calendars">
                                                        {{ calendar.name }}
                                                    </option>
                                                </select>
                                            </td>

                                            <td>
                                                {{activity.tasks_count}}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <a v-if="activity.priority == 3" class="label label-danger dropdown-toggle" data-toggle="dropdown"> Высокий <span class="caret"></span></a>
                                                    <a v-if="activity.priority == 2" class="label label-info dropdown-toggle" data-toggle="dropdown"> Средний <span class="caret"></span></a>
                                                    <a v-if="activity.priority == 1" class="label label-success dropdown-toggle" data-toggle="dropdown"> Низкий <span class="caret"></span></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li @click.prevent="changePriority(activity, 3)"><a><span class="status-mark position-left bg-danger"></span> Высокий </a></li>
                                                        <li @click.prevent="changePriority(activity, 2)"><a><span class="status-mark position-left bg-info"></span> Средний </a></li>
                                                        <li @click.prevent="changePriority(activity, 1)"><a><span class="status-mark position-left bg-success"></span> Низкий </a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger icon-cross" :data-id="activity.id" @click="deleteActivity(activity.id)"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import bootstrap_select from '../../src/assets/js/plugins/forms/selects/bootstrap_select.min.js'
    import editable from "../../src/assets/js/plugins/bootstrap3-editable/bootstrap-editable.min.js"
    export default {
        name: 'Activity',
        data () {
            return {
                endpoints: {
                    activities: API_URL + '/activities',
                    calendars: API_URL + '/calendars'
                },
                activity: null,
                activities: [],
                calendars: [],
                activityErrors: null,
                selectedPriority: 2,
                selectedCalendar: 0,
                sphereCalendar: 0,
                microtime: 0
            }
        },
        computed: {
            nameError: function () {
                if (this.activityErrors !== null) {
                    if (this.activityErrors.name) {
                        return this.activityErrors.name[0] ? this.activityErrors.name[0] : this.activityErrors.name;
                    } else return '';
                }
            },
            calendarError: function () {
                if (this.activityErrors !== null) {
                    if (this.activityErrors.calendar_id) {
                        return this.activityErrors.calendar_id[0] ? this.activityErrors.calendar_id[0] : this.activityErrors.calendar_id;
                    } else return '';
                }
            }
        },
        methods: {
            getActivities: function() {
                let time = new Date();
                this.microtime = time.getMilliseconds();
                this.blockElement('#activities');
                this.$http.get(this.endpoints.activities)
                .then(function(response){
                    this.activities = response.body.data.activities;
                    //this.$store.commit('activities', this.activities);
                }, function(error) {
                    console.log(error);
                });
                this.unBlockElement('#activities', this.microtime);
            },

            storeActivities: function(){
                let time = new Date();
                this.microtime = time.getMilliseconds();
                this.blockElement('#activities');
                this.$http.get(this.endpoints.activities)
                    .then(function(response){
                        this.$store.commit('activities', response.body.data.activities);
                    }, function(error) {
                        console.log(error);
                    });
                this.unBlockElement('#activities', this.microtime);
            },

            getCalendars: function() {
                this.$http.get(this.endpoints.calendars)
                        .then(function(response){
                            console.log('calendars', response.body);
                            this.calendars = response.body.data;
                        }, function(error){
                            console.log(error);
                        })
            },

            addActivity: function() {
                //let token = localStorage.getItem('token');
                let data = {};
                console.log($('#calendar').val());
                data.name = this.activity;
                data.calendar_id = this.selectedCalendar !== 0 ? this.selectedCalendar : $('#calendar').val();
                data.priority = this.selectedPriority;
                if(data.name != ''){
                    this.activityErrors = null;

                    this.$http.post(this.endpoints.activities, data).then(function(response){
                        this.activity = '';
                        this.selectedCalendar = 0;
                        this.getActivities();
                       /* this.activities.push({
                            id: response.body.data.id,
                            name: response.body.data.name
                        });*/
                       // console.log(this.activities);
                        new PNotify({
                            title: 'Успешно',
                            text: response.body.message,
                            addclass: 'bg-success'
                        });
                    }, function (error) {
                        this.activityErrors = error.body.data;
                        new PNotify({
                            title: 'Произошла ошибка.',
                            text: 'Возможно, вы заполнили не все поля.',
                            addclass: 'bg-danger'
                        });
                        console.log(error);
                    });

                } else {
                    this.activityErrors.name = 'Поле "Сфера деятельности" не может быть пустым';
                }
            },

            editActivity: function(event) {
               // console.log($(event.target).data('pk'));
                let token = localStorage.getItem('token');
                let vm = this;

                let editElement = $(event.target);

                if(!editElement.hasClass('clicked')){
                    console.log('clicked');
                    editElement.editable({
                        type: 'text',
                        url: vm.endpoints.activities + '/' + editElement.data('pk'),
                        title: 'Название сферы',
                        /*selector: 'a',*/
                        params: function (params) {
                            var data = {};
                            data['id'] = params.pk;
                            data['name'] = params.value;
                            return data;
                        }
                    });
                    editElement.trigger('click');
                    editElement.addClass('clicked');
                    this.getActivities();

                } else {

                    editElement.editable({
                        type: 'text',
                        url: vm.endpoints.activities + '/' + editElement.data('pk'),
                        title: 'Название сферы',
                        /*selector: 'a',*/
                        params: function (params) {
                            var data = {};
                            data['id'] = params.pk;
                            data['name'] = params.value;
                            return data;

                        }
                    });
                    this.getActivities();
                }



                    //    });
            },
            changeCalendar (activity) {
                console.log(activity.calendar_id);
                if (activity.calendar_id != 0) {
                    this.updateActivity(activity);
                }
            },

            changePriority: function (activity, priority) {
                console.log(activity);
                activity.priority = priority;
                this.updateActivity(activity);
            },

            updateActivity: function (activity) {
                this.blockElement('#activity-table');
                let time = new Date();
                let microtime = time.getMilliseconds();

                this.$http.put(this.endpoints.activities + '/' + activity.id, activity)
                        .then(function (response) {
                            new PNotify({
                                title: 'Успешно',
                                text: response.body.message,
                                addclass: 'bg-success'
                            });
                        }, function (error) {
                            new PNotify({
                                title: 'Произошла ошибка.',
                                text: error.body.data ? error.body.data : error.body.message,
                                addclass: 'bg-danger'
                            });
                            console.log(error);
                        });

                this.unBlockElement('#activity-table', microtime)

            },

            deleteActivity: function(id) {
                let vm = this;
                swal({
                    title: "Вы уверены?",
                    text: "При удалении сферы деятельности также будут удалены её навправления, проекты и задачи!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Да, удалить!",
                    cancelButtonText: "Нет, отмена!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function(isConfirm){
                    if (isConfirm) {
                        if( id !== '' || id !== undefined){

                            vm.$http.delete(vm.endpoints.activities + '/' + id)
                                .then(function(response){
                                    swal("Удалено!", "Сфера деятельности и все относящиеся к ней направления, проекты и задачи были удалены", "success");
                                    vm.getActivities();
                                },
                                function(error){
                                    console.log(error);
                                })
                        } else {
                            console.log('id undefined');
                        }
                    } else {
                        swal("Отменено", "Сфера деятельности не будет удалена:)", "error");
                    }
                });

            },
        },

        mounted () {
            let vm = this;

            $.fn.editable.defaults.ajaxOptions = {
                type: "put",
                headers: {
                    Authorization: 'Bearer '+ localStorage.getItem('token')
                }
            };



            $(document).ready(function() {

                $('.bootstrap-select').selectpicker();
                $('#priority').on('change', function () {
                    var selected = $(this).find("option:selected").attr("value");
                    console.log('prior', selected);
                    $(this).selectpicker(selected).selectpicker('refresh');
                    vm.selectedPriority = selected;
                });
                $('#calendar').on('change', function () {
                    var selected = $(this).find("option:selected").attr("value");
                    console.log('cal', selected);
                    $(this).selectpicker(selected).selectpicker('refresh');
                    vm.selectedCalendar = selected;
                });

            });


           // this.activities = this.$store.commit('activities');
            this.getActivities();
            this.getCalendars();
            this.storeActivities();
        },

        updated () {
            $('.bootstrap-select').selectpicker('refresh');
        }
    }

</script>

<style>

</style>