<template>
    <div class="panel" id="all_notifications">
        <div class="dropdown-content-heading">
            Уведомления
            <ul class="icons-list">
                <li><a href="#" @click.prevent="getNotifications()"><i class="icon-sync"></i></a></li>
            </ul>
        </div>

        <ul class="media-list dropdown-content-body width-350 notifications-all">
            <img src="../assets/images/pnotify/default.png" class="hidden" id="img-notify" alt="">
            <li class="media" v-for="notify in unreadNotifications" @mouseenter="markAsRead(true, notify.id)">
                <user-invited-to-project :notify="notify" :read="notify.read_at" v-if="notify.type == eventTypes.userInvitedToProject"></user-invited-to-project>
                <task-assigned-to-user :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.taskAssignedToUser"></task-assigned-to-user>
                <new-comment-in-project :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.newCommentInProject"></new-comment-in-project>
                <new-comment-in-task :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.newCommentInTask"></new-comment-in-task>
                <task-created :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.taskCreated"></task-created>
                <user-started-task :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.userStartedTask"></user-started-task>
                <user-finished-task :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.userFinishedTask"></user-finished-task>
                <user-closed-task :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.userClosedTask"></user-closed-task>
                <user-exit-from-project :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.userExitFromProject"></user-exit-from-project>
            </li>
            <li class="media" v-for="notify in readNotifications">
                <user-invited-to-project :notify="notify" :read="notify.read_at" v-if="notify.type == eventTypes.userInvitedToProject"></user-invited-to-project>
                <task-assigned-to-user :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.taskAssignedToUser"></task-assigned-to-user>
                <new-comment-in-project :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.newCommentInProject"></new-comment-in-project>
                <new-comment-in-task :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.newCommentInTask"></new-comment-in-task>
                <task-created :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.taskCreated"></task-created>
                <user-started-task :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.userStartedTask"></user-started-task>
                <user-finished-task :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.userFinishedTask"></user-finished-task>
                <user-closed-task :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.userClosedTask"></user-closed-task>
                <user-exit-from-project :notify="notify" :read="notify.read_at" v-else-if="notify.type == eventTypes.userExitFromProject"></user-exit-from-project>
            </li>
        </ul>
    </div>
</template>


<script>
    import moment from 'moment';
    import UserInvitedToProject from './partials/notfication-types/UserInvitedToProject.vue';
    import TaskAssignedToUser from './partials/notfication-types/TaskAssignedToUser.vue';
    import NewCommentInProject from './partials/notfication-types/NewCommentInProject.vue';
    import NewCommentInTask from './partials/notfication-types/NewCommentInTask.vue';
    import TaskCreated from './partials/notfication-types/TaskCreated.vue';
    import UserStartedTask from './partials/notfication-types/UserStartedTask.vue';
    import UserFinishedTask from './partials/notfication-types/UserFinishedTask.vue';
    import UserClosedTask from './partials/notfication-types/UserClosedTask.vue';
    import UserExitFromProject from './partials/notfication-types/UserExitFromProject.vue';

    export default {
        name: 'all-notifications',
        components: { UserInvitedToProject, TaskAssignedToUser, NewCommentInProject, NewCommentInTask, TaskCreated, UserStartedTask, UserFinishedTask, UserClosedTask, UserExitFromProject },
        props: ['limit'],
        data: () => ({
            endpoints: {
                notifications: API_URL + '/notifications'
            },
            microtime: 0,
            readNotifications: null,
            unreadNotifications: null,
            unreadNotificationsCount: null,
            eventTypes: {
                userInvitedToProject: 'App\\Notifications\\InviteUserToProject',
                taskAssignedToUser: 'App\\Notifications\\TaskAssignedToUser',
                newCommentInProject: 'App\\Notifications\\NewCommentInProject',
                newCommentInTask: 'App\\Notifications\\NewCommentInTask',
                taskCreated: 'App\\Notifications\\Tasks\\TaskCreated',
                userStartedTask: 'App\\Notifications\\Tasks\\UserStartedTask',
                userFinishedTask: 'App\\Notifications\\Tasks\\UserFinishedTask',
                userClosedTask: 'App\\Notifications\\Tasks\\UserClosedTask',
                userExitFromProject: 'App\\Notifications\\UserExitFromProject',
            }
        }),
        watch: {
            $route: function () {
                this.getNotifications();
                if ($('#notify-dropdown').hasClass('open')) {
                    $('#notify-dropdown').removeClass('open');
                }
            }
        },
        computed : {
            notificationsCount: function () {
                return this.unreadNotificationsCount ? this.unreadNotificationsCount : '';
            }
        },
        methods: {
            getDate (date) {
                let response = moment(date).fromNow();
                if (response === 'Invalid date') response = moment().fromNow();

                return response;
            },

            markAsRead(isNew, id) {
                if (isNew === true && this.unreadNotificationsCount > 0) {
                    if (id !== undefined) {
                        this.$http.put(this.endpoints.notifications, {params: {id: id}}).then((response) => {
                            this.unreadNotificationsCount -= 1;
                            $('.notify-'+id).html('');
                            console.log(response.body);
                        }, (errors) => {
                            console.log(errors);
                        });
                    }
                    console.log('viewed');
                }
            },

            getNotifications () {
                console.log(this.limit);
                let time = new Date();
                let vm = this;
                this.microtime = time.getMilliseconds();
                this.blockElement('.notifications-all');
                let params = { params: {}};
                if (this.limit) {
                    params.params.limit = this.limit;
                } else {
                    params.params.all = true;
                }
                this.$http.get(this.endpoints.notifications, params).then((response) => {
                    this.unreadNotifications = response.body.data.unread;
                    if (this.unreadNotifications.length > 0) {
                        PNotify.desktop.permission();
                        (new PNotify({
                                title: 'Task Manager | У вас есть новые уведомления',
                                text: 'Количество уведомлений: ' + vm.unreadNotifications.length,
                                desktop: {
                                    desktop: true,
                                    addclass: 'bg-green',
                                    icon: $('#img-notify').attr('src')
                                }
                            })
                        ).get().click(function(e) {
                            e.stopPropagation();
                            if (!$('#notify-dropdown').hasClass('open')) {
                                $('#notify-dropdown').addClass('open');
                            }
                            if ($('.ui-pnotify-closer, .ui-pnotify-sticker, .ui-pnotify-closer *, .ui-pnotify-sticker *').is(e.target)) {
                                return;
                            }
                        });
                    }
                    this.readNotifications = response.body.data.read;
                    this.unreadNotificationsCount = this.unreadNotifications !== null ? (this.unreadNotifications.length > 0 ? this.unreadNotifications.length : null) : null;
                    this.unBlockElement('.notifications-all', this.microtime);
                }, (errors) => {
                    console.log(errors);
                    this.unBlockElement('.notifications-all', this.microtime);
                });
            },
        },
        created () {
            this.getNotifications();
        }
    }
</script>

<style>
    #all_notifications{
        height: 280px;
    }
</style>