<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="comments">
            <!-- Comments -->
            <div class="panel panel-flat text-left">
                <div class="panel-heading">
                    <h5 class="panel-title text-semiold"><i class="icon-bubbles4 position-left"></i> Комментарии
                        <span v-if="comments_count !== 0" class="badge badge-default"> <b>{{ comments_count }}</b> </span> </h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a @click.prevent="refreshComments" data-action="reload"></a></li>
                            <!--<li><a data-action="close"></a></li>-->
                        </ul>
                    </div>
                </div>

                <div class="panel-body">

                    <form @submit.prevent="submitComment(0)" enctype="multipart/form-data">
                        <h6 class="text-semibold"><i class="icon-pencil7 position-left"></i> Ваш комментарий</h6>
                        <div class="content-group" :class="[ errs !== null && errs.text ? 'has-error' : '' ]">
                            <input type="text" class="form-control" v-model="comment.text">
                        </div>
                        <!--<div class="content-group" :class="[ errs != null && errs.files ? 'has-error' : '' ]">-->
                            <!--<input type="file" name="files[]" id="files" multiple v-on:change="changeFiles($event)">-->
                        <!--</div>-->

                        <div class="text-right">
                            <button type="submit" class="btn bg-blue"><i class="icon-plus22"></i> Отправить</button>
                        </div>
                    </form>
                    <hr>
                    <ul class="media-list content-group-lg stack-media-on-mobile">
                        <li class="media" v-for="comment in comments">
                            <div class="media-left">
                                <a href="#"><img :src="comment.user.avatar !== null ?  endpoints.base + '/' + comment.user.avatar : '../assets/images/placeholder.jpg'" class="img-circle img-sm" alt=""></a>
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <a href="#" class="text-semibold">{{ comment.user.name }}</a>
                                    <span class="media-annotation dotted">{{ comment.created_at }}</span>
                                    <span v-if="comment.created !== comment.updated" class="media-annotation dotted">Обновлен: {{ comment.updated }}</span>
                                </div>

                                <p>{{ comment.text }}</p>

                                <ul class="list-inline list-inline-separate text-size-small">
                                    <!--<li>{{ comment.id }} <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>-->
                                    <li><a @click="toggleReply(comment.id)" >Ответить</a></li>
                                    <!--<li v-if="userId !== 0 && userId === comment.user.id"><a @click="showEditForm(comment.id)">Редактировать</a></li>-->
                                    <li v-if="userId !== 0 && userId === comment.user.id"><a @click="deleteComment(comment.id)">Удалить</a></li>
                                </ul>
                                <div class="row" v-show="replyTo && replyTo === comment.id">
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-danger" type="button" @click="replyTo = false"><i class="icon-close2" title="закрыть"></i></button>
                                            </span>
                                            <input type="text" class="form-control" v-model="replyComment">
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <button class="btn btn-success" @click="submitComment(comment.id)">Отправить</button>
                                    </div>
                                </div>
                                <div class="media" v-for="childComment in comment.children">
                                    <div class="media-left">
                                        <a href="#"><img :src="childComment.user.avatar !== null ?  endpoints.base + '/' + childComment.user.avatar : '../assets/images/placeholder.jpg'" class="img-circle img-sm" alt=""></a>
                                    </div>

                                    <div class="media-body">
                                        <div class="media-heading">
                                            <a href="#" class="text-semibold">{{ childComment.user.name }}</a>
                                            <span class="media-annotation dotted">{{ childComment.created_at }}</span>
                                            <span v-if="childComment.created_at !== childComment.updated_at" class="media-annotation dotted">Обновлен: {{ childComment.updated_at }}</span>
                                        </div>

                                        <p>{{ childComment.text }}</p>

                                        <ul class="list-inline list-inline-separate text-size-small">
                                            <!--<li>{{ childComment.id }} <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>-->
                                            <li v-if="userId !== 0 && userId === childComment.user.id"><a @click="showEditForm(childComment.id)">Редактировать</a></li>
                                            <li v-if="userId !== 0 && userId === childComment.user.id"><a @click="deleteComment(childComment.id)">Удалить</a></li>
                                        </ul>
                                        <div class="row" v-show="replyTo && replyTo === childComment.id">
                                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-danger" type="button" @click="replyTo = false"><i class="icon-close2" title="закрыть"></i></button>
                                            </span>
                                                    <input type="text" class="form-control" v-model="replyComment">
                                                </div>
                                            </div>
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <button class="btn btn-success" @click="submitComment(childComment.id)">Отправить</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </li>
                    </ul>
                </div>
            </div>
            <!-- /comments -->
        </div>
    </div>
</template>

<script>

    export default {
        name: 'Comments',
        props: ['target', 'targetId', 'commentsCount'],
        data() {
            return {
                endpoints: {
                    base: API_BASE_URL,
                    main: API_URL,
                    comments: API_URL + '/comments',
                },
                targetType: this.target,
                targetModelId: this.targetId,
                comments: [],
                comments_count: this.commentsCount,
                errs: null,
                replyComment: '',

                comment: {
                    text: ''
                },
                microtime: 0,
                commentsLoaded: false,
                replyTo: false,
                userId: this.$store.state.user.id,
//                files: []
            };
        },
        methods: {
            toggleReply: function (id) {
                this.replyTo = id;
            },
            showEditForm: function (id) {
                this.comments_count++;
            },
//            changeFiles: function ($event) {
//                let files;
//                let input = $event.target;
//                if (input.files && input.files[0]) {
//                    let reader = new FileReader();
//                    reader.onload = function (e) {
//                        files = e.srcElement.result;
//                    };
//                    let file = reader.readAsDataURL(input.files[0]);
//                    this.files.push(input.files);
//                }
//            },

            submitComment: function (parentId) {
                if (parentId !== 0) {
                    this.comment.parent_id = parentId;
                    this.comment.text = this.replyComment;
                }

                console.log();
                let that = this;
                this.errs = null;
                this.comment.target = this.targetType;
                this.comment.targetId = this.targetId;
                this.comment.files = this.files;
                this.$http.post(this.endpoints.comments, this.comment)
                    .then(function (response) {
                        new PNotify({
                            title: 'Комментарий сохранен',
                            addclass: 'bg-success'
                        });
                        this.comments_count++;
                        that.comment.text = '';
                        that.refreshComments();
                        this.errs = null;
                        this.replyComment = '';
                    }, function (error) {
                        this.errs = error.body.data;
                        console.log(error);
                        new PNotify({
                            title: 'Произошла ошибка.',
                            text: error.body.message,
                            addclass: 'bg-danger'
                        });
                    });
            },

            replyToComment: function (id) {
                this.replyTo = id;
            },

            deleteComment: function (id) {
                this.$http.delete(this.endpoints.comments + '/' + id)
                    .then(function (response) {
                        new PNotify({
                            title: response.body.message,
                            addclass: 'bg-success'
                        });
                        this.refreshComments();
                    }, function (error) {
                        new PNotify({
                            title: 'Произошла ошибка.',
                            text: error.body.data ? error.body.data : error.body.message,
                            addclass: 'bg-danger'
                        });
                        console.log(error);
                    });
            },

            updateComment: function (id) {

            },

            getComments: function () {
                if (this.targetType === 'project') {
                    this.$http.get(this.endpoints.main + '/projects/' + this.targetModelId + '/comments')
                        .then(function (response) {
                            this.comments = response.body.data;
                        }, function (error) {
                            console.log(error);
                        });
                } else if (this.targetType === 'task') {
                    this.$http.get(this.endpoints.main + '/tasks/' + this.targetModelId + '/comments')
                        .then(function (response) {
                            this.comments = response.body.data;
                        }, function (error) {
                            console.log(error);
                        });
                } else {
                    return null;
                }
            },

            refreshComments: function () {
                this.errs = null;
                this.replyComment = null;
                this.replyTo = null;
                this.blockElement('#comments');
                let time = new Date();
                let microtime = time.getMilliseconds();

                this.getComments();

                this.unBlockElement('#comments', microtime)

            },
            fetchData: function() {
                this.comments_count = this.commentsCount;
            },
        },

        watch: {
            // в случае изменения маршрута запрашиваем данные вновь
            'commentsCount': 'fetchData'
        },

        created () {
            this.fetchData();
            this.getComments();
        },
    }
</script>