<template>
    <!--<svg width="960" height="880"></svg>-->
    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h4 class="panel-title">Сферы деятельности<a class="heading-elements-toggle"><i class="icon-more"></i></a></h4>
            </div>

            <div class="panel-body">
                <div class="echarts">
                    <IEcharts :option="activitiesBar" :loading="loading" @click="onClick"></IEcharts>
                </div>
            </div>
        </div>
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h4 class="panel-title">Направления<a class="heading-elements-toggle"><i class="icon-more"></i></a></h4>
            </div>

            <div class="panel-body">
                <div class="echarts">
                    <IEcharts :option="directionsBar" :loading="loading" @click="onClick"></IEcharts>
                </div>
            </div>
        </div>
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h4 class="panel-title">Проекты<a class="heading-elements-toggle"><i class="icon-more"></i></a></h4>
            </div>

            <div class="panel-body">
                <div class="echarts">
                    <IEcharts :option="projectsBar" :loading="loading" @click="onClick"></IEcharts>
                </div>
            </div>
        </div>
                <!--<div class="panel panel-flat">-->
                    <!--<div class="panel-heading">-->
                        <!--<h5 class="panel-title">Stacked line<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>-->
                    <!--</div>-->

                    <!--<div class="panel-body">-->
                        <!--<div class="chart-container">-->
                            <!--<div class="chart has-fixed-height" id="stacked_lines" _echarts_instance_="1488383013359" style="-webkit-tap-highlight-color: transparent; user-select: none; background-color: rgba(0, 0, 0, 0); cursor: default;"><div style="position: relative; overflow: hidden; width: 987px; height: 400px;"><div data-zr-dom-id="bg" class="zr-element" style="position: absolute; left: 0px; top: 0px; width: 987px; height: 400px; user-select: none;"></div><canvas width="987" height="400" data-zr-dom-id="0" class="zr-element" style="position: absolute; left: 0px; top: 0px; width: 987px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas><canvas width="987" height="400" data-zr-dom-id="1" class="zr-element" style="position: absolute; left: 0px; top: 0px; width: 987px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas><canvas width="987" height="400" data-zr-dom-id="_zrender_hover_" class="zr-element" style="position: absolute; left: 0px; top: 0px; width: 987px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas><div class="echarts-tooltip zr-element" style="position: absolute; display: none; border-style: solid; white-space: nowrap; transition: left 0.4s, top 0.4s; background-color: rgba(0, 0, 0, 0.8); border-width: 0px; border-color: rgb(51, 51, 51); border-radius: 4px; color: rgb(255, 255, 255); font-family: Roboto, sans-serif; padding: 8px 12px; left: 205.5px; top: 246px;">Tuesday<br>Chrome : 932<br>Firefox : 332<br>Safari : 232<br>Opera : 182<br>Internet Explorer : 132</div></div></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

    </div>
</template>

<script>
    var d3 = require('d3');

    import echarts from 'echarts'
    import IEcharts from 'vue-echarts-v3/src/full.vue';
    // var echarts = require("../assets/js/plugins/visualization/echarts");


    export default  {
        name: 'Diagrams',
        components: { IEcharts },
        data: () => ({
            activitiesNames: [],
            loading: false,
            activitiesBar: {
                legend: {
                    data:['邮件营销','联盟广告','视频广告','直接访问','搜索引擎']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['ASF','周二','周三','周四','周五','周六','周日']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name:'邮件营销',
                        type:'line',
                        stack: '总量',
                        data:[120, 132, 101, 134, 90, 230, 210]
                    },
                    {
                        name:'联盟广告',
                        type:'line',
                        stack: '总量',
                        data:[220, 182, 191, 234, 290, 330, 310]
                    },
                    {
                        name:'视频广告',
                        type:'line',
                        stack: '总量',
                        data:[150, 232, 201, 154, 190, 330, 410]
                    },
                    {
                        name:'直接访问',
                        type:'line',
                        stack: '总量',
                        data:[320, 332, 301, 334, 390, 330, 320]
                    },
                    {
                        name:'搜索引擎',
                        type:'line',
                        stack: '总量',
                        data:[820, 932, 901, 934, 1290, 1330, 1320]
                    }
                ],
                title : {
                    text: 'Сферы деятельности',
                    x:'left'
                },
                tooltip: {
                    trigger: 'axis'
                },
                calculable : true,
            },
            directionsBar: {
                legend: {
                    data:['SG','联盟广告','视频广告','直接访问','搜索引擎']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['ASF','周二','周三','周四','周五','周六','周日']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name:'SG',
                        type:'line',
                        stack: '总量',
                        data:[120, 132, 101, 134, 90, 230, 210]
                    },
                    {
                        name:'联盟广告',
                        type:'line',
                        stack: '总量',
                        data:[220, 182, 191, 234, 290, 330, 310]
                    },
                    {
                        name:'视频广告',
                        type:'line',
                        stack: '总量',
                        data:[150, 232, 201, 154, 190, 330, 410]
                    },
                    {
                        name:'直接访问',
                        type:'line',
                        stack: '总量',
                        data:[320, 332, 301, 334, 390, 330, 320]
                    },
                    {
                        name:'搜索引擎',
                        type:'line',
                        stack: '总量',
                        data:[820, 932, 901, 934, 1290, 1330, 1320]
                    }
                ],
                title : {
                    text: 'Направления',
                    x:'left'
                },
                tooltip: {
                    trigger: 'axis'
                },
                calculable : true,
            },
            projectsBar: {
                legend: {
                    data:['邮件营销','联盟广告','视频广告','直接访问','搜索引擎']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['ASF','周二','周三','周四','周五','周六','周日']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name:'邮件营销',
                        type:'line',
                        stack: '总量',
                        data:[120, 132, 101, 134, 90, 230, 210]
                    },
                    {
                        name:'联盟广告',
                        type:'line',
                        stack: '总量',
                        data:[220, 182, 191, 234, 290, 330, 310]
                    },
                    {
                        name:'视频广告',
                        type:'line',
                        stack: '总量',
                        data:[150, 232, 201, 154, 190, 330, 410]
                    },
                    {
                        name:'直接访问',
                        type:'line',
                        stack: '总量',
                        data:[320, 332, 301, 334, 390, 330, 320]
                    },
                    {
                        name:'搜索引擎',
                        type:'line',
                        stack: '总量',
                        data:[820, 932, 901, 934, 1290, 1330, 1320]
                    }
                ],
                title : {
                    text: 'Проекты',
                    x:'left'
                },
                tooltip: {
                    trigger: 'axis'
                },
                calculable : true,
            },
        }),

        methods: {
            getActivitiesNames: function() {
                this.$store.state.activities.filter(function(item){
                    this.activitiesNames.push(item.name);
                });
            },
            setDataToChartFromTask (data, bar) {
                let vm = this;
                bar.legend.data = [];
                bar.series[0].data = [];
                if (tasks !== undefined) {
                    for (let i=0; i <= tasks.length; i++) {
                        if (tasks[i] === undefined) continue;
                        vm.bar.legend.data.push('#' + tasks[i].id + ',' + tasks[i].title);
                        vm.bar.series[0].data.push({value:tasks[i].estimate, name:'#' + tasks[i].id + ',' + tasks[i].title });
                    }
                }
            },
            onClick(event, instance, echarts) {
                console.log(arguments);
            }
        },
        mounted () {
            let that = this;
        }
    }
</script>

<style>
    .echarts {
        width: 100%;
        height: 400px;
    }
</style>