<template>
<div>
    <div class="breadcrumb-line breadcrumb-line-component content-group-lg">
        <ul class="breadcrumb">
            <li><router-link :to="{path:'/'}"><i class="icon-home2 position-left"></i> Главная</router-link></li>
            <li class="active">Направления</li>
        </ul>
    </div>

    <div class="panel panel-white" id="directions">

        <div class="panel-heading">
            <h4>Все направления</h4>
        </div>
        <div class="panel-body">

        <div class="row">

                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="activitySelect" class="control-label ">Сфера деятельности</label>
                                            <div class="btn-group bootstrap-select dropdawn open" style="width: 100%;">
                                                <select class="bootstrap-select" data-width="100%" tabindex="-98" id="activitySelect" v-model="selectedActivity" data-live-search="true">
                                                    <option v-for="activity in activities" :value="activity.id">
                                                        {{ activity.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" :class="directionErrors !== null && directionErrors.name ? 'has-error' : ''">
                                        <div class="col-sm-12">
                                            <label class="control-label">Новое направление</label>
                                            <input type="text" class="form-control" v-model="direction.name">
                                            <div class="help-block" v-show="directionErrors !== null && directionErrors.name">
                                                <span>{{ nameError }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label  class="control-label">Приоритет</label>
                                                <div class="btn-group bootstrap-select dropdawn open" style="width: 100%;">
                                                    <select class="bootstrap-select" data-width="100%" id="direction_priority" tabindex="-98" v-model="selectedPriority">
                                                        <option :value="3">Высокий</option>
                                                        <option :value="2">Средний</option>
                                                        <option :value="1">Низкий</option>
                                                    </select>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-md-offset-4">
                                    <button type="button" class="btn btn-success" v-on:click.prevent="addDirection"><i class="icon-plus2 position-left"></i>Добавить направление</button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>

        </div>

        <div class="row">

                <!--<div class="col-md-4">
                    <ul class = "list-group panel">
                        <a class="list-group-item list-group-item-success" :data-id="activity.id" v-for="activity in activities"  @click.self="getDirections($event)">{{activity.name}}
                            <span class="badge badge-info">{{activity.directions_count}} </span>
                        </a>
                    </ul>
                </div>-->
                <div class="col-md-12">
                    <div class="table-responsive" style="padding-bottom: 115px">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Сфера</th>
                            <th>Направление</th>
                            <th>Задачи</th>
                            <th>Приоритет</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="direction in directions">
                            <td>{{direction.id}}</td>
                            <td>
                                <select class="form-control currentActivities" v-model="direction.activity_id" @change.prevent="changeActivity(direction)">
                                    <option value="0"> - Выберите сферу - </option>
                                    <option v-for="activity in activities" :value="activity.id"> {{ activity.name }} </option>
                                </select>
                            </td>
                            <td id="direction">
                                <a  :data-pk="direction.id" class="act" data-clear="false" @click.stop="editDirection($event)">{{ direction.name }}</a>
                            </td>

                            <td>
                                {{ direction.tasks_count }}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a v-if="direction.priority == 3" class="label label-danger dropdown-toggle" data-toggle="dropdown"> Высокий <span class="caret"></span></a>
                                    <a v-if="direction.priority == 2" class="label label-info dropdown-toggle" data-toggle="dropdown"> Средний <span class="caret"></span></a>
                                    <a v-if="direction.priority == 1" class="label label-success dropdown-toggle" data-toggle="dropdown"> Низкий <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li @click.prevent="changePriority(direction, 3)"><a><span class="status-mark position-left bg-danger"></span> Высокий </a></li>
                                        <li @click.prevent="changePriority(direction, 2)"><a><span class="status-mark position-left bg-info"></span> Средний </a></li>
                                        <li @click.prevent="changePriority(direction, 1)"><a><span class="status-mark position-left bg-success"></span> Низкий </a></li>
                                    </ul>
                                </div>
                            </td>

                            <td>
                                <a class="btn btn-danger icon-cross" :data-id="direction.id" @click="deleteDirection(direction.id)"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>

        </div>
    </div>
    </div>
</div>
</template>

<script>
    import bootstrapDualListbox from '../assets/js/plugins/forms/inputs/duallistbox.min';
    import bootstrap_select from '../../src/assets/js/plugins/forms/selects/bootstrap_select.min.js'
    import editable from "../../src/assets/js/plugins/bootstrap3-editable/bootstrap-editable.min.js"
    export default {
        name: 'Directions',
        data () {
            return {
                endpoints: {
                  activities: API_URL + '/activities',
                  directions: {
                      get: API_URL + '/activities',
                      add: API_URL + '/directions',
                      remove: API_URL + '/directions'
                  }
                },
                direction: {},
                activity: {},
                activities: [],
                directions: [],
                selectedActivity: 0,
                selectedPriority: 1,
                directionErrors: null,
            }
        },
        methods: {
            getActivities () {

                this.$http.get(this.endpoints.activities /*, {headers: {'Authorization': 'Bearer '+ token}}*/)
                        .then(function(response){
                            this.activities = response.body.data.activities;
                            if (this.activities.length > 0) {
                                this.selectedActivity = this.activities[0].id;
                                this.getDirectionsByActivity();
                            }
                        }, function(error) {
                            console.log(error);
                        });
            },

            getDirections (event) {
                let time = new Date();
                this.microtime = time.getMilliseconds();
                this.blockElement('#directions');
                //console.log($(event.target).data('id'));
                this.$http.get(this.endpoints.directions.get + '/' + this.selectedActivity + '/directions')
                    .then(function (response) {
                        this.$store.commit('directions', response.body.data);
                        this.directions = response.body.data;
                    }, function (error) {
                        console.log(error);
                    });
                this.unBlockElement('#directions', this.microtime);

            },

            getDirectionsByActivity () {
                let time = new Date();
                this.microtime = time.getMilliseconds();
                this.blockElement('#directions');//console.log(this.selectedActivity);
                if (this.selectedActivity == null) return false;
                let href = this.endpoints.activities + '/' + this.selectedActivity + '/directions';

                this.$http.get(href)
                        .then(function (response) {
                            this.directions = response.body.data;
                        }, function (error) {
                            console.log(error);
                        });
                this.unBlockElement('#directions', this.microtime);
            },

            refreshDirections (event) {
                this.getDirections(event);
            },
            changeActivity (direction) {
                console.log(direction.activity_id);
                if (direction.activity_id != 0) {
                    this.updateDirection(direction);
                }
            },

            addDirection (event) {
                //console.log(this.activity.id);
                let data = {};
                data.name = this.direction.name;
                data.activity_id = this.selectedActivity;
                data.priority = this.selectedPriority;
                this.directionErrors = null;

                this.$http.post(this.endpoints.directions.add, data).then(function(response){
                    this.refreshDirections();
                    this.selectedPriority = 1;
                    this.direction.name = '';
                    //console.log(response);
                   /* this.directions.push({
                        id: response.body.data.id,
                        name: response.body.data.name,
                        activity_id: data.activity_id
                    });*/

                    // console.log(this.activities);
                    new PNotify({
                        title: 'Успешно',
                        text: response.body.message,
                        addclass: 'bg-success'
                    });
                }, function (error) {
                    this.directionErrors = error.body.data;
                    new PNotify({
                        title: 'Произошла ошибка.',
                        text: 'Возможно, вы заполнили не все поля.',
                        addclass: 'bg-danger'
                    });
                    console.log(error);
                });
            },

            editDirection (event) {
                let vm = this;

                let editElement = $(event.target);
                let activity_id = this.directions[0].activity_id;

                if (!editElement.hasClass('clicked')) {

                    editElement.editable({
                        type: 'text',
                        url: vm.endpoints.directions.add + '/' + editElement.data('pk'),
                        title: 'Название направления',
                        /*selector: 'a',*/
                        params: function (params) {
                            var data = {};
                            data['id'] = params.pk;
                            data['name'] = params.value;
                            data['activity_id'] = activity_id;
                            return data;
                        }
                    });
                    editElement.trigger('click');
                    editElement.addClass('clicked');
                    this.refreshDirections();
                } else {

                    editElement.editable({
                        type: 'text',
                        url: vm.endpoints.directions.add + '/' + editElement.data('pk'),
                        title: 'Название направления',
                        /*selector: 'a',*/
                        params: function (params) {
                            var data = {};
                            data['id'] = params.pk;
                            data['name'] = params.value;
                            data['activity_id'] = activity_id;
                            return data;
                        }
                    });
                    this.refreshDirections();
                }
            },

            deleteDirection(id) {
                // console.log($(event.target));
                let vm = this;
                swal({
                    title: "Вы уверены?",
                    text: "При удалении направления также будут удалены его проекты и задачи!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Да, удалить!",
                    cancelButtonText: "Нет, отмена!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function(isConfirm) {
                    console.log('isConfirm', isConfirm);
                    if (isConfirm) {

                        console.log(id);
                        if (id !== '' || id !== undefined) {
                            vm.$http.delete(vm.endpoints.directions.remove + '/' + id)
                                .then(function (response) {
                                    swal("Удалено!", "Направление и все относящиеся к ней проекты и задачи были удалены", "success");
                                    vm.refreshDirections();
                                },
                                function (error) {
                                    console.log(error);
                                })
                        } else {
                            console.log('id undefined');
                        }
                    } else {
                        swal("Отменено", "Направление не будет удалено:)", "error");
                    }
                });
            },

            changePriority (direction, priority) {
                direction.priority = priority;
                this.updateDirection(direction);
            },

            updateDirection(direction){
                //this.blockElement('#activity-table');
                let time = new Date();
                let microtime = time.getMilliseconds();

                this.$http.put(this.endpoints.directions.add + '/' + direction.id, direction)
                        .then(function (response) {
                            new PNotify({
                                title: 'Успешно',
                                text: response.body.message,
                                addclass: 'bg-success'
                            });
                            this.getDirections();
                        }, function (error) {
                            new PNotify({
                                title: 'Произошла ошибка.',
                                text: error.body.data ? error.body.data : error.body.message,
                                addclass: 'bg-danger'
                            });
                            console.log(error);
                        });

                //this.unBlockElement('#activity-table', microtime)
            },
        },

        computed: {
            nameError: function () {
                if (this.directionErrors !== null) {
                    if (this.directionErrors.name) {
                        return this.directionErrors.name[0] ? this.directionErrors.name[0] : this.directionErrors.name;
                    } else return '';
                }
            },
        },

        created() {
            this.getActivities();
        },

        mounted () {
            let that = this;
            $.fn.editable.defaults.ajaxOptions = {
                type: "put",
                headers: {
                    Authorization: 'Bearer '+ localStorage.getItem('token')
                }
            };
            $(document).ready(function() {

                $('#activitySelect').selectpicker();
                $('#direction_priority').selectpicker();
//                $('#activity').selectpicker(0).selectpicker('refresh');

                $('.list-group-item').on('click', function(e){
                    $(e.target).siblings().removeClass('active');
                    if(!$(e.target).hasClass('active')){
                        $(e.target).addClass('active');
                    }
                });

                $('#activitySelect').on('change', function () {
                    console.log( $('#activitySelect').val());

                    var selected = $(this).val();
                    $(this).selectpicker(selected)/*.selectpicker('refresh')*/;
                    that.selectedActivity = selected;
                    that.getDirectionsByActivity();
                });
                $('#direction_priority').on('changed.bs.select', function (e) {
                    var selected = $(this).find("option:selected").attr("value");
                    $(this).selectpicker(selected).selectpicker('refresh');
                    that.selectedPriority = selected;
                });
            });


        },

        updated: function() {
            let that = this;
            $('#activitySelect').selectpicker('refresh');
            console.log('that.selectedPriority', that.selectedPriority);
            $('#direction_priority').selectpicker('refresh');
            $('#direction_priority').selectpicker('val', that.selectedPriority);
        }
    }
</script>

<style>

</style>