<template>
<div>
    <div class="row" v-for="chunk in getChunk()">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" v-for="widget in chunk">
            <component :is="widget.name"></component>
        </div>
    </div>
</div>


</template>


<script>
    import dragula from 'dragula';
    import AllNotifications from './AllNotifications';
    import ProjectsStatistics from './partials/widgets/ProjectsStatistics';
    import TasksStatistics from "./partials/widgets/TasksStatistics";
    import ProjectsWithNearDeadline from "./partials/widgets/ProjectsWithNearDeadline";
    import ProjectsLastComments from "./partials/widgets/ProjectsLastComments";
    import TasksLastComments from "./partials/widgets/TasksLastComments";
    import RecommendedTodayTasks from "./partials/widgets/RecommendedTodayTasks";
    import TasksStatisticsByActivity from "./partials/widgets/TasksStatisticsByActivity";
    export default {
        name: 'Main',
        data: () => ({
            endpoints: {
                widgets: API_URL+'/user/widgets'
            },
            rowCount: 1,
            widgets: [
//                {
//                    name: 'ProjectsWithNearDeadline',
//                    selected: true
//                },
//                {
//                    name: 'ProjectsLastComments',
//                    selected: true
//                },
//                {
//                    name: 'TasksStatistics',
//                    selected: true
//                },
//                {
//                    name: 'AllNotifications',
//                    selected: true
//                },
//                {
//                    name: 'TasksLastComments',
//                    selected: true
//                },
//                {
//                    name: 'RecommendedTodayTasks',
//                    selected: true
//                }
            ]
        }),
        components: {
            RecommendedTodayTasks,
            TasksLastComments,
            ProjectsLastComments,
            ProjectsWithNearDeadline,
            TasksStatistics,
            ProjectsStatistics,
            AllNotifications,
            TasksStatisticsByActivity
        },

        computed: {

        },

        methods: {
            getWidgets: function() {
                this.$http.get(this.endpoints.widgets)
                    .then(function(response) {
                        this.widgets = response.body.data;
                    }, function(error) {
                        console.log(error);
                    })
            },

            getChunk () {

                let chunk = [];
                let widgets = this.widgets;
                let i;
                let chunkSize = 3;

                for (i = 0; i < widgets.length; i += chunkSize) {
                    chunk.push(widgets.slice(i, i + chunkSize));
                }
                return chunk;
            }
        },

        mounted () {
            this.getWidgets();
//            $(document).ready(function(){
//                dragula([document.querySelector('.elements')]);
//            });
        },

        updated () {

        },
    }
</script>

<style scoped>

</style>