<template>
    <div>
    <div class="panel">
        <div class="panel-heading bg-info">
            <h6 class="panel-title">
                <a id="filter" href="#filterTask" >Фильтр задач</a>
            </h6>
        </div>
        <div id="filterTask" class="panel-collapse collapse" style="display:none">
            <div class="panel-body">
                <form action="" class="form-horizontal">

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label for="activitySelect" class="control-label ">Сфера деятельности</label>
                                    <div class="btn-group bootstrap-select dropdawn open" style="width: 100%;">
                                        <select class="bootstrap-select" data-width="100%" tabindex="-98" id="activitySelect" v-model="selectedActivity" data-live-search="true">
                                            <option v-for="activity in activities" :value="activity.id">
                                                {{ activity.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label for="projectSelect" class="control-label ">Проект</label>
                                    <div class="btn-group bootstrap-select dropdawn open" style="width: 100%;">
                                        <select class="bootstrap-select" data-width="100%" tabindex="-98" id="projectSelect" v-model="selectedProject" data-live-search="true">
                                            <option v-for="project in projects" :value="project.id">
                                                {{ project.name }}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label for="dateSelect" class="control-label">Дата до</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="icon-calendar22"></i>
                                            </span>
                                            <input type="text" name="daterange" id="dateSelect"
                                                   class="form-control datepicker" v-model="selectedDateTo">
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <a class="btn btn-warning" @click.prevent="clearFilter"><i class="icon-cross position-left"></i>Сбросить</a>
                            <a class="btn btn-success" :disabled="!hasFilter" @click.prevent="filterTasks"><i class="icon-filter4 position-left"></i>Фильтровать</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="row">
            <div class="col-sm-3">
                <button id="addTodayTask" class="btn btn-success" data-toggle="modal" data-target="#modal_create">
                    <i class="icon-plus3 position-left"></i>
                    Добавить задачу на текущий день
                </button>

                <div id="modal_create" class="modal fade bs-example-modal-lg" data-backdrop="true"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <CreateTask :currentDayTask="currentDayTask" @updateAfterCreateTask="renderTasks()"></CreateTask>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-flat">


        <div class="panel-heading">
      <!--      <div class="btn-group">
                <ul class="dropdown-menu dropdown-menu-right">
                    <li @click.prevent="changePriority(activity, 3)"><a><span class="status-mark position-left bg-danger"></span> Высокий </a></li>
                    <li @click.prevent="changePriority(activity, 2)"><a><span class="status-mark position-left bg-info"></span> Средний </a></li>
                    <li @click.prevent="changePriority(activity, 1)"><a><span class="status-mark position-left bg-success"></span> Низкий </a></li>
                </ul>
            </div>-->

            <!--<h5 class="panel-title" data-toggle="modal" data-target="#modal_backdrop">Календарь</h5><br>-->

           <!-- <a href="" class="btn btn-primary" @click.prevent="addEventToCalendar">Добавить событие</a>-->



        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-2">
                    <a type="button" class="btn btn-default" id="prev-button"><i class="icon-circle-left2"></i> Пред. </a>
                </div>
                <div class="col-sm-8 text-center">
                    <a type="button" class="btn btn-default" id="today-button" style="display:none"> Сегодня </a>
                </div>
                <div class="col-sm-2 text-right">
                    <a type="button" class="btn btn-default" id="next-button">След. <i class="icon-circle-right2 position-right"></i></a>
                </div>
            </div>

            <div class="row">
                <div class="fullcalendar-basic fc fc-unthemed fc-ltr">

                </div>
            </div>


            <div id="modal_backdrop" class="modal fade task-modal" data-backdrop="true">
                <div class="modal-dialog">
                    <TaskModal :clickedTask="clickedTask"></TaskModal>
                </div>

            </div>

            <div id="modal_task_create" class="modal create-task-cal-modal fade bs-example-modal-lg" data-backdrop="true">
                <div class="modal-dialog modal-lg" role="document">
                    <CreateTaskCalendar :taskDate="createTaskClickedDay" @updateAfterCreateTaskCal="renderTasks()"></CreateTaskCalendar>
                </div>
            </div>
            <!-- /disabled backdrop -->
        </div>
    </div>
    </div>
</template>


<script>
      import TaskModal from '../views/partials/TaskModal.vue'
      import CreateTask from '../views/partials/CreateTask.vue'
      import CreateTaskCalendar from '../views/partials/modals/CreateTaskCalendar.vue'
      import blockui from "../assets/js/plugins/loaders/blockui.min.js"
      //import fullcalendar from "../assets/js/plugins/ui/fullcalendar/fullcalendar.min.js"
      import fullcalendar from "fullcalendar"
      import moment from "moment"
      import dialog from '../../node_modules/jquery-ui/ui/widgets/dialog.js'
      import context from '../assets/js/plugins/extensions/contextmenu.js'
      //import interactions from '../assets/js/core/libraries/jquery_ui/interactions.min.js'
      //import touch from '../assets/js/core/libraries/jquery_ui/touch.min.js'

      /*import widgets from '../assets/widgets.min.js'
      import effects from '../assets/effects.min.js'*/


      //import extra_calendar from "../assets/js/pages/extra_fullcalendar.js"
      //import core from "../assets/js/core/app.js"

    export default {
        name: 'Main',
        data () {
            return {
                msg: '',
                endpoints: {
                    events: {
                        get: API_URL + '/calendar-events/work-time',
                        del: API_URL + '/calendar-events'
                    },
                    tasks: {
                        get: API_URL + '/calendar-events/tasks-events',
                        update: API_URL + '/calendar-events'
                    },
                    projects: {
                        get: API_URL + '/projects'
                    },
                    activities: API_URL + '/activities',
                },
                projects: [],
                events: [],
                tasks: [],

                params: {
                    params: {
                        filter:{}
                    }
                },

                clickedTask: null,
                taskUpdated: true,


                selectedProject: 0,
                selectedActivity: 0,
                selectedDateTo: '',

                currentCalendarMonth: null,
                currentCalendarYear: null,

                currentDayTask: true,
                createTaskClickedDay: null,

                activities: []

            }
        },
        components: {
            TaskModal, CreateTask, CreateTaskCalendar
        },

        computed: {
            hasFilter: function() {
                if(this.selectedProject != 0 || this.selectedActivity != 0 || this.selectedDateTo != '') {
                    return true;
                } else {
                   return false;
                }
            }
        },
        methods: {
            getProjects: function () {
                this.$http.get(this.endpoints.projects.get)
                        .then(function (response) {
                            //console.log('GetProject', response.body);
                            this.projects = response.body.data;
                            if (this.projects && this.projects.length > 0) {
                                this.selectedProject = this.projects[0].id;
                            }
                        }, function (error) {
                            console.log(error);
                        })
            },
            getActivities: function() {
              this.$http.get(this.endpoints.activities)
                      .then(function(response) {
                          this.activities = response.body.data.activities;
                          if (this.activities.length > 0) {
                              this.selectedProject = this.activities[0].id;
                          }
                      }, function(error) {
                          console.log(error);
                      })
            },

            getEvents: function() {
                let that = this;

                let events = []; //this.$store.state.events;
                let resultEvents = [];
                let tasks = [];


               // if(events.length == 0) {
                   this.$http.get(this.endpoints.events.get,
                        {
                            params: {
                                year: that.currentCalendarYear,
                                month: that.currentCalendarMonth
                            }
                        })
                   .then( function(response) {
                       //this.$store.commit('events', response.body.data);
                       //console.log('CalendarGetEvents', response.body.data);

                       events = response.body.data;

                       for(let key in events) {
                           let event = {};
                           event.id = events[key].id;
                           event.start =  moment(events[key].date).format();
                           event.color = '#0000CC';
                           event.allDay = true;
                           event.rendering = 'background';
                           event.workDay = 1;

                           resultEvents.push(event);
                           //$('.fullcalendar-basic').fullCalendar('renderEvent', event);
                       }
                       $('.fullcalendar-basic').fullCalendar('renderEvents', resultEvents);
                       this.events = resultEvents;
                       console.log("RESULTEVENTS_", resultEvents);
                       this.renderCloseButtons();
                      // $('.fullcalendar-basic').fullCalendar('renderEvents', resultEvents);

                   }, function(error) {
                       console.log(error);
                   });
             //   }

                //return console.log(events);
                /*for(let key in events) {
                    let event = {};
                    event.id = events[key].id;
                    event.start =  moment(events[key].date).format();
                    event.color = '#0000CC';
                    event.allDay = true;
                    event.rendering = 'background';
                    event.workDay = 1;

                    resultEvents.push(event);

                }*/

                //this.events = resultEvents;
                //console.log('GetEvents', this.events);

            },

            getTasks: function() {
                let tasks = null;
                let that = this;
                this.$http.get(this.endpoints.tasks.get, {
                        params: {
                            year: that.currentCalendarYear,
                            month: that.currentCalendarMonth
                        }
                    })
                    .then(function (response) {
                        this.tasks = this.prepareTasks(response.body.data);
                        //console.log('getTasks', this.tasks);
                    },
                    function(error){
                        console.log(error);
                    });
            },

            prepareTasks: function(tasks) {
                let that = this;
                let sortedTasks = [];
                if (tasks === undefined) return [];
                tasks.forEach(function(item) {
                    let event = {};

                    event.id = item.id;
                    event.task = item.tasks[0];
                    event.task_id = item.tasks[0].id;
                    event.title = item.tasks[0].title;
                    event.description = item.tasks[0].description;
                    event.priority = item.tasks[0].priority;
                    event.status = item.tasks[0].status;
                    event.deadline = item.tasks[0].deadline;
                    event.created = item.tasks[0].created_at;
                    event.urgent = item.tasks[0].urgent;

                    if(item.tasks[0].min_parts_for_task != null
                            && item.tasks[0].min_parts_for_task != 'undefined'
                            && item.tasks[0].min_parts_for_task > 0) {
                        event.parts = item.tasks[0].min_parts_for_task;
                    }

                    if( item.tasks[0].project_id && that.projects && that.projects.length > 0 ) {
                        //let project = null;
                        that.projects.filter(function(proj) {
                            if (proj.id == item.tasks[0].project_id) {
                                event.project = proj.name;
                                event.project_id = item.tasks[0].project_id;
                            }
                        });
                    }

                    event.start = moment(item.date).format('YYYY-MM-DD'); //moment().format('YYYY-M-D');
                    switch (item.tasks[0].priority) {
                        case 3:
                            event.priority = 'Высокий';
                            event.color = '#DD3333';
                            break;
                        case 2:
                            event.priority = 'Средний';
                            event.color = '#3333CC';
                            break;
                        case 1:
                            event.priority = 'Низкий';
                            event.color = '#33CC33';
                            break;
                    }
                    event.part = 3;

                    sortedTasks.push(event);
                });
                return sortedTasks;
            },

            filterTasks: function(){
                //let that = this;
                delete this.params.params.filter.activity;
                delete this.params.params.filter.project;
                delete this.params.params.filter.date_to;
                this.params.params.filter.activity =  (this.selectedActivity != 0) ? this.selectedActivity : null;
                this.params.params.filter.project = (this.selectedProject != 0) ? this.selectedProject: null;
                this.params.params.filter.date_to = (this.selectedDateTo != '') ? this.selectedDateTo : null;
                this.renderTasks();
            },

            clearFilter: function() {
                this.selectedActivity = 0;
                this.selectedProject = 0;
                this.selectedDateTo = '';
                delete this.params.params.filter.activity;
                delete this.params.params.filter.project;
                delete this.params.params.filter.date_to;
                this.renderTasks();
            },

            removeTasksFromCalendar: function(){
                let that = this;

                that.tasks.filter(function(item){
                    if(item.hasOwnProperty('id')){
                        $('.fullcalendar-basic').fullCalendar('removeEvents', item.id);
                    }
                });
            },

            renderTasks: function() {

                this.blockElement('.fullcalendar-basic');
                this.$Progress.start();

                let time = new Date();
                let microtime = time.getMilliseconds();
                this.removeTasksFromCalendar();

                let filter = this.params.params.filter;

                //return console.log(filter);
                console.log(filter);

                if(filter.project || filter.activity || filter.date_to) {
                    //console.log('filter');
                    this.params.params.year = this.currentCalendarYear;
                    this.params.params.month = this.currentCalendarMonth;
                    this.$http.get(this.endpoints.tasks.get, this.params)
                        .then(function (response) {
                            this.tasks = null;
                            this.tasks = this.prepareTasks(response.body.data);
                            /*this.tasks.forEach(function(item) {
                                $('.fullcalendar-basic').fullCalendar('renderEvent', item);
                            });*/
                            $('.fullcalendar-basic').fullCalendar('renderEvents', this.tasks);
                            this.$Progress.finish();
                            this.unBlockElement('.fullcalendar-basic', microtime);
                        },
                        function(error){
                            this.$Progress.fail();
                            this.unBlockElement('.fullcalendar-basic', microtime);
                            console.log(error);
                        });
                } else {
                    console.log('unfilter');
                    this.$http.get(this.endpoints.tasks.get, {params: {
                            year: this.currentCalendarYear,
                            month: this.currentCalendarMonth
                        }
                    })
                        .then(function (response) {
                            this.tasks = null;
                            this.tasks = this.prepareTasks(response.body.data);
                            //console.log('tasks', this.tasks);
                            /*this.tasks.forEach(function(item) {
                                $('.fullcalendar-basic').fullCalendar('renderEvent', item);
                            });*/
                            $('.fullcalendar-basic').fullCalendar('renderEvents', this.tasks);
                            this.$Progress.finish();
                            this.unBlockElement('.fullcalendar-basic', microtime);
                        },
                        function(error){
                            this.$Progress.fail();
                            this.unBlockElement('.fullcalendar-basic', microtime);
                            console.log(error);
                        });
                }

                /*if(this.tasks.length > 0) {
                    console.log('Task_count ' + this.tasks.length);
                    this.tasks.forEach(function(item) {
                        $('.fullcalendar-basic').fullCalendar('renderEvent', item);
                    });
                    this.unBlockElement('.fullcalendar-basic', microtime);
                } else {
                    this.$http.get(this.endpoints.tasks.get)
                        .then(function (response) {
                            this.tasks = null;
                            this.tasks = this.prepareTasks(response.body.data);
                            console.log('Task_count ' + this.tasks.length);
                            console.log('TAsks', this.tasks);
                            this.tasks.forEach(function(item) {
                                $('.fullcalendar-basic').fullCalendar('renderEvent', item);
                            });
                            this.unBlockElement('.fullcalendar-basic', microtime);
                        },
                        function(error){
                            console.log(error);
                        });
                }*/
            },

            getCalendarMonth: function(){
                let date = $(".fullcalendar-basic").fullCalendar('getDate');

                if(!this.currentCalendarYear || ! this.currentCalendarMonth) {
                    let date = moment(new Date());
                    this.currentCalendarYear = date.year();
                    this.currentCalendarMonth = date.month() + 1;
                    return;
                }
                this.currentCalendarYear = date.year();
                this.currentCalendarMonth = date.month() + 1;
            },

            renderCalendar: function() {

                let that = this;
                that.getEvents();


                $('.fullcalendar-basic').fullCalendar('destroy');
                this.removeCloseButtons();

                $('.fullcalendar-basic').fullCalendar({
                    header: {
                        left: '',
                        center: 'title',
                        right: ''
                    },
                    locale: 'ru',
                    defaultDate: new Date(),
                    editable: true,
                    firstDay: 1,
                    defaultView: 'month',
                    /*dragScroll: true,*/

                    eventLimit: true,
                    views: {
                        month: {
                            eventLimit: 5,
                            eventLimitText: 'задачи'
                        }
                    },

                    buttonText: {
                        prev: "Пред.",
                        next: "След.",
                        prevYear: '&nbsp;&lt;&lt;&nbsp;',
                        nextYear: '&nbsp;&gt;&gt;&nbsp;',
                        today: "Сегодня",
                    },

                    monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
                    monthNamesShort: ['Янв.','Фев.','Март','Апр.','Май','Июнь','Июль','Авг.','Сент.','Окт.','Ноя.','Дек.'],
                    dayNames: ["Воскресенье","Понедельник","Вторник","Среда","Четверг","Пятница","Суббота"],
                    dayNamesShort: ["ВС","ПН","ВТ","СР","ЧТ","ПТ","СБ"],

                    eventDrop: function(event, delta, revertFunc, jsEvent) {
                        let deltaDays = delta._days;
                        let events = that.tasks;

                        let targetCell = moment(event.start).format('YYYY-MM-DD');
                        let task = null;

                        let isForTask = that.events.some(function(item){
                            task = item;
                            return (moment(item.start).format('YYYY-MM-DD') == targetCell);
                        });


                        if(!isForTask) {
                            revertFunc();
                        } else {
                            console.log('task', task);
                            that.updateTaskDate(event.id, targetCell);
                        }

                        if(that.taskUpdated == true) {
                            that.taskUpdated = null;
                            //that.renderCalendar();
                        } else {
                            that.taskUpdated = null;
                            revertFunc();
                        }
                    },

                    eventRender: function(event, element) {

                        $(element).tooltip({title: event.title});
                        if(event.hasOwnProperty('parts')) {
                            let kf = 15;
                            let newHeight = kf*event.parts;
                            $(element).css("height", newHeight+'px');

                            if(event.urgent == 1){
                                $(element).prepend("<div class='text-right' style='max-height: 12px'><i class='icon-lock' style='font-size:8px'></i></div>");
                            }
                        }
                        $(element).attr('data-target', '.modal');
                    },

/*

                    eventDragStart: function(event, jsEvent, ui, view) {
                        console.log('jsEvent', jsEvent);
                        console.log('view', view);
                    },

                    eventDragStop: function( event, jsEvent, ui, view ) {
                        let x = jsEvent.clientX;
                        let y = jsEvent.clientY;
                        console.log("X: " + x, "Y: " + y);

                        if(x < 300 || y < 90){
                            $('.fullcalendar-basic').fullCalendar('prev');
                            $('#today-button').css('display', '');
                            that.renderTasks();
                        }

                        if(x > 1290 || y > 200){
                            $('.fullcalendar-basic').fullCalendar('next');
                            $('#today-button').css('display', '');
                            that.renderTasks();
                        }
                    },
*/

                    dayRender: function(date, cell){
                        //console.log('date', date);
                        /*let _date = moment(date).format('DD-MM-YY');
                        let cells = $('.fc-content-skeleton .fc-day-number').toArray();

                        that.events.some(function(item){
                            if(_date == moment(item.start).format('DD-MM-YY')){
                                cells.forEach(function(cell){
                                    //console.log($(cell).data('date'));
                                    if(moment(item.start).format('YYYY-MM-DD') == $(cell).data('date')){
                                        $(cell).append("<span class='remday' title='Убрать из рабочего графика' data-date='"+_date+"'><i class='icon-cross' data-date='"+_date+"' style='font-size:12px'></i></span>");
                                    }
                                });
                            }
                        });*/
                    },

                    eventClick: function(event, jsEvent, view) {
                        console.log(event);
                        that.clickedTask = event;

                        $('.ui-dialog-title').append('<i class="icon-files-empty position-left"></i>');
                        $('.task-modal').modal('show');
                    },

                    events: that.events
                });
                this.renderTasks();
                //this.renderCloseButtons();
            },

            refreshCalendar: function() {
                //$('.fullcalendar-basic').fullCalendar('destroy');
                this.renderCalendar();
                //this.renderTasks();
            },

            addEventToCalendar: function() {
                console.log('Новое событие Клик');
                this.events.push({
                    title: "Новые событие",
                    start: '2017-03-10',
                    color: '#0000CC',
                });
                this.refreshCalendar();
            },

            updateTaskDate(taskId, dateStart) {
                let that = this;

                let data = {};
                let success = false;
                data.dateStart = dateStart;

                that.$http.put(that.endpoints.tasks.update+'/'+taskId, data)
                        .then(function(response) {
                            if (response.status == 200) {
                                that.taskUpdated = true;
                            } else {
                                that.taskUpdated = false;
                            }
                        }, function(error) {
                            that.taskUpdated = false;
                            console.log(error);
                        });
            },

            renderCloseButtons: function(){
                //console.log('RenderCLose', this.events);

                this.events.forEach(function(item){
                            let date = moment(item.start).format('YYYY-MM-DD');
                            // console.log('item', item.date);
                            $('.fc-day-top[data-date=' + date + ']')
                                .prepend("<span class='create_task_cal' title='Добавить задачу' data-date='" + date + "'><i class='icon-plus2' data-date='" + date + "' style='font-size:12px; color:green'></i></span>");
                            $('.fc-day-top[data-date=' + date + ']')
                                .prepend("<span class='remday' title='Убрать из рабочего графика' data-date='" + date + "'><i class='icon-cross' data-date='" + date + "' style='font-size:12px; color:red'></i></span>");



                        });
//                this.$http.get(this.endpoints.events.get, {params: {
//                    year: this.currentCalendarYear,
//                    month: this.currentCalendarMonth
//                }
//                })
//                    .then(function (response) {
////                        console.log(response.body.data);
//                        let events = response.body.data;
//                        events.forEach(function(item){
//                            let date = moment(item.date).format('YYYY-MM-DD');
////                            console.log('item', item.date);
//                            $('.fc-day-top[data-date=' + date + ']').prepend("<span class='remday' title='Убрать из рабочего графика' data-date='" + date + "'><i class='icon-cross' data-date='" + date + "' style='font-size:12px'></i></span>");
//                        });
//                    }, function (error) {
//                        console.log(error);
//                    });
            },
            removeCloseButtons: function() {
                //console.log('removeClose');
                $('.fc-day-top').remove();
            },

            removeButtons: function() {
                console.log('REMOVE', $('span.remday'));
                $('span.remday').remove();
                console.log('REMOVE', $('span.create_task_cal'));
                $('span.create_task_cal').remove();
            }

        },

       /* created : function() {
            this.getEvents();
            this.getTasks();
            console.log('crated', this.tasks);
        },*/

        mounted () {
            this.getCalendarMonth();
            //this.getEvents();

            this.getProjects();
            this.getActivities();

            //this.getTasks();

            this.renderCalendar();
            //this.renderTasks();

            let that = this;




            $(document).ready(function() {

                $.fn.editable.defaults.ajaxOptions = {
                    type: "put",
                    headers: {
                        Authorization: 'Bearer '+ localStorage.getItem('token')
                    }
                };

                $('body').on('click', '.remday i', function(e) {
                    //return console.log('OnCloseCLick', that.events);
                    //e.stopImmediatePropagation();
                    let date  = $(this).data('date');
                    let eventID;

                    let delEvent = that.events.find(function(element, index){
                        if(element.start && moment(element.start).format('YYYY-MM-DD') == date){
                            return element;
                        }
                    });


//                    that.events.forEach(function(item){
//                        /*if(moment(item.date).format('YYYY-MM-DD') == date) {
//                            eventID = item.id;
//                            return;
//                        }*/
//                        if(item.start && moment(item.start).format('YYYY-MM-DD') == date) {
//                            eventID = item.id;
//                            return;
//                        }
//                    });
                     console.log('EventID', delEvent);

                    if(delEvent){
                        that.blockElement('.fullcalendar-basic');
                        that.$Progress.start();

                        let time = new Date();
                        let microtime = time.getMilliseconds();

                        that.$http.delete(that.endpoints.events.del+ '/'+ delEvent.id)
                            .then(function(response) {
                                console.log(response);
                                //that.renderTasks();

                                that.events = that.events.filter(function(item) {
                                    return item.id != delEvent.id;
                                });
                                //that.$store.commit('events', events);
                                //that.events = events;
                                $('.fc-day-top[data-date=' + date + '] span.remday').remove();
                                $('.fc-day-top[data-date=' + date + '] span.create_task_cal').remove();
                                $('.fullcalendar-basic').fullCalendar('removeEvents');
                                $('.fullcalendar-basic').fullCalendar('addEventSource',  that.events);
                                $('.fullcalendar-basic').fullCalendar('addEventSource', this.tasks);
                                $('.fullcalendar-basic').fullCalendar('rerenderEvents');

                                //that.getEvents();
                                //that.renderCalendar();
                                //$('.fullcalendar-basic').fullCalendar('refetchEvents');
                                that.$Progress.finish();
                                that.unBlockElement('.fullcalendar-basic', microtime);
                            }, function(error) {
                                that.$Progress.finish();
                                that.unBlockElement('.fullcalendar-basic', microtime);
                                console.log(error);
                            })
                    }
                    /*let data = $(this).data('date');
                     console.log($(e));*/
                });

                $('body').on('click', '.create_task_cal i', function(e) {

                    let date  = $(this).data('date');
                    that.createTaskClickedDay = moment(date);
                    $('.create-task-cal-modal').modal('show');
                    console.log('click', date);
                });

                $('.bootstrap-select').selectpicker();

               /* $('body').on('click', 'button.fc-prev-button', function() {
                    that.renderTasks();
                });
                $('body').on('click', 'button.fc-next-button', function() {
                    that.renderTasks();
                });
                $('body').on('click', 'button.fc-today-button', function() {
                    that.renderTasks();
                });*/

                $('#activitySelect').on('change', function () {
                    var selected = $(this).find("option:selected").attr("value");
                    console.log('activity', selected);
                    $(this).selectpicker(selected).selectpicker('refresh');
                    that.selectedActivity = selected;
                });

                $('#projectSelect').on('change', function () {
                    var selected = $(this).find("option:selected").attr("value");
                    console.log('project', selected);
                    $(this).selectpicker(selected).selectpicker('refresh');
                    that.selectedProject = selected;
                });

                $('#filter').click(function(e){
                    console.log('collapse');
                    e.preventDefault();
                    var col = $('#filterTask');
                    col.slideToggle();
                });

                $('#addTodayTask').click(function(e) {
                    console.log('addTasks');
                    that.currentDayTask = true;
                });

                $('#prev-button').click(function(e){
                    //console.log('PrevButtonClick');
                    e.preventDefault();

                    $('.fullcalendar-basic').fullCalendar('prev');
                    that.removeButtons();
                    $('#today-button').css('display', '');
                    that.getCalendarMonth();
                    that.getEvents();
                    that.renderTasks();
                   // that.renderCloseButtons();
                });

                $('#next-button').click(function(e) {
                    console.log('NextButtonClick');

                    e.preventDefault();
                    $('.fullcalendar-basic').fullCalendar('next');
                    that.removeButtons();
                    $('.fc-day-top .remday').remove();
                    $('#today-button').css('display', '');
                    that.getCalendarMonth();
                    that.getEvents();
                    that.renderTasks();
                  //  that.renderCloseButtons();
                });

                $('#today-button').click(function(e) {
                    console.log('TodayButtonClick');

                    e.preventDefault();
                    $(this).css('display', 'none');
                    $('.fullcalendar-basic').fullCalendar('today');
                    that.removeButtons();
                    that.getCalendarMonth();
                    that.getEvents();
                    that.renderTasks();
                 //   that.renderCloseButtons();
                });

                $('#dateSelect').datepicker({
                    weekStart: 1,
                    todayHighlight: true,
                    startDate: new Date(),
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    language: 'ru'
                }).on('changeDate', function (e) {
                    that.selectedDateTo = moment(e.dates[0]).format('YYYY-MM-DD');
                });



                //console.log(that.events);
              /*  $('.fullcalendar-basic').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month, basicWeek, basicDay'
                    },
                    locale: 'ru',
                    defaultDate: new Date(),
                    editable: true,
                    firstDay: 1,
                    defaultView: 'month',

                    buttonText: {
                        prev: "Пред.",
                        next: "След.",
                        prevYear: '&nbsp;&lt;&lt;&nbsp;',
                        nextYear: '&nbsp;&gt;&gt;&nbsp;',
                        today: "Сегодня",
                        month: "Месяц",
                        week: "Неделя",
                        day: "День"
                    },



                    /!*monthNames: ['Январь','Февраль','Март','Апрель','Май','οюнь','οюль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
                    monthNamesShort: ['Янв.','Фев.','Март','Апр.','Май','οюнь','οюль','Авг.','Сент.','Окт.','Ноя.','Дек.'],
                    dayNames: ["Воскресенье","Понедельник","Вторник","Среда","Четверг","Пятница","Суббота"],
                    dayNamesShort: ["ВС","ПН","ВТ","СР","ЧТ","ПТ","СБ"],

                    /!*,
                     minTime: "09:00:00",
                     maxTime: "18:00:01",
                     slotDuration: "00:60:00",*!/

                    events: that.events
                });*/

                //Core functions
                function containerHeight() {
                    var availableHeight = $(window).height() - $('body > .navbar').outerHeight() - $('body > .navbar + .navbar').outerHeight() - $('body > .navbar + .navbar-collapse').outerHeight() - $('.page-header').outerHeight();

                    $('.page-container').attr('style', 'min-height:' + availableHeight + 'px');
                }

                // Heading elements toggler
                // -------------------------

                // Add control button toggler to page and panel headers if have heading elements
                $('.panel-heading, .page-header-content, .panel-body').has('> .heading-elements').append('<a class="heading-elements-toggle"><i class="icon-menu"></i></a>');


                // Toggle visible state of heading elements
                $('.heading-elements-toggle').on('click', function () {
                    $(this).parent().children('.heading-elements').toggleClass('visible');
                });


                // Panels
                $('.panel [data-action=reload]').click(function (e) {
                    e.preventDefault();
                    var block = $(this).parent().parent().parent().parent().parent();
                    $(block).block({
                        message: '<i class="icon-spinner2 spinner"></i>',
                        overlayCSS: {
                            backgroundColor: '#fff',
                            opacity: 0.8,
                            cursor: 'wait',
                            'box-shadow': '0 0 0 1px #ddd'
                        },
                        css: {
                            border: 0,
                            padding: 0,
                            backgroundColor: 'none'
                        }
                    });

                    // For demo purposes
                    window.setTimeout(function () {
                        $(block).unblock();
                    }, 2000);
                });


                // Sidebar categories
                $('.category-title [data-action=reload]').click(function (e) {
                    e.preventDefault();
                    var block = $(this).parent().parent().parent().parent();
                    $(block).block({
                        message: '<i class="icon-spinner2 spinner"></i>',
                        overlayCSS: {
                            backgroundColor: '#000',
                            opacity: 0.5,
                            cursor: 'wait',
                            'box-shadow': '0 0 0 1px #000'
                        },
                        css: {
                            border: 0,
                            padding: 0,
                            backgroundColor: 'none',
                            color: '#fff'
                        }
                    });

                    // For demo purposes
                    window.setTimeout(function () {
                        $(block).unblock();
                    }, 2000);
                });


                // Light sidebar categories
                $('.sidebar-default .category-title [data-action=reload]').click(function (e) {
                    e.preventDefault();
                    var block = $(this).parent().parent().parent().parent();
                    $(block).block({
                        message: '<i class="icon-spinner2 spinner"></i>',
                        overlayCSS: {
                            backgroundColor: '#fff',
                            opacity: 0.8,
                            cursor: 'wait',
                            'box-shadow': '0 0 0 1px #ddd'
                        },
                        css: {
                            border: 0,
                            padding: 0,
                            backgroundColor: 'none'
                        }
                    });

                    // For demo purposes
                    window.setTimeout(function () {
                        $(block).unblock();
                    }, 2000);
                });


                // Collapse elements
                // -------------------------

                //
                // Sidebar categories
                //
/*
                $('.panel [data-action=collapse]').click(function (e) {
                    e.preventDefault();
                    var $panelCollapse = $(this).parent().parent().parent().parent().nextAll();
                    $(this).parents('.panel').toggleClass('panel-collapsed');
                    $(this).toggleClass('rotate-180');

                    containerHeight(); // recalculate page height

                    $panelCollapse.slideToggle(150);
                });*/
            });

        },

        updated () {


            $('#projectSelect').selectpicker('refresh');
            $('#activitySelect').selectpicker('refresh');
           /* console.log(this.events);
            $('.fullcalendar-basic').fullCalendar('removeEvents');
            $('.fullcalendar-basic').fullCalendar('addEventSource', this.events);
            $('.fullcalendar-basic').fullCalendar('rerenderEvents');
*/
            console.log('sadasdas');
           /* $('.fullcalendar-basic').fullCalendar( 'updateEvents', this.tasks );
            $('.fullcalendar-basic').fullCalendar('rerenderEvents');*/
            //$('.fullcalendar-basic').fullCalendar('refetchEvents');
        },
        destroyed: function(){
            $('.fullcalendar-basic').fullCalendar('destroy');
            $('.fullcalendar-basic').fullCalendar('removeEvents');
            $('span.remday').remove();
        }

    }


</script>

<style>
    .panel-title {
        text-align: center;
    }
    .fc-day-number {
        position: relative;
        z-index: 1;
        /*width: 50%;*/
        /*float: right;*/
    }
    .fc-widget-content {
        position: relative;
        z-index: 9999;
    }

    .remday:hover {
        cursor: pointer;
    }

    .create_task_cal:hover {
        cursor: pointer;
    }
    .fc-day-grid-event {
        min-height: 30px;
    }

</style>