<template>
    <div>
        <breadcrumbs :linksArray="[{'active': true, 'text': 'Таблица рангов'}]"></breadcrumbs>

        <div id="projects">
            <div class="panel panel-white col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-xs-12" v-if="!emptyRanks" >
                <div class="panel-heading">
                    <h6 class="panel-title">Список рангов</h6>
                    <div class="row">
                        <div class="col-sm-3"><span class="label label-lg label-rounded bg-danger">&nbsp;</span> Высокий</div>
                        <div class="col-sm-3"><span class="label label-lg label-rounded bg-orange">&nbsp;</span> Средний</div>
                        <div class="col-sm-3"><span class="label label-lg label-rounded bg-success">&nbsp;</span> Низкий</div>
                        <div class="col-sm-3"><div class="pull-right"><button @click.prevent="deleteRanks()" class="btn btn-info" title="Вернуться к стандартным настройкам">Сбросить</button></div></div>

                    </div>



                </div>

                <div class="panel-body">

                    <div class="row table-head text-center">
                        <div class="col-sm-2"><i class="icon-calendar3" title="Календарь"></i></div>
                        <div class="col-sm-2"><i class="icon-sphere" title="Сфера"></i></div>
                        <div class="col-sm-2"><i class="icon-arrow-up-right3" title="Направление"></i></div>
                        <div class="col-sm-2"><i class="icon-briefcase" title="Проект"></i></div>
                        <div class="col-sm-2"><i class="icon-stack-plus" title="Задача"></i></div>
                        <div class="col-sm-2"><i class="icon-stats-bars3" title="Ранг"></i></div>
                    </div>

                    <div class="row">
                        <ul class="media-list content-group text-center" id="drag_container">
                            <li class="media text-center lsn cur-grab" v-for="rank in ranks" :data-rank="rank.total_rank" :data-id="rank.id">
                                <div class="row bordered">
                                    <div class="col-sm-2">
                                        <span class="label label-lg circle" :class="'bg-' + getPriority(rank.calendar_priority).class">&nbsp;</span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span class="label label-lg circle" :class="'bg-' + getPriority(rank.activity_priority).class">&nbsp;</span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span class="label label-lg circle" :class="'bg-' + getPriority(rank.direction_priority).class">&nbsp;</span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span class="label label-lg circle" :class="'bg-' + getPriority(rank.project_priority).class">&nbsp;</span>
                                    </div>
                                    <div class="col-sm-2"><span class="label label-lg circle" :class="'bg-' + getPriority(rank.task_priority).class">&nbsp;</span>
                                    </div>
                                    <div class="col-sm-2">
                                        <b>{{ rank.total_rank }}</b>
                                        <!--<a @click="editRank(rank)"><b>{{ rank.total_rank }}</b></a>-->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal fade" id="edit-rank">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form @submit.prevent="updateRank()">
                                <div class="modal-body">
                                    <input type="text" class="form-control" v-model="currentRank.total_rank" required="required">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

            </div>
            <!-- /task manager table -->
        </div>
    </div>
</template>

<script>
    import $ from 'jquery';
    import Breadcrumbs from './partials/Breadcrumbs.vue';
    import dragula from 'dragula'

    import editable from "../../src/assets/js/plugins/bootstrap3-editable/bootstrap-editable.min.js"

    export default {
        name: 'Ranks',
        data () {
            return {
                endpoints: {
                    ranks: API_URL + '/ranks',
                    ranks_refresh: API_URL + '/ranks/update-ranks'
                },
                localErrors: {
                    deadline: null,
                    name: null,
                    description: null,
                },
                ranks: [],
                currentRank: {
                    total_rank: null
                },
                microtime: 0,
                emptyRanks: false
            }
        },

        methods: {
            editRank: function (rank) {
                $('#edit-rank').modal('show');
                this.currentRank = rank;
            },
            updateRank: function () {
                this.$http.put(this.endpoints.ranks + '/' + this.currentRank.id, this.currentRank).then(function (response) {
                    console.log(response);
                    $('#edit-rank').modal('hide');
                    this.getRanks();
                }, function (error) {
                    console.log(error);
                });
            },
            getPriority: function (priority) {
                if (priority === 1) return {class: 'success', text: 'Низкий'};
                if (priority === 2) return {class: 'orange-400', text: 'Средний'};
                if (priority === 3) return {class: 'danger danger-400', text: 'Высокий'};
            },
            getRanks: function () {
                this.ranks = [];
                this.$http.get(this.endpoints.ranks)
                    .then(function (response) {
                        console.log(response);
                        this.ranks = response.body.data;
                        this.emptyRanks = this.ranks.length <= 0;
                    }, function (error) {
                        console.log(error);
                    })
            },
            deleteRanks: function () {
                $('[title]').tooltip('hide');
                if (confirm('Действительно хотите сбросить найтройки?')) {
                    this.$http.delete(this.endpoints.ranks + '/reset')
                        .then(function (response) {
                            console.log(response);
                            this.getRanks();
                        }, function (error) {
                            console.log(error);
                        })
                } else {
                    return false;
                }
            },
            refreshRanks: function(current, target) {
//                   Меняем местами два соседних элемента - меняется ранг у 1ого на ранг 2ого и наборот
//                   Меняем ранг через N количество элементов - текущему(current) меняем ранг на target(учитываем первый и
//                   последний элемент).
//                   В случае уменьшения ранга (поднятия в списке вверх) - всем элементам в диапазоне [current, target] увеличиваем значение ранга +1
//                   В случае увеличения ранга (опускаем элемент в списке вниз) - всем элементам в диапазоне [current, target] уменьшаем значение ранга -1

                if(current && target){
                    let data = {};
                    data.current = current;
                    data.target = target;
                    this.$http.post(this.endpoints.ranks_refresh, data).then((response) => {
                            console.log(response);
                            this.getRanks();
                        }, (error)  => {
                            console.log(error);
                        })
                }
            },
        },
        created() {

            let time = new Date();
            this.microtime = time.getMilliseconds();
            this.getRanks();

        },

        mounted () {
            let vm = this;

            this.blockElement('#projects');
            this.unBlockElement('#projects', this.microtime);


            $(document).ready(function(){
                dragula([document.getElementById('drag_container')])
                        .on('drop', function(el, target, source, sibling){
                            /*let currentRank = $(el).data('rank');
                            let targetRank = $(sibling).data('rank');
                */
                            let currentElement = {};
                            let targetElement = {};

                            currentElement.id = $(el).data('id');
                            currentElement.rank = $(el).data('rank');

                            targetElement.id = $(sibling).data('id');
                            targetElement.rank = $(sibling).data('rank');

                            vm.refreshRanks(currentElement, targetElement);

                            console.log('currentID', $(el).data('id'));
                            console.log('currentRank', $(el).data('rank'));

                            console.log('targetID', $(sibling).data('id'));
                            console.log('targetRank', $(sibling).data('rank'));
                        });

                $('[title]').tooltip();
            });


        },
        updated() {
            $('[title]').tooltip();
        },

        components: { Breadcrumbs }
    }

</script>

<style>
    .circle
    {
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }
    .table-head
    {
        margin-bottom: 10px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        border-bottom: 1px solid;
        border-bottom-color: #ddd;
    }

    .li-table {
        /*margin-top:0px;
        border-bottom:1px solid lightgrey;*/
       /*
        padding-right: 15px;
        padding-left: 15px;*/

        /*padding: auto 15px; */
        /*text-align: left;*/
        cursor: grab;
    }
    .cur-grab {
        cursor: grab;
    }

    .lsn{
        list-style: none;
    }
    .gu-mirror {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }

    .handle {
        cursor: move;
    }
    #drag_container .media {
        padding: 5px;
        border: 1px solid #eaeaea;
    }
    .gu-transit {
        background-color: #eaeaea;
    }

</style>