<template>
    <div>
        <div class="media-left">
            <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i
                    class="icon-comment"></i></a>
            <span class="badge bg-danger-400 media-badge" :class="'notify-'+notify.id" v-show="read == null"><span
                    class="notifications__nested-span">1</span></span>
        </div>

        <div class="media-body">
            Новый комментарий от пользователя {{ notify.data.user_name }}, в проекте
            <router-link :to="'/projects/' + notify.data.project_id + '/show'"> {{ notify.data.project_name }} </router-link>
            <div class="media-annotation">{{ getDate(notify.created_at) }}</div>
        </div>
    </div>
</template>

<style>
    .notifications__nested-span {
        color: transparent;
    }
</style>
<script>
    import moment from 'moment';
    export default {
        name: 'new-comment-in-project',
        props: ['notify', 'read'],
        methods: {

            getDate (date) {
                let response = moment(date).fromNow();
                if (response === 'Invalid date') response = moment().fromNow();

                return response;
            }
        },
    }
</script>