<template>
    <div>
        <!-- Main content -->
        <div class="content-wrapper" id="project-wrapper">
            <breadcrumbs :linksArray="[{'link': '/projects', 'text': 'Проекты'}, {'active': true, 'text': project.name}]"></breadcrumbs>

            <!-- Content area -->
            <div class="content">

                <!-- Detailed task -->
                <div class="row">
                    <div :class="project.deadline != null ? 'col-lg-8' : 'col-lg-12'">

                        <!-- Task overview -->
                        <div class="panel panel-flat">
                            <div class="panel-heading mt-5">
                                <h3 class="panel-title">#{{ project.id }}: {{ project.name }}</h3>
                                <div class="heading-elements">
                                    <router-link :to="{path: '/tasks/create', query:{projectId: projectId}}" class="btn bg-teal-400 btn-sm btn-labeled btn-labeled-right heading-btn">Создать задачу <b><i class="icon-plus-circle2"></i></b></router-link>
                                </div>
                            </div>

                            <div class="panel-body">
                                {{ project.description }}
                            </div>

                            <div class="panel-footer">
                                <div class="heading-elements">
                                    <ul class="list-inline list-inline-condensed heading-text pull-right" v-if="authenticatedUser && authenticatedUser.id === project.project_lead">
                                        <li><router-link :to="{path: '/projects/'+project.id+'/edit'}" class="text-default"><i class="icon-compose"></i></router-link></li>
                                        <li>
                                            <a @click.prevent="deleteProject(project.id)" class="text-default"><i class="icon-trash"></i></a>
                                        </li>
                                    </ul>
                                    <ul class="list-inline list-inline-condensed heading-text pull-left">
                                        <li><router-link :to="{path: '/projects/'+project.id+'/sub-project/create'}" class="btn btn-success btn-xs">Добавить этап</router-link></li>
                                        <!--<li><a @click="showSubProjects()" class="btn btn-info btn-xs" v-if="showSubProjectButton">{{ subProjects.text }}</a></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /task overview -->
                    </div>

                    <div class="col-lg-4" v-show="showDeadline">
                         <!--Timer -->
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h6 class="panel-title"><i class="icon-watch position-left"></i> Дедлайн проекта через: </h6>
                            </div>

                            <div class="panel-body">
                                <ul class="timer mb-10" id="timer">
                                    <li>
                                        <div id="days"></div>
                                        <span>Дни</span>
                                    </li>
                                    <li class="dots">:</li>
                                    <li>
                                        <div id="hours"></div>
                                        <span>Часы</span>
                                    </li>
                                    <li class="dots">:</li>
                                    <li>
                                        <div id="minutes"></div>
                                        <span>Минуты</span>
                                    </li>
                                    <li class="dots">:</li>
                                    <li>
                                        <div id="seconds"></div>
                                        <span>Секунды</span>
                                    </li>
                                </ul>
                                <div ></div>
                            </div>

                        </div>
                         <!--/timer -->
                    </div>
                </div>
                <!-- /detailed task -->

            </div>
            <!-- /content area -->

            <!--<div class="row" v-if="showSubProjectRow">-->
                <!--<sub-projects :projectNumber="projectId"></sub-projects>-->
            <!--</div>-->

            <div class="row" v-if="project.children">
                <task-list-by-sub-projects :projectNumber="projectId"></task-list-by-sub-projects>
               <!-- <tasks-view :projectModel="project"></tasks-view>-->
            </div>
            <div class="row">
                <tasks-view :projectModel="project"></tasks-view>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" v-if="user !== null && project.project_lead === user.id">
                    <project-members :projectNumber="projectId" :project_author="project.project_lead" v-if="user !== null && project.project_lead === user.id"></project-members>
                </div>
                <div :class="user !== null && project.project_lead === user.id ? 'col-xs-6 col-sm-6 col-md-6 col-lg-6' : 'col-xs-12 col-sm-12 col-md-12 col-lg-12'">
                    <comments target="project" :targetId="projectId" v-bind:commentsCount="commentsCount"></comments>
                </div>
            </div>
            <div class="row">
                <h2 class="text-center"><i class="icon-floppy-disk"></i> Прикрепить файлы</h2>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <attachments-uploader :targetName="'projects'" :targetNumber="projectId" :targetAttachments="project.attachments"></attachments-uploader>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <existing-attachments :targetName="'projects'" :targetId="projectId" :targetAttachments="project.attachments" :targetAuthorId="projectLead"></existing-attachments>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <project-statistic :project="project"></project-statistic>
                </div>
            </div>


        </div>
        <!-- /main content -->


    </div>
</template>

<script>
    import moment from 'moment';
    import Breadcrumbs from '../partials/Breadcrumbs.vue';
    import Comments from '../Comments.vue';
    import TasksView from '../tasks/TasksView.vue';
    import ProjectMembers from './ProjectMembers.vue';
    import SubProjects from './SubProjects.vue';
    import TaskListBySubProjects from './TaskListBySubProjects.vue';
    import countdown from '../../assets/js/plugins/extensions/jquery.countdown.min.js';
    import swal from 'sweetalert';
    import ExistingAttachments from '../partials/ExistingAttachments.vue';
    import AttachmentsUploader from '../partials/AttachmentsUploader.vue';
    import ProjectStatistic from '../projects/ProjectStatistic.vue';

    moment.locale('ru');
    export default {
        name: 'projects-view',
        components: { Comments, TasksView, Breadcrumbs, ProjectMembers, SubProjects, TaskListBySubProjects, ExistingAttachments, AttachmentsUploader, ProjectStatistic },

        data () {
            return {
                endpoints: {
                    project: {
                        get: API_URL + '/projects',
                    },
                    task: {
                        get: API_URL + '/tasks',
                    }
                },
                user: null,
                projectLead: null,
                project: {},
                tasks: [],
                microtime: 0,
                projectLoaded: false,
                toggleSubProjectsButton: false,
                projectId: null,
                subProjects: {visible: false, text: 'Показать этапы проекта'},
                commentsCount: 0
            }
        },
        computed: {
            showDeadline: function () {
                if (this.project.deadline !== null) {
                    let deadline = moment(this.project.deadline);
                    let that = this;
                    if (moment().isSameOrBefore(deadline)) {
                        $('.timer').countdown(moment(that.project.deadline).format('YYYY/MM/DD'), function(event) {
                            //console.error(event);
                            $('#days').text(event.strftime('%D'));
                            $('#hours').text(event.strftime('%H'));
                            $('#minutes').text(event.strftime('%M'));
                            $('#seconds').text(event.strftime('%S'));
                        });
                    }
                    return moment().isSameOrBefore(deadline);
                } else {
                    return false;
                }

            },
            showSubProjectButton: function () {
                if (this.project.children_count > 0) {
                    return this.toggleSubProjectsButton;
                }
                return false;
            },
            showSubProjectRow: function () {
                if (this.project.children_count > 0) {
                    return this.subProjects.visible;
                }

                return false;
            },
        },
        watch: {
            '$route': function () {
                console.log(this.$route.params.id);
                this.projectId = this.$route.params.id;
                this.getProject(this.projectId);
            }
        },

        methods: {
            showSubProjects () {
                this.subProjects.visible = !this.subProjects.visible;
                if (this.subProjects.visible === false) {
                    this.subProjects.text = 'Показать этапы проекта';
                } else {
                    this.subProjects.text = 'Скрыть этапы проекта';
                }
            },
            getChunk () {

                let chunk = [];
                let events = this.tasks;
                let i;
                let chunkSize = 2;
                for (i = 0; i < events.length; i += chunkSize) {
                    chunk.push(events.slice(i, i + chunkSize));
                }
                return chunk;
            },
            getProject (id) {
                this.$http.get(this.endpoints.project.get + '/' + id)
                    .then((response) => {
                        this.project = response.body.data[0];
                        this.projectLead = this.project.project_lead;
                        this.commentsCount = this.project.comments_count;
                        if (this.project.children_count > 0) {
                            this.toggleSubProjectsButton = true;
                        }

                        }, (error) => {
                            console.log(error);
                        })
            },
            getDate (date) {
                return moment(date).format('Do MMMM YYYY, hh:mm');
            },
            getDeadline (date) {
                return moment(date, 'YYYY-MM-DD').fromNow();
            },
            changePriority (task, priority) {
                task.priority = priority;

                this.updateTask(task);

            },
            deleteProject (id) {
                this.$Progress.start();
                let conf = confirm('Удалить проект?');
                if (conf) {

                    this.blockElement('#project-wrapper');
                    let time = new Date();
                    let microtime = time.getMilliseconds();

                    if (id !== '' || id !== 'undefined') {
                        this.$http.delete(this.endpoints.project.get + '/' + id)
                            .then((response) => {
                                    new PNotify({
                                        title: 'Успешно',
                                        text: response.body.data,
                                        addclass: 'bg-success'
                                    });
                                    this.$Progress.finish();
                                    this.$router.push('/projects');
                                },(error) => {
                                    this.$Progress.fail();
                                    console.log(error);
                                })
                    } else {
                        console.log('id undefined');
                    }
                    this.unBlockElement('#project-wrapper', microtime)

                } else {
                    return false;
                }
            },

            updateTask (task) {
                this.$Progress.start();
                this.$http.put(this.endpoints.task.get + '/' + task.id, task)
                    .then((response) => {
//                        this.project = response.body.data[0];
                        new PNotify({
                            title: 'Успешно',
                            text: response.body.message,
                            addclass: 'bg-success'
                        });
                        this.$Progress.finish();
                    }, (error) => {
                        this.$Progress.error();
                        new PNotify({
                            title: 'Произошла ошибка.',
                            text: error.body.data ? error.body.data : error.body.message,
                            addclass: 'bg-danger'
                        });
                    })
            }

        },
        created () {
            this.user = this.$store.state.user;
            let time = new Date();
            this.microtime = time.getMilliseconds();

            let projectId = parseInt(this.$route.params.id);

            if (! isNaN(projectId)) {
                this.projectId = projectId;
                this.getProject(projectId);
            }
        },

        mounted () {
            this.blockElement('#project-wrapper');

            this.unBlockElement('#project-wrapper', this.microtime);

            $(function(){
                // Heading elements toggler
                // -------------------------
//                console.log(moment(that.project.deadline).format('YYYY/MM/DD'));
//

                // Add control button toggler to page and panel headers if have heading elements
                $('.panel-heading, .page-header-content, .panel-body').has('> .heading-elements').append('<a class="heading-elements-toggle"><i class="icon-menu"></i></a>');


                // Toggle visible state of heading elements
                $('.heading-elements-toggle').on('click', function() {
                    $(this).parent().children('.heading-elements').toggleClass('visible');
                });

            });
//            this.unBlockElement('.content-wrapper', this.microtime);

        },


    }
</script>

<style>
    .list-inline.list-inline-condensed.heading-text.pull-left {
        padding:0;
        margin:0;
    }
    .panel-footer>.heading-elements {
        position: static;
        margin-top: 0;
        padding-right: 20px;
    }
    .heading-elements {
        background-color: inherit;
        position: absolute;
        top: 50%;
        right: 20px;
        height: 36px;
        margin-top: -18px;
    }
    #project-wrapper {
        display: block;
    }
</style>