<style scoped>
    .echarts {
        width: 100%;
        height: 400px;
    }
</style>
<template>
    <div class="panel">
        <div class="panel-heading">
            <h2 class="text-center">Статистика данного проекта</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" v-if="project && project.tasks && project.tasks.length > 0">
                    <div class="chart-container">
                        <div class="echarts">
                            <IEcharts :option="bar" :loading="loading" @click="onClick"></IEcharts>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Статус проекта:
                        <span class="label border-left-info label-striped" v-if="project.status === 'all'">Показывать все</span>
                        <span class="label border-left-info label-striped" v-else-if="project.status === 'open'">Открыт</span>
                        <span class="label border-left-info label-striped" v-else-if="project.status === 'hold'">На рассмотрении</span>
                        <span class="label border-left-info label-striped" v-else-if="project.status === 'resolved'">Утвердили</span>
                        <span class="label border-left-info label-striped" v-else-if="project.status === 'in_progress'">В процессе</span>
                        <span class="label border-left-info label-striped" v-else-if="project.status === 'ready_to_test'">Готов для тестирования</span>
                        <span class="label border-left-info label-striped" v-else-if="project.status === 'closed'">Закрыт</span>
                    </p>
                    <div v-if="project.status === 'closed'">
                        <p>Проект создан:  <b>{{ getDateHumanFormat(project.created_at) }}, ({{ project.created_at }})</b>.</p>
                        <p>Проект начал выполняться:  <b>{{ getDateHumanFormat(project.start_at) }}, ({{ project.start_at }})</b>.</p>
                        <p>Проект завершен: <b>{{ getDateHumanFormat(project.end_at) }}, ({{ project.end_at }})</b></p>
                        <p>На выполнение понадобилось: <b>{{ getDiffByTwoDates(project.start_at, project.end_at) }} дней</b></p>
                        <p>Дедлайн проекта: <b>{{ getDateHumanFormat(project.deadline) }}, ({{ project.deadline }})</b></p>
                    </div>
                    <div v-else>
                        <p>Проект создан:  <b>{{ getDateHumanFormat(project.created_at) }}, ({{ project.created_at }})</b>.</p>
                        <p>Дедлайн проекта: <b>{{ getDateHumanFormat(project.deadline) }}, ({{ project.deadline }})</b></p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" :class="'progress-bar-'+progressBarClass" role="progressbar" :aria-valuenow="diffBetweenNow" aria-valuemin="0"
                             aria-valuemax="100" :style="'width:'+diffBetweenNow+'%'">
                            {{ diffBetweenNow }}% позади
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import IEcharts from 'vue-echarts-v3/src/full.vue';
    export default {
        name: 'project-statistic',
        props: ['project'],
        components: { IEcharts },
        data () {
            return {
                deadline: this.project.deadline,
                created: this.project.created_at,
                diffBetweenCreated: 0,
                diffBetweenNow: 0,
                progressBarClass: 'info',
                loading: false,
                bar: {
                    title : {
                        text: 'График тасков проекта',
                        subtext: this.project.name,
                        x:'center'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient : 'vertical',
                        x : 'left',
                        data:[]
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: false, readOnly: true},
                            magicType : {
                                show: true,
                                type: ['pie', 'funnel'],
                                option: {
                                    funnel: {
                                        x: '25%',
                                        width: '50%',
                                        funnelAlign: 'left',
                                        max: 1548
                                    }
                                }
                            },
                            saveAsImage : {
                                show: true,
                                title: 'Скриншот'
                            },
                            restore : {
                                show: true,
                                title: 'Обновить'
                            }
                        }
                    },
                    calculable : true,
                    series : [
                        {
                            name:'Необходимое время для задачи (в часах)',
                            type:'pie',
                            radius : '55%',
                            center: ['50%', '60%'],
                            data:[]
                        }
                    ]
                },
            }
        },
        methods: {
            getDiffByTwoDates (first, second) {
                first = moment(first);
                second = moment(second);

                return second.diff(first, 'days');
            },
            getDateHumanFormat (date) {
                let response = moment(date).fromNow();

                if (response === 'Invalid date') return moment().fromNow();
                return response;
            },
            getDiffBetweenDatesCreated () {
                let created = null;
                if (this.project.status === 'closed') {
                    created = moment(this.project.end_at);
                } else {
                    created = moment(this.project.created_at);
                }
                let deadline = moment(this.project.deadline);

                this.diffBetweenCreated = deadline.diff(created, 'days');
            },
            getDiffBetweenDatesNow () {
                let maxValue = this.diffBetweenCreated;
                let maxPercent = 100;
                let minPercent = null;

                let now = moment();

                let deadline = moment(this.project.deadline);
                let diff = deadline.diff(now, 'days');
                minPercent = (diff * maxPercent) / maxValue;

                let diffInPercents = Math.round(maxPercent - minPercent);

                this.diffBetweenNow = diffInPercents <= 0 ? 1 : diffInPercents;
                this.progressBarClass = this.getProgressBarClass(diffInPercents);

            },

            setDataToChartFromTask () {
                let tasks = this.project.tasks;
                let vm = this;
                this.bar.legend.data = [];
                this.bar.series[0].data = [];
                if (tasks !== undefined) {
                    for (let i=0; i <= tasks.length; i++) {
                        if (tasks[i] === undefined) continue;
                        vm.bar.legend.data.push('#' + tasks[i].id + ',' + tasks[i].title);
                        vm.bar.series[0].data.push({value:tasks[i].estimate, name:'#' + tasks[i].id + ',' + tasks[i].title });
                    }
                }
            },

            getProgressBarClass (diffInPercents) {
                let progressBarClass = null;
                if (diffInPercents > 0 && diffInPercents <= 30) {
                    progressBarClass = 'primary';
                } else if (diffInPercents > 31 && diffInPercents <= 62 && this.project.status !== 'closed') {
                    progressBarClass = 'info';
                } else if (diffInPercents > 63 && diffInPercents <= 85 && this.project.status !== 'closed') {
                    progressBarClass = 'warning';
                } else if (diffInPercents > 86 && diffInPercents < 100 && this.project.status !== 'closed') {
                    progressBarClass = 'danger';
                } else if (diffInPercents >= 100 && this.project.status === 'closed') {
                    progressBarClass = 'success';
                } else {
                    progressBarClass = 'success';
                }

                return progressBarClass;
            },
            onClick(event, instance, echarts) {
                console.log(arguments);
            }

        },
        watch : {
            project: function () {
                this.getDiffBetweenDatesCreated();
                this.getDiffBetweenDatesNow();
                this.setDataToChartFromTask();
            }
        },
        mounted () {
            this.getDiffBetweenDatesCreated();
            this.getDiffBetweenDatesNow();
            this.setDataToChartFromTask();
        }
    }
</script>