<template>
    <div id="members-wrapper">
        <!-- Detailed task -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Task overview -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <a @click.prevent="addMember()" title="Добавить нового участника" class="btn bg-teal-400 btn-sm text-left"><i class="icon-user-plus"></i></a>
                        <h5 class="panel-title text-semibold"><i class="icon-users position-left"></i> Участники проекта
                            <span v-if="members_count !== 0" class="badge badge-default"> <b>{{ members_count ? members_count : 0 }}</b> </span>
                        </h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a @click="getMembers" data-action="reload"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        <!-- Linked lists -->
                        <div class="row">
                            <div class="col-md-12">

                                <!-- List with text -->
                                <div class="panel panel-flat">
                                    <ul class="media-list media-list-linked">
                                        <li class="media" v-for="member in members">
                                            <a class="media-link">
                                                <div class="media-left"><img :src="member.avatar && member.avatar != '' ? baseApiUrl + member.avatar : baseApiUrl + '/images/noavatar.png' " class="img-circle" alt=""></div>
                                                <div class="media-body">
                                                    <div class="media-heading text-semibold">{{ member.name }}</div>
                                                    <span class="text-muted">{{ member.email }}</span>
                                                </div>
                                                <div class="media-right media-middle text-nowrap">
                                                <span class="text-muted" v-if="members !== null && members.length > 1 && $store.state.user.id !== member.id">
                                        <a title="Удалить участника" @click.prevent="deleteMember(member.id)" class="btn border-danger text-danger btn-flat"><i class="icon-trash"></i></a>
                                                </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /list with text -->

                            </div>
                        </div>
                        <!-- /linked lists -->

                    </div>


                </div>
                <!-- /task overview -->
            </div>
        </div>
        <div class="modal" id="membersModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form @submit.prevent="inviteMember()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Пригласить пользователя в этот проект</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" :class="err.email !== null || err.user_exists !== null ? 'has-error' : ''">
                                <label for="new-member" class="col-sm-2 control-label">Введите email пользователя</label>
                                <div class="col-sm-10">
                                    <input type="text" autocomplete="off" id="new-member" v-model="newMember.email" class="form-control">
                                    <div class="help-block" v-show="err.email !== null"><span>{{ err.email !== null ? err.email : ''}}</span></div>
                                    <div class="help-block" v-show="err.user_exists !== null"><span>{{ err.user_exists !== null ? err.user_exists : ''}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- /detailed task -->
    </div>

</template>

<script>
    import moment from 'moment';
    import Comments from '../Comments.vue';
    import TasksView from '../tasks/TasksView.vue';
    import countdown from '../../assets/js/plugins/extensions/jquery.countdown.min.js';
    moment.locale('ru');
    export default {
        name: 'project-members',
        props: ['projectNumber', 'project_author'],
        data () {
            return {
                endpoints: {
                    members: API_URL + '/projects',
                    users: API_URL + '/users/available',
                },
                baseApiUrl: API_BASE_URL,
                project: {},
                users: [],
                microtime: 0,
                projectLoaded: false,
                projectAuthor: this.project_author,
                projectId: null,
                members: null,
                members_count: null,
                newMember: {
                    email: null,
                    user_id: null,
                    project_id: null
                },
                err: {
                    email : null,
                    user_exists : null,
                },
                matchesEmails: []
            }
        },


        methods: {
            getUsers () {
                this.$Progress.start();
                this.newMember.user_id = null;
                this.newMember.project_id = null;
                this.$http.get(this.endpoints.users, {params: {
                    for_task_member: true,
                    target: 'project',
                    target_id: this.projectId
                }}).then((response) => {
                    this.users = response.body.data;
                    this.$Progress.finish();
                }, (error) => {
                    this.$Progress.fail();
                    console.log(error);
                })
            },
            addMember () {
                this.getUsers();
                $('#membersModal').modal('show');
            },
            inviteMember() {
                this.err.email = null;
                this.err.user_exists = null;
                if (this.projectId !== undefined) {

                    this.$Progress.start();
                    this.newMember.project_id = this.projectId;
                    this.$http.post(this.endpoints.members + '/' + this.projectId + '/members/invite', this.newMember).then((response) => {
                        console.log();
                        $('#membersModal').modal('hide');
                        this.$Progress.finish();
                        this.getMembers();
                        if (response.body.status === 'OK') {
                            new PNotify({
                                title: 'Успешно',
                                text: 'Пользователь приглашен в проект',
                                addclass: 'bg-success'
                            });
                        }

                        this.newMember.email = null;
                        this.newMember.user_id = null;
                        this.newMember.project_id = null;
                    }, (error) => {
                        if (error.body.email) {
                            this.err.email = error.body.email[0] ? error.body.email[0] : error.body.email;
                        }
                        if (error.body.user_exists) {
                            this.err.user_exists = error.body.user_exists[0] ? error.body.user_exists[0] : error.body.user_exists;
                        }
                        this.$Progress.fail();
                        console.log(error) });
                }
            },
            createMember () {
                if (this.projectId !== undefined) {
                    this.$Progress.start();
                    this.newMember.project_id = this.projectId;
                    this.$http.post(this.endpoints.members + '/' + this.projectId + '/members', this.newMember).then((response) => {
                        $('#membersModal').modal('hide');
                        this.$Progress.finish();
                        this.getMembers();
                    }, (error) => {
                       this.$Progress.fail();
                       console.log(error) });
                }
            },

            getMembers() {
                this.blockElement('#members-wrapper');
                this.$Progress.start();
                if (this.projectId !== undefined) {
                    this.$http.get(this.endpoints.members + '/' + this.projectId + '/members').then((response) => {
                        this.members = response.body.data;
                        this.members_count = this.members.length;
                        this.$Progress.finish();
                        console.log(response);
                        this.unBlockElement('#members-wrapper', this.microtime);
                    }, (error) => {
                        console.log(error);
                        this.$Progress.fail();
                        this.unBlockElement('#members-wrapper', this.microtime);
                    });
                }
            },
            deleteMember (id) {
                this.$Progress.start();

                this.$http.delete(this.endpoints.members + '/' + this.projectId + '/members', {params: {
                    user_id: id,
                    project_id: this.projectId
                }}).then((response) => {
                    this.$Progress.finish();
                    this.getMembers();
                }, (error) => {
                    this.$Progress.fail();
                    console.log(error);
                })
            },
        },
        watch: {
            projectNumber: function () {
                this.projectNumber = this.projectId;
            },
            projectAuthor: function() {
                this.projectAuthor = this.project_author;
            }
        },
        created () {
            this.projectId = this.projectNumber;
            console.log(this.projectNumber);
        },
        mounted () {
            console.log(this.$store.state.user.id, this.projectAuthor);
            $('[title]').tooltip();
            this.getMembers();
            this.blockElement('#members-wrapper');
            this.unBlockElement('#members-wrapper', this.microtime);
        },
        updated () {
            $('[title]').tooltip();
        }
    }
</script>

<style>
    #project-wrapper {
        display: block;
    }
</style>