<template>
    <div>
        <breadcrumbs :linksArray="[{'active': true, 'text': 'Проекты'}]"></breadcrumbs>

        <div id="projects">
            <transition name="no-display">
                <div class="row" v-if="emptyProjects">
                    <div class="col-sm-6 col-sm-offset-2">
                        <div class="alert alert-info">
                            <strong>Вы пока не состоите ни в одном из проектов. Вы можете создать новый.</strong>
                            <router-link :to="{path: 'projects/create'}" class="btn btn-info">Создать проект</router-link>
                        </div>
                    </div>
                </div>
            </transition>

            <div class="navbar navbar-default navbar-xs navbar-component" v-if="!emptyProjects">
                <ul class="nav navbar-nav no-border visible-xs-block">
                    <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
                </ul>

                <div class="navbar-collapse collapse" id="navbar-filter">
                    <ul class="nav navbar-nav">

                        <li class="dropdown" data-toggle="tooltip" data-placement="bottom" title="По статусу">
                            <a href="#" v-if="selectedStatus == null" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-amount-desc position-left"></i> По статусу <span class="caret"></span></span> <i class="icon-sort-amount-desc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                            <a href="#" v-if="selectedStatus == 'all'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-amount-desc position-left"></i> Показывать все <span class="caret"></span></span> <i class="icon-sort-amount-desc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                            <a href="#" v-if="selectedStatus == 'open'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-amount-desc position-left"></i> Открыт <span class="caret"></span></span> <i class="icon-sort-amount-desc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                            <a href="#" v-if="selectedStatus == 'hold'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-amount-desc position-left"></i> На рассмотрении <span class="caret"></span></span> <i class="icon-sort-amount-desc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                            <a href="#" v-if="selectedStatus == 'resolved'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-amount-desc position-left"></i> Утвердили <span class="caret"></span></span> <i class="icon-sort-amount-desc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                            <a href="#" v-if="selectedStatus == 'in_progress'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-amount-desc position-left"></i> В процессе <span class="caret"></span></span> <i class="icon-sort-amount-desc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                            <a href="#" v-if="selectedStatus == 'ready_to_test'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-amount-desc position-left"></i> Готов для тестирования <span class="caret"></span></span> <i class="icon-sort-amount-desc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                            <a href="#" v-if="selectedStatus == 'closed'" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-amount-desc position-left"></i> Закрыт <span class="caret"></span></span> <i class="icon-sort-amount-desc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>

                            <ul class="dropdown-menu">
                                <li :class="selectedStatus === 'all' ? 'active' : ''" @click.prevent="filterProjectsByStatus('all')"><a href="#">Показывать все</a></li>
                                <li class="divider"></li>
                                <li :class="selectedStatus === 'open' ? 'active' : ''" @click.prevent="filterProjectsByStatus('open')"><a href="#">Открыт</a></li>
                                <li :class="selectedStatus === 'hold' ? 'active' : ''" @click.prevent="filterProjectsByStatus('hold')"><a href="#">На рассмотрении</a></li>
                                <li :class="selectedStatus === 'resolved' ? 'active' : ''" @click.prevent="filterProjectsByStatus('resolved')"><a href="#">Утвердили</a></li>
                                <li :class="selectedStatus === 'in_progress' ? 'active' : ''" @click.prevent="filterProjectsByStatus('in_progress')"><a href="#">В процессе</a></li>
                                <li :class="selectedStatus === 'ready_to_test' ? 'active' : ''" @click.prevent="filterProjectsByStatus('ready_to_test')"><a href="#">Готов для тестирования</a></li>
                                <li :class="selectedStatus === 'closed' ? 'active' : ''" @click.prevent="filterProjectsByStatus('closed')"><a href="#">Закрыт</a></li>
                            </ul>
                        </li>

                        <li class="dropdown" data-toggle="tooltip" data-placement="bottom" title="По приоритету">
                            <a href="#" v-if="selectedPriority == null" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-numeric-asc position-left"></i> По приоритету <span class="caret"></span></span> <i class="icon-sort-numeric-asc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                            <a href="#" v-if="selectedPriority == 3" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-numeric-asc position-left"></i> Высокий <span class="caret"></span></span> <i class="icon-sort-numeric-asc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                            <a href="#" v-if="selectedPriority == 2" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-numeric-asc position-left"></i> Нормальный <span class="caret"></span></span> <i class="icon-sort-numeric-asc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>
                            <a href="#" v-if="selectedPriority == 1" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-lg"><i class="icon-sort-numeric-asc position-left"></i> Низкий <span class="caret"></span></span> <i class="icon-sort-numeric-asc position-left hidden-lg"></i> <span class="caret hidden-lg"></span></a>

                            <ul class="dropdown-menu">
                                <li :class="selectedPriority === 'all' ? 'active' : ''" @click.prevent="filterProjectsByPriority('all')"><a href="#">Показывать все</a></li>
                                <li class="divider"></li>
                                <li :class="selectedPriority === 3 ? 'active' : ''" @click.prevent="filterProjectsByPriority(3)"><a href="#">Высокий</a></li>
                                <li :class="selectedPriority === 2 ? 'active' : ''" @click.prevent="filterProjectsByPriority(2)"><a href="#">Нормальный</a></li>
                                <li :class="selectedPriority === 1 ? 'active' : ''" @click.prevent="filterProjectsByPriority(1)"><a href="#">Низкий</a></li>
                            </ul>
                        </li>

                        <li class="dropdown" data-toggle="tooltip" data-placement="bottom" title="Количество">
                            <a href="#" v-if="perPage == 10" class="dropdown-toggle" data-toggle="dropdown"><i class="position-right"></i>Показывать по: {{ perPage }} <span class="caret"></span> </a>
                            <a href="#" v-if="perPage == 20" class="dropdown-toggle" data-toggle="dropdown"><i class="position-right"></i>Показывать по: {{ perPage }} <span class="caret"></span> </a>
                            <a href="#" v-if="perPage == 100" class="dropdown-toggle" data-toggle="dropdown"><i class="position-right"></i>Показывать по: {{ perPage }} <span class="caret"></span> </a>

                            <ul class="dropdown-menu">
                                <li :class="perPage === 10 ? 'active' : '' "><a @click.prevent="setPerPage(10)">10</a></li>
                                <li :class="perPage === 20 ? 'active' : '' "><a @click.prevent="setPerPage(20)">20</a></li>
                                <li :class="perPage === 100 ? 'active' : '' "><a @click.prevent="setPerPage(100)">100</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="heading-elements">
                        <router-link :to="{path: '/projects/create'}" class="btn btn-info"><i class="icon-plus-circle2"></i> Новый проект</router-link>
                    </div>

                </div>
            </div>

            <div class="panel panel-white" v-if="!emptyProjects" >

                <table class="table tasks-list table-lg projects-table">
                    <thead>
                    <tr>
                        <th>
                            <a @click="setSort('id')">
                                <b>#
                                    <i :class="params.params.sort.id !== null ? 'icon-arrow-'+
                                                ((params.params.sort.id == 'asc') ? 'up' : 'down')
                                                +'12' : 'hidden'"></i>
                                </b>
                            </a>
                        </th>
                        <th>
                            <b>Автор</b>
                        </th>
                        <th>
                            <a @click="setSort('name')">
                                <b>Название проекта
                                    <i :class="params.params.sort.name !== null ? 'icon-arrow-'+
                                                ((params.params.sort.name == 'asc') ? 'up' : 'down')
                                                +'12' : 'hidden'"></i>
                                </b>
                            </a>
                        </th>
                        <th>
                            <a @click="setSort('priority')">
                                <b>Приоритет
                                    <i :class="params.params.sort.priority !== null ? 'icon-arrow-'+
                                                ((params.params.sort.priority == 'asc') ? 'up' : 'down')
                                                +'12' : 'hidden'"></i>
                                </b>
                            </a>
                        </th>
                        <th>
                            <a @click="setSort('deadline')">
                                <b>Дедлайн
                                    <i :class="params.params.sort.deadline !== null ? 'icon-arrow-'+
                                                ((params.params.sort.deadline == 'asc') ? 'up' : 'down')
                                                +'12' : 'hidden'"></i>
                                </b>
                            </a>
                        </th>
                        <th>
                            <a @click="setSort('status')">
                                <b>Статус
                                    <i :class="params.params.sort.status !== null ? 'icon-arrow-'+
                                                ((params.params.sort.status == 'asc') ? 'up' : 'down')
                                                +'12' : 'hidden'"></i>
                                </b>
                            </a>
                        </th>
                        <th>Опции</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="project in projects">
                        <td>#{{ project.id }}</td>
                        <td>
                            <div class="project_lead">
                                <img :src="endpoints.base + (project.lead ? project.lead.avatar : '/images/noavatar.png')" class="user_avatar" :data-title="project.lead ? project.lead.name : '-'">
                            </div>
                        </td>
                        <td>
                            <div class="text-semibold">
                                <router-link :to="{path: '/projects/'+project.id+'/show'}">{{ project.name }}</router-link>
                            </div>
                            <div class="text-muted">{{ project.description }}</div>
                        </td>
                        <td>

                            <div class="btn-group">
                                <a v-if="project.priority == 3" class="label label-danger dropdown-toggle" data-toggle="dropdown"> Высокий <span class="caret"></span></a>
                                <a v-if="project.priority == 2" class="label label-info dropdown-toggle" data-toggle="dropdown"> Средний <span class="caret"></span></a>
                                <a v-if="project.priority == 1" class="label label-success dropdown-toggle" data-toggle="dropdown"> Низкий <span class="caret"></span></a>


                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li @click.prevent="changePriority(project, 3)"><a><span class="status-mark position-left bg-danger"></span> Высокий </a></li>
                                    <li @click.prevent="changePriority(project, 2)"><a><span class="status-mark position-left bg-info"></span> Средний </a></li>
                                    <li @click.prevent="changePriority(project, 1)"><a><span class="status-mark position-left bg-success"></span> Низкий </a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-transparent">
                                <div class="input-group-addon"><i class="icon-calendar2 position-left"></i></div>
                                <input type="text" class="form-control datepicker" :id="'datepicker-' + project.id " :data-id="project.id" v-model="project.deadline">
                            </div>
                        </td>
                        <td>
                            <select name="status" class="form-control" data-placeholder="Select status" v-model="project.status" @change="changeStatus(project, $event)">
                                <option value="open">Открыт</option>
                                <option value="hold">На рассмотрении</option>
                                <option value="resolved">Утвердили</option>
                                <option value="in_progress">В процессе</option>
                                <option value="ready_to_test">Готов для тестирования</option>
                                <option value="closed">Закрыт</option>
                            </select>
                        </td>


                        <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <!--<li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>-->
                                        <!--<li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>-->
                                        <!--<li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>-->
                                        <!--<li class="divider"></li>-->
                                        <li v-if="authenticatedUser.id === project.project_lead"><router-link :to="{path: '/projects/'+project.id+'/edit'}"><i class="icon-pencil7"></i> Редактировать проект</router-link></li>
                                        <li @click.prevent="deleteProject($event, project.id, project)"><a><i class="icon-cross2"></i>
                                         {{ authenticatedUser.id === project.project_lead ? 'Удалить' : 'Покинуть проект' }}
                                        </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>
            <!-- /task manager table -->
            <!-- Pagination -->
            <div class="text-center content-group-sm pt-20" v-show="pagination.total > projects.length">
                <ul class="pagination">
                    <li :class="pagination.current_page > 1 ? '' : 'disabled'">
                        <a v-if="pagination.current_page > 1" href="#" aria-label="Previous" @click.prevent="changePage(pagination.current_page - 1)">
                            <span aria-hidden="true"><i class="icon-arrow-small-left"></i></span>
                        </a>
                        <a v-else aria-label="Previous">
                            <span aria-hidden="true"><i class="icon-arrow-small-left"></i></span>
                        </a>
                    </li>
                    <li v-for="page in pagination.last_page"
                        :class="[ page === pagination.current_page ? 'active' : '']">
                        <a href="#" @click.prevent="changePage(page)">{{ page }}</a>
                    </li>
                    <li :class="pagination.current_page < pagination.last_page ? '' : 'disabled'">
                        <a v-if="pagination.current_page < pagination.last_page" href="#" aria-label="Next" @click.prevent="changePage(pagination.current_page + 1)">
                            <span aria-hidden="true"><i class="icon-arrow-small-right"></i></span>
                        </a>
                        <a v-else aria-label="Next">
                            <span aria-hidden="true"><i class="icon-arrow-small-right"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /pagination -->
        </div>
    </div>
</template>

<script>
    import Breadcrumbs from '../partials/Breadcrumbs.vue';

    import bootstrapDualListbox from '../../assets/js/plugins/forms/inputs/duallistbox.min';
    import editable from "../../assets/js/plugins/bootstrap3-editable/bootstrap-editable.min.js";
    import moment from "moment"
    import ion_rangeslider from "ion-rangeslider"
    import datepicker from "../../assets/js/plugins/pickers/datepicker.js"
    import spectrum from "../../assets/js/plugins/pickers/color/spectrum.js";
    import datatables from '../../assets/js/plugins/tables/datatables/datatables.min.js';
    import natural_sort from '../../assets/js/plugins/tables/datatables/extensions/natural_sort.js';
    import select2 from '../../assets/js/plugins/forms/selects/select2.min.js';

    export default {
        name: 'projects',
        data () {
            return {
                endpoints: {
                    base: API_BASE_URL,
                    activities: API_URL + '/activities',
                    directions: API_URL + '/directions',
                    projects: {
                        get: API_URL + '/projects',
                    }
                },
//                errors: {
//                    deadline: null,
//                    name: null,
//                    description: null,
//                },
                params: {
                    params: {
                        filter:{},
                        sort: {
                            id: null,
                            name: null,
                            status: null,
                            priority: null,
                            deadline: null,
                            created_at: null,
                            order: null,
                        }
                    }
                },
                page: 1,
                pagination: {},
                selectedPeriod: null,
                selectedStatus: null,
                selectedPriority: null,
                perPage: 10,
                activities: [],
                directions: [],
                direction: {},
                project: {},
                projects: [],
                selectedActivity: 0,
                selectedDirection: 0,
                datePickerLoaded: false,
                microtime: 0,
                emptyProjects: false
            }
        },

        methods: {
            setPerPage (perPage) {
                this.perPage = perPage;
                this.params.params.page = '';
                this.params.params.perPage = perPage;
                this.getProjects();
            },
            changePage (page) {
                this.params.params.page = page;
                this.getProjects();
            },
            setSort (key) {
                if (this.params.params.sort[key]=== 'asc') {
                    this.params.params.sort[key] = 'desc'
                } else if (this.params.params.sort[key] === 'desc') {
                    this.params.params.sort[key] = null;
                } else {
                    this.params.params.sort[key] = 'asc';
                }
                this.getProjects();
            },

            filterProjectsByDate (param) {
                if (this.params.params.page) delete this.params.params.page;
                let today =new Date();
                let period = '';
                switch(param) {
                    case 'all':
                        period = 'all';
                        break;
                    case 'today':
                        period = 'today';
                        break;
                    case 'week':
                        period = 'week';
                        break;
                    case 'two_weeks':
                        period = 'two_weeks';
                        break;
                    case 'month':
                        period = 'month';
                        break;
                    case 'year':
                        period = 'year';
                        break;
                }
                this.selectedPeriod = period;
                this.params.params.filter.period = period;

                this.getProjects();
            },
            filterProjectsByStatus (params) {
                if (this.params.params.page) delete this.params.params.page;
                let status = '';
                console.log(params);
                switch(params){
                    case 'all':
                        status = 'all';
                        break;
                    case 'open':
                        status = 'open';
                        break;
                    case 'hold':
                        status = 'hold';
                        break;
                    case 'resolved':
                        status = 'resolved';
                        break;
                    case 'in_progress':
                        status = 'in_progress';
                        break;
                    case 'ready_to_test':
                        status = 'ready_to_test';
                        break;
                }

                this.selectedStatus = status;
                this.params.params.filter.status = status;

                this.getProjects();
            },
            filterProjectsByPriority (params) {
                if (this.params.params.page) delete this.params.params.page;
                let priority = '';
                switch(params){
                    case 'all':
                        priority = null;
                        break;
                    case 3:
                        priority = 3;
                        break;
                    case 2:
                        priority = 2;
                        break;
                    case 1:
                        priority = 1;
                        break;
                }
                this.selectedPriority = priority;
                this.params.params.filter.priority = priority;

                this.getProjects();
            },

            getProjects: function () {
                this.blockElement('#projects');
                let time = new Date();
                let microtime = time.getMilliseconds();
                this.params.params.perPage = this.perPage;
                this.$http.get(this.endpoints.projects.get, this.params)
                    .then(function (response) {
                        console.log(response);
                        this.projects = response.body.data.data;
                        this.pagination = response.body.data;
                        this.emptyProjects = this.projects.length <= 0;
                        delete this.pagination.data;
                        this.unBlockElement('#projects', microtime)
                    }, function (error) {
                        console.log(error);
                        this.unBlockElement('#projects', microtime)
                    })
            },

            updateProject: function (project, type) {
                if (type === undefined && (!this.authenticatedUser || this.authenticatedUser.id !== project.project_lead)) {
                    this.getProjects();
                    return this.errorNotify('Вы не являетесь автором данного проекта, его нельзя редактировать');
                }
                this.blockElement('#projects');
                let time = new Date();
                let microtime = time.getMilliseconds();

                this.$http.put(this.endpoints.projects.get + '/' + project.id, project)
                    .then(function (response) {
                        new PNotify({
                            title: 'Успешно',
                            text: response.body.message,
                            addclass: 'bg-success'
                        });
                        this.getProjects();
                    }, function (error) {
                        new PNotify({
                            title: 'Произошла ошибка.',
                            text: error.body.data ? error.body.data : error.body.message,
                            addclass: 'bg-danger'
                        });
                        console.log(error);
                    });

                this.unBlockElement('#projects', microtime)

            },

            changePriority: function (project, priority) {
                project.priority = priority;
                this.updateProject(project);
            },

            changeStatus: function (project, $event) {
                project.status = $event.target.value;

                this.updateProject(project);
            },

            changeDeadline: function(id, deadline) {
                let project = this.projects.filter(function (item) {
                    if(item.id == id) {
                        return item;
                    }
                });
                project[0].deadline = deadline;
                this.updateProject(project[0]);
            },

            deleteProject: function (event, id, project) {

                let vm = this;
                if (!this.authenticatedUser || this.authenticatedUser.id !== project.project_lead) {
                    swal({
                        title: "Вы уверены?",
                        text: "Вы не являетесь автором данного проекта, но вы его участник. Хотите выйти из проекта?",
                        type: "error",
                        showCancelButton: true,
                        confirmButtonColor: "#dd2c2f",
                        confirmButtonText: "Да, выйти из проекта!",
                        cancelButtonText: "Нет, отмена!",
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },
                    function(isConfirm) {

                        //let conf = confirm('Удалить проект?1111');
                        if (isConfirm) {

                            vm.blockElement('#projects-table');
                            let time = new Date();
                            let microtime = time.getMilliseconds();

                            if (id != '' || id != 'undefined') {
                                vm.$http.delete(vm.endpoints.projects.get + '/' + id + '/members')
                                    .then(function (response) {
                                            swal("Успешно!", "Вы успешно вышли из проекта", "success");
                                            vm.getProjects();
                                        },
                                        function (error) {
                                        if (error.status === 404) {
                                            swal("Ошибка!", "По данному запросу ничего не найдено", "info");

                                        }
                                            console.log(error);
                                        })
                            } else {
                                console.log('id undefined');
                            }
                            vm.unBlockElement('#projects-table', microtime);

                        }
                    });

//                    return this.errorNotify('Вы не являетесь автором данного проекта, но вы его участник. Хотите выйти из проекта?');
                } else {
                    swal({
                            title: "Вы уверены?",
                            text: "При удалении проекта также будут удалены его задачи!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Да, удалить!",
                            cancelButtonText: "Нет, отмена!",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function(isConfirm) {

                            //let conf = confirm('Удалить проект?1111');
                            if (isConfirm) {

                                vm.blockElement('#projects-table');
                                let time = new Date();
                                let microtime = time.getMilliseconds();

                                if (id != '' || id != 'undefined') {
                                    vm.$http.delete(vm.endpoints.projects.get + '/' + id)
                                        .then(function (response) {
                                                swal("Удалено!", "Проект и все относящиеся к нему задачи были удалены", "success");
                                                vm.getProjects();
                                            },
                                            function (error) {
                                                console.log(error);
                                            })
                                } else {
                                    console.log('id undefined');
                                }
                                vm.unBlockElement('#projects-table', microtime);

                            } else {
                                swal("Отменено", "Проект не будет удален:)", "error");
                            }
                        });
                }
            },
        },
        created() {

            let time = new Date();
            this.microtime = time.getMilliseconds();
            this.getProjects();

        },
        mounted () {
            this.blockElement('#projects');
            this.unBlockElement('#projects', this.microtime);


// Create an array with the values of all the input boxes in a column
            $.fn.dataTable.ext.order['dom-text'] = function (settings, col) {
                return this.api().column(col, {order:'index'}).nodes().map( function (td, i) {
                    return $('input', td).val();
                });
            };


// Create an array with the values of all the select options in a column
            $.fn.dataTable.ext.order['dom-select'] = function (settings, col) {
                return this.api().column(col, {order:'index'}).nodes().map( function (td, i) {
                    return $('select', td).val();
                });
            };

            $.fn.datepicker.dates['ru'] = {
                days: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
                daysShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                daysMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                monthsShort: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                today: "Сегодня",
                clear: "Clear",
                titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
                weekStart: 0
            };


            $(function() {
                // Table setup
                // ------------------------------

                // Initialize data table
//                $('.tasks-list').DataTable({
//                    autoWidth: false,
//                    columnDefs: [
//                        {
//                            type: "natural",
//                            width: '20px',
//                            targets: 0
//                        },
//                        {
//                            visible: false,
//                            targets: 1
//                        },
//                        {
//                            width: '40%',
//                            targets: 2
//                        },
//                        {
//                            width: '10%',
//                            targets: 3
//                        },
//                        {
//                            orderDataType: 'dom-text',
//                            type: 'string',
//                            targets: 4
//                        },
//                        {
//                            orderDataType: 'dom-select',
//                            type: 'string',
//                            targets: 5
//                        },
//                        {
//                            orderable: false,
//                            width: '100px',
//                            targets: 7
//                        },
//                        {
//                            width: '15%',
//                            targets: [4, 5, 6]
//                        }
//                    ],
//                    order: [[ 0, 'desc' ]],
//                    dom: '<"datatable-header"fl><"datatable-scroll-lg"t><"datatable-footer"ip>',
//                    language: {
//                        search: '<span>Filter:</span> _INPUT_',
//                        lengthMenu: '<span>Show:</span> _MENU_',
//                        paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
//                    },
//                    lengthMenu: [ 15, 25, 50, 75, 100 ],
//                    displayLength: 25,
//                    drawCallback: function (settings) {
//                        var api = this.api();
//                        var rows = api.rows({page:'current'}).nodes();
//                        var last=null;
//
//                        // Grouod rows
//                        api.column(1, {page:'current'}).data().each(function (group, i) {
//                            if (last !== group) {
//                                $(rows).eq(i).before(
//                                    '<tr class="active border-double"><td colspan="8" class="text-semibold">'+group+'</td></tr>'
//                                );
//
//                                last = group;
//                            }
//                        });
//
//
//
//                        // Select2
//                        $('select.select').select2({
//                            width: '150px',
//                            minimumResultsForSearch: Infinity
//                        });
//
//                        // Reverse last 3 dropdowns orientation
//                        $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
//                    },
//                    preDrawCallback: function(settings) {
//
//                        // Reverse last 3 dropdowns orientation
//                        $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
//
//                        // Destroy Select2
//                        $('select.select').select2().select2('destroy');
//                    }
//                });

                    $('select.select').select2({
                        width: '150px',
                        minimumResultsForSearch: Infinity
                    });

                // External table additions
                // ------------------------------

                // Add placeholder to the datatable filter option
                $('.dataTables_filter input[type=search]').attr('placeholder','Type to filter...');


                // Enable Select2 select for the length option
                $('.select').select2({
                    width: 'auto'
                });

            });

        },

        updated () {
            $('[data-title]').tooltip();
            let that = this;
            if (!that.datePickerLoaded) {
                $('.datepicker').datepicker({
                    weekStart: 1,
                    showOtherMonths: true,
                    todayHighlight: true,
                    startDate: new Date(),
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    language: 'ru'
                }).on('changeDate', function (e) {
                    that.changeDeadline($(e.target).data('id'), moment(e.dates[0]).format('YYYY-MM-DD'));
                });
            }
            that.datePickerLoaded = true;

            //$('#activity').selectpicker(this.selectedActivity);
            //$('#directions').selectpicker(this.selectedDirection);
            //$('#projects').selectpicker(this.selectedProject);
            $('.bootstrap-select').selectpicker('refresh');
        },
        components: {
            Breadcrumbs
        }
    }

</script>

<style>
.user_avatar {
    max-width: 40px;
    max-height: 40px;
    margin-top: -2.5px;
    border-radius: 50%;
}
</style>