<template>
    <div class="main-div">
        <div class="breadcrumb-line breadcrumb-line-component content-group-lg">
            <ul class="breadcrumb">
                <li><router-link to="/"><i class="icon-home2 position-left"></i> Главная</router-link></li>
                <li><router-link to="/projects"> Проекты</router-link></li>
                <li v-if="projectId !== null"><router-link :to="{ path: '/projects/'+ project.id +'/show' }"> {{ project.name }}</router-link></li>

                <li class="active" v-if="projectId === null">Создание нового проекта</li>
                <li class="active" v-else>Редактирование проекта #{{ project.id }} - {{ project.name }}</li>
            </ul>
        </div>
        <div class="panel panel-flat">
            <div class="panel-heading">

                <h4 v-if="projectId === null">Создание нового проекта</h4>
                <h4 v-else>Редактирование проекта #{{ project.id }} - {{ project.name }}</h4>
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-12 col-lg-12">
                        <div class="alert alert-danger" v-show="errors.need_to_fill_calendar && errors.need_to_fill_calendar !== null">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Ошибка!</strong>{{ errors.need_to_fill_calendar ? (errors.need_to_fill_calendar[0] ? errors.need_to_fill_calendar[0] : errors.need_to_fill_calendar) : '' }}
                        </div>
                        <form class="form-horizontal" id="submitForm">
                            <div class="row">
                                <!--<div class="col-sm-4">-->
                                    <!--<div class="form-group" :class="[ errors.activity_id ? 'has-error' : '' ]">-->
                                        <!--<div class="col-sm-12">-->
                                            <!--<label for="activity" class="control-label ">Сфера деятельности проекта</label>-->
                                            <!--<div class="btn-group bootstrap-select dropdawn open" style="width: 100%;">-->
                                                <!--<select class="bootstrap-select" data-width="100%" tabindex="-98"-->
                                                        <!--id="activity" v-model="selectedActivity" data-live-search="true">-->
                                                    <!--<option v-for="activity in activities" :value="activity.id">{{-->
                                                        <!--activity.name }}-->
                                                    <!--</option>-->
                                                <!--</select>-->
                                            <!--</div>-->
                                            <!--<div class="help-block" v-show="errors.activity_id != null">{{-->
                                                <!--errors.activity_id ? errors.activity_id[0] : errors.activity_id }}-->
                                            <!--</div>-->

                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="col-sm-4">
                                    <div class="col-sm-12">
                                        <div class="form-group" :class="[ errors.name ? 'has-error' : '' ]">
                                            <label for="project-name" class="control-label">Название проекта</label>
                                            <!--<div class="col-sm-12">-->
                                            <input type="text" class="form-control" v-model="project.name" id="project-name"
                                                   placeholder="Новый проект" autocomplete="true">
                                            <!--</div>-->
                                            <div class="help-block" v-show="errors.name != null">{{ errors.name ? errors.name[0] : errors.name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group" :class="[ errors.direction_id ? 'has-error' : '' ]">

                                        <div class="col-sm-12">
                                            <label for="direction" class="control-label ">Направление проекта</label>
                                            <div class="btn-group bootstrap-select dropdawn open" id=""
                                                 style="width: 100%;">
                                                <select class="bootstrap-select" data-width="100%" tabindex="-98"
                                                        id="direction" v-model="selectedDirection" data-live-search="true">
                                                    <option v-for="direction in directions" :value="direction.id"
                                                            :data-id="direction.id">{{ direction.name }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="help-block" v-show="errors.direction_id != null">{{
                                                errors.direction_id ? errors.direction_id[0] : errors.direction_id }}
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-2">
                                    <div class="col-sm-12">
                                        <div class="form-group" :class="[ errors.deadline ? 'has-error' : '' ]">
                                            <label for="deadline" class="control-label ">Дедлайн проекта</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                                <input type="text" name="daterange" id="deadline"
                                                       class="form-control datepicker" v-model="project.deadline"
                                                       placeholder="2017-05-05">
                                            </div>
                                            <div class="help-block" style="position: absolute;" v-show="errors.deadline != null">{{ errors.deadline ? errors.deadline[0] : errors.deadline }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="col-sm-12">
                                        <div class="form-group" :class="[ errors.color ? 'has-error' : '' ]">
                                            <label for="project-color" class="control-label">Цвет задач проекта</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control colorpicker-show-input" data-preferred-format="hex" v-model="project.color" id="project-color" >
                                            </div>
                                            <div class="help-block" v-show="errors.color != null">
                                                {{ errors.color ? errors.color[0] : errors.color }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group" :class="[ errors.priority ? 'has-error' : '' ]">
                                        <label class="text-semibold">Приоритет проекта</label>
                                        <div class="col-sm-12">
                                            <div class="col-md-6">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="priority" value="3" class="control-danger" v-model="selectedPriority" :checked="selectedPriority">
                                                        Высокий
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="priority" value="2" class="control-primary" v-model="selectedPriority" :checked="selectedPriority">
                                                        Средний
                                                    </label>
                                                </div>

                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="priority" value="1" class="control-success" v-model="selectedPriority" :checked="selectedPriority">
                                                        Низкий
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <div class="form-group" :class="[ errors.description ? 'has-error' : '' ]">
                                            <label for="project-description" class="control-label">Описание проекта</label>
                                            <!--<div class="col-sm-12">-->
                                                <textarea v-model="project.description" id="project-description" cols="10" rows="5" class="form-control" placeholder="Напишите описание Вашего проекта"></textarea>
                                            <!--</div>-->
                                            <div class="help-block" v-show="errors.description != null">{{ errors.description ? errors.description[0] : errors.description }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                <div class="row"><button type="button" @click.prevent="$router.back()" class="btn btn-default"><i class="icon-circle-left2"></i> Отмена</button></div>
                                            </div>
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <button type="button" class="btn btn-success" v-on:click.prevent="projectLoaded ? updateProject() : addProject()"
                                                        id="submitButton">
                                                    <i class="icon-floppy-disk position-left"></i>Сохранить
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
    import bootstrapDualListbox from '../../assets/js/plugins/forms/inputs/duallistbox.min';
    import editable from "../../assets/js/plugins/bootstrap3-editable/bootstrap-editable.min.js";
    import moment from "moment"
    import ion_rangeslider from "ion-rangeslider"
    import picker from "../../assets/js/plugins/pickers/datepicker.js"
    import spectrum from "../../assets/js/plugins/pickers/color/spectrum.js";

    export default {
        name: 'projects-create-edit',
        data () {
            return {
                endpoints: {
                    activities: API_URL + '/activities',
                    directions: API_URL + '/directions',
                    projects: {
                        get: API_URL + '/directions',
                        add: API_URL + '/projects',
                        remove: API_URL + '/projects'
                    },
                    project: {
                        get: API_URL + '/projects'
                    }
                },
                errors: {
                    deadline: null,
                    name: null,
                    need_to_fill_calendar: null,
                    description: null
                },
                activities: [],
                directions: [],
                direction: {},
                project: {},
                projectId: null,
                projects: [],
                selectedPriority: 2,
                selectedDirection: 0,
                projectLoaded: false,
                microtime: 0
            }
        },

        methods: {
            getProject: function (id) {
                this.$http.get(this.endpoints.project.get + '/' + id)
                    .then(function (response) {
                        this.project = response.body.data[0];
                        this.selectedPriority = this.project.priority;
                        this.selectedDirection = this.project.direction_id;
                        this.projectLoaded = true;
                    }, function (error) {
                        console.log(error);
                    })
            },

            getDirections: function () {
                let url = this.endpoints.directions;
                this.$http.get(url).then(function (response) {
                        this.directions = response.body.data;
                        console.log(this.directions);
                        if (this.directions.length > 0) {
                            this.$store.commit('directions', response.body.data);

//                            if (this.projectLoaded === false) {
                            this.selectedDirection = this.directions[0].id;
//                            } else {
//                                this.selectedDirection = this.project.direction_id;
//                            }
                        }
                    }, function (error) {
                        console.log(error);
                    })
            },

            addProject: function () {
//                let data = {};
                let block = '#submitForm';
                this.project.direction_id = this.selectedDirection;
                this.project.priority = this.selectedPriority;

                this.blockElement(block);
                let time = new Date();
                let microtime = time.getMilliseconds();
                this.errors = {};

                this.$http.post(this.endpoints.projects.add, this.project).then(function (response) {
                    this.errors = {};
                    //this.refreshProjects();
                    new PNotify({
                        title: 'Успешно',
                        text: response.body.message,
                        addclass: 'bg-success'
                    });
                    this.$router.push('/projects/' + response.body.data.id + '/show');

                }, function (errors) {
                    this.errors = errors.body.data;
                    console.log(errors.body.data.deadline);
                    if (errors.body.data.deadline) {
                        new PNotify({
                            title: 'Произошла ошибка',
                            text: errors.body.data.deadline[0] ? errors.body.data.deadline[0] : errors.body.data.deadline,
                            addclass: 'danger'
                        });
                    }


                });
                this.unBlockElement(block, microtime)

            },

            updateProject: function () {
                this.blockElement('.main-div');
                let time = new Date();
                let microtime = time.getMilliseconds();
                this.project.direction_id = this.selectedDirection;
                this.project.priority = this.selectedPriority;
                console.log(this.project);
                this.$http.put(this.endpoints.project.get + '/' + this.project.id, this.project)
                    .then(function (response) {
                        new PNotify({
                            title: 'Успешно',
                            text: response.body.message,
                            addclass: 'bg-success'
                        });
                        this.$router.push('/projects/' + this.project.id + '/show');

                    }, function (error) {
                        if (error.body.data.deadline) {
                            new PNotify({
                                title: 'Произошла ошибка',
                                text: error.body.data.deadline[0] ? error.body.data.deadline[0] : error.body.data.deadline,
                                addclass: 'bg-danger'
                            });
                        } else {
                            new PNotify({
                                title: 'Произошла ошибка.',
                                text: error.body.data ? error.body.data : error.body.message,
                                addclass: 'bg-danger'
                            });
                        }

                        console.log(error);
                    });

                this.unBlockElement('.main-div', microtime)
            },

        },
        created () {
            let time = new Date();
            this.microtime = time.getMilliseconds();

            if (! isNaN(parseInt(this.$route.params.id))) {
                this.projectId = parseInt(this.$route.params.id);
                this.getProject(this.projectId);
            }
            this.getDirections();


        },
        mounted () {
            $(".control-primary").uniform({
                radioClass: 'choice',
                wrapperClass: 'border-primary-600 text-primary-800'
            });
            $(".control-danger").uniform({
                radioClass: 'choice',
                wrapperClass: 'border-danger-600 text-danger-800'
            });
            $(".control-success").uniform({
                radioClass: 'choice',
                wrapperClass: 'border-success-600 text-success-800'
            });
//            this.getActivities();
            this.blockElement('.main-div');

            this.unBlockElement('.main-div', this.microtime);
            $.fn.editable.defaults.ajaxOptions = {
                type: "put",
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('token')
                }
            };
            let that = this;


            $(document).ready(function () {
                $('.bootstrap-select').selectpicker('refresh');

                $('.list-group-item').on('click', function (e) {
                    $(e.target).siblings().removeClass('active');

                    if (!$(e.target).hasClass('active')) {
                        $(e.target).addClass('active');
                    }

                });

                $('#deadline').datepicker({
                    weekStart: 1,
                    todayHighlight: true,
                    startDate: new Date(),
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    language: 'ru'
                }).on('changeDate', function (e) {
                    that.project.deadline = moment(e.dates[0]).format('YYYY-MM-DD');
                });

                $(".colorpicker-show-input").spectrum({
                    color: that.project.color ? that.project.color : '#fff',
                    showInput: true,
                    change: function(c) {
                        that.project.color = c.toHexString();
                    }
                });

                $('#direction').on('change', function () {
                    let selected = $(this).val();
                    $(this).selectpicker(selected).selectpicker('refresh');
                    that.selectedDirection = selected;
                });
            });

        },

        updated () {
            let that = this;
            $.uniform.update();
            $('.bootstrap-select').selectpicker('refresh');

            $('#directions').selectpicker(this.selectedDirection);

        },

        destroyed() {
            $(".colorpicker-show-input").spectrum('destroy');
            $('.bootstrap-select').selectpicker('destroy');
            $('.datepicker').datepicker('destroy');
        }

    }

</script>

<style>
    .select2-container{width:100%;outline:0;position:relative;display:inline-block;vertical-align:middle;color:#333;text-align:left;border-radius:3px}.select2-container[class*=border-] .select2-choice,.select2-container[class*=border-].select2-dropdown-open.select2-drop-above .select2-choice,.select2-container[class*=border-].select2-dropdown-open.select2-drop-above .select2-choices{border-color:inherit}.select2-container.border-lg .select2-choice,.select2-container.border-lg .select2-choices{border-width:2px}.select2-container[class*=bg-] .select2-choice{background-color:inherit;border-color:inherit;color:#fff}.select2-container[class*=bg-] .select2-choice:hover,.select2-container[class*=bg-].select2-dropdown-open .select2-choice{-webkit-box-shadow:0 0 0 100px rgba(0,0,0,0.05) inset;box-shadow:0 0 0 100px rgba(0,0,0,0.05) inset}.select2-container[class*=bg-].select2-container-disabled .select2-choice{-webkit-box-shadow:none;box-shadow:none}.select2-container.select2-container-disabled .select2-choice{cursor:not-allowed;background-color:#fafafa;color:#999;-webkit-box-shadow:none;box-shadow:none}.select2-container.select2-container-disabled .select2-choice abbr{cursor:not-allowed}.select2-container.select2-container-disabled[class*=bg-]{border-color:rgba(255,255,255,0.4)}.select2-container.select2-container-disabled[class*=bg-] .select2-choice{background-color:rgba(255,255,255,0.4);color:rgba(255,255,255,0.8)}.select2-choice{display:block;background-color:#fff;height:36px;padding:7px 12px;padding-left:11px;padding-right:0;line-height:1.5384616;position:relative;border:1px solid #ddd;white-space:nowrap;border-radius:3px;background-clip:padding-box;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.select2-choice,.select2-choice:hover,.select2-choice:focus{color:#333}.select2-choice:hover{-webkit-box-shadow:0 0 0 100px rgba(0,0,0,0.01) inset;box-shadow:0 0 0 100px rgba(0,0,0,0.01) inset}.select2-dropdown-open .select2-choice{border-radius:3px 3px 0 0;-webkit-box-shadow:0 0 0 100px rgba(0,0,0,0.02) inset;box-shadow:0 0 0 100px rgba(0,0,0,0.02) inset}.select2-drop-above .select2-choice{border-radius:0 0 3px 3px}.select2-choice .select2-chosen{margin-right:28px;padding-left:1px;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;float:none;width:auto}.select2-choice .select2-chosen>i{margin-right:10px}.select2-choice .select2-chosen>i.icon-undefined{margin-right:0}.select2-choice abbr{display:none;position:absolute;right:9px;top:50%;margin-top:-8px;border:0;cursor:pointer;outline:0;border-radius:3px;line-height:1;opacity:.8;filter:alpha(opacity=80)}.select2-choice abbr:hover{opacity:1}.select2-choice abbr:after{content:'\ed6b';font-family:'icomoon';display:inline-block;font-size:16px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.select2-container[class*=bg-] .select2-choice abbr,.select2-container[class*=bg-] .select2-choice abbr:hover{color:#fff}.select2-allowclear .select2-choice abbr{display:inline-block}.select2-choice .select2-arrow:after{content:'\e9c5';font-family:'Icomoon';display:inline-block;position:absolute;top:50%;right:12px;width:16px;text-align:right;margin-top:-8px;font-size:16px;line-height:1;color:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.select2-dropdown-open .select2-choice .select2-arrow:after{content:'\e9c6'}.select2-allowclear .select2-choice .select2-arrow:after{content:none}.select2-drop-mask{border:0;margin:0;padding:0;position:fixed;left:0;top:0;min-height:100%;min-width:100%;height:auto;width:auto;z-index:9998;background-color:#fff;opacity:0;filter:alpha(opacity=0)}.select2-drop{width:100%;position:absolute;z-index:9999;top:100%;background-color:#fff;color:#333;border:1px solid #ddd;border-top-width:0;border-radius:0 0 3px 3px}.select2-drop-above{border-top-width:1px;border-bottom-width:0;border-radius:3px 3px 0 0}.select2-drop-active{border-radius:0 0 3px 3px}.select2-drop.select2-drop-above.select2-drop-active{border-radius:3px 3px 0 0}.select2-drop-auto-width{width:auto}.select2-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.select2-search{display:block;width:100%;margin:0;padding:12px;padding-bottom:7px;position:relative;z-index:10000;white-space:nowrap}.select2-search:after{content:'\e98e';font-family:'icomoon';position:absolute;top:50%;left:24px;color:inherit;display:block;font-size:12px;margin-top:-4px;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;opacity:.6;filter:alpha(opacity=60)}.select2-search input{width:100%;height:36px;padding:7px 12px;padding-left:36px;border-radius:3px;border:1px solid #ddd;outline:0}.select2-drop[class*=bg-] .select2-search input{background-color:rgba(0,0,0,0.2);border-color:transparent;color:#fff}.select2-results{max-height:250px;margin:0;padding:5px 0;position:relative;overflow-x:hidden;overflow-y:auto;-webkit-tap-highlight-color:rgba(0,0,0,0)}.select2-results .select2-result-sub{margin:0;padding-left:0}.select2-results li{list-style:none;display:list-item}.select2-results li em{font-style:normal}.select2-results li.select2-result-with-children>.select2-result-label{font-size:11px;line-height:1.82;text-transform:uppercase;cursor:default;font-weight:500;margin-top:2px;margin-bottom:2px}.select2-results li.select2-result-with-children:first-child>.select2-result-label{margin-top:0}.select2-results li.select2-result-with-children .select2-result>.select2-result-label{padding-left:24px;padding-right:24px}.select2-results .select2-more-results{background:#f8f8f8;display:list-item}.select2-results .select2-result-label{padding:7px 12px;margin:0;position:relative;cursor:pointer;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.select2-results .select2-result-label>i{margin-right:10px}.select2-results .select2-result-label>i.icon-undefined{display:none}.select2-results .select2-result-label>span{left:10px}.select2-results .select2-highlighted{background-color:#f5f5f5}.select2-results .select2-highlighted ul{background-color:#fff;color:#333}.select2-results .select2-highlighted em{background-color:transparent}.select2-drop[class*=bg-] .select2-results .select2-highlighted{background-color:rgba(0,0,0,0.1)}.select2-results .select2-no-results,.select2-results .select2-searching,.select2-results .select2-selection-limit{background-color:#f8f8f8;padding:7px 12px;color:#999;border-top:1px solid #ddd;margin-bottom:-5px;border-radius:0}.select2-drop[class*=bg-] .select2-results .select2-no-results,.select2-drop[class*=bg-] .select2-results .select2-searching,.select2-drop[class*=bg-] .select2-results .select2-selection-limit{background-color:rgba(0,0,0,0.1);border-color:rgba(255,255,255,0.1);color:#fff}.select2-results .select2-disabled{color:#999;display:list-item}.select2-results .select2-disabled .select2-result-label{cursor:not-allowed}.select2-drop[class*=bg-] .select2-results .select2-disabled{color:#fff;opacity:.5;filter:alpha(opacity=50)}.select2-results .select2-selected{display:none}.select2-results ul ul>li .select2-result-label{padding-left:24px}.select2-results ul ul ul>li .select2-result-label{padding-left:36px}.select2-results ul ul ul ul>li .select2-result-label{padding-left:48px}.select2-results ul ul ul ul ul>li .select2-result-label{padding-left:60px}.select2-results ul ul ul ul ul ul>li .select2-result-label{padding-left:72px}.select2-results ul ul ul ul ul ul ul>li .select2-result-label{padding-left:84px}.select2-container-multi .select2-choices{margin:0;border-radius:3px;padding:0 0 3px 0;position:relative;outline:0;border:1px solid #ddd;cursor:text;overflow:hidden;background-color:#fff}.select2-container-multi .select2-choices:after{content:'';display:table;clear:both}.select2-container-multi .select2-choices li{float:left;list-style:none}.select2-container-multi .select2-choices.ui-sortable>li{cursor:move}.select2-container-multi .select2-choices .select2-search-field{margin:0;padding:0;white-space:nowrap}.select2-container-multi .select2-choices .select2-search-field input{padding:7px 12px;margin-top:3px;color:#333;outline:0;border:0;background:transparent !important}.select2-container-multi .select2-choices .select2-search-choice{margin:3px 0 0 3px;position:relative;cursor:default;background-clip:padding-box;-webkit-touch-callout:none;border-radius:3px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice{margin-left:0;margin-right:3px}.select2-container-multi .select2-choices .select2-search-choice>div{border-radius:3px;color:#fff;padding:7px 12px;padding-right:30px;background-color:#455a64}.select2-container-multi .select2-choices .select2-search-choice>div>i{margin-right:10px}.select2-container-multi .select2-choices .select2-search-choice.select2-locked>div{padding:7px 12px}.select2-container-multi .select2-choices .select2-search-choice[class*=bg-]>div{background-color:inherit}.select2-container-multi .select2-choices .select2-search-choice .select2-chosen{cursor:default}.select2-container-multi .select2-choices .select2-search-choice-close{position:absolute;right:9px;top:50%;margin-top:-8px;line-height:1;opacity:.6;filter:alpha(opacity=60)}.select2-container-multi .select2-choices .select2-search-choice-close:hover{opacity:1;filter:alpha(opacity=100)}html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice-close{right:auto;left:6px}.select2-container-multi .select2-choices .select2-search-choice-close:after{content:'\ed6b';font-family:'icomoon';display:block;font-size:16px;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.select2-container-multi[class*=bg-] .select2-choices{background-color:inherit;border-color:inherit}.select2-container-multi[class*=bg-] .select2-choices .select2-search-choice>div{background-color:rgba(0,0,0,0.3)}.select2-container-multi[class*=border-] .select2-choices{border-color:inherit}.select2-container-multi.select2-dropdown-open .select2-choices{border-radius:3px 3px 0 0}.select2-container-multi.select2-dropdown-open.select2-drop-above .select2-choices{border-radius:0 0 3px 3px}.select2-container-multi .select2-default,.select2-container-multi .select2-default:hover,.select2-container-multi .select2-default:focus{color:#999}.select2-container-multi .select2-default .select2-arrow,.select2-container-multi .select2-default:hover .select2-arrow,.select2-container-multi .select2-default:focus .select2-arrow{color:#333}.select2-container-multi.select2-container-disabled .select2-choices{cursor:default;background-color:#f8f8f8}.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice{color:#fff;opacity:.6;filter:alpha(opacity=60)}.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice>div{padding-right:12px}.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close{display:none}.select-lg .select2-choice{height:40px;padding:9px 15px;padding-right:0;font-size:14px}.select-lg .select2-choice abbr,.select-lg .select2-choice .select2-arrow:after{right:15px}.select-lg.select2-container-multi .select2-choices .select2-search-choice>div{padding:9px 15px;padding-right:37.5px;font-size:14px}.select-lg.select2-container-multi .select2-choices .select2-search-choice-close{right:12px}html[dir="rtl"] .select-lg.select2-container-multi .select2-choices .select2-search-choice-close{right:auto;left:12px}.select-lg.select2-container-multi .select2-choices .select2-search-field input{padding:9px 15px}.select-sm .select2-choice{height:34px;padding:6px 11px;padding-right:0}.select-sm .select2-choice abbr,.select-sm .select2-choice .select2-arrow:after{right:11px}.select-sm.select2-container-multi .select2-choices .select2-search-choice>div{padding:6px 11px;padding-right:27.5px}.select-sm.select2-container-multi .select2-choices .select2-search-choice-close{right:8px}html[dir="rtl"] .select-sm.select2-container-multi .select2-choices .select2-search-choice-close{right:auto;left:8px}.select-sm.select2-container-multi .select2-choices .select2-search-field input{padding:6px 11px}.select-xs .select2-choice{height:32px;padding:5px 10px;padding-right:0;font-size:12px;line-height:1.6666667}.select-xs .select2-choice abbr,.select-xs .select2-choice .select2-arrow:after{right:10px}.select-xs.select2-container-multi .select2-choices .select2-search-choice>div{padding:5px 10px;padding-right:25px;font-size:12px}.select-xs.select2-container-multi .select2-choices .select2-search-choice-close{right:7px}html[dir="rtl"] .select-xs.select2-container-multi .select2-choices .select2-search-choice-close{right:auto;left:7px}.select-xs.select2-container-multi .select2-choices .select2-search-field input{padding:5px 10px;font-size:12px}.select2-result-selectable .select2-match,.select2-result-unselectable .select2-match{text-decoration:underline}.select2-offscreen,.select2-offscreen:focus{clip:rect(0 0 0 0) !important;width:1px !important;height:1px !important;border:0 !important;margin:0 !important;padding:0 !important;overflow:hidden !important;position:absolute !important;outline:0 !important;left:0 !important;top:0 !important}.select2-display-none{display:none}.select2-measure-scrollbar{position:absolute;top:-10000px;left:-10000px;width:100px;height:100px;overflow:scroll}
</style>