<template>
    <div class="col-sm-12">
        <div class="panel panel-flat">
            <div class="panel-heading">

                <h4 class="text-center">Все этапы проекта</h4>
            </div>
            <div class="panel-body">
                <transition name="no-display">
                    <div class="row" v-if="emptyProjects">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="alert alert-info">
                                <strong>Вы пока не состоите ни в одном из проектов. Вы можете создать новый.</strong>
                            </div>
                            <router-link :to="{path: 'projects/create'}" class="btn btn-info">Создать проект</router-link>
                        </div>
                    </div>
                </transition>

                <div class="panel panel-white" v-if="!emptyProjects" >

                    <table class="table tasks-list table-lg projects-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Приоритет</th>
                            <th>Дедлайн</th>
                            <th>Статус</th>
                            <th>Опции</th>
                            <div class="col-sm-1 col-md-1 col-lg-1 text-center">

                            </div>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="subProject in projects">
                            <td>#{{ subProject.id }}</td>
                            <td>
                                <div class="text-semibold">
                                    <!--<router-link :to="{path:'/projects/'+projectId+'/sub-project/'+subProject.id+'/show'}">{{ subProject.name }}</router-link>-->
                                    <router-link :to="{path:'/projects/'+subProject.id+'/show'}">{{ subProject.name }}</router-link>
                                </div>
                                <div class="text-muted">{{ subProject.description }}</div>
                            </td>
                            <td>

                                <div class="btn-group">
                                    <a v-if="subProject.priority == 3" class="label label-danger dropdown-toggle" data-toggle="dropdown"> Высокий <span class="caret"></span></a>
                                    <a v-if="subProject.priority == 2" class="label label-info dropdown-toggle" data-toggle="dropdown"> Средний <span class="caret"></span></a>
                                    <a v-if="subProject.priority == 1" class="label label-success dropdown-toggle" data-toggle="dropdown"> Низкий <span class="caret"></span></a>


                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li @click.prevent="changePriority(subProject, 3)"><a><span class="status-mark position-left bg-danger"></span> Высокий </a></li>
                                        <li @click.prevent="changePriority(subProject, 2)"><a><span class="status-mark position-left bg-info"></span> Средний </a></li>
                                        <li @click.prevent="changePriority(subProject, 1)"><a><span class="status-mark position-left bg-success"></span> Низкий </a></li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-group-transparent">
                                    <div class="input-group-addon"><i class="icon-calendar2 position-left"></i></div>
                                    <input type="text" class="form-control datepicker" :id="'datepicker-' + subProject.id " :data-id="subProject.id" v-model="subProject.deadline">
                                </div>
                            </td>
                            <td>
                                <select name="status" class="form-control" data-placeholder="Select status" v-model="subProject.status" @change="changeStatus(subProject, $event)">
                                    <option value="open">Открыт</option>
                                    <option value="hold">На рассмотрении</option>
                                    <option value="resolved">Утвердили</option>
                                    <option value="in_progress">В процессе</option>
                                    <option value="ready_to_test">Готов для тестирования</option>
                                    <option value="closed">Закрыт</option>
                                </select>
                            </td>


                            <td class="text-center">
                                <ul class="icons-list">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <!--<li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>-->
                                            <!--<li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>-->
                                            <!--<li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>-->
                                            <!--<li class="divider"></li>-->
                                            <li><router-link :to="{path: '/projects/'+projectId + '/sub-project/'+ subProject.id + '/edit'}"><i class="icon-pencil7"></i> Редактировать</router-link></li>
                                            <li @click.prevent="deleteProject($event, subProject.id)"><a><i class="icon-cross2"></i> Удалить</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
                <!-- /task manager table -->
                <!-- Pagination -->
                <div class="text-center content-group-sm pt-20" v-show="pagination.total > projects.length">
                    <ul class="pagination">
                        <li :class="pagination.current_page > 1 ? '' : 'disabled'">
                            <a v-if="pagination.current_page > 1" href="#" aria-label="Previous" @click.prevent="changePage(pagination.current_page - 1)">
                                <span aria-hidden="true"><i class="icon-arrow-small-left"></i></span>
                            </a>
                            <a v-else aria-label="Previous">
                                <span aria-hidden="true"><i class="icon-arrow-small-left"></i></span>
                            </a>
                        </li>
                        <li v-for="page in pagination.last_page"
                            :class="[ page === pagination.current_page ? 'active' : '']">
                            <a href="#" @click.prevent="changePage(page)">{{ page }}</a>
                        </li>
                        <li :class="pagination.current_page < pagination.last_page ? '' : 'disabled'">
                            <a v-if="pagination.current_page < pagination.last_page" href="#" aria-label="Next" @click.prevent="changePage(pagination.current_page + 1)">
                                <span aria-hidden="true"><i class="icon-arrow-small-right"></i></span>
                            </a>
                            <a v-else aria-label="Next">
                                <span aria-hidden="true"><i class="icon-arrow-small-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /pagination -->
            </div>
        </div>
    </div>


</template>

<script>
    import bootstrapDualListbox from '../../assets/js/plugins/forms/inputs/duallistbox.min';
    import editable from "../../assets/js/plugins/bootstrap3-editable/bootstrap-editable.min.js";
    import moment from "moment"
    import ion_rangeslider from "ion-rangeslider"
    import picker from "../../assets/js/plugins/pickers/datepicker.js"
    import spectrum from "../../assets/js/plugins/pickers/color/spectrum.js";

    export default {
        name: 'sub-projects',
        props: ['projectNumber'],
        data () {
            return {
                endpoints: {
                    activities: API_URL + '/activities',
                    directions: API_URL + '/directions',
                    projects: {
                        get: API_URL + '/projects',
                        add: API_URL + '/projects',
                        remove: API_URL + '/projects'
                    },
                    project: {
                        get: API_URL + '/projects'
                    }
                },
                localErrors: {
                    deadline: null,
                    name: null,
                    description: null,
                },
                params: {
                    params: {
                        filter:{},
                        sort: {
                            id: null,
                            name: null,
                            status: null,
                            priority: null,
                            deadline: null,
                            created_at: null,
                            order: null,
                        }
                    }
                },
                page: 1,
                pagination: {},
                selectedPeriod: null,
                selectedStatus: null,
                selectedPriority: null,
                perPage: 10,
                activities: [],
                directions: [],
                direction: {},
                project: {},
                projectId: this.projectNumber,
                projects: [],
                selectedActivity: 0,
                selectedDirection: 0,
                datePickerLoaded: false,
                microtime: 0,
                emptyProjects: false,
            }
        },
        watch: {
            projectId: function () {
                this.projectId = this.projectNumber;
            },
            '$router.params.id': function () {
                this.projectId = this.$router.params.id;
                this.getProjects();
            }
        },

        methods: {
            setPerPage (perPage) {
                this.perPage = perPage;
                this.params.params.page = '';
                this.params.params.perPage = perPage;
                this.getProjects();
            },
            changePage (page) {
                this.params.params.page = page;
                this.getProjects();
            },
            setSort (key) {
                if (this.params.params.sort[key]=== 'asc') {
                    this.params.params.sort[key] = 'desc'
                } else if (this.params.params.sort[key] === 'desc') {
                    this.params.params.sort[key] = null;
                } else {
                    this.params.params.sort[key] = 'asc';
                }
                this.getProjects();
            },

            filterProjectsByDate (param) {
                if (this.params.params.page) delete this.params.params.page;
                let today =new Date();
                let period = '';
                switch(param) {
                    case 'all':
                        period = 'all';
                        break;
                    case 'today':
                        period = 'today';
                        break;
                    case 'week':
                        period = 'week';
                        break;
                    case 'two_weeks':
                        period = 'two_weeks';
                        break;
                    case 'month':
                        period = 'month';
                        break;
                    case 'year':
                        period = 'year';
                        break;
                }
                this.selectedPeriod = period;
                this.params.params.filter.period = period;

                this.getProjects();
            },
            filterProjectsByStatus (params) {
                if (this.params.params.page) delete this.params.params.page;
                let status = '';
                console.log(params);
                switch(params){
                    case 'all':
                        status = 'all';
                        break;
                    case 'open':
                        status = 'open';
                        break;
                    case 'hold':
                        status = 'hold';
                        break;
                    case 'resolved':
                        status = 'resolved';
                        break;
                    case 'in_progress':
                        status = 'in_progress';
                        break;
                    case 'ready_to_test':
                        status = 'ready_to_test';
                        break;
                }

                this.selectedStatus = status;
                this.params.params.filter.status = status;

                this.getProjects();
            },
            filterProjectsByPriority (params) {
                if (this.params.params.page) delete this.params.params.page;
                let priority = '';
                switch(params){
                    case 'all':
                        priority = null;
                        break;
                    case 3:
                        priority = 3;
                        break;
                    case 2:
                        priority = 2;
                        break;
                    case 1:
                        priority = 1;
                        break;
                }
                this.selectedPriority = priority;
                this.params.params.filter.priority = priority;

                this.getProjects();
            },

            getProjects: function () {
                if (this.projectId !== null) {
                    this.$forceUpdate();
                    this.blockElement('#projects');
                    let time = new Date();
                    let microtime = time.getMilliseconds();
                    this.params.params.perPage = this.perPage;
                    this.$http.get(this.endpoints.project.get + '/' + this.projectId + '/sub-projects', this.params)
                        .then(function (response) {
                            console.log(response);
                            this.projects = response.body.data.data;
                            this.pagination = response.body.data;
                            this.emptyProjects = this.projects.length <= 0;
                            delete this.pagination.data;
                            this.unBlockElement('#projects', microtime)
                        }, function (error) {
                            console.log(error);
                            this.unBlockElement('#projects', microtime)
                        });
                }
            },

            updateProject: function (project) {
                this.blockElement('#projects');
                let time = new Date();
                let microtime = time.getMilliseconds();

                this.$http.put(this.endpoints.project.get + '/' + project.id, project)
                    .then(function (response) {
                        new PNotify({
                            title: 'Успешно',
                            text: response.body.message,
                            addclass: 'bg-success'
                        });
                        this.getProjects();
                    }, function (error) {
                        new PNotify({
                            title: 'Произошла ошибка.',
                            text: error.body.data ? error.body.data : error.body.message,
                            addclass: 'bg-danger'
                        });
                        console.log(error);
                    });

                this.unBlockElement('#projects', microtime)

            },

            changePriority: function (project, priority) {
                project.priority = priority;
                this.updateProject(project);
            },

            changeStatus: function (project, $event) {
                project.status = $event.target.value;

                this.updateProject(project);
            },

            changeDeadline: function(id, deadline) {
                let project = this.projects.filter(function (item) {
                    if(item.id == id) {
                        return item;
                    }
                });
                project[0].deadline = deadline;
                this.updateProject(project[0]);
            },

            deleteProject: function (event, id) {
                let vm = this;
                swal({
                        title: "Вы уверены?",
                        text: "При удалении проекта также будут удалены его задачи!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Да, удалить!",
                        cancelButtonText: "Нет, отмена!",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                    function(isConfirm) {

                        //let conf = confirm('Удалить проект?1111');
                        if (isConfirm) {

                            vm.blockElement('#projects-table');
                            let time = new Date();
                            let microtime = time.getMilliseconds();

                            if (id != '' || id != 'undefined') {
                                vm.$http.delete(vm.endpoints.projects.get + '/' + id)
                                    .then(function (response) {
                                            swal("Удалено!", "Проект и все относящиеся к нему задачи были удалены", "success");
                                            vm.getProjects();
                                        },
                                        function (error) {
                                            console.log(error);
                                        })
                            } else {
                                console.log('id undefined');
                            }
                            vm.unBlockElement('#projects-table', microtime);

                        } else {
                            swal("Отменено", "Проект не будет удален:)", "error");
                        }
                    });
            },
        },
        created() {

            let time = new Date();
            this.microtime = time.getMilliseconds();
            this.getProjects();

        },

        mounted () {
            this.blockElement('#projects');
            this.unBlockElement('#projects', this.microtime);


// Create an array with the values of all the input boxes in a column
            $.fn.dataTable.ext.order['dom-text'] = function (settings, col) {
                return this.api().column(col, {order:'index'}).nodes().map( function (td, i) {
                    return $('input', td).val();
                });
            };


// Create an array with the values of all the select options in a column
            $.fn.dataTable.ext.order['dom-select'] = function (settings, col) {
                return this.api().column(col, {order:'index'}).nodes().map( function (td, i) {
                    return $('select', td).val();
                });
            };

            $.fn.datepicker.dates['ru'] = {
                days: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
                daysShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                daysMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                monthsShort: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                today: "Сегодня",
                clear: "Clear",
                titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
                weekStart: 0
            };


            $(function() {
                // Table setup
                // ------------------------------

                // Initialize data table
//                $('.tasks-list').DataTable({
//                    autoWidth: false,
//                    columnDefs: [
//                        {
//                            type: "natural",
//                            width: '20px',
//                            targets: 0
//                        },
//                        {
//                            visible: false,
//                            targets: 1
//                        },
//                        {
//                            width: '40%',
//                            targets: 2
//                        },
//                        {
//                            width: '10%',
//                            targets: 3
//                        },
//                        {
//                            orderDataType: 'dom-text',
//                            type: 'string',
//                            targets: 4
//                        },
//                        {
//                            orderDataType: 'dom-select',
//                            type: 'string',
//                            targets: 5
//                        },
//                        {
//                            orderable: false,
//                            width: '100px',
//                            targets: 7
//                        },
//                        {
//                            width: '15%',
//                            targets: [4, 5, 6]
//                        }
//                    ],
//                    order: [[ 0, 'desc' ]],
//                    dom: '<"datatable-header"fl><"datatable-scroll-lg"t><"datatable-footer"ip>',
//                    language: {
//                        search: '<span>Filter:</span> _INPUT_',
//                        lengthMenu: '<span>Show:</span> _MENU_',
//                        paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
//                    },
//                    lengthMenu: [ 15, 25, 50, 75, 100 ],
//                    displayLength: 25,
//                    drawCallback: function (settings) {
//                        var api = this.api();
//                        var rows = api.rows({page:'current'}).nodes();
//                        var last=null;
//
//                        // Grouod rows
//                        api.column(1, {page:'current'}).data().each(function (group, i) {
//                            if (last !== group) {
//                                $(rows).eq(i).before(
//                                    '<tr class="active border-double"><td colspan="8" class="text-semibold">'+group+'</td></tr>'
//                                );
//
//                                last = group;
//                            }
//                        });
//
//
//
//                        // Select2
//                        $('select.select').select2({
//                            width: '150px',
//                            minimumResultsForSearch: Infinity
//                        });
//
//                        // Reverse last 3 dropdowns orientation
//                        $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
//                    },
//                    preDrawCallback: function(settings) {
//
//                        // Reverse last 3 dropdowns orientation
//                        $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
//
//                        // Destroy Select2
//                        $('select.select').select2().select2('destroy');
//                    }
//                });

                $('select.select').select2({
                    width: '150px',
                    minimumResultsForSearch: Infinity
                });

                // External table additions
                // ------------------------------

                // Add placeholder to the datatable filter option
                $('.dataTables_filter input[type=search]').attr('placeholder','Type to filter...');


                // Enable Select2 select for the length option
                $('.select').select2({
                    width: 'auto'
                });

            });

        },

        updated () {
            let that = this;
            if (!that.datePickerLoaded) {
                $('.datepicker').datepicker({
                    weekStart: 1,
                    showOtherMonths: true,
                    todayHighlight: true,
                    startDate: new Date(),
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    language: 'ru'
                }).on('changeDate', function (e) {
                    that.changeDeadline($(e.target).data('id'), moment(e.dates[0]).format('YYYY-MM-DD'));
                });
            }
            that.datePickerLoaded = true;

            //$('#activity').selectpicker(this.selectedActivity);
            //$('#directions').selectpicker(this.selectedDirection);
            //$('#projects').selectpicker(this.selectedProject);
            $('.bootstrap-select').selectpicker('refresh');
        },

        destroyed() {
            $(".colorpicker-show-input").spectrum('destroy');
            $('.bootstrap-select').selectpicker('destroy');
            $('.datepicker').datepicker('destroy');
        }

    }

</script>

<style>
</style>