<style>
    .panel ul {
        list-style: none;
    }
    .bordered-gray {
        border: 1px #eaeaea solid;
    }
</style>
<template>
    <div v-if="subProjects.length > 0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel">
            <ul class="media-list media-list-linked">
                <li class="media-header"><h2 class="text-center">Все этапы проекта</h2></li>
                <hr>

                <li class="media bordered-gray" v-for="stage in subProjects" :data-id="stage.id">
                    <div class="media-link cursor-pointer" data-toggle="collapse" :data-target="'#' + stage.id">
                        <div class="media-body">
                            <div class="col-sm-1">{{stage.id}}</div>
                            <div class="col-sm-2">
                                <a class="btn btn-success stage" role="button" data-toggle="collapse"
                                   :href="'#collapseExample'+stage.id" aria-expanded="false"
                                   aria-controls="collapseExample">
                                    {{stage.name}}
                                </a>
                            </div>

                            <div class="col-sm-4 pull-right">
                                <div class="col-sm-2">
                                    <router-link :to="{path: '/projects/' + projectId + '/sub-project/' + stage.id + '/edit' }" class="btn btn-sm btn-warning"><i class="icon-pencil"></i></router-link>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#" @click="deleteSubProject(stage.id)" class="btn btn-sm btn-danger"><i class="icon-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" :id="stage.id">
                        <div class="contact-details row">
                            <ul v-if="stage.tasks.length > 0">
                                <li class="media li-table" v-for="task in stage.tasks"
                                    :class="[task.status !== 'Done' && (task.priority == 3 ? 'danger1' : (task.priority == 2 ? 'warning1' : 'success1'))]"
                                    :data-id="task.id"
                                    :data-rank="task.rank"
                                    :data-order="task.order">

                                    <div class="row">
                                        <div class="col-sm-1 col-md-1 col-lg-1 col-padd text-center">{{ task.order }}</div>
                                        <div class="col-sm-1 col-md-1 col-lg-1 col-padd text-center">
                                            <ul>
                                                <li class="dropdown lsn">
                                                    <a v-if="task.priority === 3" href="#"  class="label dropdown-toggle" data-toggle="dropdown">
                                                        <span class="label label-lg label-rounded label-icon bg-danger" v-if="task.priority == 3" ><i class="icon-arrow-up12" style="font-weight:900"></i></span>
                                                    </a>
                                                    <a v-if="task.priority === 2" href="#"  class="label     dropdown-toggle" data-toggle="dropdown">

                                                        <!--<i class="icon-arrow-right13"></i>-->

                                                        <span class="label label-lg label-rounded label-icon bg-orange" v-if="task.priority == 2" ><i class="icon-arrow-right13" style="font-weight:900"></i></span>
                                                    </a>
                                                    <a v-if="task.priority === 1" href="#"  class="label dropdown-toggle" data-toggle="dropdown">
                                                        <span class="label label-lg label-rounded label-icon bg-success" v-if="task.priority == 1" style="font-weight:900"><i class="icon-arrow-down12"></i></span>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-right active">
                                                        <li @click.prevent="changePriority(task, 3)" :class="[task.priority === 3 ? 'active' : '']"><a href="#"><span class="status-mark position-left bg-danger"></span> Высокий</a></li>
                                                        <li @click.prevent="changePriority(task, 2)" :class="[task.priority === 2 ? 'active' : '']"><a href="#"><span class="status-mark position-left bg-orange"></span>  Средний</a></li>
                                                        <li @click.prevent="changePriority(task, 1)" :class="[task.priority === 1 ? 'active' : '']"><a href="#"><span class="status-mark position-left bg-success"></span> Низкий</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3 col-padd text-center"><router-link :to="{path: '/tasks/'+task.id}"><b>{{ getTitle(task.title) }}</b></router-link> <!--({{task.estimate}}ч)-->
                                            <p style="font-size: 11px; margin-top: 5px"> {{task.direction ? task.direction.name : ''}}</p>
                                        </div>
                                        <!-- <div class="col-sm-2 col-md-2 col-lg-2 col-padd text-center"><b><router-link :to="'/projects/'+task.project_id+'/show'">{{ task.project ? getTitle(task.project.name) : 'Проект' }}</router-link></b>
                                         </div>-->
                                        <div class="col-sm-2 col-md-2 col-lg-2 col-padd text-center">
                                            <ul>
                                                <li class="dropdown lsn">
                                                    <a  v-if="task.status === 'To Do'" href="#" class="text-default dropdown-toggle" data-toggle="dropdown">
                                                        <span class="label label-default"><span class="visible-lg">Открыт <span class="caret"></span></span> <span class="caret hidden-lg"></span></span>
                                                    </a>
                                                    <a  v-if="task.status === 'In progress'" href="#" class="text-default dropdown-toggle" data-toggle="dropdown">
                                                        <span class="label label-info"><span class="visible-lg">Выполняется <span class="caret"></span></span> <span class="caret hidden-lg"></span></span>
                                                    </a>
                                                    <a  v-if="task.status === 'Done'" href="#" class="text-default dropdown-toggle" data-toggle="dropdown">
                                                        <span class="label label-success"><span class="visible-lg">Выполнен <span class="caret"></span></span> <span class="caret hidden-lg"></span></span>
                                                    </a>
                                                    <a  v-if="task.status === 'Closed'" href="#" class="text-default dropdown-toggle" data-toggle="dropdown">
                                                        <span class="label label-warning"><span class="visible-lg">Закрыт <span class="caret"></span></span> <span class="caret hidden-lg"></span></span>
                                                    </a>

                                                    <ul class="dropdown-menu dropdown-menu-right active">
                                                        <li @click.prevent="changeStatus(task, 'To Do')" :class="[task.status === 'To Do' ? 'active' : '']" ><a href="#">Открыт</a></li>
                                                        <li @click.prevent="changeStatus(task, 'In progress')" :class="[task.status === 'In progress' ? 'active' : '']"><a href="#">Выполняется</a></li>
                                                        <li @click.prevent="changeStatus(task, 'Done')" :class="[task.status === 'Done' ? 'active' : '']"><a href="#">Выполнен</a></li>
                                                        <li @click.prevent="changeStatus(task, 'Closed')" :class="[task.status === 'Closed' ? 'active' : '']"><a href="#">Закрыт</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2 col-padd text-center">
                                            <div class="input-group input-group-transparent">
                                                <div class="input-group-addon">
                                                    <i class="icon-calendar2 position-left"></i>
                                                </div>
                                                <input type="text" class="form-control datepicker-start" :id="'datepicker-' + task.id " :data-id="task.id" :value="task.date_start ? getDeadline(task.date_start) : 'Не указан'">
                                            </div>
                                        </div>

                                        <div class="col-sm-2 col-md-2 col-lg-2 col-padd text-center">
                                            <div class="form-group">
                                                <!--<label class="control-label col-lg-4">Дедлайн</label>-->

                                                <div class="col-lg-7">
                                                    <div class="input-group input-group-transparent">
                                                        <div class="input-group-addon"><i class="icon-calendar2 position-left"></i></div>
                                                        <input type="text" class="form-control datepicker-deadline" :id="'datepicker-' + task.id " :data-id="task.id" :value="getDeadline(task.deadline) ">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<b>{{ getDeadline(task.deadline) }}</b>-->
                                        </div>

                                        <div class="col-sm-1 col-md-1 col-lg-1 col-padd text-center">
                                            <ul>
                                                <li class="dropdown lsn">
                                                    <a class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><router-link :to="{path: '/tasks/' + task.id + '/edit'}"> <i class="icon-pencil7"></i>Редактировать</router-link></li>
                                                        <li><a @click.prevent="deleteTask(task.id, task)"><i class="icon-cross2"></i> Удалить</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                            <div class="alert alert-info" v-else>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong>У данного этапа нету задач!</strong>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import Flatpickr from 'flatpickr';
    import datepicker from "../../assets/js/plugins/pickers/datepicker.js"

    export default {
        name: 'task-list-by-sub-projects',
        props: ['projectNumber'],
        data () {
            return {
                endpoints: {
                    projects: {
                        get: API_URL + '/projects',
                        add: API_URL + '/projects',
                        remove: API_URL + '/projects'
                    },
                    tasks: API_URL + '/tasks',
                },

                params: {
                    params: {
                        filter:{},
                        sort: {
                            id: null,
                            title: null,
                            activity_id: null,
                            direction_id: null,
                            project_id: null,
                            status: null,
                            priority: null,
                            date_start: null,
                            deadline: null,
                            created_at: null,
                            order: null,
                        }
                    }
                },

                emptyProjects: false,
                emptyTasks: false,
                emptySubProjects: false,

                projectId: this.projectNumber,

                projects: [],
                subProjects: [],
                tasks: [],

                datePickerLoaded: false
            }
        },

        watch: {
            projectId: function () {
                this.projectId = this.projectNumber;
            },

        },

        methods: {
            getTasks: function() {
                let time = new Date();
                this.microtime = time.getMilliseconds();
                this.blockElement('.tasks');
                /*let url;
                if (this.projectId === 0) {
                    url = this.endpoints.tasks;
                    this.getAllTasks(url);
                } else {
                    url = this.endpoints.projects + '/' + this.projectId /!*+ '/tasks'*!/;
                    this.getProjectTasks(url)
                }
                this.url = url;*/
                this.tasks = [];
                let url = this.endpoints.projects.get + "/" + this.projectId;

                this.$http.get(url)
                        .then(function (response) {
                            console.log('ProjectTasks', response);
                            console.log(response.body.data[0].children);
                            if (response.body.data) {
                                this.tasks = response.body.data[0].tasks;
                                this.pagination = response.body.data;
                                this.subProjects = response.body.data[0].children;
                                //delete this.pagination.data;
                                this.emptyTasks = this.tasks.length <= 0;
                            }
                        }, function (error) {
                            console.log(error);
                        })

                this.unBlockElement('.tasks', this.microtime);
            },

            getTitle: function(title){

                let newTitle = title.slice(0, 20);
                if(title.length >= 20) {
                    newTitle += '...';
                }
                return newTitle;

            },
            deleteSubProject (id) {
                if (confirm('Удалить данный этап? Вместе с ним удалятся все его задачи.')) {
                    this.$http.delete(this.endpoints.projects.remove + '/' + id).then((response) => {
                        this.getTasks();
                    }, (error) => {
                        console.log(error);
                    });
                    console.log(id);
                } else {
                    return false;
                }

            },
            deleteTask (id, task) {
                if (!this.authenticatedUser || this.authenticatedUser.id !== task.author_id) {
                    return this.errorNotify('Вы не являетесь автором данной задачи, ее нельзя удалять');
                }
                if (confirm('Действительно хотите удалить задачу?')) {
                    this.$http.delete(this.endpoints.tasks + '/' + id)
                            .then(function (response) {
                                        new PNotify({
                                            title: 'Успешно',
                                            text: response.body.data,
                                            addclass: 'bg-success'
                                        });
                                        this.getTasks();
                                    },
                                    function (error) {
                                        console.log(error);
                                        new PNotify({
                                            title: 'Произошла ошибка.',
                                            text:  error.body.message,
                                            addclass: 'bg-danger'
                                        });
                                    });
                } else {
                    return false;
                }

            },

            getDeadline (date) {
                return moment(date).format('YYYY-MM-DD');
            },

            changeStatus (task, status) {
                task.status = status;
                this.updateTask(task, 'changeStatus');
            },

            changePriority (task, priority) {
                task.priority = priority;
                this.updateTask(task, 'changePriority');
            },

            updateTask (task, type) {
                if (type === undefined && (!this.authenticatedUser || this.authenticatedUser.id !== task.author_id)) {
                    this.refreshTasks();
                    return this.errorNotify('Вы не являетесь автором данной задачи, вам ее нельзя удалять или обновлять');
                }
                this.$http.put(this.endpoints.tasks + '/' + task.id, task)
                        .then(function (response) {
//                        this.project = response.body.data[0];
                            this.successNotify(response.body.message, 'Успешно');
                        }, function (errors) {
                            let errorText = '<ul>';
                            console.log(errors);
                            for (let err in errors.body.data) {
                                for (let i = 0; i <= errors.body.data[err].length; i++) {
                                    if (errors.body.data[err][i] !== undefined) {
                                        errorText += '<li>' + errors.body.data[err][i] + '</li>';
                                    }
                                }
                            }
                            errorText += '<ul>';
                            this.errorNotify(errorText, 'Произошла ошибка.');
                        })
            },
        },

        created () {
           /* let projectId = parseInt(this.$route.params.id);
            //console.log('IDDDDD', this.$route.params.id);

            if (! isNaN(projectId)) {
                this.projectId = projectId;
            }*/

            this.getTasks();
            //this.getSubProjects();
        },

        mounted () {
            this.getTasks();
        },

        updated () {
            let that = this;
            if (!that.datePickerLoaded) {
                $('.datepicker-deadline').datepicker({
                    weekStart: 1,
                    showOtherMonths: true,
                    todayHighlight: true,
                    startDate: moment(new Date()).format('YYYY-MM-DD'),
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    language: 'ru'
                }).on('changeDate', function (e) {
                    that.changeDeadline($(e.target).data('id'), moment(e.dates[0]).format('YYYY-MM-DD'));
                });
                $('.datepicker-start').datepicker({
                    weekStart: 1,
                    showOtherMonths: true,
                    todayHighlight: true,
                    startDate: moment(new Date()).format('YYYY-MM-DD'),
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    language: 'ru'
                }).on('changeDate', function (e) {
                    that.changeDateStart($(e.target).data('id'), moment(e.dates[0]).format('YYYY-MM-DD'));
                });
            }
            that.datePickerLoaded = true;
        }
    }
</script>