<template>
    <div class="dropzone text-left" id="attachments-uploader" style="min-height: 200px;"></div>
</template>

<script>
    import Dropzone from '../../../src/assets/js/plugins/uploaders/dropzone.min.js';
    export default {
        name: 'attachments-uploader',
        props: ['targetName', 'targetNumber', 'targetAttachments'],
        data() {
            return {
                endpoints: {
                    main: API_URL,
                    photo: API_URL + '/',
                    existingFiles: API_URL + '/',
                },
                dropzoneInstance: null,
                dropzoneUrl: null,
                targetType: this.targetName,
                targetId: this.targetNumber,
                attachments: this.targetAttachments,
            }
        },
        methods: {
            fetchData: function() {
                this.target = this.targetNumber;
                this.dropzoneUrl = this.endpoints.main + '/' + this.targetType + '/' + this.targetId + '/attachments';
            },
        },
        watch: {
            'targetNumber': 'fetchData'
        },

        created () {
            this.fetchData();
        },
        mounted() {
            let that = this;
            Dropzone.autoDiscover = false;
            let url = this.dropzoneUrl;
            console.log(this.dropzoneUrl);
            this.dropzoneInstance = new Dropzone("#attachments-uploader", {
                headers: {
                    "Authorization": "Bearer "+ localStorage.getItem('token')
                },
                url: url,
                dictDefaultMessage: 'Перетащите сюда файлы <span>или НАЖМИТЕ</span>',
                init: function() {
                    let myDz = this;
                    this.on('error', function(file, errorMessage, error) {
                        file.previewElement.remove();
                        console.log(error);
                        new PNotify({
                            text: (error != undefined ? error : 'Ошибка.' )+ '<br> Возможено был превышен допустимый размер изображения.',
                            type: 'error',
                            delay: 3000
                        });
                    });
                    this.on("sending", function(file, xhr, formData) {
                        formData.append("filesize", file.size);
                    });
                    this.on('complete', function (file, xhr, formData) {
                        if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                            new PNotify({
                                text: 'Файлы успешно добавлены!',
                                type: 'success',
                                delay: 3000
                            });
                            this.removeAllFiles();
                        }

                    })
                }

            });

        },
        destroyed () {
            if (this.dropzoneInstance !== null) {
                this.dropzoneInstance.destroy();
            }
        }
    }
</script>