<template>
    <div class="breadcrumb-line breadcrumb-line-component content-group-lg">
        <ul class="breadcrumb">
            <li><router-link :to="{path:'/'}"><i class="icon-home2 position-left"></i> Главная </router-link></li>
            <li v-for="breadcrumb in breadcrumbs" :class="breadcrumb.active == true ? 'active' : ''">
                <router-link v-if="breadcrumb.link" :to="{ path: breadcrumb.link }" > {{ breadcrumb.text }} </router-link>
                <span v-else>{{ breadcrumb.text }}</span>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['linksArray'],

        data() {
            return {
                breadcrumbs: this.linksArray
            }
        },
        methods: {
            fetchData: function() {
                this.breadcrumbs = this.linksArray;
            },
        },
        watch: {
            // в случае изменения маршрута запрашиваем данные вновь
            'linksArray': 'fetchData'
        }
    }
</script>