<template>
    <!-- Attached files -->
    <div class="panel panel-flat" id="existing-attachments">
        <div class="panel-heading">
            <h6 class="panel-title"><i class="icon-link position-left"></i> Прикрепленные файлы</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a @click.prevent="refreshFiles()" data-action="reload"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <ul class="media-list">
                <li class="media" v-for="attachment in attachments">
                    <div v-if="attachment.mime == 'image/jpeg' || attachment.mime === 'image/png' || attachment.mime === 'image/jpg'">
                        <div class="media-left media-middle">
                            <img :src="endpoints.main + attachment.path" alt="">
                        </div>

                        <div class="media-body">
                            <a :href="endpoints.main + attachment.path" download class="media-heading text-semibold">{{ attachment.original_name }}</a>
                            <ul class="list-inline list-inline-separate list-inline-condensed text-size-mini text-muted">
                                <li>Добавлен: {{ getDate(attachment.created_at) }}</li>
                                <li>Добавил: <b>{{ attachment.user ? attachment.user.name : ''}}</b> </li>
                            </ul>
                        </div>

                        <div class="media-right media-middle">
                            <ul class="icons-list">
                                <li>
                                    <a :href="endpoints.main + attachment.path" download class="btn btn-xs btn-default"><i class="icon-download"></i></a>
                                    <a @click.prevent="deleteAttachment(attachment.id);" class="btn btn-xs btn-danger" v-if="$store.state.user.id == targetAuthorId"><i class="icon-trash"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div v-else>
                        <div class="media-left media-middle">
                            <i :class="getIconClassByMime(attachment.mime)" class="icon-2x text-muted"></i>
                        </div>

                        <div class="media-body">
                            <a :href="endpoints.main + attachment.path" download class="media-heading text-semibold">{{ attachment.original_name }}</a>
                            <ul class="list-inline list-inline-separate list-inline-condensed text-size-mini text-muted">
                                <li>Добавлен: {{ getDate(attachment.created_at) }}</li>
                                <li>Добавил: <b>{{ attachment.user ? attachment.user.name : ''}}</b> </li>
                            </ul>
                        </div>

                        <div class="media-right media-middle">
                            <ul class="icons-list">
                                <li>
                                    <a :href="endpoints.main + attachment.path" download class="btn btn-xs btn-default"><i class="icon-download"></i></a>
                                    <a @click.prevent="deleteAttachment(attachment.id);" class="btn btn-xs btn-danger" v-if="$store.state.user.id == targetAuthorId"><i class="icon-trash"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /attached files -->
</template>

<script>
    import moment from 'moment';
    import Dropzone from '../../../src/assets/js/plugins/uploaders/dropzone.min.js';
    export default {
        name: 'existing-attachments',
        props: ['targetName', 'targetId', 'targetAttachments', 'targetAuthorId'],
        data() {
            return {
                endpoints: {
                    main: API_BASE_URL,
                    existingFiles: null,
                },
                targetType: this.targetName,
                target: this.targetId,
                authorId: this.targetAuthorId,
                attachments: this.targetAttachments,
            }
        },
        methods: {
            getIconClassByMime (mime) {
                if (mime) {
                    if (mime === 'application/pdf') {
                        return 'icon-file-pdf';
                    } else if (mime === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' || mime === 'application/msword') {
                        return 'icon-file-word';
                    } else if (mime === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' || mime === 'application/vnd.ms-excel') {
                        return 'icon-file-excel';
                    } else {
                        return 'icon-file-text';
                    }
                }
            },
            getDate (date) {
                let response = moment(date).fromNow();
                if (response === 'Invalid date') response = moment().fromNow();

                return response;
            },
            fetchData: function() {
                this.target = this.targetId;
                this.targetType = this.targetName;
                this.endpoints.existingFiles = API_URL + '/' + this.targetType + '/' + this.target + '/attachments'
                if (this.target !== undefined) {
                    this.refreshFiles();
                }
            },
            deleteAttachment (id) {
                if (id) {
                    this.$http.delete(this.endpoints.existingFiles + '/' + id).then((response) => {
                        this.refreshFiles();
                        new PNotify({
                            title: 'Успешно удалено.',
                            text:  '',
                            type: 'success'
                        });
                    }, (errors) => {
                        console.log(errors);
                        new PNotify({
                            title: 'Произошла ошибка.',
                            text:  errors.body.data,
                            type: 'error'
                        });
                    });
                }
            },
            getAttachments () {
                this.$http.get(this.endpoints.existingFiles).then((response) => {
                    this.attachments = response.body.data;
                }, (errors) => {
                    console.log('existing', errors);
                })
            },

            refreshFiles () {
                this.blockElement('#existing-attachments');
                let time = new Date();
                let microtime = time.getMilliseconds();

                this.getAttachments();

                this.unBlockElement('#existing-attachments', microtime)

            },
        },
        watch: {
            'targetId': 'fetchData',
        },

        created () {
            this.fetchData();
        },
        mounted() {
            console.log(this.targetAuthorId);
        }
    }
</script>
<style scoped>
    .icon-trash {
        color: #fff;
    }
</style>