<style scoped>
    #g_calendar_events > div {
        padding: 10px;
    }
    .p15 {
        padding:15px;
    }
</style>

<template>
    <div id="g_calendar_events">
        <div class="panel panel-default border-orange">
            <div class="alert alert-danger" v-show="localErrors !== null">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <ul>
                    <li>
                        <strong>{{ localErrors }}</strong>
                    </li>
                </ul>
            </div>
            <h2 class="text-center">Получение событий из Google календаря</h2>
            <form @submit.prevent="getGoogleCalendarEvents()" method="post" role="form" class="form-horizontal">
                <label for="calendar_id">Введите ID календаря (ID календаря - это зачастую ваша почта, при этом календарь должен быть общедоступен)</label>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group p15">
                            <div class="input-group col-lg-12">
                                <span class="input-group-addon" @click="openFlatpickr('date-stop')">
                                    <i class="icon-calendar22"></i>
                                </span>
                                <input type="text" class="form-control flatpickr flatpickr-date-stop" v-model="calendarDateStart" id="calendar_date_start" placeholder="Выберите дату начала диапазона">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group p15">
                            <div class="input-group col-lg-12">
                                <span class="input-group-addon" @click="openFlatpickr('date-start')">
                                    <i class="icon-calendar22"></i>
                                </span>
                                <input type="text" class="form-control flatpickr flatpickr-date-start" v-model="calendarDateStop" id="calendar_date_stop" placeholder="Выберите дату окончания диапазона">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group p15">
                        <input type="text" class="form-control" v-model="clientCalendarId" id="calendar_id" placeholder="Введите ID календаря">
                        </div>
                    </div>
                    <div class="col-sm-3 text-center p15">
                        <button type="submit" class="btn btn-primary">Получить список событий</button>
                    </div>
                </div>
            </form>
            <table class="table table-hover table-bordered table-striped" v-show="events.length > 0" >
                <thead>
                <tr>
                    <th><b>Название</b></th>
                    <th><b>Дата начала</b></th>
                    <th><b>Дата окончания</b></th>
                    <th><b>Опции</b></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="event in events">
                    <td>{{ event.name != '' ? event.name : '- без названия -' }}</td>
                    <td>{{ event.startDateTime }}</td>
                    <td>{{ event.endDateTime }}</td>
                    <td>
                        <a @click.prevent="importDateToCalendar(event.id)" class="btn btn-sm btn-info" title="Импортировать дату из G-календаря в систему. Будет использована дата начала события"><i class="icon-import"></i></a>
                        <a @click.prevent="makeDateHoliday(event.id)" class="btn btn-sm btn-warning" title="Сделать эту дату выходным в системе каледаре"><i class="icon-calendar22"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import fullCalendar from 'fullcalendar';
    import swal from 'sweetalert';
    import Flatpickr from 'flatpickr';
    import { ru } from 'flatpickr/dist/l10n/ru.js';

    export default {
        name: 'google-calendar',
        data: () => ({
            endpoints: {
                googleCalendarEvents: API_URL + '/google-calendar'
            },
            clientCalendarId: '',
            events: [],
            localErrors: null,
            flatpickrDateStart: null,
            flatpickrDateStop: null,
            calendarDateStart: null,
            calendarDateStop: null,
        }),
        methods: {
            getGoogleCalendarEvents () {
                this.events = [];
                this.localErrors = null;
                this.blockElement('#g_calendar_events');
                let time = new Date();
                let microtime = time.getMilliseconds();
                this.$http.get(this.endpoints.googleCalendarEvents, {params: {
                    calendarId: this.clientCalendarId,
                    dateStart: this.calendarDateStart,
                    dateStop: this.calendarDateStop,
                }}).then( (response) => {
                    this.events = response.body.data.data;
                    this.unBlockElement('#g_calendar_events', microtime)
                }, (localErrors) => {
                    this.localErrors = localErrors.body.message;
                    this.errorNotify(localErrors.body.message);
                    this.unBlockElement('#g_calendar_events', microtime);
                });
            },
            importDateToCalendar (id) {
                console.log(id);
            },
            makeDateHoliday (id) {
                let vm = this;
                swal({
                    title: "Вы уверены?",
                    text: "Если вы сделаете этот день выходным, то событие в системе не будет доступно как рабочее время.",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Да, сделать выходным!",
                    cancelButtonText: "Нет, отмена!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function(isConfirm) {
                    if (isConfirm) {
                        vm.$Progress.start();
                        vm.$http.post(vm.endpoints.googleCalendarEvents, {
                            calendarId: vm.clientCalendarId,
                            eventId: id,
                            override: false
                        }).then( (response) => {
                            vm.$Progress.finish();
                            swal("Успешно!", "Этот день стал выходным", "success");
                            console.log(response);
                        }, (localErrors) => {
                            vm.$Progress.fail();
                            console.log(localErrors);
                        });

//                            vm.getCalendars();

                    } else {

                        return false;
                    }
                });


                console.log(id);
            },
            initDateStartCalendar () {
                let vm = this;
                this.flatpickrDateStart = new Flatpickr(document.getElementById("calendar_date_start"), {
                    mode: 'single',
                    locale: ru,
                    minDate: new Date(),
                    defaultDate: new Date(),
                    onChange: function (selectedDates, dateStr, instance) {
                        vm.calendarDateStart = dateStr;
                    },
                });
            },
            initDateStopCalendar () {
                let vm = this;
                this.flatpickrDateStop = new Flatpickr(document.getElementById("calendar_date_stop"), {
                    mode: 'single',
                    locale: ru,
                    minDate: new Date(),
                    onChange: function (selectedDates, dateStr, instance) {
                        vm.calendarDateStop = dateStr;
                    },
                });

            },
            openFlatpickr (el) {
                if (el === 'date-start') {
                    this.flatpickrDateStart.open();
                }
                else if (el === 'date-stop') {
                    this.flatpickrDateStop.open();
                }
            },
        },
        watch: {
            calendarDateStart: function () {
                if (this.calendarDateStart) {
                    this.flatpickrDateStart.setDate(this.calendarDateStart);
                    this.flatpickrDateStop.set('minDate', this.calendarDateStart);
                }
            },
            calendarDateStop: function () {
                if (this.calendarDateStop) {
                    this.flatpickrDateStop.setDate(this.calendarDateStop);
                }
            },
        },
        mounted () {
            this.initDateStartCalendar();
            this.initDateStopCalendar();
            let vm = this;
            $(function () {
                $('#calendar').fullCalendar({});
            })
        },
        updated () {
            $('[title]').tooltip();
        },
        destroyed () {
            this.flatpickrDateStart ? this.flatpickrDateStart.destroy() : false;
            this.flatpickrDateStop ? this.flatpickrDateStop.destroy() : false;
        }
    }

</script>
