<template>
<div>
    <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title text-center" id="jui_task">Задача № {{ task.task_id }}</h5>
            </div>

            <div class="modal-body">
                <!--<h5 class="panel-title">
                    Задача № {{ task.task_id }}
                </h5>-->

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-flat">
                            <div class="panel-heading mt-5">
                                <h5>
                                    <a class="task">{{ task.title }}</a>
                                </h5>
                                <div class="heading-elements">
                                    <!--<a href="#" class="btn bg-teal-400 btn-sm btn-labeled btn-labeled-right heading-btn">
                                        Check in
                                        <b><i class="icon-alarm-check"></i></b>
                                    </a>-->

                                    <div id="jui_status">
                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li class="dropdown lsn">
                                                <a  v-if="task.status === 'To Do'" href="#" class="label label-default dropdown-toggle" data-toggle="dropdown">Открыт <span class="caret"></span></a>
                                                <a  v-if="task.status === 'In progress'" href="#" class="label label-info dropdown-toggle" data-toggle="dropdown">Выполняется <span class="caret"></span></a>
                                                <a  v-if="task.status === 'Done'" href="#" class="label label-success dropdown-toggle" data-toggle="dropdown">Выполнен <span class="caret"></span></a>
                                                <a  v-if="task.status === 'Closed'" href="#" class="label label-warning dropdown-toggle" data-toggle="dropdown">Закрыт <span class="caret"></span></a>

                                                <ul class="dropdown-menu dropdown-menu-right active">
                                                    <li @click.prevent="changeStatus(task.task, 'To Do')" :class="[task.status === 'To Do' ? 'active' : '']" ><a href="#">Открыт</a></li>
                                                    <li @click.prevent="changeStatus(task.task, 'In progress')" :class="[task.status === 'In progress' ? 'active' : '']"><a href="#">Выполняется</a></li>
                                                    <li @click.prevent="changeStatus(task.task, 'Done')" :class="[task.status === 'Done' ? 'active' : '']"><a href="#">Выполнен</a></li>
                                                    <li @click.prevent="changeStatus(task.task, 'Closed')" :class="[task.status === 'Closed' ? 'active' : '']"><a href="#">Закрыт</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <h6 class="text-semibold text-center">Описание</h6>
                                <p class="content-group" id="jui_description">
                                    {{task.description}}
                                </p>
                                <div class="col-md-10 col-lg-10 col-offset-2">
                                    <table class="table table-borderless table-xs content-group-sm">
                                        <tbody>
                                        <tr>
                                            <td class="text-left"><i class="icon-briefcase position-left"></i> Проект:</td>
                                            <td class="text-right">
                                                <a class="project">{{ (task.task && task.task.project) ? task.task.project.name :''}}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="icon-alarm-check position-left"></i> Создана:</td>
                                            <td class="text-right" id="jui_created">{{created}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="icon-watch position-left"></i> Дедлайн:</td>
                                            <td class="text-right" id="jui_deadline">{{deadline}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="icon-bell2 position-left"></i> Требуется времени(час.)</td>
                                            <td class="text-right"> {{ (task.task) ? task.task.estimate : '' }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><i class="icon-pie-chart6 position-left"></i> Размер порции</td>
                                            <td class="text-right"> {{ (task.task) ? task.task.min_parts_for_task : '' }} </td>
                                        </tr>


                                        <tr>
                                            <td class="text-left"><i class="icon-circles2 position-left"></i> Приоритет:</td>
                                            <td class="text-right">
                                                <span v-if="task.priority === 'Высокий'" class="label label-lg bg-danger">{{task.priority}}</span>
                                                <span v-if="task.priority === 'Средний'" class="label label-lg bg-info">{{task.priority}}</span>
                                                <span v-if="task.priority === 'Низкий'" class="label label-lg bg-success">{{task.priority}}</span>

                                            </td>
                                        </tr>
                                        <!--<tr>
                                            <td class="text-left"><i class="icon-file-check position-left"></i> Статус:</td>
                                            <td class="text-right" id="jui_status"></td>
                                        </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--<div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Закрыть</button>
            </div>-->
        </div>
</div>
</template>

<script>
    import moment from 'moment'
    export default {
        props: ['clickedTask'],
        data() {
            return {
                endpoints: {
                    tasks: API_URL+'/tasks'
                },
                task: {}
            }
        },

        methods: {
            fetchData: function() {
                this.task = this.clickedTask;
                //this.task.created = moment(this.task.created).format('DD-MM-YYYY');
                //this.task.deadline = moment(this.task.deadline).format('DD-MM-YYYY');
                //console.log('clickedTAsks', this.task);
            },

            changeStatus: function(task, status) {
                this.task.status = status;
                task.status = status;
                this.updateTask(task);
            },

            updateTask: function (task) {
                this.$http.put(this.endpoints.tasks + '/' + task.id, task)
                        .then(function (response) {
                            new PNotify({
                                title: 'Успешно',
                                text: response.body.message,
                                addclass: 'bg-success'
                            });
                        }, function (error) {
                            console.log(error);
                            if(error.body.message) {
                                new PNotify({
                                    title: 'Произошла ошибка.',
                                    text:  error.body.message,
                                    addclass: 'bg-danger'
                                });
                            } else {
                                new PNotify({
                                    title: 'Произошла ошибка.',
                                    text: error.body.data ? error.body.data : error.body.message,
                                    addclass: 'bg-danger'
                                });
                            }
                        })
            },
        },
        watch: {
            // в случае изменения маршрута запрашиваем данные вновь
            'clickedTask': 'fetchData'
        },
        computed: {
            deadline: function(){
                return moment(this.task.deadline).format('DD-MM-YYYY');
            },
            created: function(){
                return moment(this.task.created).format('DD-MM-YYYY');
            }
        },
        mounted () {
            console.log('modal');
            let that = this;
            $(document).ready(function(){
                $('a.task').click(function(e){
                    e.preventDefault();
                    $('.modal').modal('hide');
                    that.$router.push('/tasks/'+that.task.task_id);
                });

                $('a.project').click(function(e){
                    e.preventDefault();
                    $('.modal').modal('hide');
                    that.$router.push('/projects/'+that.task.task.project.id+ '/show');
                })

            });
        }
    }
</script>
