<template>
    <div class="text-center content-group">
        <h1 class="error-title">404</h1>
        <h5>Oops, an error has occurred. Page not found!</h5>
    </div>
</template>

<script>

    export default {
        name: 'NotFound',
        data () {
            return {}
        }
    }
</script>

<style>

</style>