<template>
    <div class="panel panel-flat h_widgets" id="projects_last_comments">
        <div class="panel-heading">
            <h6 class="panel-title">Последние комментарии проектов <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>

            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a @click.prevent="getLastComments()" data-action="reload"></a></li>
                </ul>
            </div>
        </div>

        <ul class="media-list panel-body">
            <li class="media" v-for="comment in comments">
                <div class="media-left">
                    <!--<a @click.prevent="openUserModal(comment.user)"><img :src="endpoints.base + (comment.user.avatar ? comment.user.avatar : '/images/no-image.png')" class="img-circle img-xs"></a>-->
                    <a><img :src="endpoints.base + (comment.user.avatar ? comment.user.avatar : '/images/no-image.png')" class="img-circle img-xs"></a>
                </div>

                <div class="media-body">
                    <router-link class="media-heading" :to="{name: 'projects.show', params: {id: comment.commentable_id}}">
                        <span class="text-semibold">{{ comment.user ? comment.user.name : '-' }} - в проекте {{ comment.commentable ? comment.commentable.name : '' }}</span>
                        <span class="media-annotation pull-right">{{ comment.created_at }}</span>
                    </router-link>

                    <span class="text-muted">{{ comment.text }}</span>
                </div>
                <div class="modal member-modal" id="member-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <show-user-details :member="comment.user"></show-user-details>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </li>
        </ul>
    </div>
</template>

<script>
    import ShowUserDetails from "../modals/ShowUserDetails";
    export default {
        components: {ShowUserDetails},
        name: 'projects-last-comments',
        data: () => ({
            endpoints: {
                base: API_BASE_URL,
                comments: API_URL + '/comments'
            },
            comments: [],
            projectComments: [],
            tasksComments: [],
            currentMember: {},
        }),
        methods: {
            getLastComments() {
                let time = new Date();
                let microtime = time.getMilliseconds();
                this.$Progress.start();
                this.blockElement('#projects_last_comments');
                this.$http.get(this.endpoints.comments).then(response => {
//                    this.makeCommentsArray(response.body.data.projects);
                    this.comments = response.body.data.projects;
                    this.$Progress.finish();
                    this.unBlockElement('#projects_last_comments', microtime);
                }).catch(errors => {
                    console.error(errors);
                    this.$Progress.fail();
                    this.unBlockElement('#projects_last_comments', microtime);
                });
            },
            makeCommentsArray(firstArray) {
                this.comments = [];
                for (let i = 0; i <= firstArray.length; i++) {
                    if (firstArray[i] && firstArray[i].comments) {
                        this.comments.push(firstArray[i].comments)
                    }
                }
            },
            openUserModal (user) {
                this.currentMember = user;
                $('#member-modal').modal('show');
            }
        },
        created () {
            this.getLastComments();
        }
    }
</script>

<style scoped>
    #projects_last_comments{
        height: 280px;
    }
</style>
