<template>
    <div class="panel panel-flat" id="projects_with_near_deadline">
        <div class="panel-heading">
            <h5 class="panel-title">Проекты, у которых скоро дедлайн <a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a @click.prevent="getProjects()" data-action="reload"></a></li>
                </ul>
            </div>
        </div>
        <div v-for="project in projects">
            <div class="panel-body projects_deadline_widget">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <!--<a data-toggle="modal" @click.prevent="currentMember = project.lead" href="#member-modal"><img :src="endpoints.base + (project.lead ? project.lead.avatar : '/images/noavatar.png')" class="img-circle img-xs"></a>-->
                            <a><img :src="endpoints.base + (project.lead ? project.lead.avatar : '/images/noavatar.png')" class="img-circle img-xs"></a>

                        </div>

                        <div class="media-body">
                            <div class="media-heading text-semibold"><router-link :to="{name: 'projects.show', params: {id:project.id }}">{{ project.name }}</router-link> </div>
                            {{ project.description }}
                        </div>

                        <div class="media-right media-middle">
                            <span class="label label-danger" v-if="project.status == 'open'">Открыт</span>
                            <span class="label label-danger" v-if="project.status == 'hold'">На рассмотрении</span>
                            <span class="label label-danger" v-if="project.status == 'resolved'">Утвердили</span>
                            <span class="label label-danger" v-if="project.status == 'in_progress'">В процессе</span>
                            <span class="label label-danger" v-if="project.status == 'ready_to_test'">Готов для тестирования</span>
                            <span class="label label-danger" v-if="project.status == 'closed'">Закрыт</span>
                        </div>
                    </li>

                </ul>

                <div class="">
                    <span class="heading-text">
                        <i class="icon-alarm position-left"></i>
                        <b>{{ getDate(project.deadline) }}</b>
                    </span>
                </div>
            </div>
        </div>
        <div class="modal" id="member-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <show-user-details :member="currentMember"></show-user-details>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</template>

<script>
    import moment from 'moment';
    import ShowUserDetails from "../modals/ShowUserDetails";
    export default {
        components: {ShowUserDetails},
        name: 'projects-with-near-deadline',
        data: () => ({
            endpoints: {
                base: API_BASE_URL,
                projects: API_URL + '/projects'
            },
            projects: [],
            currentMember: {}
        }),
        methods: {
            getProjects () {
                let time = new Date();
                let microtime = time.getMilliseconds();
                this.$Progress.start();
                this.blockElement('#projects_with_near_deadline');
                this.$http.get(this.endpoints.projects, {params: {for_deadline: true}})
                    .then((response) => {
                        this.projects = response.body.data;
                        this.$Progress.finish();
                        this.unBlockElement('#projects_with_near_deadline', microtime);
                    }).catch((errors) => {
                        console.warn(errors);
                        this.$Progress.fail();
                        this.unBlockElement('#projects_with_near_deadline', microtime);
                });
            },
            getDate (date) {
                let response = moment(date).fromNow();
                if (response === 'Invalid date') response = moment().fromNow();

                return response;
            }
        },
        created () {
            this.getProjects();
        },
        updated () {
            $('[title]').tooltip();
        }
    }
</script>

<style scoped>
    #projects_with_near_deadline {
        border: 1px #eaeaea solid;
        height: 280px;
    }
</style>
