<template>
    <div class="panel panel-flat" id="projects_stats_widget">
        <div class="panel-heading">
            <h5 class="panel-title">Статистика ваших проектов <a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a @click.prevent="" data-action="reload"></a></li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'projects-statistics',
        data: () => ({

        }),
        methods: {

        }
    }
</script>

<style scoped>

</style>
