<template>
    <div class="panel panel-flat" id="recommended_tasks">
        <div class="panel-heading">
            <h6 class="panel-title">Рекомендуемые задачи на сегодня <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>

            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a @click.prevent="getRecommendedTasks()" data-action="reload"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body" v-for="task in tasks">
            <h6 class="text-semibold no-margin-top">
                <router-link :to="{ name: 'tasks.show', params: {id: task.id}}">#{{ task.id }} - {{ task.title }}</router-link>
            </h6>

            {{ task.description }}

            <ul class="list-inline list-inline-condensed no-margin-bottom mt-15" v-show="task.members">
                <li v-for="member in task.members" :title="member.name" class="member-tooltip">
                    <a><img :src="endpoints.base + (member.avatar ? member.avatar : '/images/no-image.png')" class="img-circle img-xs"></a>
                    <a data-toggle="modal" @click.prevent="currentMember = member" href="#member-modal"><img :src="endpoints.base + (member.avatar ? member.avatar : '/images/no-image.png')" class="img-circle img-xs"></a>

                </li>
            </ul>
        </div>
        <div class="modal fade" id="member-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <show-user-details :member="currentMember"></show-user-details>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</template>

<script>
    // todo add creating daily task from this component
    import moment from 'moment';
    import ShowUserDetails from "../modals/ShowUserDetails";
    export default {
        components: {ShowUserDetails},
        name: 'recommended-today-tasks',
        data: () => ({
            endpoints: {
                base: API_BASE_URL,
                tasks: API_URL + '/tasks?deadline='+moment().format('YYYY-MM-DD')+'&is_daily=true&limit=5'
            },
            tasks: [],
            currentMember: null,
        }),
        methods: {
            getRecommendedTasks() {
                let time = new Date();
                let microtime = time.getMilliseconds();
                this.$Progress.start();
                this.blockElement('#recommended_tasks');
                this.$http.get(this.endpoints.tasks).then(response => {
//                    this.makeCommentsArray(response.body.data.tasks);
                    this.tasks = response.body.data;
                    this.$Progress.finish();
                    this.unBlockElement('#recommended_tasks', microtime);
                }).catch(errors => {
                    console.error(errors);
                    this.$Progress.fail();
                    this.unBlockElement('#recommended_tasks', microtime);
                });
            },
        },
        created () {
            this.getRecommendedTasks();
        },
        mounted () {
            $('.modal').on('shown.bs.modal', function () {
                $('[title]').tooltip('hide');
            })
        },
        updated () {
            $('[title]').tooltip();
        }
    }
</script>

<style scoped>
    #recommended_tasks {
        height: 280px;
    }
</style>
