<template>
    <div class="panel text-center bg-danger-400 has-bg-image" id="tasks_stats_widget">
        <div class="panel-body panel-body-accent">
            <h6 class="text-semibold no-margin-bottom mt-5">
                Статистика ваших задач
            </h6>
            <div class="opacity-75 content-group">{{statistics.count_tasks}} задач всего</div>
            <div class="svg-center position-relative mb-5" id="progress_percentage_four"></div>
        </div>
        <div class="panel-body panel-body-accent pb-15">
            <div class="row">
                <div class="col-xs-4">
                    <div class="text-uppercase text-size-mini text-muted">Открыто</div>
                    <h5 class="text-semibold no-margin">{{statistics.count_open}}</h5>
                </div>

                <div class="col-xs-4">
                    <div class="text-uppercase text-size-mini text-muted">Выполняются</div>
                    <h5 class="text-semibold no-margin">{{statistics.count_pending}}</h5>
                </div>

                <div class="col-xs-4">
                    <div class="text-uppercase text-size-mini text-muted">Закрыты</div>
                    <h5 class="text-semibold no-margin">{{statistics.count_closed}}</h5>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    //import d3 from '../../../assets/js/plugins/visualization/d3/d3.min.js'
    //import general_widgets_stats from '../../../assets/js/pages/general_widgets_stats.js'
    //import d3 from 'd3'
    export default {
        name: 'tasks-statistics',
        data: () => ({
            endpoints: {
                statistics: API_URL+'/widget/tasks-statistics'
            },
            statistics: {
                count_tasks: 0,
                count_open: 0,
                count_pending: 0,
                count_closed: 0,
                done_percent: 0
            }
        }),
        methods: {
            getStatistics: function(){
                this.$http.get(this.endpoints.statistics)
                        .then(function(response){
                            console.log(response);
                            this.statistics.count_tasks = response.data.data.count_tasks;
                            this.statistics.count_open = response.data.data.count_open;
                            this.statistics.count_pending = response.data.data.count_pending;
                            this.statistics.count_closed = response.data.data.count_closed;
                            this.statistics.done_percent = response.data.data.done_percent;

                            progressPercentage('#progress_percentage_four', 46, 3, "#E53935", "#fff", this.statistics.done_percent);

                            // Chart setup
                            function progressPercentage(element, radius, border, backgroundColor, foregroundColor, end) {
                                //console.log('PERCENT', that.statistics.done_percent);
                                console.log('Progress');
                                // Basic setup
                                // ------------------------------
                                // Main variables
                                var d3Container = d3.select(element),
                                        startPercent = 0,
                                        fontSize = 22,
                                        endPercent = end,
                                        twoPi = Math.PI * 2,
                                        formatPercent = d3.format('.0%'),
                                        boxSize = radius * 2;
                                // Values count
                                var count = Math.abs((endPercent - startPercent) / 0.01);

                                // Values step
                                var step = endPercent < startPercent ? -0.01 : 0.01;

                                // Create chart
                                // ------------------------------
                                // Add SVG element
                                var container = d3Container.append('svg');
                                // Add SVG group
                                var svg = container
                                        .attr('width', boxSize)
                                        .attr('height', boxSize)
                                        .append('g')
                                        .attr('transform', 'translate(' + radius + ',' + radius + ')');
                                // Construct chart layout
                                // ------------------------------
                                // Arc
                                var arc = d3.svg.arc()
                                        .startAngle(0)
                                        .innerRadius(radius)
                                        .outerRadius(radius - border)
                                        .cornerRadius(20);
                                //
                                // Append chart elements
                                //
                                // Paths
                                // ------------------------------
                                // Background path
                                svg.append('path')
                                        .attr('class', 'd3-progress-background')
                                        .attr('d', arc.endAngle(twoPi))
                                        .style('fill', backgroundColor);

                                // Foreground path
                                var foreground = svg.append('path')
                                        .attr('class', 'd3-progress-foreground')
                                        .attr('filter', 'url(#blur)')
                                        .style({
                                            'fill': foregroundColor,
                                            'stroke': foregroundColor
                                        });
                                // Front path
                                var front = svg.append('path')
                                        .attr('class', 'd3-progress-front')
                                        .style({
                                            'fill': foregroundColor,
                                            'fill-opacity': 1
                                        });
                                // Text
                                // ------------------------------
                                // Percentage text value
                                var numberText = svg
                                        .append('text')
                                        .attr('dx', 0)
                                        .attr('dy', (fontSize / 2) - border)
                                        .style({
                                            'font-size': fontSize + 'px',
                                            'line-height': 1,
                                            'fill': foregroundColor,
                                            'text-anchor': 'middle'
                                        });
                                // Animation
                                // ------------------------------
                                // Animate path
                                function updateProgress(progress) {
                                    foreground.attr('d', arc.endAngle(twoPi * progress));
                                    front.attr('d', arc.endAngle(twoPi * progress));
                                    numberText.text(formatPercent(progress));
                                }
                                // Animate text
                                var progress = startPercent;
                                (function loops() {
                                    updateProgress(progress);
                                    if (count > 0) {
                                        count--;
                                        progress += step;
                                        setTimeout(loops, 10);
                                    }
                                })();
                            }
                        }, function(error){
                            console.log(error)
                        })
            }
        },

        created() {
            this.getStatistics();
        },

        mounted () {

        }

    }
</script>

<style scoped>
#tasks_stats_widget {
    height: 280px;
}
/*.panel {*/
    /*border: 1px solid transparent;*/
    /*border-radius: 3px;*/
    /*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, .05);*/
/*}*/
.panel.has-bg-image {
    background-image: url(../../../assets/images/backgrounds/panel_bg.png);
}
.opacity-75 {
    opacity: .75;
}
.accent {
    background-color: rgba(0,0,0,.1);
}
.panel[class*=bg-] .panel-body-accent {
    background-color: rgba(0,0,0,.1);
}
</style>