<template>
    <div class="panel panel-flat" id="tasks_last_comments">
        <div class="panel-heading">
            <h6 class="panel-title">Последние комментарии задач <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>

            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a @click.prevent="getLastComments()" data-action="reload"></a></li>
                </ul>
            </div>
        </div>

        <ul class="media-list panel-body">
            <li class="media" v-for="comment in comments">
                <div class="media-left">
                    <img :src="endpoints.base + (comment.user ? comment.user.avatar : '/images/noavatar.png')" class="img-circle img-sm" alt="">
                </div>

                <div class="media-body">
                    <router-link class="media-heading" :to="{name: 'tasks.show', params: {id: comment.commentable_id}}">
                        <span class="text-semibold">{{ comment.user ? comment.user.name : '-' }} - в задаче {{ comment.commentable ? comment.commentable.title : '' }}</span>
                        <span class="media-annotation pull-right">{{ comment.created_at }}</span>
                    </router-link>
                    <span class="text-muted">{{ comment.text }}</span>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'tasks-last-comments',
        data: () => ({
            endpoints: {
                base: API_BASE_URL,
                comments: API_URL + '/comments'
            },
            comments: [],
        }),
        methods: {
            getLastComments() {
                let time = new Date();
                let microtime = time.getMilliseconds();
                this.$Progress.start();
                this.blockElement('#tasks_last_comments');
                this.$http.get(this.endpoints.comments).then(response => {
//                    this.makeCommentsArray(response.body.data.tasks);
                    this.comments = response.body.data.tasks;
                    this.$Progress.finish();
                    this.unBlockElement('#tasks_last_comments', microtime);
                }).catch(errors => {
                    console.error(errors);
                    this.$Progress.fail();
                    this.unBlockElement('#tasks_last_comments', microtime);
                });
            },
            makeCommentsArray(firstArray) {
                this.comments = [];
                for (let i = 0; i <= firstArray.length; i++) {
                    if (firstArray[i] && firstArray[i].comments) {
                        this.comments.push(firstArray[i].comments)
                    }
                }
            }
        },
        created () {
            this.getLastComments();
        }
    }
</script>

<style scoped>
    #tasks_last_comments {
        height: 280px
    }
</style>
