<template>
    <div class="panel panel-body text-center">
        <h6 class="text-semibold no-margin-bottom mt-5">Сферы деятельности</h6>
        <div></div>
        <div class="svg-center" id="task_stat_by_activity"></div>
    </div>
</template>
<script>
    //import d3 from '../../../assets/js/plugins/visualization/d3/d3.min.js'
    //import general_widgets_stats from '../../../assets/js/pages/general_widgets_stats.js'
    //import d3 from 'd3'
    export default {
        name: 'tasks-statistics-by-activity',
        data: () => ({
            endpoints: {
                statistics: API_URL+'/widget/tasks-by-activity'
            },
            statistics: {
                count_tasks: 0,
                count_open: 0,
                count_pending: 0,
                count_closed: 0,
                done_percent: 0
            }
        }),
        methods: {
            getStatistics: function(){
                this.$http.get(this.endpoints.statistics)
                        .then(function(response) {
                            console.log(response);



                            // Donut with legend
                            // ------------------------------

                            // Initialize chart
                            animatedDonutWithLegend("#task_stat_by_activity", 120, response);

                            // Chart setup
                            function animatedDonutWithLegend(element, size, res) {
                                var items = res.data.data;
                                var colors = ['#29B6F6', '#66BB6A', '#EF5350', '#78909C', '#F06292', '#4DB6AC'];
                                var data = [];
                                // Add data set

                                for(var i=0; i<items.length; i++){

                                    data.push({
                                        "status": items[i].name,
                                        "value": items[i].count_tasks,
                                        "color": colors[i]
                                    });

                                }
//                                    var data = [
//                                        {
//                                            "status": items[i].name,
//                                            "value": items[i].count_tasks,
//                                            "color": "#29B6F6"
//                                        }, {
//                                            "status": res.data.data[1].name,
//                                            "value": res.data.data[1].count_tasks,
//                                            "color": "#66BB6A"
//                                        }, {
//                                            "status": "Shipped",
//                                            "value": 5,
//                                            "color": "#EF5350"
//                                        }
//                                    ];

                                // Main variables
                                var d3Container = d3.select(element),
                                        distance = 2, // reserve 2px space for mouseover arc moving
                                        radius = (size/2) - distance,
                                        sum = d3.sum(data, function(d) { return d.value; });


                                // Create chart
                                // ------------------------------

                                // Add svg element
                                var container = d3Container.append("svg");

                                // Add SVG group
                                var svg = container
                                        .attr("width", size)
                                        .attr("height", size)
                                        .append("g")
                                        .attr("transform", "translate(" + (size / 2) + "," + (size / 2) + ")");


                                // Construct chart layout
                                // ------------------------------

                                // Pie
                                var pie = d3.layout.pie()
                                        .sort(null)
                                        .startAngle(Math.PI)
                                        .endAngle(3 * Math.PI)
                                        .value(function (d) {
                                            return d.value;
                                        });

                                // Arc
                                var arc = d3.svg.arc()
                                        .outerRadius(radius)
                                        .innerRadius(radius / 1.5);


                                //
                                // Append chart elements
                                //

                                // Group chart elements
                                var arcGroup = svg.selectAll(".d3-arc")
                                        .data(pie(data))
                                        .enter()
                                        .append("g")
                                        .attr("class", "d3-arc")
                                        .style({
                                            'stroke': '#fff',
                                            'stroke-width': 2,
                                            'cursor': 'pointer'
                                        });

                                // Append path
                                var arcPath = arcGroup
                                        .append("path")
                                        .style("fill", function (d) {
                                            return d.data.color;
                                        });


                                // Add interactions
                                arcPath
                                        .on('mouseover', function (d, i) {

                                            // Transition on mouseover
                                            d3.select(this)
                                                    .transition()
                                                    .duration(500)
                                                    .ease('elastic')
                                                    .attr('transform', function (d) {
                                                        d.midAngle = ((d.endAngle - d.startAngle) / 2) + d.startAngle;
                                                        var x = Math.sin(d.midAngle) * distance;
                                                        var y = -Math.cos(d.midAngle) * distance;
                                                        return 'translate(' + x + ',' + y + ')';
                                                    });

                                            // Animate legend
                                            $(element + ' [data-slice]').css({
                                                'opacity': 0.3,
                                                'transition': 'all ease-in-out 0.15s'
                                            });
                                            $(element + ' [data-slice=' + i + ']').css({'opacity': 1});
                                        })
                                        .on('mouseout', function (d, i) {

                                            // Mouseout transition
                                            d3.select(this)
                                                    .transition()
                                                    .duration(500)
                                                    .ease('bounce')
                                                    .attr('transform', 'translate(0,0)');

                                            // Revert legend animation
                                            $(element + ' [data-slice]').css('opacity', 1);
                                        });

                                // Animate chart on load
                                arcPath
                                        .transition()
                                        .delay(function(d, i) {
                                            return i * 500;
                                        })
                                        .duration(500)
                                        .attrTween("d", function(d) {
                                            var interpolate = d3.interpolate(d.startAngle,d.endAngle);
                                            return function(t) {
                                                d.endAngle = interpolate(t);
                                                return arc(d);
                                            };
                                        });


                                //
                                // Append counter
                                //

                                // Append text
                                svg
                                        .append('text')
                                        .attr('text-anchor', 'middle')
                                        .attr('dy', 6)
                                        .style({
                                            'font-size': '17px',
                                            'font-weight': 500
                                        });

                                // Animate text
                                svg.select('text')
                                        .transition()
                                        .duration(1500)
                                        .tween("text", function(d) {
                                            var i = d3.interpolate(this.textContent, sum);
                                            return function(t) {
                                                this.textContent = d3.format(",d")(Math.round(i(t)));
                                            };
                                        });


                                //
                                // Append legend
                                //

                                // Add element
                                var legend = d3.select(element)
                                        .append('ul')
                                        .attr('class', 'chart-widget-legend')
                                        .selectAll('li').data(pie(data))
                                        .enter().append('li')
                                        .attr('data-slice', function(d, i) {
                                            return i;
                                        })
                                        .attr('style', function(d, i) {
                                            return 'border-bottom: 2px solid ' + d.data.color;
                                        })
                                        .text(function(d, i) {
                                            return d.data.status + ': ';
                                        });

                                // Add value
                                legend.append('span')
                                        .text(function(d, i) {
                                            return d.data.value;
                                        });
                            }
                        });
            }
        },

        created() {
            this.getStatistics();
        },

        mounted () {

        }

    }
</script>

<style scoped>
    #tasks_stats_widget {
        height: 280px;
    }
    /*.panel {*/
    /*border: 1px solid transparent;*/
    /*border-radius: 3px;*/
    /*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, .05);*/
    /*}*/
    .panel.has-bg-image {
        background-image: url(../../../assets/images/backgrounds/panel_bg.png);
    }
    .opacity-75 {
        opacity: .75;
    }
    .accent {
        background-color: rgba(0,0,0,.1);
    }
    .panel[class*=bg-] .panel-body-accent {
        background-color: rgba(0,0,0,.1);
    }
</style>