<template>
    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">Настройки аккаунта<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-7">
                        <form action="#">
                            <div class="form-group">
                                <label class="control-label">Имя</label>
                                <div>
                                    <input type="text" :value="user.name" class="form-control" v-model="user.name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Дата рождения</label>
                                <div class="input-group ">
                                                                <span class="input-group-addon" @click="openFlatpickr('birthday')">
                                                                    <i class="icon-calendar22"></i>
                                                                </span>
                                    <input type="text" name="daterange" id="birthday" class="form-control flatpickr flatpickr-birthday" v-model="user.birthday">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Email</label>
                                        <input type="text" readonly="readonly" :value="user.email" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Телефон</label>
                                        <input type="text" :value="user.phone" v-model="user.phone" class="form-control">
                                        <span class="help-block">+99-99-9999-9999</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Основной язык</label>
                                        <div class="btn-group bootstrap-select dropdown " style="width: 100%;">
                                            <select class="bootstrap-select" data-width="100%" id="language" tabindex="-98" v-model="selectedLanguage">
                                                <option v-bind:value="lang.value" v-for="lang in main_language">{{ lang.text }}</option>
                                                <!--<option :value="ru">Русский</option>
                                                <option :value="ua">Украинский</option>
                                                <option :value="eng">Английский</option>-->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">

                                </div> <!--row social-->
                            </div>

                            <div class="text-right">
                                <button type="submit"  @click.prevent="submitUserInfo" class="btn btn-primary">Сохранить <i class="icon-arrow-right14 position-center"></i></button>
                            </div>

                        </form>

                    </div> <!--col-md-5-->
                    <div class="col-md-5">
                        <div class="col-lg-12 dropzone_single" style="margin-bottom: 43px;">
                            <form :action="uploadAvatarUrl" class="dropzone dz-clickable" id="my-awesome-dropzone" enctype="multipart/form-data">
                                <!-- <div class="dz-default dz-message">
                                     <span>Drop file to upload
                                         <span>or CLICK</span>
                                     </span>
                                 </div>-->

                            </form>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Социальные сети</label>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a class="btn btn-primary social" data-id="google_calendar_id" data-index="0">
                                                <i data-id="google_calendar_id" class="icon-calendar"></i>
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-primary social" data-id="google_id" data-index="1">
                                                <i data-id="google_id" class="icon-google-plus">
                                                </i>
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-primary social" data-id="facebook_id" data-index="2">
                                                <i data-id="facebook_id" class="icon-facebook"></i>
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-primary social" data-id="twitter_id" data-index="3">
                                                <i data-id="twitter_id" class="icon-twitter"></i>
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-primary social" data-id="instagram_id" data-index="4">
                                                <i data-id="instagram_id" class="icon-instagram"></i>
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-primary social" data-id="youtube_id" data-index="5">
                                                <i data-id="youtube_id" class="icon-youtube"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!--row main form-->
            </div>
        </div>
    </div>
</template>

<script>
    import bootstrap from 'bootstrap'
    import bootstrap_select from '../../../src/assets/js/plugins/forms/selects/bootstrap_select.min.js'
    import moment from "moment"
    import picker from "../../../src/assets/js/plugins/pickers/datepicker.js"
    import fileinput from "../../../src/assets/js/plugins/uploaders/fileinput.min.js"
    import Dropzone from "../../../src/assets/js/plugins/uploaders/dropzone.min.js"
    import bootbox from "../../../src/assets/js/plugins/notifications/bootbox.min.js"

    import Flatpickr from 'flatpickr';
    import { ru } from 'flatpickr/dist/l10n/ru.js';

    export default {
        name: 'Account',
        components : {  },
        data () {
            return{
                endpoints: {
                    calendars: API_URL + '/calendars',
                    profile: {
                        get: API_URL + '/users',
                        save: API_URL + '/users'
                    },
                    calendar: {
                        types: API_URL + '/calendar-types',
                    },
                    worktime: {
                        get: API_URL + '/calendar-events/work-time',
                        save: API_URL + '/users/save-worktime'
                    },
                    widgets: {
                        get: API_URL + '/profile/widgets',
                        save: API_URL + '/profile/widgets'
                    }
                },
                user: {
                    name: '',
                    phone: '',
                    email: '',
                    avatar: ''
                },
                main_language: [
                    { value: 0, text: 'Выберите язык' },
                    { value: 'en', text: 'Английский' },
                    { value: 'ua', text: 'Украинский' },
                    { value: 'ru', text: 'Русский' },
                ],
                social:[
                    { google_calendar_id: ''},
                    { google_id: ''},
                    { facebook_id: ''},
                    { twitter_id: ''},
                    { instagram_id: ''},
                    { youtube_id: ''},
                ],
                flatpickrBirthday: null,
                selectedLanguage: 0,
                uploadAvatarUrl:  API_URL + '/users/upload-avatar',
            }
        },
        methods: {
            getUser () {
                this.user.phone = this.$store.state.user.phone;
                this.user.name = this.$store.state.user.name;
                this.user.email = this.$store.state.user.email;
                this.user.avatar = this.$store.state.user.avatar;
                this.selectedLanguage = this.$store.state.profile.main_language;

                if(this.$store.state.user.info == null){
                    this.userInfo = {};
                } else {
                    this.userInfo = this.$store.state.user.info;
                }
            },

            initBirthdayCalendar () {
                let vm = this;
                this.flatpickrBirthday = new Flatpickr(document.getElementById("birthday"), {
                    mode: 'single',
                    locale: ru,
                    minDate: '1920-01-01',
                    onChange: function (selectedDates, dateStr, instance) {
                        vm.profile.birthday = dateStr;
                        vm.userBirthday = dateStr;
                    },
                });

            },
            openFlatpickr (el) {
                if (el === 'repeat') {
                    this.flatpickrRepeatTo.open();
                }
                else if (el === 'birthday') {
                    this.flatpickrBirthday.open();
                }
            },

            submitUserInfo () {

                let data = {
                    user: {},
                    info: {}
                };
//                data.user = {};
//                data.info = {};

                data.user.name = this.user.name;
                data.user.phone = this.user.phone;
                data.user.avatar = this.user.avatar;

                data.info.main_language = this.selectedLanguage;
                data.info.birthday = this.user.birthday;
                data.info.google_calendar_id = this.social[0].google_calendar_id;
                data.info.google_id = this.social[1].google_id;
                data.info.facebook_id = this.social[2].facebook_id;
                data.info.twitter_id = this.social[3].twitter_id;
                data.info.instagram_id = this.social[4].instagram_id;
                data.info.youtube_id = this.social[5].youtube_id;

                if(this.$store.state.user.avatar != 'undefined'
                        && this.$store.state.user.avatar != null) {
                    data.user.avatar = this.$store.state.user.avatar;
                }

                console.log('userData', data);
                console.log('this.selectedLanguage', this.selectedLanguage);
                this.$http.put(this.endpoints.profile.save, data)
                        .then(function(response) {
                            this.$store.commit('userUpdate', data.user);
                            new PNotify({
                                title: 'Успешно',
                                text: response.body.message,
                                addclass: 'bg-success'
                            });
                            this.getProfile();
                            $('#language').selectpicker('refresh')
                        }, function (error) {
                            console.log(error);
                        });
            },

            getProfile () {
                this.$http.get(this.endpoints.profile.get)
                        .then(function(response) {

                            this.user.name = response.data.data.name;
                            this.user.phone = response.data.data.phone;
                            this.user.email = response.data.data.email;
                            this.user.avatar = response.data.data.avatar;
                            this.user.birthday = response.data.data.info.birthday;

                            this.social[0].google_calendar_id = response.data.data.info.google_calendar_id;
                            this.social[1].google_id = response.data.data.info.google_id;
                            this.social[2].facebook_id = response.data.data.info.facebook_id;
                            this.social[3].twitter_id = response.data.data.info.twitter_id;
                            this.social[4].instagram_id = response.data.data.info.instagram_id;
                            this.social[5].youtube_id = response.data.data.info.youtube_id;


                            //return console.log(JSON.parse(response.data.data.info.work_days));
                            if(response.data.info === null) {
                                this.profile = {};
                                this.$store.commit('profile', this.profile);
                            } else {
                                this.profile = response.data.data.info;
                                this.userBirthday = this.profile.birthday;
                                this.userInfo = response.data.info;
                                if(this.userInfo){
                                    this.selectedLanguage = this.userInfo.main_language;
                                }
                                this.$store.commit('profile', this.profile)
                            }
                        }, function(error) {
                            console.log(error);
                        });
            },
        },
        watch: {
            userBirthday: function () {
                if (this.user.birthday) {
                    this.user.birthday = this.userBirthday;
                    this.flatpickrBirthday.setDate(this.userBirthday);
                }
            },
        },
        created () {
            this.getProfile();
            //this.getWidgets();
        },
        mounted () {
            this.initBirthdayCalendar();
            $.fn.selectpicker.defaults = {
                iconBase: '',
                tickIcon: 'icon-checkmark3'
            };
            let that = this;

            that.getUser();
            that.getProfile();

            Dropzone.autoDiscover = false;
            this.dropzoneInstance = new Dropzone("#my-awesome-dropzone", {
                paramName: "file", // The name that will be used to transfer the file
                maxFilesize: 1, // MB
                maxFiles: 1,
                url: API_URL+'/users/upload-avatar',
                acceptedFiles: ".jpeg,.jpg,.png,.gif,",
                headers: {
                    "Authorization": "Bearer "+ localStorage.getItem('token')
                },
                dictDefaultMessage: 'Перетащите сюда файлы <span>или НАЖМИТЕ</span>',
                autoProcessQueue: true,
                addRemoveLinks: true,
                thumbnailWidth: 200,
//                thumbnailHeight: 250,



                init: function() {
                    let dz = this;



                    if(that.$store.state.user.avatar != null && that.$store.state.user.avatar != ''){
                        var mockFile = { name: "avatar.jpg", size: 12345, type: 'image/jpeg' };
                        dz.options.addedfile.call(dz, mockFile);
                        dz.options.thumbnail.call(dz, mockFile, API_BASE_URL+that.$store.state.user.avatar);
                    }

                    this.on('success', function(file, response){
                        if(this.files.length != 0){
                            for(var i=0; i<this.files.length; i++){
                                this.files[i].previewElement.remove();
                            }
                            this.files.length = 0;
                        }
                        var mockFile = { name: "avatar.jpg", size: 12345, type: 'image/jpeg' };
                        dz.options.addedfile.call(dz, mockFile);
                        dz.options.thumbnail.call(dz, mockFile, API_BASE_URL + response.data);
                        that.$store.commit('avatar', response.data);
                        //this.user.avatar = response.data;
                    });
                },
            });



            $(document).ready(function() {
                $('.bootstrap-select').selectpicker();
                $('#calendar_types').selectpicker(that.selectedType).selectpicker('refresh');

                $('#language').on('change', function () {
                    var selected = $(this).find("option:selected").attr("value");
                    console.log('cal', selected);
                    $(this).selectpicker(selected).selectpicker('refresh');
                    that.selectedLanguage = selected;
                });

                // Prompt dialog
                $('.social').on('click', function(e) {
                    e.stopPropagation();
                    let social = $(this).data('id');
                    let i = $(this).data('index');

                    //console.log(that.social[social]);
                    bootbox.prompt({
                        title: "Скопируйте ссылку на ваш профиль",
                        value: that.social[i][social],
                        callback: function(result) {
                            let prompt = this;
                            if (result !== null) {
                                that.social.filter(function(i, index) {
                                    console.log(prompt);
                                    if(i.hasOwnProperty(social)) {
                                        console.log(index);
                                        that.social[index][social] = result;
                                        return that.social;
                                    }
                                });
                            }
                        }
                    });
                });

            });


        },
    }
</script>

<style>
     /*------------------------------------------------------------------------------*/
         /***/
         /**  # Dropzone file uploader*/
         /***/
         /**  Open source library that provides drag’n’drop file uploads with image previews*/
         /***/
         /**  Version: 1.0*/
         /**  Latest update: May 25, 2015*/
         /***/
         /** ---------------------------------------------------------------------------- */


    .dropzone {
        position: relative;
        border: 3px dashed #eeeeee;
        min-height: 250px;
        border-radius: 2px;
        background-color: #fcfcfc;
        padding: 5px;
    }

    .dropzone.dz-clickable,
    .dropzone.dz-clickable .dz-message,
    .dropzone.dz-clickable .dz-message span {
        cursor: pointer;
    }

    .dropzone.dz-clickable * {
        cursor: default;
    }

    .dropzone .dz-message {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .dropzone.dz-started .dz-message {
        display: none;
    }

    .dropzone.dz-drag-hover {
        border-color: rgba(0, 0, 0, 0.15);
        background: rgba(0, 0, 0, 0.04);
    }
    .dz-preview .dz-image-preview{
        width:250px
    }

    .sidebar .dropzone {
        min-height: 190px;
        text-align: center;
        border-width: 2px;
    }

    .sidebar .dropzone .dz-default.dz-message:before {
        font-size: 64px;
        width: 64px;
        height: 64px;
        margin-left: -32px;
        top: 50px;
    }

    .sidebar .dropzone .dz-default.dz-message span {
        font-size: 15px;
    }

    .sidebar .dropzone .dz-default.dz-message > span {
        margin-top: 130px;
    }

    .dz-preview .dz-image-preview {
        width: 400px !important;
    }

    @media (min-width: 769px) {
        .dropzone {
            min-height: 320px;
        }
    }

    .dropzone .dz-default.dz-message {
        position: absolute;
        height: 230px;
        width: 100%;
        margin-top: -115px;
        top: 50%;
        left: 0;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }

    .dropzone .dz-default.dz-message:before {
        content: '\f1c5';
        font-family: 'FontAwesome';
        font-size: 64px;
        position: absolute;
        top: 48px;
        width: 64px;
        height: 64px;
        display: inline-block;
        left: 50%;
        margin-left: -32px;
        line-height: 1;
        z-index: 0;
        color: #ddd;
        text-indent: 0;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .dropzone .dz-default.dz-message span {
        font-size: 15px;
        color: #bbb;
        text-align: center;
        margin-top: 120px;
        display: block;
        font-weight: 500;
        text-shadow: 0 1px 1px #fff;
    }

    .dropzone .dz-default.dz-message span > span {
        margin-top: 2px;
        display: block;
        color: #ccc;
        font-size: 15px;
    }

    @media (min-width: 769px) {
        .dropzone .dz-default.dz-message:before {
            font-size: 80px;
            top: 48px;
            width: 80px;
            height: 80px;
            margin-left: -32px;
        }

        .dropzone .dz-default.dz-message span {
            font-size: 19px;
            margin-top: 130px;
        }
    }

    .dropzone.dz-drag-hover .dz-message {
        opacity: 0.15;
        filter: alpha(opacity=15);
    }

    .dropzone.dz-started .dz-message {
        display: block;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .dropzone .dz-preview,
    .dropzone-previews .dz-preview {
        background-color: #fff;
        position: relative;
        display: inline-block;
        margin: 10px;
        vertical-align: top;
        border: 1px solid #dddddd;
        padding: 6px;
        border-radius: 2px;
    }

    .dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
    .dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
        display: none;
    }

    .dropzone .dz-preview .dz-details,
    .dropzone-previews .dz-preview .dz-details {
        width: 200px;
        height: 200px;
        position: relative;
        background-color: #f5f5f5;
        padding: 8px;
        margin-bottom: 25px;
    }

    .dropzone .dz-preview .dz-details .dz-filename,
    .dropzone-previews .dz-preview .dz-details .dz-filename {
        overflow: hidden;
        height: 100%;
    }

    .dropzone .dz-preview .dz-details img,
    .dropzone-previews .dz-preview .dz-details img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /*height: 200px;*/
    }

    .dropzone .dz-preview .dz-details .dz-size,
    .dropzone-previews .dz-preview .dz-details .dz-size {
        position: absolute;
        bottom: -26px;
        left: 5px;
    }

    .dropzone .dz-preview:hover .dz-details img,
    .dropzone-previews .dz-preview:hover .dz-details img {
        display: none;
    }

    .dropzone .dz-preview .dz-error-mark,
    .dropzone-previews .dz-preview .dz-error-mark,
    .dropzone .dz-preview .dz-success-mark,
    .dropzone-previews .dz-preview .dz-success-mark {
        display: none;
        position: absolute;
        right: 8px;
        bottom: 10px;
        z-index: 9;
    }

    .dropzone .dz-preview .dz-error-mark:after,
    .dropzone-previews .dz-preview .dz-error-mark:after,
    .dropzone .dz-preview .dz-success-mark:after,
    .dropzone-previews .dz-preview .dz-success-mark:after {
        font-family: 'FontAwesome';
        display: block;
        font-size: 12px;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .dropzone .dz-preview .dz-error-mark span,
    .dropzone-previews .dz-preview .dz-error-mark span,
    .dropzone .dz-preview .dz-success-mark span,
    .dropzone-previews .dz-preview .dz-success-mark span,
    .dropzone .dz-preview .dz-error-mark svg,
    .dropzone-previews .dz-preview .dz-error-mark svg,
    .dropzone .dz-preview .dz-success-mark svg,
    .dropzone-previews .dz-preview .dz-success-mark svg {
        display: none;
    }

    .dropzone .dz-preview .dz-error-mark,
    .dropzone-previews .dz-preview .dz-error-mark {
        color: #f44336;
    }

    .dropzone .dz-preview .dz-error-mark:after,
    .dropzone-previews .dz-preview .dz-error-mark:after {
        content: '\f00c';
    }

    .dropzone .dz-preview .dz-success-mark,
    .dropzone-previews .dz-preview .dz-success-mark {
        color: #4caf50;
    }

    .dropzone .dz-preview .dz-success-mark:after,
    .dropzone-previews .dz-preview .dz-success-mark:after {
        content: '\f00c';
    }

    .dropzone .dz-preview.dz-error .dz-error-mark,
    .dropzone-previews .dz-preview.dz-error .dz-error-mark,
    .dropzone .dz-preview.dz-success .dz-success-mark,
    .dropzone-previews .dz-preview.dz-success .dz-success-mark {
        display: block;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .dropzone .dz-preview .dz-progress,
    .dropzone-previews .dz-preview .dz-progress {
        position: absolute;
        top: 118px;
        left: 8px;
        right: 8px;
        height: 4px;
        background-color: #eeeeee;
        display: none;
        border-radius: 2px;
    }

    .dropzone .dz-preview .dz-progress .dz-upload,
    .dropzone-previews .dz-preview .dz-progress .dz-upload {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #00bcd4;
        -webkit-transition: width 0.3s ease-in-out;
        -o-transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
    }

    .dropzone .dz-preview.dz-processing .dz-progress,
    .dropzone-previews .dz-preview.dz-processing .dz-progress {
        display: block;
    }

    .dropzone .dz-preview.dz-success .dz-progress,
    .dropzone-previews .dz-preview.dz-success .dz-progress {
        display: block;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity 0.4s ease-in-out;
        -o-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
    }

    .dropzone .dz-preview .dz-error-message,
    .dropzone-previews .dz-preview .dz-error-message {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(245, 245, 245, 0.8);
        margin: 8px;
        padding: 8px;
        color: #f44336;
        max-width: 100%;
        z-index: 5;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }

    .dropzone .dz-preview.dz-error:hover .dz-error-message,
    .dropzone-previews .dz-preview.dz-error:hover .dz-error-message {
        display: block;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .dropzone .dz-preview.dz-error .dz-progress .dz-upload,
    .dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
        background: #f44336;
    }

    .dropzone .dz-preview.dz-image-preview:hover .dz-details img,
    .dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
        display: block;
        opacity: 0.1;
        filter: alpha(opacity=10);
    }

    .dropzone .dz-preview a.dz-remove,
    .dropzone-previews .dz-preview a.dz-remove {
        background-color: #fafafa;
        border-radius: 2px;
        border: 1px solid #eeeeee;
        display: block;
        padding: 5px;
        text-align: center;
        color: #999999;
        margin-top: 35px;
        cursor: pointer;
    }

    .dropzone .dz-preview a.dz-remove:hover,
    .dropzone-previews .dz-preview a.dz-remove:hover {
        color: #333333;
        background-color: #f5f5f5;
    }
</style>
