<template>
    <div class="login-container  pace-done">
        <div class="page-container" style="min-height:303px">

            <!-- Page content -->
            <div class="page-content">

                <!-- Main content -->
                <div class="content-wrapper">

                    <!-- Content area -->
                    <div class="content">

                        <!-- Simple login form -->
                        <form v-on:submit.prevent="onSubmit">
                            <div class="panel panel-body login-form">
                                <div class="text-center">
                                    <div class="icon-object border-slate-300 text-slate-300"><i
                                            class="icon-reading"></i></div>
                                    <h5 class="content-group">Войти в аккаунт
                                        <small class="display-block">Ваши учетные данные</small>
                                    </h5>
                                </div>

                                <div class="form-group has-feedback has-feedback-left"
                                     :class="{'input': true, 'has-error': errors.has('email') }">
                                    <input type="text" v-model="user.email" class="form-control" placeholder="Email"
                                           id="email" autocomplete="on" v-validate="'required|email'" name="email">

                                    <div class="form-control-feedback">
                                        <i class="icon-user text-muted"></i>
                                    </div>
                                    <span v-show="errors.has('email')" class="help-block text-danger">
                                        <i class="icon-cancel-circle2 position-left"></i>
                                        {{ errors.first('email') }}
                                    </span>
                                </div>

                                <div class="form-group has-feedback has-feedback-left"
                                     :class="{'input': true, 'has-error': errors.has('password') }">
                                    <input type="password" v-model="user.password" class="form-control"
                                           placeholder="Password" v-validate="'required'" name="password">
                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                    <span v-show="errors.has('password')" class="help-block text-danger">
                                        <i class="icon-cancel-circle2 position-left"></i>
                                        {{ errors.first('password') }}
                                    </span>
                                </div>

                                <div class="form-group">
                                    <button type="submit"
                                            class="btn btn-primary btn-block">Войти<i
                                            class="icon-circle-right2 position-right"></i></button>
                                </div>

                                <div class="content-divider text-muted form-group"><span>или войдите с помощью</span>
                                </div>
                                <ul class="list-inline form-group list-inline-condensed text-center">
                                    <li><facebook-login></facebook-login></li>
                                    <li><google-login></google-login></li>
                                </ul>
                                <div class="text-center">
                                    <!--<router-link to="/user/password-recovery">Забыли пароль?</router-link>-->
                                    <router-link to="/user/signup">Регистрация</router-link>
                                </div>
                            </div>
                        </form>
                        <!-- /simple login form -->


                    </div>
                    <!-- /content area -->

                </div>
                <!-- /main content -->

            </div>
            <!-- /page content -->

        </div>
    </div>
</template>

<script>

    import FacebookLogin from '../partials/socialAuth/FacebookLogin.vue';
    import GoogleLogin from '../partials/socialAuth/GoogleLogin.vue';

    export default {
        name: 'login',
        components: { FacebookLogin, GoogleLogin },
        data() {
            return {
                endpoints: {
                    token: API_BASE_URL + '/oauth/token',
                    login: API_BASE_URL + '/oauth/token',
                    user: API_URL + '/users',
                    posts: 'http://jsonplaceholder.typicode.com/posts'
                },
                user: {
                    email: '',
                    password: '',
                    authenticated: null
                }
            }
        },
        methods: {
            onSubmit: function (e) {
                let response = this.login();
                /*return posts;*/
                //console.log(response);
            },

            login: function () {
                let data = {};
                data.grant_type = 'password';
//                 Server
                data.client_id = 2;
                data.client_secret = API_CLIENT_TOKEN;
//                 DEV
//                data.client_id = 4;
//                data.client_secret = 'kf8IGPaFnRaUzV4xQmKwFyKN8apzmahfryWcu27P';
                data.username = this.user.email;
                data.password = this.user.password;

                let time = new Date();
                let microtime = time.getMilliseconds();
                this.blockElement('body');

                this.$http.post(this.endpoints.login, data).then(function (response) {
                    let token = response.body.access_token;

                    if (token) {
                        localStorage.setItem('token', token);
                    }
                    console.log(token);

                    this.$http.get(this.endpoints.user/*, {headers: {'Authorization': 'Bearer '+ token}}*/).then(function (response) {
                        this.user = response.body.data;
                        //console.log(this.user);
                        console.log(response.body.data);

                        if (this.user && this.user.info) {
                            if (this.user.info.work_days) {
                                this.user.info.work_days = JSON.parse(this.user.info.work_days);
                            }
                            this.$store.commit('loginUser', {user: this.user})
                        }

                        localStorage.setItem('user', JSON.stringify(this.user));
                        localStorage.setItem('authenticated', true);
                        this.unBlockElement('body', microtime);
                        if (this.$store.state.user && this.$store.state.user.events) {
                            if (this.$store.state.user.events.length === 0) {
                                this.$router.push('/user/profile');
                            } else {
                                this.$store.commit('hasEvents', true);
                                this.$router.push('/main');
                            }
                        } else {
                            this.$router.push('/user/profile');
                        }


                    }, function (error) {
                        this.unBlockElement('body', microtime);

                        console.log(error);
                    })
                }, function (error) {
                    this.unBlockElement('body', microtime);
                    new PNotify({
                        title: 'Произошла ошибка.',
                        text: 'Не правильный логин или пароль',
                        addclass: 'bg-danger'
                    });
                    console.log(error);
                })
            },

        }
    }
</script>

<style>

</style>