<template>
    <div class="login-container  pace-done">
        <div class="page-container" style="min-height:303px">

            <!-- Page content -->
            <div class="page-content">
                <div class="content-wrapper">
                    <form action="index.html">
                        <div class="panel panel-body login-form">
                            <div class="form-group has-feedback has-feedback-left">
                                <input type="password" v-model="user.password" class="form-control" placeholder="Пароль">
                                <div class="form-control-feedback">
                                    <i class="icon-user-lock text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="password" v-model="user.password_confirmation" class="form-control" placeholder="Подтверждение пароля">
                                <div class="form-control-feedback">
                                    <i class="icon-user-lock text-muted"></i>
                                </div>
                            </div>

                            <button type="submit" class="btn bg-blue btn-block">Востановить пароль <i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </form>
                    <!-- /password recovery -->

                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        name: 'NewPassword',
        data () {
            return {

            }
        }
    }
</script>

<style>

</style>