<template>
    <div class="login-container  pace-done">
        <div class="page-container" style="min-height:303px">

            <!-- Page content -->
            <div class="page-content">
                <div class="content-wrapper">

                    <!-- Password recovery -->
                    <form action="index.html">
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                                <h5 class="content-group">Востановление пароля<small class="display-block">На вашу почту будут отправлены инструкции для востановления пароля</small></h5>
                            </div>

                            <div class="form-group has-feedback">
                                <input type="email" class="form-control" placeholder="Ваш email">
                                <div class="form-control-feedback">
                                    <i class="icon-mail5 text-muted"></i>
                                </div>
                            </div>

                            <button type="submit" class="btn bg-blue btn-block">Востановить пароль <i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </form>
                    <!-- /password recovery -->

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'PasswordRecovery',
        data() {
            return {

            }
        }
    }
</script>

<style>

</style>