<template>

    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">Настройки<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
            </div>

            <div class="panel-body">

                <div class="tabbable">
                    <ul class="nav nav-tabs nav-justified nav-tabs-top top-divided">
                        <li class="" id="calendarsLink">
                            <a href="#calendars" data-toggle="tab" aria-expanded="false"><i class="icon-calendar position-left"></i>Календари</a>
                        </li>
                        <li>
                            <a href="#worktime" @click="getCalendars()" data-toggle="tab" aria-expanded="true"><i class="icon-menu7 position-left"></i>Рабочее время</a>
                        </li>
                        <!--<li class="">-->
                            <!--<a href="#account" data-toggle="tab" aria-expanded="false"><i class="icon-user position-left"></i>Аккаунт</a>-->
                        <!--</li>-->
                        <li class="active">
                            <a href="#general" data-toggle="tab" aria-expanded="false">
                                <i class="icon-calendar position-left"></i>Общее
                            </a>
                        </li>
                        <li class="">
                            <a href="#widgets" data-toggle="tab" aria-expanded="false"><i class="icon-grid2 position-left"></i>Виджеты</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane" id="general">
                            <div class="row">
                                <div class="col-sm-10">
                                    <form action="#">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Формат даты</label>
                                            <input type="checkbox" class="dateFormat" data-label-text="Американский" id="dateFormat">
                                        </div>

                                        <div class="form-group text-center">
                                            <button type="submit"  @click.prevent="" class="btn btn-primary">Сохранить <i class="icon-arrow-right14 position-center"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--<div class="tab-pane" id="account">

                                <div class="row">
                                    <div class="col-md-7">
                                        <form action="#">
                                            <div class="form-group">
                                                <label class="control-label">Имя</label>
                                                <div>
                                                    <input type="text" :value="user.name" class="form-control" v-model="user.name">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Дата рождения</label>
                                                <div class="input-group ">
                                                    <span class="input-group-addon" @click="openFlatpickr('birthday')">
                                                        <i class="icon-calendar22"></i>
                                                    </span>
                                                    <input type="text" name="daterange" id="birthday" class="form-control flatpickr flatpickr-birthday" v-model="user.birthday">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>Email</label>
                                                        <input type="text" readonly="readonly" :value="user.email" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>Телефон</label>
                                                        <input type="text" :value="user.phone" v-model="user.phone" class="form-control">
                                                        <span class="help-block">+99-99-9999-9999</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>Основной язык</label>
                                                        <div class="btn-group bootstrap-select dropdown " style="width: 100%;">
                                                            <select class="bootstrap-select" data-width="100%" id="language" tabindex="-98" v-model="selectedLanguage">
                                                                <option v-bind:value="lang.value" v-for="lang in main_language">{{ lang.text }}</option>
                                                                &lt;!&ndash;<option :value="ru">Русский</option>
                                                                <option :value="ua">Украинский</option>
                                                                <option :value="eng">Английский</option>&ndash;&gt;
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label>Социальные сети</label>
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <a class="btn btn-primary social" data-id="google_calendar_id" data-index="0">
                                                                    <i data-id="google_calendar_id" class="icon-calendar"></i>
                                                                </a>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <a class="btn btn-primary social" data-id="google_id" data-index="1">
                                                                    <i data-id="google_id" class="icon-google-plus">
                                                                    </i>
                                                                </a>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <a class="btn btn-primary social" data-id="facebook_id" data-index="2">
                                                                    <i data-id="facebook_id" class="icon-facebook"></i>
                                                                </a>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <a class="btn btn-primary social" data-id="twitter_id" data-index="3">
                                                                    <i data-id="twitter_id" class="icon-twitter"></i>
                                                                </a>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <a class="btn btn-primary social" data-id="instagram_id" data-index="4">
                                                                    <i data-id="instagram_id" class="icon-instagram"></i>
                                                                </a>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <a class="btn btn-primary social" data-id="youtube_id" data-index="5">
                                                                    <i data-id="youtube_id" class="icon-youtube"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> &lt;!&ndash;row social&ndash;&gt;
                                            </div>

                                                <div class="text-right">
                                                    <button type="submit"  @click.prevent="submitUserInfo" class="btn btn-primary">Сохранить <i class="icon-arrow-right14 position-center"></i></button>
                                                </div>

                                        </form>

                                    </div> &lt;!&ndash;col-md-5&ndash;&gt;
                                    &lt;!&ndash;<div class="col-md-5">&ndash;&gt;
                                        &lt;!&ndash;<div class="col-lg-10 dropzone_single">&ndash;&gt;
                                           &lt;!&ndash;<form :action="uploadAvatarUrl" class="dropzone dz-clickable" id="my-awesome-dropzone" enctype="multipart/form-data">&ndash;&gt;
                                               &lt;!&ndash;&lt;!&ndash; <div class="dz-default dz-message">&ndash;&gt;
                                                    &lt;!&ndash;<span>Drop file to upload&ndash;&gt;
                                                        &lt;!&ndash;<span>or CLICK</span>&ndash;&gt;
                                                    &lt;!&ndash;</span>&ndash;&gt;
                                                &lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;

                                            &lt;!&ndash;</form>&ndash;&gt;
                                        &lt;!&ndash;</div>&ndash;&gt;
                                    &lt;!&ndash;</div>&ndash;&gt;
                                </div> &lt;!&ndash;row main form&ndash;&gt;

                        </div>--> <!--tab account-->

                        <div class="tab-pane fade in active" id="calendars">
                            <user-calendars :openModal="openCalendarModal"></user-calendars>
                        </div>

                        <div class="tab-pane" id="widgets">
                            <div class="row">
                                <div class="content-wrapper">
                                    <ul class="media-list content-group">
                                        <li class="media panel panel-body stack-media-on-mobile">
                                            <div class="media-left">

                                            </div>
                                            <div class="media-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2" class="active"><b>Выбрать виджеты для отображения на главном экране</b></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Проекты, у которых скоро дедлайн</td>
                                                                <td style="width: 20%"><input type="checkbox" class="widgets" id="ProjectsWithNearDeadline"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Последние комментарии проектов</td>
                                                                <td style="width: 20%"><input type="checkbox" class="widgets" id="ProjectsLastComments"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Последние комментарии задач</td>
                                                                <td style="width: 20%"><input type="checkbox" class="widgets" id="TasksLastComments"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Статистика задач</td>
                                                                <td style="width: 20%"><input type="checkbox" class="widgets" id="TasksStatistics"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Рекомендуемые задачи на сегодня</td>
                                                                <td style="width: 20%"><input type="checkbox" class="widgets" id="RecommendedTodayTasks"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Уведомления</td>
                                                                <td style="width: 20%">
                                                                    <input type="checkbox" class="widgets" id="AllNotifications">
                                                                </td>
                                                            </tr>
                                                           <!-- <tr>
                                                                <td>Виджет 7</td>
                                                                <td style="width: 20%"><input type="checkbox" class="widgets"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Виджет 8</td>
                                                                <td style="width: 20%"><input type="checkbox" class="widgets"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Виджет 9</td>
                                                                <td style="width: 20%"><input type="checkbox" class="widgets"></td>
                                                            </tr>-->

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="media-footer">
                                                <!--<div class="col-md-6 col-lg-6 col-md-offset-5">-->
                                                    <!--<button type="button" class="btn btn-primary" @click.prevent="saveWidgets()"><i class="icon-floppy-disk position-left"></i>Сохранить</button>-->
                                                <!--</div>-->
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="worktime">

                            <form action="#" @submit.prevent="submitWorktime">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="work-day" v-for="day in worktime.days">
                                            <label>
                                                <input type="checkbox" :id="day.day" v-model="day.checked"
                                                       :value="day.checked"
                                                       :checked="day.checked"><span>{{day.name}}</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Выберите календарь</label>
                                                    <select v-model="selectedCalendar" id="calendarId"
                                                            class="form-control" name="calendar_id">
                                                        <option value="0"> - Выберите календарь - </option>
                                                        <option :value="calendar.id" v-for="calendar in calendars">
                                                            {{ calendar.name }}
                                                        </option>
                                                    </select>
                                                    <!--<input type="text" class="form-control" v-model="calendar_name">-->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Выбор рабочего времени</label>
                                                    <select v-model="worktime.selectedHours" id="select-hours"
                                                            class="form-control">
                                                        <option value="0"> - Выберите календарь - </option>
                                                        <option value="1">1 час</option>
                                                        <option value="2">2 часа</option>
                                                        <option value="3">3 часа</option>
                                                        <option value="4">4 часа</option>
                                                        <option value="5">5 часов</option>
                                                        <option value="6">6 часов</option>
                                                        <option value="7">7 часов</option>
                                                        <option value="8">8 часов</option>
                                                    </select>
                                                    <!--<div class="btn-group bootstrap-select dropdown open"-->
                                                         <!--style="width: 100%;">-->
                                                        <!--<select class="bootstrap-select" id="select-hours"-->
                                                                <!--v-model="worktime.selectedHours" data-width="100%"-->
                                                                <!--tabindex="-98">-->
                                                            <!--<option v-for="option in worktime.hours"-->
                                                                    <!--v-bind:value="option.value">{{ option.text }}-->
                                                            <!--</option>-->
                                                        <!--</select>-->

                                                    <!--</div>-->

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-12">Повторять до</label>
                                                    <div class="input-group col-lg-12">
                                                    <span class="input-group-addon" @click="openFlatpickr('repeat')">
                                                        <i class="icon-calendar22"></i>
                                                    </span>
                                                        <input type="text" id="repeat_to"
                                                               class="form-control flatpickr flatpickr-repeat-to flatpickr-input"
                                                               v-model="calendarRepeatTo">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">
                                        Сохранить <i class="icon-arrow-right14 position-right"></i>
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

//    import $ from 'jquery'
    import bootstrap from 'bootstrap'
    import bootstrap_select from '../../../src/assets/js/plugins/forms/selects/bootstrap_select.min.js'
    import uniform from "../../../src/assets/js/plugins/forms/styling/uniform.min.js"
    import switchery from "../../../src/assets/js/plugins/forms/styling/switchery.min.js"
    import _switch from "../../../src/assets/js/plugins/forms/styling/switch.min.js"
    import moment from "moment"
    import ion_rangeslider from "ion-rangeslider"
    import picker from "../../../src/assets/js/plugins/pickers/datepicker.js"
    import fileinput from "../../../src/assets/js/plugins/uploaders/fileinput.min.js"
    //import Dropzone from "../../../src/assets/js/plugins/uploaders/dropzone.min.js"
    import bootbox from "../../../src/assets/js/plugins/notifications/bootbox.min.js"

    import Flatpickr from 'flatpickr';
    import { ru } from 'flatpickr/dist/l10n/ru.js';
    import UserCalendars from './UserCalendars.vue';

    export default  {
        name: 'Profile',
        components: { UserCalendars },
        data() {
            return {
                endpoints: {
                    calendars: API_URL + '/calendars',
                    profile: {
                        get: API_URL + '/users',
                        save: API_URL + '/users'
                    },
                    calendar: {
                        types: API_URL + '/calendar-types',
                    },
                    worktime: {
                        get: API_URL + '/calendar-events/work-time',
                        save: API_URL + '/users/save-worktime'
                    },
                    widgets: {
                        get: API_URL + '/profile/widgets',
                        save: API_URL + '/profile/widgets'
                    }
                },
                uploadAvatarUrl:  API_URL + '/users/upload-avatar',
                user: {
                    name: '',
                    phone: '',
                    email: '',
                    avatar: ''
                },
                profile: {},
                userInfo: {
                    birthday: ''
                },
                selectedSex: 'Выберите пол',
                selectedLanguage: 0,
                selectedOtherLanguage: 'Дополнительный язык',
                selectedDateFormat: 0,
                worktime: {
                    days: [
                        {day: 1, name: 'Понедельник', checked: false},
                        {day: 2, name: 'Вторник', checked: false},
                        {day: 3, name: 'Среда', checked: false},
                        {day: 4, name: 'Четверг', checked: false},
                        {day: 5, name: 'Пятница', checked: false},
                        {day: 6, name: 'Суббота', checked: false},
                        {day: 7, name: 'Воскресенье', checked: false},
                    ],
                    hours: [
                        {text: 'Рабочее время', value: 0},
                        {text: '1 час' , value: 1},
                        {text: '2 часа' , value: 2},
                        {text: '3 часа' , value: 3},
                        {text: '4 часа' , value: 4},
                        {text: '5 часов' , value: 5},
                        {text: '6 часов' , value: 6},
                        {text: '7 часов' , value: 7},
                        {text: '8 часов' , value: 8},
                    ],
                    selectedHours: null,
                    repeat_to: (this.selectedDateFormat == 1)
                            ? moment(new Date()).add(6, 'month').format('MM-DD-YYYY')
                            : moment(new Date()).add(6, 'month').format('DD-MM-YYYY')
                },
                calendarRepeatTo: null,
                main_language: [
                        { value: 0, text: 'Выберите язык' },
                        { value: 'en', text: 'Английский' },
                        { value: 'ua', text: 'Украинский' },
                        { value: 'ru', text: 'Русский' },
                ],
                events: [],
                err: null,
                calendars: null,
                calendar_types: [],
                calendar_name: '',
                selectedType: 0,/*'Выберите тип календаря',*/
                styleActive: true,
                openCalendarModal: false,
                selectedCalendar: 0,
                social:[
                    { google_calendar_id: ''},
                    { google_id: ''},
                    { facebook_id: ''},
                    { twitter_id: ''},
                    { instagram_id: ''},
                    { youtube_id: ''},
                ],
                flatpickrRepeatTo: null,
                flatpickrBirthday: null,
                userBirthday: null,
                dropzoneInstance: null,
                widgets: []
            }
        },

        methods: {
            getCalendars () {
                this.$Progress.start();
                this.$http.get(this.endpoints.calendars).then(function (response) {
                    this.$Progress.finish();
                    this.calendars = response.body.data;
                    if (response.body.data.length <= 0) {
                        console.log('showed');
                        $('#worktime').removeClass('active');
                        $('.tab-pane li').removeClass('active');
                        $('.nav-tabs li').removeClass('active');
                        $('#calendarsLink').addClass('active');
                        $('#calendars').addClass('active');
                        this.openCalendarModal = true;
                    }
                }, function (error) {
                    console.log(error);
                    this.$Progress.fail();
                })
            },
            getUser () {
                this.user.phone = this.$store.state.user.phone;
                this.user.name = this.$store.state.user.name;
                this.user.email = this.$store.state.user.email;
                this.user.avatar = this.$store.state.user.avatar;
                this.selectedLanguage = this.$store.state.profile.main_language;

                if(this.$store.state.user.info == null){
                    this.userInfo = {};
                } else {
                    this.userInfo = this.$store.state.user.info;
                }
            },
            getProfile () {
                this.$http.get(this.endpoints.profile.get)
                    .then(function(response) {

                        this.user.name = response.data.data.name;
                        this.user.phone = response.data.data.phone;
                        this.user.email = response.data.data.email;
                        this.user.avatar = response.data.data.avatar;
                        this.user.birthday = response.data.data.info.birthday;

                        this.social[0].google_calendar_id = response.data.data.info.google_calendar_id;
                        this.social[1].google_id = response.data.data.info.google_id;
                        this.social[2].facebook_id = response.data.data.info.facebook_id;
                        this.social[3].twitter_id = response.data.data.info.twitter_id;
                        this.social[4].instagram_id = response.data.data.info.instagram_id;
                        this.social[5].youtube_id = response.data.data.info.youtube_id;


                        //return console.log(JSON.parse(response.data.data.info.work_days));
                        if(response.data.info === null) {
                            this.profile = {};
                            this.$store.commit('profile', this.profile);
                        } else {
                            this.profile = response.data.data.info;
                            this.profile.work_days = JSON.parse(response.data.data.info.work_days);
                            this.calendarRepeatTo = this.profile.work_days && this.profile.work_days.repeat_to ? this.profile.work_days.repeat_to :
                                    (this.selectedDateFormat == 1)
                                            ? moment(new Date()).add(6, 'month').format('MM-DD-YYYY')
                                            : moment(new Date()).add(6, 'month').format('DD-MM-YYYY');

                            this.userBirthday = this.profile.birthday;
                            this.initDays();
                            this.userInfo = response.data.info;

                            if(this.userInfo){
                                if(this.userInfo.hasOwnProperty('work_days')) {
                                    if (this.userInfo.work_days.calendar_id && this.userInfo.work_days.calendar_id != '') {
                                        this.selectedCalendar = this.userInfo.work_days.calendar_id;
                                    }
                                    this.worktime.selectedHours = this.userInfo.work_days.hours;
                                    this.worktime.repeat_to = this.profile.work_days.repeat_to;
                                    this.selectedLanguage = this.userInfo.main_language;
                                }
                            }
                            this.$store.commit('profile', this.profile)
                        }
                    }, function(error) {
                        console.log(error);
                    });
            },

            getCalendarTypes () {
                this.$http.get(this.endpoints.calendar.types)
                    .then(function(response) {
                        this.calendar_types = response.data.data;
                        this.$store.commit('calendarTypes', this.calendar_types);
                    }, function(error){
                        console.log(error);
                    });
            },

            submitUserInfo () {

                let data = {
                    user: {},
                    info: {}
                };
//                data.user = {};
//                data.info = {};

                data.user.name = this.user.name;
                data.user.phone = this.user.phone;
                data.user.avatar = this.user.avatar;

                data.info.main_language = this.selectedLanguage;
                data.info.birthday = this.user.birthday;
                data.info.google_calendar_id = this.social[0].google_calendar_id;
                data.info.google_id = this.social[1].google_id;
                data.info.facebook_id = this.social[2].facebook_id;
                data.info.twitter_id = this.social[3].twitter_id;
                data.info.instagram_id = this.social[4].instagram_id;
                data.info.youtube_id = this.social[5].youtube_id;

                if(this.$store.state.user.avatar != 'undefined'
                        && this.$store.state.user.avatar != null) {
                    data.user.avatar = this.$store.state.user.avatar;
                }

                console.log('userData', data);
                console.log('this.selectedLanguage', this.selectedLanguage);
                this.$http.put(this.endpoints.profile.save, data)
                        .then(function(response) {
                            this.$store.commit('userUpdate', data.user);
                            new PNotify({
                                title: 'Успешно',
                                text: response.body.message,
                                addclass: 'bg-success'
                            });
                            this.getProfile();
                            $('#language').selectpicker('refresh')
                        }, function (error) {
                            console.log(error);
                        });
            },

            getWorktime () {
                this.$http.get(this.endpoints.worktime.get)
                        .then(function(response) {
                            this.events = response.data.data;
                            this.$store.commit('events', this.events);

                            if(this.events.length > 0){
                                this.$store.commit('hasEvents', true);
                            }
                            //console.log('worktime', this.$store.state.user.info.work_days);

                            let worktime = this.$store.state.profile.work_days;

                            if (worktime) {
                                this.calendar_name = worktime.calendar_name;
                                this.selectedType = worktime.calendar_type;
                                this.selectedCalendar = worktime.calendar_id;
                                this.worktime.selectedHours = worktime.hours;
                                //this.worktime.repeate_to = worktime.repeate_to;
                                //localStorage.setItem('hasEvents', JSON.stringify({value:true}));

                            }

                        }, function(error) {
                            localStorage.setItem('hasEvents', JSON.stringify({value:false}));
                            this.$store.commit('hasEvents', false);
                            console.log(error);
                        })
            },

            changeWorktime (e) {
                //console.log(e.target.id);
                let that = this;
                let day = e.target.id;
                    return this.worktime.days.filter(function(i) {
                        if(i.day == day) {
                            if(i.checked){
                                i.checked = false;
                               // that.styleActive = false;
                            } else {
                                i.checked = true;
                              //  that.styleActive = true;
                            }
                        }
                });
            },

            submitWorktime () {
                this.blockElement('.panel.panel-flat');
                let time = new Date();
                let microtime = time.getMilliseconds();
                let data = {};
                data.days = [];

                this.worktime.days.filter(function(item){
                    if(item.checked){
                        data.days.push(item.day);
                    }
                });

                data.calendar_id = this.selectedCalendar;
                data.hours = this.worktime.selectedHours;
                data.type_id = this.selectedType;
                data.repeat_to = this.calendarRepeatTo;
               //return console.log(data);

                this.$store.commit('saveWorktime', data);
                //return console.log(data);
                for (let err in this.err) {
                    for (let i = 0; i <= this.err[err].length; i++) {
                        if (this.err[err][i] !== undefined) {
                            $('[name='+err+']').parent().removeClass('has-error');
                        }
                    }
                }
                this.$http.post(this.endpoints.worktime.save, data)
                        .then(function(response) {
                            let events = response.body.data.events;
                                //return console.log(response.body);
                            if(events != null){
                                this.$store.commit('events', events);
                                this.$store.commit('hasEvents', true);
                            }
                            this.unBlockElement('.panel.panel-flat', microtime);
                            this.successNotify(response.body.message);
                            //this.$router.push('/main');
                        }, function(errors) {
                            this.err = errors.body.data;
                            let errorText = '<ul>';
                            console.log(errors);
                            for (let err in errors.body.data) {
                                for (let i = 0; i <= errors.body.data[err].length; i++) {
                                    if (errors.body.data[err][i] !== undefined) {
                                        $('[name='+err+']').parent().addClass('has-error');
                                        $('[name='+err+']').parent().append('<div class="help-block"><span>'+errors.body.data[err][i]+'</span></div>');
                                        errorText += '<li>' + errors.body.data[err][i] + '</li>';
                                    }
                                }
                            }
                            errorText += '<ul>';
                            this.unBlockElement('.panel.panel-flat', microtime);
                            this.errorNotify(errorText);
                        })
            },
            initDays () {
                let that = this;

                if(this.profile != null && this.profile.work_days != null) {
                    if(this.profile.hasOwnProperty('work_days')
                            && this.profile.work_days.hasOwnProperty('days')
                            && this.profile.work_days.days.length > 0) {
                        let days = this.profile.work_days.days;
                        let length = days.length;

                        for(let i = 0; i <= length; i++) {
                            this.worktime.days.forEach(function(item) {
                                if (days[i] == item.day) {
                                    that.worktime.days[days[i]-1].checked = true;
                                }
                            });
                        }
                    }
                } else {
                    this.worktime.days = [
                            {day: 1, name:'Понедельник', checked: true},
                            {day: 2, name:'Вторник', checked: true},
                            {day: 3, name:'Среда', checked: true},
                            {day: 4, name:'Четверг', checked: true},
                            {day: 5, name:'Пятница', checked: true},
                            {day: 6, name:'Суббота', checked: false},
                            {day: 7, name:'Воскресенье', checked: false},
                        ];
                }
            },
            initRepeatToCalendar () {
                let vm = this;
                this.flatpickrRepeatTo = new Flatpickr(document.getElementById("repeat_to"), {
                    mode: 'single',
                    locale: ru,
                    minDate: new Date(),
                    defaultDate: vm.calendarRepeatTo,
                    onChange: function (selectedDates, dateStr, instance) {
                        vm.worktime.repeat_to = dateStr;
                    },
                });
            },
            initBirthdayCalendar () {
                let vm = this;
                this.flatpickrBirthday = new Flatpickr(document.getElementById("birthday"), {
                    mode: 'single',
                    locale: ru,
                    minDate: '1920-01-01',
                    onChange: function (selectedDates, dateStr, instance) {
                        vm.profile.birthday = dateStr;
                        vm.userBirthday = dateStr;
                    },
                });

            },
            openFlatpickr (el) {
                if (el === 'repeat') {
                    this.flatpickrRepeatTo.open();
                }
                else if (el === 'birthday') {
                    this.flatpickrBirthday.open();
                }
            },
            getWidgets: function() {
                //TODO Add API call for getting widgets from server
                this.$http.get(this.endpoints.widgets.get)
                        .then(function(response) {
                            //console.log('ProfileWidgets', response.body.data);
                            this.widgets = response.body.data;
                            this.widgets.forEach(function(item){
                                if(item.selected === 1){
                                    $('#'+item.name).bootstrapSwitch('state', true);
                                }
                            });
                        }, function(error){
                            console.log(error);
                        });
            },
            updateWidget(widget){
                if(widget){
                    this.$http.post(this.endpoints.widgets.save, widget)
                        .then(function(response) {
                            console.log(response);
                        },
                        function(error) {
                            console.log(error);
                        })
                }
            }
        },

        created () {
            this.getCalendars();
            this.getCalendarTypes();
            this.getProfile();
            //this.getWidgets();
        },
        watch: {
            calendarRepeatTo: function () {
                if (this.calendarRepeatTo) {
                    this.flatpickrRepeatTo.setDate(this.calendarRepeatTo);
                }
            },
//            userBirthday: function () {
//                if (this.user.birthday) {
//                    this.user.birthday = this.userBirthday;
//                    this.flatpickrBirthday.setDate(this.userBirthday);
//                }
//            },
        },

        mounted () {
            this.initRepeatToCalendar();
            //this.initBirthdayCalendar();
            $.fn.selectpicker.defaults = {
                iconBase: '',
                tickIcon: 'icon-checkmark3'
            };

            let that = this;

            that.getCalendarTypes();

            that.getUser();
            that.getWorktime();
            //that.initDays();
            that.getWidgets();

//            Dropzone.autoDiscover = false;
//            this.dropzoneInstance = new Dropzone("#my-awesome-dropzone", {
//                paramName: "file", // The name that will be used to transfer the file
//                maxFilesize: 1, // MB
//                maxFiles: 1,
//                url: API_URL+'/users/upload-avatar',
//                acceptedFiles: ".jpeg,.jpg,.png,.gif,",
//                headers: {
//                    "Authorization": "Bearer "+ localStorage.getItem('token')
//                    //"asdasdasd": "sadsadsdsad"
//                },
//                dictDefaultMessage: 'Перетащите сюда файлы <span>или НАЖМИТЕ</span>',
//                autoProcessQueue: true,
//                addRemoveLinks: true,
//                thumbnailWidth: "200px",
//                /*thumbnailHeight: "200px",*/
//
//                init: function() {
//                    let dz = this;
//
//                    if(that.$store.state.user.avatar != null && that.$store.state.user.avatar != ''){
//                        var mockFile = { name: "avatar.jpg", size: 12345, type: 'image/jpeg' };
//                        dz.options.addedfile.call(dz, mockFile);
//                        dz.options.thumbnail.call(dz, mockFile, API_BASE_URL+that.$store.state.user.avatar);
//                    }
//
//                    this.on('success', function(file, response){
//                        if(this.files.length != 0){
//                            for(var i=0; i<this.files.length; i++){
//                                this.files[i].previewElement.remove();
//                            }
//                            this.files.length = 0;
//                        }
//                        var mockFile = { name: "avatar.jpg", size: 12345, type: 'image/jpeg' };
//                        dz.options.addedfile.call(dz, mockFile);
//                        dz.options.thumbnail.call(dz, mockFile, API_BASE_URL + response.data);
//                        that.$store.commit('avatar', response.data);
//                        //this.user.avatar = response.data;
//                    });
//                },
//            });

            $(document).ready(function() {

                $('.bootstrap-select').selectpicker();
                $('#calendar_types').selectpicker(that.selectedType).selectpicker('refresh');
                $('.dateFormat').bootstrapSwitch();
                $(".switch").bootstrapSwitch();
                $('.widgets').bootstrapSwitch();


                $('.days').click(function(e){
                   $(this).toggleClass('active');
                });

                $('#dateFormat').on('switchChange.bootstrapSwitch', function(event, state) {
                    console.log('switch', state);
                    if(state == true && that.selectedDateFormat == 0){
                        that.selectedDateFormat = 1;
                    } else if(state == false && that.selectedDateFormat == 1){
                        that.selectedDateFormat = 0;
                    }
                });

                $('.widgets').on('switchChange.bootstrapSwitch', function(event, state) {
                    let widget = $(this).attr('id');

                    that.widgets.forEach(function(item){
                       if(widget === item.name){
                           item.selected = state;
                           that.updateWidget(item);
                       }
                    });
                });

                // Select working hours
                $('#select-hours').on('changed.bs.select', function (clickedIndex, newValue, oldValue) {
                    // do something...
                    console.log(newValue);
                    if(newValue != 0) {
                        that.worktime.selectedHours = newValue;
                    } else {
                        console.log('Выберите значение');
                    }
                });

                // Select calendar types
                $('#calendar_types').on('changed.bs.select', function (clickedIndex, newValue, oldValue) {
                    // do something...
                    console.log(newValue);
                    if(newValue != 0){
                        $('#calendar_types').selectpicker(newValue);
                        that.selectedType = newValue;
                    } else {
                        console.log('Выберите значение');
                    }
                });

                $('#language').on('change', function () {
                    var selected = $(this).find("option:selected").attr("value");
                    console.log('cal', selected);
                    $(this).selectpicker(selected).selectpicker('refresh');
                    that.selectedLanguage = selected;
                });

                // Prompt dialog
                $('.social').on('click', function(e) {
                    e.stopPropagation();
                    let social = $(this).data('id');
                    let i = $(this).data('index');

                    //console.log(that.social[social]);
                    bootbox.prompt({
                        title: "Скопируйте ссылку на ваш профиль",
                        value: that.social[i][social],
                        callback: function(result) {
                            let prompt = this;
                            if (result !== null) {
                                that.social.filter(function(i, index) {
                                    console.log(prompt);
                                    if(i.hasOwnProperty(social)) {
                                        console.log(index);
                                        that.social[index][social] = result;
                                        return that.social;
                                    }
                                });
                            }
                        }
                    });
                });
                $('.switch').on('switchChange.bootstrapSwitch', function (event, state) {
                    let day = event.target.id;
                    return that.worktime.days.filter(function(i) {
                        if(i.day == day) {
                            if(i.checked){
                                i.checked = false;
                            } else {
                                i.checked = true;
                            }
                        }
                    });
                });


                // Select days
                $('.button-checkbox').each(function () {

                    // Settings
                    var $widget = $(this),
                        $button = $widget.find('button'),
                        $checkbox = $widget.find('input:checkbox'),
                        color = $button.data('color'),
                        settings = {
                            on: {
                                icon: 'icon-checkbox-checked'
                            },
                            off: {
                                icon: 'icon-checkbox-unchecked'
                            }
                        };

                    // Event Handlers
                    $button.on('click', function (e) {
                       // $checkbox.prop('checked', !$checkbox.is(':checked'));
                        $checkbox.triggerHandler('change');
                       // updateDisplay();
                    });
                    $checkbox.on('change', function () {
                        updateDisplay();
                    });

                    // Actions
                    function updateDisplay() {

                        var isChecked = $checkbox.is(':checked');
                        // Set the button's state
                        $button.data('state', (isChecked) ? "on" : "off");

                        // Set the button's icon
                        $button.find('.state-icon')
                                .removeClass()
                                .addClass('state-icon ' + settings[$button.data('state')].icon);

                        // Update the button's color
                        if (isChecked) {
                            $button
                                .removeClass('btn-default')
                                .addClass('btn-' + color + ' active');
                        }
                        else {
                            $button
                                .removeClass('btn-' + color + ' active')
                                .addClass('btn-default');
                        }
                    }

                    // Initialization
                    function init() {

                        updateDisplay();

                        // Inject the icon if applicable
                        if ($button.find('.state-icon').length == 0) {
                            $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                        }
                    }
                    init();
                });

            });

        },
        updated () {
            $('.bootstrap-select').selectpicker('refresh');
            //$('#calendar_types').selectpicker(this.selectedType);
            //$('#calendar_types').selectpicker('refresh');
            $('#language').selectpicker(this.selectedLanguage);

            // Select days
            $('.button-checkbox').each(function () {

                // Settings
                var $widget = $(this),
                        $button = $widget.find('button'),
                        $checkbox = $widget.find('input:checkbox'),
                        color = $button.data('color'),
                        settings = {
                            on: {
                                icon: 'icon-checkbox-checked'
                            },
                            off: {
                                icon: 'icon-checkbox-unchecked'
                            }
                        };

                // Event Handlers
                $button.on('click', function (e) {
                    // $checkbox.prop('checked', !$checkbox.is(':checked'));
                    $checkbox.triggerHandler('change');
                    // updateDisplay();
                });
                $checkbox.on('change', function () {
                    updateDisplay();
                });

                // Actions
                function updateDisplay() {

                    var isChecked = $checkbox.is(':checked');
                    // Set the button's state
                    $button.data('state', (isChecked) ? "on" : "off");

                    // Set the button's icon
                    $button.find('.state-icon')
                            .removeClass()
                            .addClass('state-icon ' + settings[$button.data('state')].icon);

                    // Update the button's color
                    if (isChecked) {
                        $button
                                .removeClass('btn-default')
                                .addClass('btn-' + color + ' active');
                    }
                    else {
                        $button
                                .removeClass('btn-' + color + ' active')
                                .addClass('btn-default');
                    }
                }

                // Initialization
                function init() {

                    updateDisplay();

                    // Inject the icon if applicable
                    if ($button.find('.state-icon').length == 0) {
                        $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                    }
                }
                init();
            });
        },
        destroyed() {
            if (this.dropzoneInstance !== null) {
                this.dropzoneInstance.destroy();
            }

            this.flatpickrRepeatTo ? this.flatpickrRepeatTo.destroy() : false;
            this.flatpickrBirthday ? this.flatpickrBirthday.destroy() : false;
        }

    }
</script>

<style>

    /*@import "/node_modules/flatpickr/dist/flatpickr.min.css";*/
    @import url(https://unpkg.com/flatpickr/dist/flatpickr.min.css);
    /*div label input {*/
        /*margin-right:100px;*/
    /*}*/
    body {
        font-family:sans-serif;
    }

    .input-group-addon {
        cursor:pointer;
    }

    .work-day {
        cursor:pointer;
        margin:4px;
        background-color:#EFEFEF;
        border-radius:4px;
        border:1px solid #D0D0D0;
        overflow:auto;
        font-size: 16px;
    }

    .work-day:hover {
        background:#b4d0b5;
    }

    .work-day label {
        cursor:pointer;
        float:left;
        width:100%;
        margin: 0;
    }

    .work-day label span {
        text-align:center;
        padding:7px;
        display:block;
    }

    .work-day label input {
        display: none;
    }

    .work-day input:checked + span {
        background-color:#4caf50;
        color:#fff;
    }
    label {
        /* margin-bottom: 7px; */
    }

    li.days {
        color:#000;
        background-color: #eee;
        border: none;
    }

    li.days.active {
        background-color: #2196f3;
        color: #fff;
    }
</style>
