<template>
    <div class="login-container  pace-done">
        <div class="page-container" style="min-height:303px">

            <!-- Page content -->
            <div class="page-content">

                <!-- Main content -->
                <div class="content-wrapper">

                    <!-- Content area -->
                    <div class="content">

                        <!-- Advanced login -->
                        <form action="index.html">
                            <div class="panel panel-body login-form">
                                <div class="text-center">
                                    <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
                                    <h5 class="content-group">Создать аккаунт <small class="display-block">Все поля обязательны</small></h5>
                                </div>

                                <div class="content-divider text-muted form-group"><span>Ваши учетные данные</span></div>

                                <div class="form-group has-feedback has-feedback-left" :class="{'input': true, 'has-error': errors.has('name') }">
                                    <input type="text" v-model="user.name" class="form-control" placeholder="Имя" v-validate="'required'" name="name">
                                    <div class="form-control-feedback">
                                        <i class="icon-user-check text-muted"></i>
                                    </div>
                                    <span v-show="errors.has('name')" class="help-block text-danger">
                                        <i class="icon-cancel-circle2 position-left"></i>
                                        {{ errors.first('name') }}
                                    </span>
                                    <!--<span class="help-block text-danger"><i class="icon-cancel-circle2 position-left"></i> This username is already taken</span>-->
                                </div>

                                <div class="form-group has-feedback has-feedback-left" :class="{'input': true, 'has-error': errors.has('email') }">
                                    <input type="email" v-model="user.email" class="form-control" placeholder="Email" v-validate="'required|email'" name="email">
                                    <div class="form-control-feedback">
                                        <i class="icon-mention text-muted"></i>
                                    </div>
                                    <span v-show="errors.has('email')" class="help-block text-danger">
                                        <i class="icon-cancel-circle2 position-left"></i>
                                        {{ errors.first('email') }}
                                    </span>
                                </div>

                                <div class="form-group has-feedback has-feedback-left" :class="{'input': true, 'has-error': errors.has('password') }">
                                    <input type="password" v-model="user.password" class="form-control" placeholder="Пароль" v-validate="'required'" name="password">
                                    <div class="form-control-feedback">
                                        <i class="icon-user-lock text-muted"></i>
                                    </div>
                                    <span v-show="errors.has('password')" class="help-block text-danger">
                                        <i class="icon-cancel-circle2 position-left"></i>
                                        {{ errors.first('password') }}
                                    </span>
                                </div>

                                <div class="form-group has-feedback has-feedback-left" :class="{'input': true, 'has-error': errors.has('repeate_pass') }">
                                    <input type="password" v-model="user.password_confirmation" class="form-control" placeholder="Подтверждение пароля" v-validate="'required'" name="repeate_pass">
                                    <div class="form-control-feedback">
                                        <i class="icon-user-lock text-muted"></i>
                                    </div>
                                    <span v-show="errors.has('repeate_pass')" class="help-block text-danger">
                                        <i class="icon-cancel-circle2 position-left"></i>
                                        {{ errors.first('repeate_pass') }}
                                    </span>
                                </div>


                                <div class="form-group has-feedback has-feedback-left" :class="{'input': true, 'has-error': errors.has('phone') }">
                                    <input type="text" v-model="user.phone" class="form-control" placeholder="Телефон" v-validate="'numeric'" name="phone">
                                    <div class="form-control-feedback">
                                        <i class="icon-phone text-muted"></i>
                                    </div>
                                    <span v-show="errors.has('phone')" class="help-block text-danger">
                                        <i class="icon-cancel-circle2 position-left"></i>
                                        {{ errors.first('phone') }}
                                    </span>
                                </div>

                                <div class="content-divider text-muted form-group"><span>или зарегистрируйтесь с помощью</span></div>
                                <ul class="list-inline form-group list-inline-condensed text-center">
                                    <li><facebook-login></facebook-login></li>
                                    <li><google-login></google-login></li>
                                </ul>



                                <button type="submit" v-on:click.prevent="onSubmit" class="btn bg-teal btn-block btn-lg">Зарегистрироваться <i class="icon-circle-right2 position-right"></i></button>
                            </div>
                        </form>
                        <!-- /advanced login -->


                    </div>
                    <!-- /content area -->

                </div>
                <!-- /main content -->

            </div>
            <!-- /page content -->

        </div>
    </div>
</template>

<script>
    import FacebookLogin from '../partials/socialAuth/FacebookLogin.vue';
    import GoogleLogin from '../partials/socialAuth/GoogleLogin.vue';

    export default {
        name: 'signup',
        components: { FacebookLogin, GoogleLogin },
        data() {
            return {
                user: {
                    name: '',
                    password: '',
                    password_confirmation: '',
                    email: '',
                    phone: ''
                },
                endpoints: {
                    signup: API_URL + '/users'
                }
            }
        },
        methods: {
            onSubmit: function() {
                this.$validator.validateAll().then(result => {
                    if (result) {
                        this.signup();
                        return;
                    }
                }).catch(errors => {
                    this.errorNotify('Проверьте поля на наличие ошибок!', 'Ошибка!');
                });
            },
            signup: function() {
                let time = new Date();
                let microtime = time.getMilliseconds();
                this.blockElement('body');
                let data = {};
                data.name = this.user.name;
                data.password = this.user.password;
                data.password_confirmation = this.user.password_confirmation;
                data.email = this.user.email;
                data.phone = this.user.phone;
                this.$http.post(this.endpoints.signup, data).then(function (response) {
                    console.log(response);
                    this.successNotify('Вы успешно зарегистрированы и можете авторизоваться используя свои учетные данные', 'Поздравляем!');
                    this.unBlockElement('body', microtime);
                    this.$router.push('/user/login')

                },
                function(error) {
                    if(error.body.data){
                        let message = '';
                        for(let key in error.body.data) {
                            message = error.body.data[key][0];
                            this.$validator.errorBag.add(key, error.body.data[key][0]);
                            this.$validator.errorBag.first(key);
                        }
                        if(message != '')
                            this.errorNotify(message, 'Ошибка!');
                    } else {
                        this.errorNotify(error.body.message, 'Ошибка!');
                    }
                    this.unBlockElement('body', microtime);
                    console.log(error);
                })
            },

            socialSignup(social){
                if(social){
                    switch(social) {
                        case 'fb' :
                            console.log(social);
                            break;
                        case 'google':
                            console.log(social);
                            break;
                        case 'twitter':
                            console.log(social);
                            break;
                    }
                }
            }

        }
    }
</script>

<style>

</style>