<template>
    <div class="login-container  pace-done">
        <div class="page-container" style="min-height:303px">

            <!-- Page content -->
            <div class="page-content">

                <!-- Main content -->
                <div class="content-wrapper">

                    <!-- Content area -->
                    <div class="content row">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <button @click.prevent="createCalendar()" class="btn btn-slate">Добавить новый календарь</button>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <p class="text-right">Примечание: <em>Основным может быть только один календарь</em></p>
                            </div>
                        </div>
                        <table class="table table-hover row">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Название</th>
                                <th>Тип</th>
                                <th>Часы</th>
                                <th>Приоритет</th>
                                <th>Опции</th>
                                <th>Главный</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="calendar in calendars" :class="calendar.isMain == 1 ? 'success' : ''">
                                <td>{{ calendar.id }}</td>
                                <td>
                                    <a  :data-pk="calendar.id" data-clear="false" class="calendar" @click.stop="editCalendarName($event)">{{ calendar.name }}</a>
                                </td>
                                <td>
                                    <select name="calendarTypes" class="form-control" data-placeholder="Выбрать тип календаря" v-model="calendar.type_id" @change="changeCalendarTypes(calendar, $event)">
                                        <option v-for="type in calendarTypes" :value="type.id">{{ type.name }}</option>
                                        <!--<option value="9999">asdsad</option>-->
                                    </select>

                                   <!-- {{ calendar.type ? calendar.type.name : ''}}-->
                                </td>
                                <td>
                                    <span class="badge badge-default" v-show="calendar.hours">{{ calendar.hours }}</span>
                                </td>
                                <td>
                                   <!-- <span class="label" :class="'label-' + getPriority(calendar.priority).class">{{ getPriority(calendar.priority).text }}</span>-->
                                    <div class="btn-group">
                                        <a v-if="calendar.priority == 3" class="label label-danger dropdown-toggle" data-toggle="dropdown"> Высокий <span class="caret"></span></a>
                                        <a v-if="calendar.priority == 2" class="label label-info dropdown-toggle" data-toggle="dropdown"> Средний <span class="caret"></span></a>
                                        <a v-if="calendar.priority == 1" class="label label-success dropdown-toggle" data-toggle="dropdown"> Низкий <span class="caret"></span></a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li @click.prevent="changePriority(calendar, 3)"><a><span class="status-mark position-left bg-danger"></span> Высокий </a></li>
                                            <li @click.prevent="changePriority(calendar, 2)"><a><span class="status-mark position-left bg-info"></span> Средний </a></li>
                                            <li @click.prevent="changePriority(calendar, 1)"><a><span class="status-mark position-left bg-success"></span> Низкий </a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <button type="button" title="Показать задачи для этого календаря" @click.prevent="showEvents(calendar)" class="btn border-slate text-slate btn-flat"><i class="icon-eye"></i></button>
                                        </div>
                                       <!-- <button type="button" title="Редактировать календарь" @click.prevent="editCalendar(calendar)" class="btn border-primary text-primary btn-flat"><i class="icon-pencil"></i></button>-->
                                        <div class="col-sm-6">
                                            <button type="button" title="Удалить календарь" @click.prevent="deleteCalendar(calendar.id)" class="btn border-danger text-danger btn-flat"><i class="icon-trash"></i></button>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div v-if="calendar.isMain == 1">
                                        <a disabled class="btn border-info text-info btn-flat"><i class="icon-hyperlink"></i> Главный</a>
                                    </div>
                                    <div v-else>
                                        <a @click.prevent="setMainCalendar(calendar)" class="btn border-warning text-warning btn-flat"><i class="icon-hyperlink"></i> Сделать главным</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="modal" id="createCalendar">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title">Создание нового календаря</h4>
                                    </div>
                                    <form @submit.prevent="storeCalendar()">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="calendarName">Название календаря</label>
                                                <input type="text" class="form-control" id="createCalendarName"
                                                       v-model="newCalendar.name" placeholder="Название календаря">
                                            </div>
                                            <div class="form-group">
                                                <label for="calendarTypeId">Тип календаря</label>
                                                <select v-model="selectedTypeForCreate" class="form-control"
                                                        id="createCalendarTypeId">
                                                    <option v-for="type in calendarTypes" :value="type.id">{{ type.name
                                                        }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="calendarPriority">Приоритет</label>
                                                <select v-model="newCalendar.priority" class="form-control"
                                                        id="createCalendarPriority">
                                                    <option value="1">Низкий</option>
                                                    <option value="2">Средний</option>
                                                    <option value="3">Высокий</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                            <button type="submit" class="btn btn-primary">Сохранить</button>
                                        </div>
                                    </form>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                        <!--<div class="modal" id="updateCalendar">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title">{{ currentCalendar.name }}</h4>
                                    </div>
                                    <form @submit.prevent="updateCalendar()">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="calendarName">Название календаря</label>
                                                <input type="text" class="form-control" id="calendarName"
                                                       v-model="currentCalendar.name" placeholder="Название календаря">
                                            </div>
                                            <div class="form-group">
                                                <label for="calendarTypeId">Тип календаря</label>
                                                <select v-model="selectedTypeForUpdate" class="form-control"
                                                        id="calendarTypeId">
                                                    <option v-for="type in calendarTypes" :value="type.id">{{ type.name
                                                        }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="calendarPriority">Приоритет</label>
                                                <select v-model="currentCalendar.priority" class="form-control"
                                                        id="calendarPriority">
                                                    <option value="1">Низкий</option>
                                                    <option value="2">Средний</option>
                                                    <option value="3">Высокий</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                            <button type="submit" class="btn btn-primary">Сохранить</button>
                                        </div>
                                    </form>
                                </div>&lt;!&ndash; /.modal-content &ndash;&gt;
                            </div>&lt;!&ndash; /.modal-dialog &ndash;&gt;
                        </div>&lt;!&ndash; /.modal &ndash;&gt;
                        -->
                        <div class="modal" id="showEvents">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-center">Все задачи календаря - {{ currentCalendar.name }}</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>
                                    <div class="modal-body" v-cloak v-if="calendarTasksEvents !== null && calendarTasksEvents.length > 0">
                                        <div class="row">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Проект</th>
                                                    <th>Задача</th>
                                                    <th>Часы</th>
                                                    <th>Дата</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="event in calendarTasksEvents">
                                                    <td>{{ event.id }}</td>
                                                    <td><a @click.prevent="goToProject(event.tasks[0].project.id)" v-if="event.tasks[0] && event.tasks[0].project">{{ event.tasks[0].project ? event.tasks[0].project.name : '' }}</a></td>
                                                    <td><a @click.prevent="goToTask(event.tasks[0].id)" v-if="event.tasks[0]">{{ event.tasks[0] ? event.tasks[0].title : '' }}</a></td>
                                                    <td>{{ event.hours ? event.hours : '' }}</td>
                                                    <td>{{ event.date ? transformDate(event.date) : '' }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-body" v-cloak v-if="calendarTasksEvents === null || calendarTasksEvents.length <= 0">
                                        <div class="alert alert-info">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                &times;
                                            </button>
                                            К сожалению не найдены события для данного календаря.
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                    </div>

                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                        <br>
                        <div class="row">
                            <google-calendar></google-calendar>
                        </div>

                    </div>
                    <!-- /content area -->
                </div>
                <!-- /main content -->

            </div>
            <!-- /page content -->

        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import GoogleCalendar from '../partials/GoogleCalendar.vue';
    export default {
        name: 'user-calendars',
        props: ['openModal'],
        components: { GoogleCalendar },
        data() {
            return {
                endpoints: {
                    calendars: API_URL + '/calendars',
                    calendarWorkEvents: API_URL + '/calendar-events/work-time',
                    calendarTasksEvents: API_URL + '/calendar-events/tasks-events',
                    types: API_URL + '/calendar-types',
                },
                calendars: null,
                calendarTypes: [],
                currentCalendar: {
                    id: null,
                    name: ''
                },
                calendarWorkEvents: null,
                calendarTasksEvents: null,
                newCalendar: {
                    name: ''
                },
                selectedTypeForUpdate: null,
                selectedTypeForCreate: null,
                showModal: this.openModal
            }
        },
        watch: {
            openModal: function () {
                this.openModal === true ? $('#createCalendar').modal('show') : $('#createCalendar').modal('show');
            }
        },
        methods: {
            transformDate (date) {
                return moment(date).format('YYYY-MM-DD');
            },
            getPriority (priority) {
                if (priority === 1) return {class: 'success', text: 'Низкий'};
                if (priority === 2) return {class: 'info', text: 'Средний'};
                if (priority === 3) return {class: 'warning', text: 'Высокий'};
            },
            getCalendars () {
                this.$Progress.start();
                this.$http.get(this.endpoints.calendars).then(function (response) {
                    this.calendars = response.body.data;
                    this.$Progress.finish();
                }, function (error) {
                    console.log(error);
                    this.$Progress.fail();
                })
            },
            goToTask (id) {
                $('#showEvents').modal('hide');
                this.$router.push('/tasks/' + id);
            },
            goToProject (id) {
                $('#showEvents').modal('hide');
                this.$router.push('/projects/' + id + '/show');
            },
            getCalendarTasksEvents () {
                let url = this.endpoints.calendarTasksEvents + '/' + this.currentCalendar.id;
                this.calendarTasksEvents = true;
                this.$Progress.start();

                this.$http.get(url).then((response) => {
                    console.log(response.body.data);
                    this.$Progress.finish();
                    this.calendarTasksEvents = response.body.data;
                }, (error) => {
                    this.$Progress.fail();
                    console.log(error);
                });
            },
            showEvents (calendar) {
                this.currentCalendar = calendar;
                $('[title]').tooltip('hide');
                this.getCalendarTasksEvents();
                $('#showEvents').modal('show');
            },
            getCalendarTypes () {
                this.$Progress.start();
                this.$http.get(this.endpoints.types)
                    .then((response) => {
                        this.calendarTypes = response.data.data;
                        this.$store.commit('calendarTypes', this.calendarTypes);
                        this.$Progress.finish();
                    }, (error) => {
                        this.$Progress.fail();
                        console.log(error);
                    });
            },
            editCalendar (calendar) {
                $('[title]').tooltip('hide');
                this.selectedTypeForUpdate = calendar.type_id;
                this.currentCalendar = calendar;
                this.getCalendarTypes();
                $('#updateCalendar').modal('show');
            },

            editCalendarName (event) {
                let vm = this;
                let editElement = $(event.target);

                if(!editElement.hasClass('clicked')) {
                    editElement.editable({
                        type: 'text',
                        url: vm.endpoints.calendars + '/'+ editElement.data('pk'),
                        title: 'Название календаря',
                        params: function (params) {
                            let data = {};
                            data['id'] = params.pk;
                            data['name'] = params.value;
                            return data;
                        }
                    });
                    editElement.trigger('click');
                    editElement.addClass('clicked');
                    this.getCalendars();
                } else {
                    editElement.editable({
                        type: 'text',
                        url: vm.endpoints.calendars + '/'+ editElement.data('pk'),
                        title: 'Название календаря',
                        params: function (params) {
                            let data = {};
                            data['id'] = params.pk;
                            data['name'] = params.value;
                            return data;
                        }
                    });
                    this.getCalendars();
                }
            },
            changeCalendarTypes (calendar, event) {
               // return console.log('calendar', calendar);

                let url = this.endpoints.calendars + '/' + calendar.id;
                this.$http.put(url, calendar).then(function(response){
                    console.log(response);
                    new PNotify({
                        title: 'Успешно',
                        text: response.body.message,
                        addclass: 'bg-success'
                    });
                }, function(error) {
                    console.log(error);
                })
            },

            changePriority(calendar, priority){
                let url = this.endpoints.calendars + '/' + calendar.id;
                calendar.priority = priority;
                this.$http.put(url, calendar).then(function(response) {
                    new PNotify({
                        title: 'Успешно',
                        text: response.body.message,
                        addclass: 'bg-success'
                    });
                }, function(error) {
                    console.log(error);
                })
            },

            setMainCalendar (calendar) {
                this.currentCalendar = calendar;
                this.currentCalendar.isMain = true;
                this.updateCalendar()
            },
            updateCalendar () {
                let url = this.endpoints.calendars + '/' + this.currentCalendar.id;
                this.$Progress.start();

                this.$http.put(url, this.currentCalendar).then((response) => {
                    this.currentCalendar = {};
                    $('#updateCalendar').modal('hide');
                    this.getCalendars();
                    this.$Progress.finish();
                }, (error) => {
                    this.$Progress.fail();
                    console.log(error);
                })
            },

            createCalendar () {
                $('[title]').tooltip('hide');
                this.getCalendarTypes();
                $('#createCalendar').modal('show');
            },

            storeCalendar () {
                this.newCalendar.type_id = this.selectedTypeForCreate;
                this.$Progress.start();
                this.$http.post(this.endpoints.calendars, this.newCalendar).then((response) => {
                    this.getCalendars();
                    this.newCalendar = {};
                    this.newCalendar.name = '';
                    $('#createCalendar').modal('hide');
                    this.$Progress.finish();
                }, (error) => {
                    console.log(error);
                    this.$Progress.fail();
                });
            },
            deleteCalendar (id) {
                let vm = this;
                swal({
                    title: "Вы уверены?",
                    text: "При удалении календаря также будут удалены все его сферы, направления, проекты и задачи!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Да, удалить!",
                    cancelButtonText: "Нет, отмена!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function(isConfirm) {

                    if (isConfirm) {
                        vm.$Progress.start();
                        let url = vm.endpoints.calendars + '/' + id;
                        vm.$http.delete(url).then((response) => {
                            vm.$Progress.finish();
                            swal("Удалено!", "Календарь удален и все относящиеся к нему сферы, направления, проекты и задачи были удалены", "success");
                            vm.getCalendars();
                        }, (error) => {
                            swal("Запрещено", "Нельзя удалить главный календарь:)", "error");
                            vm.$Progress.fail();
                            console.log(error);
                        })
                    } else {
                        swal("Отменено", "Календарь не будет удален:)", "error");
                    }
                });
            }
        },
        created() {
        },
        mounted() {
            $.fn.editable.defaults.ajaxOptions = {
                type: "put",
                headers: {
                    Authorization: 'Bearer '+ localStorage.getItem('token')
                }
            };

            $('[title]').tooltip();
            this.getCalendars();
            this.getCalendarTypes();
        },
        updated() {
            $('[title]').tooltip();
        }
    }
</script>

<style>
    [v-cloak] { display:none; }
    .editable-clear-x:after {
        content: '';
    }
</style>