<template>
    <div id="app">
        <HeaderComp></HeaderComp>
        <div class="page-container">
            <div class="page-content">

                <!--<Sidebar v-if="this.$store.state.hasEvents && this.$store.state.authenticated"></Sidebar>-->
                <Sidebar v-if="this.$store.state.authenticated"></Sidebar>

                <div class="content-wrapper">
                    <transition name="fade">
                        <router-view></router-view>
                    </transition>
                    <vue-progress-bar></vue-progress-bar>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from "moment"
    import blockui from "../src/assets/js/plugins/loaders/blockui.min.js"
    import pnotify from "../src/assets/js/plugins/notifications/pnotify.min.js"

    import HeaderComp from "./views/layouts/HeaderComp.vue"
    import FooterComp from "./views/layouts/FooterComp.vue"
    import Sidebar from "./views/layouts/Sidebar.vue"


    export default {
        name: 'app',
        data () {
            return {
                auth: localStorage.getItem('authenticated'),
            }
        },

        components: {
            HeaderComp, FooterComp, Sidebar
        },
    }

</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    @import "assets/css/bootstrap.css";
    @import "assets/css/core.css";
    @import "assets/css/components.css";
    @import "assets/css/minified/colors.min.css";
    @import "assets/css/icons/fontawesome/styles.min.css";
    @import "assets/css/icons/icomoon/styles.css";
    @import "assets/css/bootstrap-editable.css";
    @import "assets/css/croppie.css";

    #app {
        font-family: 'Roboto', sans-serif;
    }

    .fade-enter-active, .fade-leave-active {
        transition-property: opacity;
        transition-duration: .25s;
    }

    .fade-enter-active {
        transition-delay: .25s;
    }

    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>

<style>
    textarea.form-control:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {
        border-color: rgba(126, 239, 104, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
        outline: 0 none;
    }

</style>