<template>
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="/"><img src="../../assets/images/logo_light.png" alt=""></a>-->
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
                <li><a class="sidebar-mobile-secondary-toggle"><i class="icon-more"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li>
                    <a class="sidebar-control sidebar-main-toggle hidden-xs">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
                <notifications v-if="$store.state.authenticated"></notifications>
            </ul>

            <ul class="nav navbar-nav center-nav">
                <li>
                    <router-link :to="{ name: 'index' }" class="navbar-brand">
                        <img src="../../assets/images/logo.png" alt="Smart Task" />
                    </router-link>
                </li>
            </ul>



            <ul class="nav navbar-nav navbar-right" v-if="$store.state.authenticated">
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img :src="avatarImg" alt="" class="user__avatar">
                        <span>{{ $store.state.user.name.split(" ")[0] }}</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><router-link :to="{ name: 'user.account' }"><i class="icon-user-plus"></i>Мой профиль</router-link></li>
                        <li><router-link :to="{ name: 'user.profile' }"><i class="icon-cog2"></i>Настройки</router-link></li>
                        <li><a @click.prevent="logout()"><i class="icon-switch2"></i>Выход</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" v-else>
                <li><router-link :to="{name: 'user.login'}"><i class="icon-enter"></i> Логин</router-link></li>
            </ul>
        </div>
    </div>
</template>

<script>
    import Notifications from '../partials/Notifications.vue';

    export default {
        name: 'HeaderComp',
        components : { Notifications },
        data () {
            return {
                //avatarUrl: API_URL + this.$store.state.user.avatar
            }
        },

        computed: {
            name: function() {
                let isAuth = localStorage.getItem('authenticated');
                if(isAuth == 'true'){
                    //let user = JSON.parse(localStorage.getItem('user'));
                    let user = this.$store.state.user;
                    return user.name;
                } else {
                    return 'Гость'
                }
            },

            avatarImg: function(){
                if(this.$store.state.user != null) {
                    if(this.$store.state.user.avatar != null
                        && this.$store.state.user.avatar != 'undefined'
                        && this.$store.state.user.avatar != '') {
                        return API_BASE_URL + this.$store.state.user.avatar;
                    } else {
                        return API_BASE_URL + '/images/noavatar.png';
                    }
                } else {
                    return API_BASE_URL + '/images/noavatar.png';
                }

            }

        },

        ready () {

        },



        methods: {
            logout: function() {
                this.$store.commit('logoutUser');
                localStorage.removeItem('user');
                localStorage.removeItem('token');
                localStorage.setItem('hasEvents', JSON.stringify({value:false}));
                localStorage.setItem('authenticated', false);
                this.$router.push({ name: 'user.login' });
            },

            splitName: function() {

            }
        }

    }
</script>

<style>
    .navbar-inverse {
        background-color: #574e92;
        border-color: #574e92;
    }

    @media (min-width: 768px) {
        .navbar-nav.center-nav {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
        }
    }
    .user__avatar {
        width: 37px;
        height: 30px;
        max-height: 50px;
    }
</style>