<template>
    <div class="sidebar sidebar-main sidebar-default" v-if="auth"> <!--v-if="auth"-->
        <div class="sidebar-content">

            <!-- Main navigation -->
            <div class="sidebar-category sidebar-category-visible">
                <!--<div class="category-title h6">-->
                    <!--<span>Main navigation</span>-->
                <!--</div>-->
                <!--<div class="category-content sidebar-user">-->
                    <!--<div class="media">-->
                        <!--<a href="#" class="media-left"><img :src="avatarImg" class="img-circle img-sm" alt=""></a>-->
                        <!--<div class="media-body">-->
                            <!--<span class="media-content text-semibold">{{ $store.state.user.name }}</span>-->
                            <!--&lt;!&ndash;<div class="text-size-mini text-muted">-->
                                <!--<i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA-->
                            <!--</div>&ndash;&gt;-->
                        <!--</div>-->

                        <!--<div class="media-right media-middle">-->
                            <!--<ul class="icons-list">-->
                                <!--<li>-->
                                    <!--<router-link to="/user/profile"><i class="icon-cog3"></i></router-link>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


                <div class="category-content no-padding">
                    <ul class="navigation navigation-main navigation-accordion">

                        <!-- Main -->
                        <!--<li class="navigation-header">-->
                            <!--<span>Основные сраницы</span><i class="icon-menu" title="" data-original-title="Main pages"></i>-->
                        <!--</li>-->
                        <li class="text-left">
                            <router-link :to="{ name: 'index' }" ><i class="icon-grid2"></i> <span>Главная</span></router-link>
                        </li>
                        <li class="text-left">
                            <router-link :to="{ name: 'calendar' }"><i class="icon-calendar3"></i> <span>Календарь</span></router-link>
                        </li>
                        <li class="text-left">
                            <router-link :to="{ name: 'activities.index' }"><i class="icon-sphere"></i> <span>Сферы деятельности</span></router-link>
                        </li>
                        <li class="text-left">
                            <router-link :to="{ name: 'directions.index' }"><i class="icon-arrow-up-right3"></i><span>Направления</span></router-link>
                        </li>
                        <li class="text-left">
                            <router-link :to="{ name: 'projects.index' }"><i class="icon-briefcase"></i><span>Проекты</span></router-link>
                        </li>
                        <li class="text-left">
                            <router-link :to="{ name: 'tasks.index' }"><i class="icon-stack-plus"></i><span>Задачи</span></router-link>
                        </li>
                        <!--<li class="text-left">
                            <router-link :to="{ name: 'notifications' }"><i class="icon-bell2"></i><span>Уведомления</span></router-link>
                        </li>-->
                        <li class="text-left">
                            <router-link :to="{ name: 'diagrams' }"><i class="icon-pie-chart"></i><span>Статистика</span></router-link>
                        </li>
                        <li class="text-left">
                            <router-link :to="{ name: 'ranks' }"><i class="icon-stats-bars3"></i><span>Ранги</span></router-link>
                        </li>
                        <li class="text-left">
                            <router-link to="/user/profile">
                                <i class="icon-cog2"></i>
                                <span>Настройки</span>
                            </router-link>
                        </li>

                        <!-- /main -->

                    </ul>
                </div>
            </div>
            <!-- /main navigation -->
        </div>
    </div>
</template>

<script>
    //   import jquery from "../../node_modules/jquery/src/jquery"
    import blockui from "../../assets/js/plugins/loaders/blockui.min.js"
 // import core from "../../assets/js/core/app.js"

    export default {
        name: 'Sidebar',
        data () {
            return {
                state: {}
            }
        },

        methods: {
            /*isAuth: function() {
                console.log('isAuth executed');
                if(localStorage.getItem('authenticated') == 'true'){
                    this.auth = true;
                } else {
                    this.auth = false;
                }
            }*/
        },

        computed: {
            name: function() {
                let isAuth = localStorage.getItem('authenticated');
                if(isAuth == 'true'){
                    let user = JSON.parse(localStorage.getItem('user'));
                    return user.name;
                } else {
                    return 'Гость'
                }
            },

            avatarImg: function(){
                if(this.$store.state.user != null) {
                    if(this.$store.state.user.avatar != null
                            && this.$store.state.user.avatar != 'undefined'
                            && this.$store.state.user.avatar != '') {
                        return API_BASE_URL + this.$store.state.user.avatar;
                    } else {
                        return API_BASE_URL + '/images/noavatar.png';
                    }
                } else {
                    return API_BASE_URL + '/images/noavatar.png';
                }
            },

            auth: function() {
                return this.$store.state.authenticated;
               /* if(localStorage.getItem('authenticated') == 'true'){
                    return true;
                } else {
                    return false;
                }*/
            }
        },


        mounted () {

            $(document).ready(function(){

            function containerHeight() {
                var availableHeight = $(window).height() - $('body > .navbar').outerHeight() - $('body > .navbar + .navbar').outerHeight() - $('body > .navbar + .navbar-collapse').outerHeight() - $('.page-header').outerHeight();

                $('.page-container').attr('style', 'min-height:' + availableHeight + 'px');
            }

            // ========================================
            //
            // Heading elements
            //
            // ========================================


            // Heading elements toggler
            // -------------------------

            // Add control button toggler to page and panel headers if have heading elements
            $('.panel-heading, .page-header-content, .panel-body').has('> .heading-elements').append('<a class="heading-elements-toggle"><i class="icon-menu"></i></a>');


            // Toggle visible state of heading elements
            $('.heading-elements-toggle').on('click', function() {
                $(this).parent().children('.heading-elements').toggleClass('visible');
            });



            // Breadcrumb elements toggler
            // -------------------------

            // Add control button toggler to breadcrumbs if has elements
            $('.breadcrumb-line').has('.breadcrumb-elements').append('<a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>');


            // Toggle visible state of breadcrumb elements
            $('.breadcrumb-elements-toggle').on('click', function() {
                $(this).parent().children('.breadcrumb-elements').toggleClass('visible');
            });




            // ========================================
            //
            // Navbar
            //
            // ========================================


            // Navbar navigation
            // -------------------------

            // Prevent dropdown from closing on click
            $(document).on('click', '.dropdown-content', function (e) {
                e.stopPropagation();
            });

            // Disabled links
            $('.navbar-nav .disabled a').on('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
            });

            // Show tabs inside dropdowns
            $('.dropdown-content a[data-toggle="tab"]').on('click', function (e) {
                $(this).tab('show')
            });




            // ========================================
            //
            // Element controls
            //
            // ========================================


            // Reload elements
            // -------------------------

            // Panels
//            $('.panel [data-action=reload]').click(function (e) {
//                e.preventDefault();
//                var block = $(this).parent().parent().parent().parent().parent();
//                $(block).block({
//                    message: '<i class="icon-spinner2 spinner"></i>',
//                    overlayCSS: {
//                        backgroundColor: '#fff',
//                        opacity: 0.8,
//                        cursor: 'wait',
//                        'box-shadow': '0 0 0 1px #ddd'
//                    },
//                    css: {
//                        border: 0,
//                        padding: 0,
//                        backgroundColor: 'none'
//                    }
//                });
//
//                // For demo purposes
//                window.setTimeout(function () {
//                    $(block).unblock();
//                }, 2000);
//            });


            // Sidebar categories
            $('.category-title [data-action=reload]').click(function (e) {
                e.preventDefault();
                var block = $(this).parent().parent().parent().parent();
                $(block).block({
                    message: '<i class="icon-spinner2 spinner"></i>',
                    overlayCSS: {
                        backgroundColor: '#000',
                        opacity: 0.5,
                        cursor: 'wait',
                        'box-shadow': '0 0 0 1px #000'
                    },
                    css: {
                        border: 0,
                        padding: 0,
                        backgroundColor: 'none',
                        color: '#fff'
                    }
                });

                // For demo purposes
                window.setTimeout(function () {
                    $(block).unblock();
                }, 2000);
            });


            // Light sidebar categories
            $('.sidebar-default .category-title [data-action=reload]').click(function (e) {
                e.preventDefault();
                var block = $(this).parent().parent().parent().parent();
                $(block).block({
                    message: '<i class="icon-spinner2 spinner"></i>',
                    overlayCSS: {
                        backgroundColor: '#fff',
                        opacity: 0.8,
                        cursor: 'wait',
                        'box-shadow': '0 0 0 1px #ddd'
                    },
                    css: {
                        border: 0,
                        padding: 0,
                        backgroundColor: 'none'
                    }
                });

                // For demo purposes
                window.setTimeout(function () {
                    $(block).unblock();
                }, 2000);
            });



            // Collapse elements
            // -------------------------

            //
            // Sidebar categories
            //

            // Hide if collapsed by default
            $('.category-collapsed').children('.category-content').hide();


            // Rotate icon if collapsed by default
            $('.category-collapsed').find('[data-action=collapse]').addClass('rotate-180');


            // Collapse on click
            $('.category-title [data-action=collapse]').click(function (e) {
                e.preventDefault();
                var $categoryCollapse = $(this).parent().parent().parent().nextAll();
                $(this).parents('.category-title').toggleClass('category-collapsed');
                $(this).toggleClass('rotate-180');

                containerHeight(); // adjust page height

                $categoryCollapse.slideToggle(150);
            });


            //
            // Panels
            //

            // Hide if collapsed by default
            $('.panel-collapsed').children('.panel-heading').nextAll().hide();


            // Rotate icon if collapsed by default
            $('.panel-collapsed').find('[data-action=collapse]').children('i').addClass('rotate-180');


            // Collapse on click
            $('.panel [data-action=collapse]').click(function (e) {
                e.preventDefault();
                var $panelCollapse = $(this).parent().parent().parent().parent().nextAll();
                $(this).parents('.panel').toggleClass('panel-collapsed');
                $(this).toggleClass('rotate-180');

                containerHeight(); // recalculate page height

                $panelCollapse.slideToggle(150);
            });



            // Remove elements
            // -------------------------

            // Panels
            $('.panel [data-action=close]').click(function (e) {
                e.preventDefault();
                var $panelClose = $(this).parent().parent().parent().parent().parent();

                containerHeight(); // recalculate page height

                $panelClose.slideUp(150, function() {
                    $(this).remove();
                });
            });


            // Sidebar categories
            $('.category-title [data-action=close]').click(function (e) {
                e.preventDefault();
                var $categoryClose = $(this).parent().parent().parent().parent();

                containerHeight(); // recalculate page height

                $categoryClose.slideUp(150, function() {
                    $(this).remove();
                });
            });




            // ========================================
            //
            // Main navigation
            //
            // ========================================


            // Main navigation
            // -------------------------

            // Add 'active' class to parent list item in all levels
            $('.navigation').find('li.active').parents('li').addClass('active');

            // Hide all nested lists
            $('.navigation').find('li').not('.active, .category-title').has('ul').children('ul').addClass('hidden-ul');

            // Highlight children links
            $('.navigation').find('li').has('ul').children('a').addClass('has-ul');

            // Add active state to all dropdown parent levels
            $('.dropdown-menu:not(.dropdown-content), .dropdown-menu:not(.dropdown-content) .dropdown-submenu').has('li.active').addClass('active').parents('.navbar-nav .dropdown, .navbar-nav .dropup').addClass('active');



            // Main navigation tooltips positioning
            // -------------------------

            // Left sidebar
            $('.navigation-main > .navigation-header > i').tooltip({
                placement: 'right',
                container: 'body'
            });



            // Collapsible functionality
            // -------------------------

            // Main navigation
            $('.navigation-main').find('li').has('ul').children('a').on('click', function (e) {
                e.preventDefault();

                // Collapsible
                $(this).parent('li').not('.disabled').not($('.sidebar-xs').not('.sidebar-xs-indicator').find('.navigation-main').children('li')).toggleClass('active').children('ul').slideToggle(250);

                // Accordion
                if ($('.navigation-main').hasClass('navigation-accordion')) {
                    $(this).parent('li').not('.disabled').not($('.sidebar-xs').not('.sidebar-xs-indicator').find('.navigation-main').children('li')).siblings(':has(.has-ul)').removeClass('active').children('ul').slideUp(250);
                }
            });


            // Alternate navigation
            $('.navigation-alt').find('li').has('ul').children('a').on('click', function (e) {
                e.preventDefault();

                // Collapsible
                $(this).parent('li').not('.disabled').toggleClass('active').children('ul').slideToggle(200);

                // Accordion
                if ($('.navigation-alt').hasClass('navigation-accordion')) {
                    $(this).parent('li').not('.disabled').siblings(':has(.has-ul)').removeClass('active').children('ul').slideUp(200);
                }
            });




            // ========================================
            //
            // Sidebars
            //
            // ========================================


            // Mini sidebar
            // -------------------------

            // Toggle mini sidebar
            $('.sidebar-main-toggle').on('click', function (e) {
                e.preventDefault();

                // Toggle min sidebar class
                $('body').toggleClass('sidebar-xs');
            });



            // Sidebar controls
            // -------------------------

            // Disable click in disabled navigation items
            $(document).on('click', '.navigation .disabled a', function (e) {
                e.preventDefault();
            });


            // Adjust page height on sidebar control button click
            $(document).on('click', '.sidebar-control', function (e) {
                containerHeight();
            });


            // Hide main sidebar in Dual Sidebar
            $(document).on('click', '.sidebar-main-hide', function (e) {
                e.preventDefault();
                $('body').toggleClass('sidebar-main-hidden');
            });


            // Toggle second sidebar in Dual Sidebar
            $(document).on('click', '.sidebar-secondary-hide', function (e) {
                e.preventDefault();
                $('body').toggleClass('sidebar-secondary-hidden');
            });


            // Hide all sidebars
            $(document).on('click', '.sidebar-all-hide', function (e) {
                e.preventDefault();

                $('body').toggleClass('sidebar-all-hidden');
            });
        });

        },


    }
</script>
<style>
    .sidebar-default .navigation>li>a.active, .sidebar-default .navigation>li>a.active:hover, .sidebar-default .navigation>li>a.active:focus {
        background-color: #574e92;
        color: #fff;
    }
</style>